<div *ngIf="product$ | async as product" class="product-tile" [attr.data-testing-sku]="product.sku">
  <div class="product-image-container">
    <ish-product-image imageType="M" [link]="true"></ish-product-image>
    <ish-product-label></ish-product-label>
  </div>

  <ish-product-name></ish-product-name>

  <ish-product-rating></ish-product-rating>

  <ish-product-promotion displayType="simple"></ish-product-promotion>

  <div *ngIf="configuration$('price') | async" class="price-container">
    <ish-product-price [showInformationalPrice]="true"></ish-product-price>
  </div>

  <ish-product-item-variations></ish-product-item-variations>

  <div class="product-tile-actions btn-group">
    <ish-lazy-tacton-configure-product displayType="icon"></ish-lazy-tacton-configure-product>
    <ish-lazy-product-add-to-quote displayType="icon" class="btn-link"></ish-lazy-product-add-to-quote>
    <ish-product-add-to-compare displayType="icon" class="btn-link"></ish-product-add-to-compare>
    <ish-lazy-product-add-to-order-template
      [class]="'btn btn-link mr-0'"
      displayType="icon"
    ></ish-lazy-product-add-to-order-template>
    <ish-lazy-product-add-to-wishlist class="btn-link" displayType="icon"></ish-lazy-product-add-to-wishlist>
    <ish-product-add-to-basket displayType="icon" class="btn-link"></ish-product-add-to-basket>
  </div>
</div>
