// FOOTER

/* purgecss start ignore */

footer {
  clear: both;
  color: $text-color-tertiary;

  // h4 is obsolete, should use .link-group-heading instead
  h4,
  .link-group-heading {
    @media (max-width: $screen-md-max) {
      margin-top: divide($space-default * 2, 3);
    }

    margin-bottom: $space-default;
    font-family: $font-family-condensedbold;
    font-size: 18px;
    text-transform: uppercase;
  }

  .footer-custom {
    padding: ($space-default * 2) 0;
    background: $color-primary;
  }

  .footer-fix {
    margin: ($space-default * 2) 0;

    .list-inline-item:not(:last-child) {
      margin-right: $space-default * 2;
    }
  }

  .footer {
    padding: 0 0 ($space-default);
    margin-top: 0;
    background: $color-dark;

    @media (max-width: $screen-xs-max) {
      padding: 0 0 ($space-default);
    }

    // h4 is obsolete, should use .link-group-heading instead
    h4,
    .link-group-heading {
      font-family: $font-family-condensedbold;
      color: $text-color-quaternary;
    }

    li a,
    li a:not([href]):not([tabindex]),
    .footer-link,
    .footer-link-highlighted {
      font-family: $font-family-condensedregular;
      color: $text-color-inverse;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-link-highlighted {
      color: $CORPORATE-LIGHT;
    }

    ul {
      padding: 0;
      list-style: none;

      &:not(.list-inline) {
        margin-bottom: 0;
      }
    }

    .link-group {
      li {
        a {
          line-height: 25px;
        }
      }
    }
  }
}

.disclaimer {
  padding: 0 ($space-default);
}

@media (max-width: $screen-xs-max) {
  .link-group {
    border-bottom: $border-width-default solid $border-color-default;

    ul {
      padding: $space-default ($space-default * 1.5) ($space-default * 2);
      margin: 0;
      list-style: none;
    }
  }

  .link-group-icon {
    float: right;
    color: $text-color-corporate;
    cursor: pointer;
  }
}

/* purgecss end ignore */
