<h1>{{ 'account.update_profile.heading' | translate }}</h1>

<!-- Error message -->
<ish-error-message [error]="error"></ish-error-message>

<p>{{ 'account.update_profile.text' | translate }}</p>

<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <p class="indicates-required">
        <span class="required">*</span>{{ 'account.required_field.message' | translate }}
      </p>
      <form [formGroup]="accountProfileUserForm" (ngSubmit)="submit()" class="form-horizontal" novalidate="novalidate">
        <formly-form [form]="accountProfileUserForm" [fields]="fields" [model]="model"></formly-form>
        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a routerLink="/account/profile" class="btn btn-secondary">{{ 'account.cancel.link' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
