<h1>{{ 'account.update_profile.heading' | translate }}</h1>

<!-- Error message -->
<ish-error-message [error]="error" />

<p>{{ 'account.update_profile.text' | translate }}</p>
<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <p aria-hidden="true" class="indicates-required">
        <span class="required">*</span>{{ 'account.required_field.message' | translate }}
      </p>
      <form
        #form="ngForm"
        class="form-horizontal"
        ishFormSubmit
        novalidate
        [formGroup]="accountProfileUserForm"
        (ngSubmit)="submitForm()"
      >
        <formly-form
          [fields]="select('fields') | async"
          [form]="accountProfileUserForm"
          [model]="select('model') | async"
        />
        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button class="btn btn-primary" type="submit" [disabled]="accountProfileUserForm.invalid && form.submitted">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a class="btn btn-secondary" routerLink="/account/profile">{{ 'account.cancel.link' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
