<h1>{{ 'account.update_profile.heading' | translate }}</h1>

<!-- Error message -->
<ish-error-message [error]="error"></ish-error-message>

<p>{{ 'account.update_profile.text' | translate }}</p>

<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <p class="indicates-required">
        <span class="required">*</span>{{ 'account.required_field.message' | translate }}
      </p>
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal" novalidate="novalidate">
        <ish-select-title [form]="form" [titles]="titles"></ish-select-title>

        <ish-input
          [form]="form"
          controlName="firstName"
          label="account.update_profile.firstname.label"
          [errorMessages]="{
            required: 'account.firstname.error.required',
            noSpecialChars: 'error.forbiddensymbols'
          }"
        ></ish-input>

        <ish-input
          [form]="form"
          controlName="lastName"
          label="account.update_profile.lastname.label"
          [errorMessages]="{
            required: 'account.lastname.error.required',
            noSpecialChars: 'error.forbiddensymbols'
          }"
        ></ish-input>

        <ish-input [form]="form" controlName="phoneHome" label="account.update_profile.phone.label"></ish-input>

        <ish-select-language
          [form]="form"
          controlName="preferredLanguage"
          [languages]="languages"
        ></ish-select-language>

        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a routerLink="/account/profile" class="btn btn-secondary">{{ 'account.cancel.link' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
