/************************  Global Header ******************************/
header {
  margin-bottom: $space-default;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: $top-header-height;
    content: '';
    background-color: $color-primary;

    @media (max-width: $screen-xs-max) {
      background-color: $color-inverse;
    }
  }

  .logo-wrapper {
    max-width: 25%;
    padding-top: ($space-default * 2);
    padding-bottom: ($space-default / 3 * 2);

    @media (max-width: $screen-xs-max) {
      align-self: center;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .global-nav-container {
    display: flex;

    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 55px;
      left: 0;
      display: block;
      width: 100%;
      padding-right: 0;
      padding-left: 0;

      .global-nav {
        width: 100%;
      }
    }
  }

  .main-navigation {
    position: relative;

    .navbar-nav {
      @media (max-width: $screen-xs-max) {
        display: flex;
        background-color: $color-inverse;
      }
    }
  }

  &.homepage {
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;

    .mid-header-checkout {
      padding: $space-default 0;
    }
  }
}

.header {
  a span:hover {
    color: $text-color-quarternary;
  }

  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-wrap: wrap;
    min-height: 55px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    background: $color-inverse;
  }

  .navbar-toggler {
    order: 20;
  }
}

.header-utility {
  display: flex;
  flex-grow: 2;
  align-self: center;
  justify-content: flex-end;
  line-height: $top-header-height;

  @media (max-width: $screen-xs-max) {
    order: 10;
    line-height: 55px;
  }

  .my-account-link {
    display: none;

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
}

.user-links {
  padding: 0;
  margin: 0;
  line-height: $top-header-height;

  @media (max-width: $screen-xs-max) {
    align-self: center;
  }

  li {
    float: left;
    padding-right: ($space-default * 2);
    font-family: $font-family-bold;
    font-size: 12px;
    color: $text-color-quarternary;
    text-transform: uppercase;
    list-style: none;

    &:first-child .ng-fa-icon.header-icon {
      padding-left: 0;
    }

    a {
      color: $text-color-quinary;
    }

    .login-name {
      color: $text-color-corporate;
    }

    .wishlist-count,
    .compare-status {
      position: relative;
    }
  }
}

.separator {
  padding-right: ($space-default / 2);
  padding-left: ($space-default / 2);
}

.ng-fa-icon.header-icon {
  position: relative;
  padding: 0 $space-default;
  font-size: 17px;
  color: $text-color-quarternary;

  @media (max-width: $screen-xs-max) {
    color: $text-color-primary;
  }
}

.mobile-logo {
  padding: 0 $space-default * 2 0 $space-default;
}
