.homepage.sticky-header .wrapper {
  margin-top: 175px;

  @media (max-width: $screen-xs-max) {
    margin-top: 55px;
  }
}

.sticky-header {
  .wrapper {
    margin-top: 185px;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
    width: 100%;
    background-color: $color-inverse;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    &::before {
      background-color: $color-inverse;
    }

    .header {
      position: relative;
      display: flex;

      .logo-wrapper {
        padding-top: 0;
        padding-bottom: 0;

        .logo {
          height: 25px;
          padding-right: $space-default * 2;
        }
      }

      .main-navigation {
        position: unset;

        .main-navigation-list .category-level1 {
          left: 15px;
        }
      }

      .header-utility {
        order: 10;
        background: $color-inverse;

        .my-account-link {
          display: block;
        }
      }
    }
  }

  .main-navigation-list li {
    @media (min-width: $screen-xs-max) and (max-width: $screen-md-max) {
      a {
        font-size: $font-size-corporate;
      }
    }
  }

  .logo-wrapper {
    display: flex;
    align-self: center;

    .logo {
      height: 25px;
      padding-right: $space-default * 2;
    }
  }

  .search-toggler {
    position: relative;

    &.active-search {
      background-color: $color-primary;

      .ng-fa-icon {
        color: $text-color-inverse;
      }
    }
  }

  .search-container {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999999;
    width: 400px;
    background: $color-inverse;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23);
  }

  .navbar-toggler {
    padding: 13px 21px;
  }
}

.sticky-header-search-container {
  display: block;
  overflow: hidden;
  transition: height 500ms ease-in-out;

  &.show {
    height: 38px;
  }

  &:not(.show) {
    display: block; //required for animation
    height: 0;
  }
}
