/************************  Global Header ******************************/
header {
  margin-bottom: $space-default;

  &.homepage {
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
    .mid-header-checkout {
      padding: $space-default 0;
    }
  }
}

.top-header {
  min-height: $top-header-height;
  background: $color-primary;

  a span:hover {
    color: $text-color-quarternary;
  }

  @media (max-width: $screen-xs-max) {
    background: $color-inverse;
  }
}

.mid-header {
  padding-top: ($space-default * 2);
  padding-bottom: 20px;
  background: $color-inverse;

  @media (max-width: $screen-xs-max) {
    margin: 0;
    padding: 0;
  }

  .ng-fa-icon.header-icon {
    margin-right: 4px;
    color: $text-color-secondary;
    font-size: 20px;
  }
}

.header-info-wrapper {
  padding-top: $space-default;
}

.header-info {
  margin-right: $space-default;
  font-size: 13px;
}
.header-sticky-mobile {
  .header-utility {
    line-height: 51px;
  }
}
.header-utility {
  display: flex;
  align-self: center;
  flex-grow: 2;
  justify-content: flex-end;
  line-height: $top-header-height;

  @media (max-width: $screen-xs-max) {
    line-height: 55px;
  }
}

.user-links {
  margin: 0;
  padding: 0;

  line-height: $top-header-height;

  li {
    margin-right: ($space-default * 2);
    float: left;
    color: $text-color-quarternary;
    font-family: $font-family-bold;
    font-size: 12px;
    list-style: none;
    text-transform: uppercase;

    a {
      color: $text-color-quinary;
    }

    .login-name {
      color: $text-color-corporate;
    }

    .wishlist-count,
    .compare-status {
      position: relative;
    }

    &:first-child .ng-fa-icon.header-icon {
      padding-left: 0;
    }
  }
}

.separator {
  padding-right: ($space-default / 2);
  padding-left: ($space-default / 2);
}

.ng-fa-icon.header-icon {
  position: relative;
  padding: 0 $space-default;
  color: $text-color-quarternary;

  @media (max-width: $screen-xs-max) {
    color: $text-color-primary;
  }

  font-size: 17px;
}

.bottom-header {
  background-color: $white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.mobile-logo {
  align-self: center;
  padding: 0 $space-default * 2 0 $space-default;
}
