/*********** GLOBAL NAVIGATION **********/

.main-navigation {
  z-index: 1;
  align-self: center;
  height: $top-header-height;
  transition: height 500ms ease-in-out;

  @media (max-width: $screen-xs-max) {
    height: auto;
    padding: 0;
  }

  @media (max-width: $screen-md-max) {
    height: auto;
  }

  ul li ul {
    padding: 0;
  }

  li {
    list-style: none;
    a {
      font-family: $font-family-condensedbold;
      font-size: ($grid-gutter-width / 2);
      text-transform: uppercase;
    }
  }
}

.main-navigation-right {
  z-index: 3;
}

.dropdown-menu {
  left: ($grid-gutter-width / 2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.main-navigation-list {
  &.accordion {
    .dropdown-menu {
      padding: 0;
    }

    .dropdown-toggle {
      width: $toggler-width;
      text-align: center;
      border-left: $border-width-default solid $border-color-default;

      &:after {
        content: none;
      }
    }

    li {
      list-style: none;

      &.open ul {
        display: block;
      }

      &:not(.open) ul {
        display: none;
      }

      > a {
        float: left;
        width: calc(100% - #{$toggler-width});
        padding: $space-default ($grid-gutter-width / 2) !important;
        font-size: $font-size-menu-item-mobile;
        line-height: 1.3125rem;
      }
    }

    // Navbar Item
    > li > a {
      font-size: $font-size-navbar-item-mobile;
      color: $text-color-inverse;
      text-transform: uppercase;
      background: $CORPORATE-PRIMARY;
      border-bottom: $border-width-default solid $border-color-default;
    }
    li.open {
      .category-level1,
      .category-level2,
      .category-level3,
      .category-level4 {
        margin-top: 0px;
      }
    }
    // Menu Items
    .category-level1,
    .category-level2,
    .category-level3,
    .category-level4 {
      > li > a {
        font-family: $font-family-regular;
        font-size: $font-size-sub-menu-item-mobile;
        color: $text-color-primary;
        text-transform: capitalize;
        border-bottom: $border-width-default solid $border-color-light;
      }

      .dropdown-toggle {
        border-left: $border-width-default solid $border-color-light;
      }
    }

    .category-level2,
    .category-level3,
    .category-level4 {
      > li > a {
        color: lighten($text-color-primary, 35%);
      }
    }
  }

  &:not(.accordion) {
    a {
      font-size: $font-size-navbar-item;
      color: $text-color-primary;
    }

    > li {
      float: left;
      line-height: 40px;

      &.dropdown {
        position: static;
        padding: 0 10px;
        margin: 0;
        background: url('/assets/img/header/active_catalog.png') -2000px bottom no-repeat;

        &:first-child {
          padding-left: 0;
        }

        &.hover {
          background-position: center bottom;
          transition-delay: 0.5s;
          ul {
            visibility: visible;
            transition-delay: 0.5s;
          }
        }
      }

      &.open .category-level1 {
        display: block;
        margin-top: 0px;
      }

      ul {
        > li {
          float: left;
          padding-right: 3%;
          margin-bottom: $space-default;
          line-height: 28px;

          &:nth-child(4n + 1) {
            clear: left;
          }

          a {
            padding: 0;
            font-family: $font-family-regular;
            font-size: $font-size-menu-item;
            text-transform: uppercase;
            background: none;
          }

          li {
            float: none;
            margin: 0;
            line-height: 24px;

            ul {
              padding: 0;
              margin: 0;
            }

            a {
              font-size: $font-size-sub-menu-item;
              color: lighten($text-color-primary, 35%);
              text-transform: none;
            }
          }
        }

        li {
          &.dropdown {
            background: none;
          }
          &.open ul {
            display: block;
          }
        }
      }
    }

    .category-level1 {
      z-index: 9999;
      display: block;
      width: 720px;
      padding: 25px 25px ($grid-gutter-width / 2) 25px;

      margin: 0px;
      visibility: hidden;
      border-top: ($space-default / 2) solid $border-color-default;
      @media (min-width: $screen-md) {
        /* ~992px (Bootstrap) */
        width: ($screen-md - $grid-gutter-width * 2);
      }

      @media (min-width: $screen-lg) {
        /* ~1200px (Bootstrap) */
        width: ($screen-lg - $grid-gutter-width * 2);
      }

      > li {
        margin: 0 20px 15px 0;
      }
    }
  }
}
