//
// NAVBAR ( Bootstrap )

.navbar-toggler {
  padding: $space-default $space-default * 1.4;
  margin-left: $space-default;
  font-size: 1.4rem;
  color: $text-color-inverse;
  background-color: $text-color-corporate;
  border: $border-width-default solid transparent;

  &:focus {
    outline: none;
  }
}

@media (max-width: $screen-sm-max) {
  .navbar-expand-md > .container {
    padding: 0 $space-default;
  }
}
