//
// NAVBAR ( Bootstrap )

@media (max-width: $screen-xs-max) {
  .navbar-toggler {
    background-color: $color-primary;
    border: $border-width-default solid transparent;
    color: $text-color-inverse;
    font-size: 1.4rem;
    padding: $space-default $space-default * 1.4;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .navbar-expand-md > .container {
    padding: 0 $space-default;
  }
}
