/*********** SEARCH CONTAINER **********/

.search-container {
  position: relative;

  .btn-search:active {
    border-color: transparent !important;
    background-color: transparent !important;
  }

  button {
    &:focus,
    &:active {
      box-shadow: none !important;
    }

    &.btn-search {
      position: absolute;
      right: $space-default;
      width: auto;
      border: 0;
      background: 0;
      font-size: $font-size-lg;

      span:before {
        color: $text-color-inverse;
        font-size: $font-size-lg;
      }
    }
  }

  ul.search-suggest-results {
    position: absolute;
    z-index: 9999;
    top: 37px;
    margin: 0;
    padding: 0;
    border: $border-width-default solid $border-color-light;
    background: $color-inverse;
    list-style: none;

    li {
      width: 100%;
      padding: 0 $space-default;

      &:hover {
        border-bottom: $border-width-default solid $border-color-default;
        background: $border-color-corporate;
        color: $text-color-inverse;

        button {
          border-top: $border-width-default solid transparent;
          color: $text-color-inverse;
        }

        + li button {
          border: none;
        }
      }

      &.active-suggestion {
        border-bottom: $border-width-default solid $border-color-corporate;
        background: $color-corporate;
        color: $text-color-inverse;

        button {
          border-top: $border-width-default solid transparent;
          color: $text-color-inverse;
        }

        + li button {
          border: none;
        }
      }

      &:first-child button {
        border: 0;
      }

      button {
        width: 100%;
        padding: $space-default 0 $space-default 4px;
        border: 0;
        border-top: $border-width-default solid $border-color-light;
        background: none;
        color: $text-color-quarternary;
        font-family: $font-family-regular;
        font-size: 13px;
        text-align: left;
        text-transform: capitalize;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

.header-search-container {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

  input {
    &.form-control {
      height: 38px;
      padding-left: (38 / 2);
      float: right;
      border: $border-width-default solid $border-color-default;
      background: $color-primary;
      color: $white;
      font-size: 14px;

      &::-ms-clear {
        display: none;
      }

      @media (max-width: $screen-xs-max) {
        border: $border-width-default solid $border-color-default;

        &:focus {
          background: $color-tertiary;
        }
      }
    }

    &:focus {
      border: $border-width-default solid $border-color-light;
      background: $color-inverse;
      box-shadow: none;
      color: $text-color-primary;
      font-size: 14px;

      + button.btn-search {
        color: $text-color-primary;
      }
    }

    // Placeholder Styles

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: $text-color-quarternary !important;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: $text-color-quarternary !important;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $text-color-quarternary !important;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: $text-color-quarternary !important;
    }
  }

  ul.search-suggest-results {
    width: 92.5%;
  }
}

.main-search-container ul.search-suggest-results {
  width: 100%;
}

.error-search-container ul.search-suggest-results {
  top: 33px;
  width: 100%;
}
