.user-info-box {
  position: relative;
  display: block;
  padding-bottom: 10px;
  overflow: hidden;
  line-height: 50px;
  background-color: $color-inverse;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  &.container {
    max-width: none;
  }

  .col {
    float: left;
    margin-right: 30px;
    font-family: $font-family-bold;
    font-size: 12px;
    color: $text-color-quarternary;
    text-transform: uppercase;
  }
}
