<ng-container *ngIf="product$ | async as product">
  <a
    (click)="show()"
    class="line-item-edit-link"
    rel="nofollow"
    title="{{ 'checkout.variation.edit.button.label' | translate }}"
    >{{ 'checkout.variation.edit.button.label' | translate }}</a
  >

  <ish-modal-dialog
    #modalDialog
    [options]="{
      titleText: product.name,
      confirmText: 'shopping_cart.variation.save.button.label' | translate,
      rejectText: 'shopping_cart.button.cancel' | translate,
      size: 'lg'
    }"
  >
    <ish-line-item-edit-dialog></ish-line-item-edit-dialog>
  </ish-modal-dialog>
</ng-container>
