<h1>{{'account.register.heading' | translate}}</h1>
<p>{{'account.register.message' | translate}}</p>

<div *ngIf="userCreateError$ | async as error" role="alert" class="alert alert-danger">
  {{ error | json }}
</div>

<div class="section" data-testing-id="account-create-full-page">
  <ish-registration-form
    [countries]="countries$ | async"
    [languages]="languages$ | async"
    [regions]="regionsForSelectedCountry$ | async"
    [emailOptIn]="emailOptIn"
    (create)="onCreate($event)"
    (cancel)="onCancel()"
    (countryChange)="updateRegions($event)">
  </ish-registration-form>
</div>
