<h1>{{ 'account.update_password.heading' | translate }}</h1>
<ish-error-message [error]="error" />

<p>{{ 'account.update_password.change.message' | translate }}</p>

<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <form
        [formGroup]="accountProfilePasswordForm"
        class="form-horizontal"
        novalidate="novalidate"
        (ngSubmit)="submit()"
      >
        <formly-form [form]="accountProfilePasswordForm" [fields]="fields" />

        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a routerLink="/account/profile" class="btn btn-secondary">{{ 'account.cancel.link' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h2 class="h4 form-text">{{ 'account.help.heading' | translate }}</h2>
<p class="form-text">
  {{ 'account.update_password.question.text' | translate }}<br />{{ 'account.update_password.answer.text' | translate }}
</p>
