<ng-template #template>
  <div class="modal-header">
    <h2 *ngIf="options" class="modal-title pull-left">{{ options.titleText }}</h2>
    <button type="button" class="close" [attr.aria-label]="'dialog.close.text' | translate" (click)="hide()">
      <span aria-hidden="true" [attr.title]="'dialog.close.text' | translate">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

  <div class="modal-footer" *ngIf="options.confirmText || options.rejectText">
    <button class='btn btn-primary' *ngIf="options.confirmText" (click)="confirm()">
      {{ options.confirmText }}
    </button>
    <button class='btn btn-secondary' *ngIf="options.rejectText" (click)="hide()">
      {{ options.rejectText }}
    </button>
  </div>
</ng-template>
