.form-check {
  padding-left: 0;
}

.has-feedback {
  .form-control[type='number'] {
    padding: $grid-gutter-width / 5 $grid-gutter-width / 2.5;
  }

  .form-control[type='number'] + * .form-control-feedback {
    display: none !important;
  }

  .form-control {
    + a.form-control-feedback {
      pointer-events: all;
    }
  }
}

.form-horizontal {
  &.form-horizontal-inline {
    @media (max-width: $screen-xs-max) {
      label {
        padding-top: $space-default / 2;
      }
    }
  }
}

input[type='file'] {
  padding: 0;
  border: none;
  box-shadow: none;
}

.form-control-checkbox {
  margin-bottom: 0;
  font-size: $font-size-base;
  border: none;

  &:invalid {
    .form-control {
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .form-control {
    padding-right: 0;
    padding-left: 0;
    background-color: inherit;
    border: none;

    @include box-shadow(none);
  }

  .form-control-feedback {
    display: none !important;
  }
}

.has-error {
  .col-form-label,
  .form-text,
  .ng-fa-icon,
  .form-check {
    color: $error-color;
  }

  .form-check a {
    color: $error-color;
    text-decoration: underline;
  }

  input,
  select,
  textarea {
    border-color: $error-color;
  }
}

.has-success {
  .col-form-label,
  .form-text,
  .ng-fa-icon {
    color: $success-color;
  }

  input,
  textarea {
    border-color: $success-color;
  }
}
