<ng-container *ngIf="options?.length > 0 || required">
  <div class="form-group has-feedback" [formGroup]="form" [ishVisualizeErrors]="formControl">
    <label *ngIf="label" [for]="controlName+'-'+uuid"  class="control-label" [ngClass]="labelClass">{{label | translate}}<span *ngIf="required" class="required">*</span></label>
    <div [ngClass]="inputClass">
      <select class="form-control"
          [id]="controlName+'-'+uuid"
          [formControlName]="controlName"
          [attr.data-testing-id]="controlName">
        <option value="" *ngIf="showEmptyOption">{{'account.option.select.text' | translate}}</option>
        <option *ngFor="let option of options" [value]="option.value">{{option.label | translate}}</option>
      </select>
      <ish-form-control-error [messages]="errorMessages" [control]="formControl"></ish-form-control-error>
    </div>
  </div>
</ng-container>
