<select
  class="form-control"
  [attr.aria-describedby]="props.ariaDescribedByIds"
  [attr.aria-invalid]="showError ? 'true' : undefined"
  [attr.aria-label]="props.ariaLabel | translate"
  [attr.aria-required]="props.required ? 'true' : undefined"
  [attr.data-testing-id]="field.key"
  [compareWith]="props.compareWith ? props.compareWith : defaultOptions.props.compareWith"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [ngClass]="props.inputClass"
>
  @if (props.options && props.options | formlySelectOptions: field | async; as opts) {
    @for (opt of opts; track opt.value) {
      <option [disabled]="opt.disabled" [value]="opt.value">
        {{ opt.label }}
      </option>
    }
  }
</select>
