<select
  [formControl]="formControl"
  [compareWith]="props.compareWith ? props.compareWith : defaultOptions.props.compareWith"
  [formlyAttributes]="field"
  class="form-control"
  [ngClass]="props.inputClass"
  [attr.data-testing-id]="field.key"
  [attr.aria-label]="props.ariaLabel | translate"
  [attr.aria-required]="props.required ? 'true' : undefined"
  [attr.aria-invalid]="showError ? 'true' : undefined"
  [attr.aria-describedby]="ariaDescribedByIds"
>
  <ng-container *ngIf="props.options && props.options | formlySelectOptions : field | async as opts">
    <ng-container *ngFor="let opt of opts">
      <option [value]="opt.value" [disabled]="opt.disabled">
        {{ opt.label }}
      </option>
    </ng-container>
  </ng-container>
</select>
