.cookies-banner {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  color: $color-inverse;
  background-color: $color-primary !important;
  opacity: 0.9;

  h4 {
    color: $color-inverse;
  }
  a {
    color: $color-inverse !important;
    text-decoration: underline;

    &:hover {
      color: $text-color-quarternary !important;
    }
  }
}

.cookies-modal {
  .cookie-option {
    label {
      span {
        padding-left: $space-default / 2;
        font-family: $font-family-bold;
      }
    }
  }
}
