.cookies-banner {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  padding: $space-default $space-default $space-default * 0.5;
  color: $color-inverse;
  background-color: $color-primary !important;
  opacity: 0.9;

  .cookies-banner-text {
    margin-bottom: divide($space-default, 3);

    a {
      color: $color-inverse;
    }
  }

  .btn-link {
    margin-bottom: 5px;
    color: $color-inverse !important;
    text-decoration: underline;

    &:hover {
      color: $text-color-tertiary !important;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
    }
  }
}

.cookies-modal {
  .cookie-option {
    label {
      span {
        padding-left: $space-default * 0.5;
        font-family: $font-family-bold;
      }
    }
  }
}
