<div #searchBox class="search clearfix" [ngClass]="{ focus: searchBoxFocus, 'scaled-up': searchBoxScaledUp }">
  <input
    #searchInput
    autocomplete="off"
    class="form-control searchTerm search-input"
    id="header-search-input"
    type="search"
    [attr.aria-label]="'search.searchbox.label' | translate"
    [placeholder]="configuration?.placeholder || ''"
    [value]="(inputSearchTerms$ | async) ?? ''"
    (focus)="handleFocus(true)"
    (input)="handleInput($event.target)"
    (keydown.enter)="submitSearch(searchInput.value)"
  />

  @if (configuration?.autoSuggest && suggestions$ | async; as results) {
    @if ((searchBoxResults$ | async) && (hasMinimumCharCount$ | async)) {
      <div aria-labelledby="header-search-input" class="search-suggest-container" id="search-suggest-layer">
        <div
          class="col-12 d-flex flex-column"
          [ngClass]="{
            'col-md-5': results.products?.length,
          }"
        >
          @if (results.keywords?.length) {
            <ish-suggest-keywords
              [inputTerms$]="inputSearchTerms$"
              [keywords]="results.keywords"
              [maxAutoSuggests]="configuration?.maxAutoSuggests"
              (submitSearch)="submitSearch($event)"
            />
          }
          @if (results.categories?.length) {
            <ish-suggest-categories
              [categories]="results.categories"
              [inputTerms$]="inputSearchTerms$"
              [maxAutoSuggests]="3"
              (routeChange)="resetInput()"
            />
          }
          @if (results.brands?.length) {
            <ish-suggest-brands
              [brands]="results.brands"
              [inputTerms$]="inputSearchTerms$"
              [maxAutoSuggests]="3"
              (routeChange)="resetInput($event)"
            />
          }
        </div>
        @if (results.products?.length) {
          <div
            class="col-12"
            [ngClass]="{
              'col-md-7': results.keywords.length || results.brands.length || results.categories.length,
              'products-only': !results.keywords.length && !results.brands.length && !results.categories.length,
            }"
          >
            <ish-suggest-products
              [deviceType]="deviceType"
              [inputTerms$]="inputSearchTerms$"
              [maxAutoSuggests]="8"
              [products]="results.products"
              (routeChange)="resetInput()"
            />
          </div>
        }
        <div class="col-12">
          <div class="show-all">
            <button
              class="btn btn-link"
              type="button"
              [title]="'search.searchbox.button.title' | translate"
              (click)="submitSearch(searchInput.value)"
            >
              {{ 'suggest.view_all.link' | translate }}
            </button>
          </div>
        </div>
      </div>
    } @else {
      @if ((hasMinimumCharCount$ | async) || (searchedTerms$ | async)) {
        <div aria-live="polite" class="search-suggest-container">
          @if (hasMinimumCharCount$ | async) {
            <div class="col-12">
              <div class="d-flex justify-content-start headline">{{ 'suggest.no_results.headline' | translate }}</div>
              <p>{{ 'suggest.no_results.text' | translate }}</p>
            </div>
          }
          @if (searchedTerms$ | async) {
            <div class="col-12">
              <ish-suggest-search-terms
                [inputTerms$]="inputSearchTerms$"
                [maxRecentlySearchedWords]="5"
                (submitSearch)="submitSearch($event)"
              />
            </div>
          }
        </div>
      }
    }
  } @else {
    @if ((searchedTerms$ | async) && configuration?.autoSuggest) {
      <div class="search-suggest-container">
        <div class="col-12">
          <ish-suggest-search-terms
            [inputTerms$]="inputSearchTerms$"
            [maxRecentlySearchedWords]="5"
            (submitSearch)="submitSearch($event)"
          />
        </div>
      </div>
    }
  }
  @if (searchSuggestLoading$ | async) {
    <div class="loading"></div>
  }

  <div class="buttons">
    <!-- Clear input button -->
    @if (inputSearchTerms$ | async) {
      <button
        class="btn btn-reset"
        name="reset"
        type="reset"
        [title]="'search.searchbox.button.reset.title' | translate"
        (click)="handleResetButton($event); setFocusOnSearchInput()"
        (focus)="handleFocus(true)"
      >
        <i class="bi bi-x searchbox-icon"></i>
      </button>
    }

    <!-- Search button -->
    <button
      class="btn btn-secondary btn-search"
      name="search"
      type="submit"
      [title]="'search.searchbox.button.title' | translate"
      (click)="submitSearch(searchInput.value)"
      (focus)="handleFocus(true)"
    >
      <!-- search button with icon -->
      @if (!configuration?.buttonText) {
        <i class="searchbox-icon" [class]="'bi bi-' + usedIcon"></i>
      } @else {
        {{ configuration?.buttonText }}
      }

      <!-- search button with text -->
    </button>
  </div>
</div>

<div class="search-suggest-backdrop" [ngClass]="{ show: searchBoxFocus }"></div>
