<div class="d-grid">
  @if (visible$ | async) {
    <button
      class="btn"
      data-testing-id="addToQuoteButton"
      type="submit"
      [attr.aria-hidden]="ariaHidden"
      [disabled]="disabled$ | async"
      [ngClass]="cssClass"
      [tabindex]="ariaHidden ? -1 : 0"
      [title]="displayType === 'icon' ? ('quote.add_product_to_quote.button.add_to_quote.label' | translate) : ''"
      (click)="addToQuote()"
    >
      @if (displayType === 'icon') {
        <i class="bi bi-inbox-fill"></i>
      } @else {
        {{ 'quote.add_product_to_quote.button.add_to_quote.label' | translate }}
      }
    </button>
  }
</div>
