/******* GLOBAL BREADCRUMBS *********/

.breadcrumbs {
  padding: 0 $space-default 0 $space-default;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    float: left;
    font-size: 12px;
    text-transform: uppercase;

    span {
      margin: 0 ($space-default * 0.5);
    }

    a {
      font-size: 12px;
      color: $text-color-tertiary;

      &:hover {
        color: $text-color-quaternary;
      }
    }
  }
}
