/******* GLOBAL BREADCRUMBS *********/

.breadcrumbs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }

  ol {
    margin: 0;
  }

  li {
    font-size: 12px;
    text-transform: uppercase;

    a {
      color: $text-color-tertiary;

      &:hover {
        color: $text-color-quaternary;
      }
    }

    &.active {
      color: $text-color-primary;
    }
  }
}
