//
// BUTTONS

.btn {
  font-family: $font-family-bold;
  text-transform: uppercase;

  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
    margin-bottom: $space-default;
    clear: both;
  }

  & ~ .btn.btn-block {
    margin-left: 0;
  }

  &.btn-link {
    font-family: $font-family-regular;
    text-decoration: none;
    text-transform: unset;
  }

  &.btn-link-inline {
    display: inline;
    padding: 0;
    line-height: inherit;
    vertical-align: baseline;
  }

  &.btn-secondary {
    color: $button-default-color;
    background-color: $button-default-bg;
    border-color: $button-default-border;

    &:not(:disabled):hover {
      //color: $button-default-color;
      background-color: darken($button-default-bg, 10%);
      border-color: darken($button-default-border, 10%);
    }
  }
}

.btn-lg {
  font-family: $font-family-condensedbold;

  &.btn-block {
    padding-right: 0;
    padding-left: 0;
  }
}

// multiple buttons margin handling (use "button-group" in case the buttons are not direct siblings)
.button-group .btn,
.btn:not(:only-child) {
  margin-bottom: $space-default/3;

  &:not(.float-right) {
    margin-right: $space-default/3;

    @media (max-width: $screen-xs-max) {
      margin-right: 0;
    }
  }

  &.float-right {
    margin-left: $space-default/3;

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }
  }
}

//
// CIRCLE BUTTONS

.btn-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #ccc;
  border: 1px solid $border-color-light;
  border-radius: 50%;
}
