fieldset {
  margin-bottom: ($space-default);

  legend {
    font-size: $font-size-corporate;
  }
}

// 	REQUIRED FIELDS
.indicates-required {
  color: $text-color-quaternary;

  .required {
    margin-right: 4px;
    color: $text-color-special;
  }
}

// LABELS
label {
  font-weight: normal;

  .required {
    margin-left: 4px;
    color: $text-color-special;
  }

  &.disabled {
    opacity: 0.5;
  }

  > * {
    vertical-align: baseline;
  }
}

.label-empty {
  @media (max-width: $screen-xs-max) {
    margin-top: 2.2rem;
  }
}

.form-check {
  height: auto;
  padding-bottom: 0;
  padding-left: 0;

  label {
    label {
      padding-left: 0;
    }
  }
}

.form-check-label {
  margin-left: 18px;
}

// FORM CONTROLS
.quantity-input {
  min-width: 80px;
  max-width: 165px;
  margin-bottom: $space-default;
}

input[type='file'] {
  padding: 0;
  border: none;
  box-shadow: none;
}

input[type='radio'] ~ input[type='text'] {
  margin-left: $space-default * 0.5;

  @media (max-width: $screen-xs-max) {
    display: inline-block;
    width: 90%;
  }
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 4px;
  vertical-align: middle;
}

/* removes the 'x' inside the search input in IE */
input[type='search']::-ms-clear {
  display: none;
}

/* removes the 'x' and other default search elements inside the search input in Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input.form-check-input {
  margin-top: 0.25rem;
  margin-left: 0;
}

.form-control-checkbox {
  margin-bottom: 0;
  font-size: $font-size-base;
  border: none;

  &:invalid {
    .form-control {
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .form-control {
    padding-right: 0;
    padding-left: 0;
    background-color: inherit;
    border: none;

    @include box-shadow(none);
  }

  .form-control-feedback {
    display: none !important;
  }
}

.form-control {
  &:focus {
    border-color: $CORPORATE-PRIMARY;
    box-shadow: none;
  }

  @include focus-visible-reset();
}

.input-help {
  color: $text-color-quaternary;
}

select {
  font-family: $font-family-regular;
}

optgroup {
  font-style: normal;
}

// ERROR and SUCCESS
.has-feedback {
  .form-control[type='number'] {
    padding: $grid-gutter-width * 0.2 divide($grid-gutter-width, 2.5);
  }

  .form-control[type='number'] + * .form-control-feedback {
    display: none !important;
  }

  .form-control {
    + a.form-control-feedback {
      pointer-events: all;
    }

    padding-right: 42.5px;
  }
}

.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 25px;
  height: $input-line-height + ($input-padding-y * 2);
  line-height: $input-line-height + ($input-padding-y * 2);
}

.has-feedback select + * .form-control-feedback {
  right: 35px;
}

.has-success {
  .ng-fa-icon {
    color: $success-color;
  }
}

.has-error {
  .col-form-label,
  .ng-fa-icon,
  .validation-message,
  .form-check {
    color: $error-color;
  }

  .form-check a,
  label a {
    color: inherit;
    text-decoration: underline;
  }

  input,
  select,
  textarea {
    border-color: $error-color;

    &:focus {
      border-color: $error-color;
      box-shadow: none;
    }
  }

  .captcha > div {
    border: solid 1px $error-color;
  }
}

.validation-message small {
  display: block;
}

.validation-offset-date-picker {
  .form-control-feedback {
    right: 63.25px;
  }
}

.validation-offset {
  .form-control-feedback {
    right: 40px;
  }
}

.validation-offset-0 {
  .form-control-feedback {
    right: 10px;
  }
}

/* purgecss ignore */
.ngb-dp-weekday {
  font-style: normal !important;
  color: $gray-600 !important;
}

/* purgecss ignore */
.grecaptcha-badge {
  visibility: hidden;
}

.oci-configuration-mappings {
  .oci-configuration-mappings-group {
    display: flex;
    margin-right: $space-default;
  }
}
