// LAYOUT
// contains layout and presentation classes for the global page structure (header, footer, global navigation, ...)
.main-container {
  position: relative;
  min-height: 200px;
  background: $color-inverse;
}

.container {
  padding-right: ($grid-gutter-width * 0.5);
  padding-left: ($grid-gutter-width * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.loading-container {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

// Global Styles
body {
  color: $text-color-primary;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $space-default;
  margin-bottom: $space-default;
  text-transform: uppercase;

  .header-note {
    font-family: $font-family-regular;
    font-size: $font-size-corporate;
    color: $text-color-tertiary;
    text-transform: none;
  }

  &.h5 {
    text-transform: none;
  }
}

h4,
.h4 h5,
.h5 h6,
.h6 {
  margin-top: divide($space-default * 2, 3);
  margin-bottom: $space-default;
  font-family: $font-family-regular;
}

a,
a:not([href]):not([tabindex]) {
  color: $CORPORATE-PRIMARY;
}

a:not([href]):not([tabindex]) {
  &:hover {
    color: $CORPORATE-SECONDARY;
  }
}

a {
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  h3:hover {
    color: $text-color-tertiary;
  }

  &.teaser-link {
    display: block;
  }
}

.text {
  &-primary {
    color: $CORPORATE-PRIMARY !important;
  }

  &-secondary {
    color: $CORPORATE-SECONDARY !important;
  }
}

.link-separator {
  &::before {
    margin-right: 7.5px;
    margin-left: 7.5px;
    content: '|';
  }
}

.ng-fa-icon {
  &.footer-icon::before {
    font-size: 50px;
    color: $text-color-inverse;
  }
}

.top-header {
  .ng-fa-icon {
    top: 1px;
  }
}

// Main working area
.wrapper {
  padding: 0 0 50px;

  @include media-breakpoint-down(sm) {
    padding-top: $search-container-height;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Global Panels
.grey-panel {
  padding: ($space-default * 1.5) 0;
  background: $color-tertiary;
}

// Navbar
.nav-tabs {
  display: block;
  margin-bottom: $space-default;
  overflow-y: auto;
  white-space: nowrap;
  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    display: inline-block;
    margin-bottom: 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-color: transparent;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-color: transparent;
    border-bottom: 2px solid $CORPORATE-PRIMARY !important;
  }
}

// Help Text
.form-text {
  margin: divide($space-default, 3) 0 $space-default * 0.5;
  color: $text-color-tertiary;
}

h2.form-text {
  font-family: $font-family-regular;
  color: $text-color-tertiary;
  text-transform: none;
}

.form-text-inline {
  display: inline-block;
  margin: 0;
}

// Marketing Area
.marketing-area {
  img {
    padding-bottom: $space-default;
  }
}

img.marketing {
  padding-bottom: $space-default;
}

// Detail links and tooltips
[data-toggle='popover'] {
  .ng-fa-icon {
    padding-left: $space-default * 0.25;
    font-size: 120%;
  }
}

.popover-header {
  margin-top: 0;
}

.popover {
  width: 250px;
}

.details-link,
.details-tooltip {
  display: inline-block;
  padding-left: $space-default * 0.5;
  font-family: $font-family-regular;
  font-size: 90%;
  text-transform: none;
  white-space: nowrap;
}

.download-link {
  display: inline-block;
  padding-left: $space-default * 0.5;
}

.item-count-container {
  position: relative;

  .badge {
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 75%;
    font-weight: inherit;
    line-height: 1.4;
    color: $text-color-inverse;
    background: $CORPORATE-PRIMARY;

    &:hover {
      color: $text-color-inverse;
      background: $CORPORATE-SECONDARY;
    }
  }
}

.badge {
  font-size: 85%;
  font-weight: normal;
}

.badge-primary {
  background-color: $color-special-tertiary;
}

.badge.border-primary {
  border-color: $color-special-tertiary !important;
}

.alert {
  > p,
  > ul {
    margin-bottom: 0;
  }
}

.section {
  margin-bottom: ($space-default * 2);
  clear: both;
}

@mixin focus-visible-reset() {
  &:focus-visible {
    // accessibility: revert to browser default focus style
    outline: revert !important;
    outline-offset: 0 !important;
  }

  // fallback if browser doesn't support :focus-visible
  @supports not selector(:focus-visible) {
    &:focus {
      outline: revert !important;
      outline-offset: 0 !important;
    }
  }
}
