// LAYOUT
// contains layout and presentation classes for the global page structure (header, footer, global navigation, ...)
.main-container {
  position: relative;
  min-height: 200px;
  overflow-y: auto;
  background: $color-inverse;
  outline: none; // remove focus outline from container when using "skip to main content link"
}

.container {
  padding-right: ($grid-gutter-width * 0.5);
  padding-left: ($grid-gutter-width * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.loading-container {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

// first link in the page to skip to main content
.skip-to-main-content {
  a {
    // hidden by default
    position: absolute;
    top: auto;
    z-index: -999;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background: $color-inverse;
    transform: translateY(-100%);

    &:focus {
      // visible on focus
      top: 10px;
      right: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      max-width: 25%;
      height: auto;
      padding: $space-default;
      margin: 0 auto;
      overflow: auto;
      text-align: center;
      opacity: 0.9;
      transform: translateY(0%);
    }
  }
}

// Global Styles
body {
  color: $text-color-primary;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $space-default;
  margin-bottom: $space-default;
  text-transform: uppercase;

  .header-note {
    font-family: $font-family-regular;
    font-size: $font-size-corporate;
    color: $text-color-tertiary;
    text-transform: none;
  }

  &.h5 {
    text-transform: none;
  }
}

h4,
.h4 h5,
.h5 h6,
.h6 {
  margin-top: divide($space-default * 2, 3);
  margin-bottom: $space-default;
  font-family: $font-family-regular;
}

a,
a:not([href]):not([tabindex]) {
  color: $CORPORATE-PRIMARY;
}

a:not([href]):not([tabindex]) {
  &:hover {
    color: $CORPORATE-SECONDARY;
  }
}

a {
  cursor: pointer;

  &:hover {
    // global link behavior
    text-decoration: underline;
  }

  &:not([href]):not([routerlink]) {
    &:hover {
      // global link behavior
      text-decoration: none;
    }
  }

  // :focus is not underlined because the clicked element would stay underlined if the page does not reload
  &:focus {
    text-decoration: none;
  }

  h3:hover {
    color: $text-color-tertiary;
  }

  &.teaser-link {
    display: block;
  }
}

@mixin hover-underline-none() {
  // default link and button link behavior
  text-decoration: underline;

  &:hover {
    // underlined elements are not underlined on hover
    text-decoration: none;
  }
}

@mixin hover-none-underline() {
  // elements which are styled as links with this class are not underlined but underlined on hover
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

// link and button underline formatting for main content, modal content and cookies banner
.main-container,
.modal-content,
.cookies-banner {
  a {
    &[href],
    &[routerlink] {
      // links which navigate are underlined by default
      @include hover-underline-none();
    }

    &.btn {
      // buttons are not underlined by default
      text-decoration: none;

      &.btn-link {
        @include hover-underline-none();
      }

      &.btn-secondary {
        // secondary buttons are never underlined
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &[role='tab'] {
      // tabs are never underlined
      text-decoration: none !important;
    }
  }

  p,
  label,
  td,
  .section,
  .product-info {
    a {
      @include hover-underline-none();
    }
  }

  button {
    &.btn {
      &.btn-link {
        // buttons which are styled as links are underlined
        @include hover-underline-none();
      }
    }
  }

  a,
  button {
    &.link-decoration-hover {
      @include hover-none-underline();
    }
  }
}

.text {
  &-primary {
    color: $CORPORATE-PRIMARY !important;
  }

  &-secondary {
    color: $CORPORATE-SECONDARY !important;
  }
}

.link-separator {
  &::before {
    margin-right: 7.5px;
    margin-left: 7.5px;
    content: '|';
  }
}

.ng-fa-icon {
  &.footer-icon::before {
    font-size: 50px;
    color: $text-color-inverse;
  }
}

.top-header {
  .ng-fa-icon {
    top: 1px;
  }
}

// Main working area
.wrapper {
  padding: 0 0 50px;

  @include media-breakpoint-down(sm) {
    padding-top: $search-container-height;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Global Panels
.grey-panel {
  padding: ($space-default * 1.5) 0;
  background: $color-tertiary;
}

// Navbar
.nav-tabs {
  display: block;
  margin-bottom: $space-default;
  overflow-y: auto;
  white-space: nowrap;
  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  .nav-item {
    display: inline-block;
    margin-bottom: 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-color: transparent;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-color: transparent;
    border-bottom: 2px solid $CORPORATE-PRIMARY !important;
  }
}

// Help Text
.form-text {
  margin: divide($space-default, 3) 0 $space-default * 0.5;
  color: $text-color-tertiary;
}

h2.form-text {
  font-family: $font-family-regular;
  color: $text-color-tertiary;
  text-transform: none;
}

.form-text-inline {
  display: inline-block;
  margin: 0;
}

// Marketing Area
.marketing-area {
  img {
    padding-bottom: $space-default;
  }
}

img.marketing {
  padding-bottom: $space-default;
}

// Detail links and tooltips
[data-toggle='popover'] {
  .ng-fa-icon {
    padding-left: $space-default * 0.25;
    font-size: 120%;
  }
}

.popover-header {
  margin-top: 0;
}

.popover {
  width: 250px;
}

.details-link,
.details-tooltip {
  display: inline-block;
  padding-left: $space-default * 0.5;
  font-family: $font-family-regular;
  font-size: 90%;
  text-transform: none;
  white-space: nowrap;
}

.download-link {
  display: inline-block;
  padding-left: $space-default * 0.5;
}

.item-count-container {
  position: relative;

  .badge {
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 75%;
    font-weight: inherit;
    line-height: 1.4;
    color: $text-color-inverse;
    background: $CORPORATE-PRIMARY;

    &:hover {
      color: $text-color-inverse;
      background: $CORPORATE-SECONDARY;
    }
  }
}

.badge {
  font-size: 85%;
  font-weight: normal;
}

.badge-primary {
  background-color: $color-special-tertiary;
}

.badge.border-primary {
  border-color: $color-special-tertiary !important;
}

.alert {
  > p,
  > ul {
    margin-bottom: 0;
  }
}

.section {
  margin-bottom: ($space-default * 2);
  clear: both;
}

@mixin focus-visible-reset() {
  &:focus-visible {
    // accessibility: revert to browser default focus style
    outline: revert !important;
    outline-offset: 0 !important;
  }

  // fallback if browser doesn't support :focus-visible
  @supports not selector(:focus-visible) {
    &:focus {
      outline: revert !important;
      outline-offset: 0 !important;
    }
  }
}
