.bi {
  width: 1em;
  height: 1em;
  line-height: 1;
}

.btn-tool {
  .bi {
    font-size: 22px;
    font-weight: bold;
  }

  & ~ .btn-tool {
    margin-left: divide($space-default * 2, 3);
  }
}

tbody tr {
  .bi {
    font-size: 1rem;
  }
}

/* Icons (.btn-tool) after a list within a product line item description */
.pli-description {
  dl {
    + .btn-tool {
      margin-top: 7.5px;

      & ~ .btn-tool {
        margin-top: 7.5px;
        margin-left: divide($space-default * 2, 3);
      }
    }
  }
}
