.line-item-edit-dialog {
  .product-info {
    .product-availability {
      margin-bottom: $space-default;
    }
  }
}

.line-item-edit-link {
  display: inline-block;
  margin-bottom: $space-default * 0.5;
}

.quickorder-line-item {
  padding-top: $space-default * 0.5;
  padding-left: 0;
}

.extended-item-box {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 2px;
}

.line-item-attributes {
  label,
  .line-item-attributes-info {
    padding-right: divide($space-default, 3);
    margin-bottom: 0;

    &.span-separator::after {
      content: ':';
    }
  }

  &:last-of-type {
    margin-bottom: divide($space-default * 2, 3);
  }
}
