.ng-select-container {
  position: relative;

  .arrow-container {
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 1002;
    pointer-events: none;

    fa-icon {
      font-size: 10px;
      color: $gray-700 !important;
    }
  }
}

.ng-select {
  &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border: solid 2px #000;
    box-shadow: none;
  }

  &.ng-select-opened .ng-select-container {
    border-color: $CORPORATE-PRIMARY !important;
  }

  .ng-arrow-wrapper {
    display: none;
  }

  &.ng-invalid.ng-dirty .ng-select-container {
    border-color: $error-color;

    .ng-placeholder {
      color: $error-color;
    }
  }

  .ng-select-container {
    border: 1px solid $gray-400;
    border-radius: 0 !important;
  }

  .ng-option-marked {
    background-color: $gray-100 !important;
  }

  .ng-option-selected {
    background-color: $gray-300 !important;

    .ng-option-label {
      font-weight: 400 !important;
    }
  }

  .ng-clear-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@-moz-document url-prefix() {
  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border: solid 3px #0060df;
  }
}
