// inline alert box, e.g. for alerts in the basket item list
.alert-inline {
  background-color: #fff;
  border-width: 2px;
}

// alert box, e.g. for product out of stock notification

.alert-box {
  border: 3px solid $error-color;

  .alert-box-header {
    padding-bottom: $space-default;
    color: $error-color;
  }

  .alert-box-body {
    padding: 0 $space-default;
  }

  .list-body {
    margin-bottom: 0;
  }

  .list-item-row {
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    .alert-box-body {
      padding: 0;
    }

    .btn {
      width: 100%;
      margin-top: $space-default * 0.5;
    }

    .list-item-row {
      padding: 0 $space-default;
    }
  }
}
