//
// CUSTOMIZED PRINT STYLES
@import 'variables';

@media print {
  @page {
    margin-top: 100px;
  }

  @supports (-moz-appearance: none) {
    .logo {
      margin-left: 25px !important;
    }
  }

  a[href]::after {
    content: none !important;
  }

  button {
    color: $button-default-color !important;
    background-color: $button-default-bg !important;
    border-color: $button-default-border !important;
  }

  aside,
  footer,
  header::before,
  iframe,
  ish-account-navigation,
  ish-back-to-top,
  ish-category-navigation,
  ish-checkout-progress-bar,
  ish-filter-navigation,
  ish-lazy-product-compare-status,
  ish-lazy-search-box,
  ish-lazy-quickorder-link,
  ish-product-detail-actions,
  ish-product-list-toolbar,
  ish-recently-viewed,
  nav,
  .fa-ban,
  .fa-cart-shopping,
  .fa-pencil,
  .fa-print,
  .fa-trash-can,
  .header-utility,
  .marketing-area,
  .navbar-toggler,
  .product-tile-actions,
  .share-label,
  .toast-container,
  .user-links {
    display: none !important;
  }

  .details-link,
  .all-variations-link,
  .noprint {
    display: none;
  }

  .budget-bar-used {
    background-color: transparent;
    border: 1px solid $color-special-primary;
  }

  button,
  .budget-bar,
  .cost-summary,
  .infobox {
    background-color: transparent !important;
    border: 1px solid $border-color-light !important;
  }

  .line-item-list {
    .list-header,
    .list-item-row {
      margin-right: 2.5%;
    }
  }

  .line-item-list,
  .order-summary {
    display: inline-block;
    break-before: page !important;
    page-break-before: always !important; /* Older browser versions */
  }

  .logo {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
  }
}
