// SHARE TOOLS

.share-tools {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    width: 50px;
    height: 27px;
    padding: 0 divide($space-default * 2, 3);
    margin: 0;
    font-size: 18px;

    // due to the whitespace in the share icon (last icon) it's aligned left to make the gaps look visually more uniform
    &:not(:last-child) {
      text-align: center;
    }

    .add-to-wishlist {
      margin: 0 !important;
    }

    button {
      padding: 0;
      background-color: transparent;
      border: 0;
    }
  }

  .ng-fa-icon {
    font-size: 22px;
    color: $text-color-corporate;
    vertical-align: middle;

    &:hover {
      color: $CORPORATE-SECONDARY;
    }
  }
}

// MY ACCOUNT - TOOLBAR
.account-wrapper {
  .share-tools {
    margin-bottom: $space-default;
  }
}
