:root {
  --swiper-navigation-color: #{$text-color-primary};
  --swiper-navigation-next-icon-bg: #{escape-svg($carousel-control-next-icon-bg)};
  --swiper-navigation-prev-icon-bg: #{escape-svg($carousel-control-prev-icon-bg)};
  --swiper-navigation-icon-width: #{$carousel-control-icon-width};
  --swiper-pagination-bottom: '0';
  --swiper-pagination-color: #{$text-color-primary};
}
