.swiper {
  padding-bottom: 20px;

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet-active {
      background: $text-color-primary;
    }

    .swiper-pagination-bullet {
      &:only-child {
        visibility: hidden;
      }

      position: relative;
      width: 24px;
      height: 24px;
      margin: 0;
      background: transparent;
      opacity: 1;
    }

    .swiper-pagination-bullet::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      content: '';
      background-color: $text-color-quaternary;
      border-radius: 50%;
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    .swiper-pagination-bullet-active::before {
      background-color: $text-color-primary;
    }
  }
}

.swiper-slide {
  padding-right: $space-default;
  padding-left: $space-default;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  z-index: 10;
  width: $carousel-control-icon-width;
  height: 100%;
  cursor: pointer;
  background: no-repeat 50% / 100% 100%;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &.swiper-button-disabled {
    opacity: 0;
  }
}

.swiper-button-next {
  right: 0;
  background-image: escape-svg($carousel-control-next-icon-bg);

  &::after {
    content: '';
  }
}

.swiper-button-prev {
  background-image: escape-svg($carousel-control-prev-icon-bg);

  &::after {
    content: '';
  }
}
