<ng-container *ngFor="let entry of entries | async">
  <div class="radio">
    <label>
      <input type="radio" name="radio" [value]="entry.value" [formControl]="fc" />
      {{ entry.label | translate }}
    </label>
  </div>
</ng-container>
<ng-container *ngIf="to.newInput">
  <div class="radio">
    <label class="d-flex align-items-center">
      <input type="radio" name="radio" [formGroup]="field.form" value="new" [formControl]="fc" />
      <formly-form [fields]="newInputConfig"></formly-form>
    </label>
  </div>
</ng-container>
