<button
  type="button"
  class="btn btn-secondary btn-block"
  [ngClass]="cssClass"
  (click)="openModal(modal)"
  [disabled]="displaySpinner()"
  data-testing-id="addOrderToOrderTemplateButton"
>
  <ng-container *ngIf="this.displaySpinner() !== true; else spinning">
    {{ 'order_template.create.heading' | translate }}
  </ng-container>
  <!-- spinning animation after clicking button -->
  <ng-template #spinning>
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true" ngClass="pr-3" />
    <span>{{ 'common.button.spinning.label' | translate }}</span>
  </ng-template>
</button>

<ish-order-template-preferences-dialog
  #modal
  modalTitle="account.order_template.new_from_order.heading"
  (submitOrderTemplate)="createOrderTemplate($event)"
/>
