<div class="d-grid">
  <button
    class="btn btn-secondary"
    data-testing-id="addOrderToOrderTemplateButton"
    type="button"
    [disabled]="displaySpinner()"
    [ngClass]="cssClass"
    (click)="openModal(modal)"
  >
    @if (displaySpinner() !== true) {
      {{ 'order_template.create.heading' | translate }}
    } @else {
      <!-- spinning animation after clicking button -->
      <i class="bi bi-arrow-clockwise spin-icon"></i>
      <span>{{ 'common.button.spinning.label' | translate }}</span>
    }
    &nbsp;
  </button>
</div>

<ish-order-template-preferences-dialog
  #modal
  modalTitle="account.order_template.new_from_order.heading"
  (submitOrderTemplate)="createOrderTemplate($event)"
/>
