<div class="d-grid">
  <button
    type="button"
    class="btn btn-secondary"
    [ngClass]="cssClass"
    (click)="openModal(modal)"
    [disabled]="displaySpinner()"
    data-testing-id="addOrderToOrderTemplateButton"
  >
    @if (displaySpinner() !== true) {
    {{ 'order_template.create.heading' | translate }}
    } @else {
    <!-- spinning animation after clicking button -->
    <i class="bi bi-arrow-clockwise spin-icon"></i>
    <span>{{ 'common.button.spinning.label' | translate }}</span>
    }&nbsp;
  </button>
</div>

<ish-order-template-preferences-dialog
  #modal
  modalTitle="account.order_template.new_from_order.heading"
  (submitOrderTemplate)="createOrderTemplate($event)"
/>
