<ul class="navbar-nav main-navigation-list">
  <ng-container *ngTemplateOutlet="categoryTemplate"></ng-container>
</ul>
<!--- Category Template -->
<ng-template #categoryTemplate>
  <li
    *ngFor="let category of categories$ | async"
    #submenu
    class="dropdown"
    [ngClass]="{ open: isOpened(category.uniqueId) }"
    (mouseover)="subMenuShow(submenu)"
    (mouseleave)="subMenuHide(submenu)"
    (click)="subMenuHide(submenu)"
  >
    <a
      [routerLink]="category.url"
      [attr.data-testing-id]="category.uniqueId + '-link'"
      [ngStyle]="{ width: !category.hasChildren ? '100%' : '' }"
    >
      {{ category.name }}
    </a>
    <ng-container *ngIf="category.hasChildren">
      <a class="dropdown-toggle" (click)="toggleOpen(category.uniqueId)">
        <fa-icon *ngIf="isOpened(category.uniqueId); else closed" [icon]="['fas', 'minus']"></fa-icon>
        <ng-template #closed> <fa-icon [icon]="['fas', 'plus']"></fa-icon> </ng-template>
      </a>
      <ish-sub-category-navigation
        [categoryUniqueId]="category.uniqueId"
        [subCategoriesDepth]="1"
        [view]="view"
      ></ish-sub-category-navigation>
    </ng-container>
  </li>
</ng-template>
