<ish-input
  *ngIf="field && field.templateOptions && !field.hide"
  [form]="form"
  [controlName]="castControlName(field.key)"
  [type]="field.templateOptions.type"
  [label]="field.templateOptions.label"
  labelClass="col-form-label col-md-4"
  inputClass="col-sm-6"
  [placeholder]="field.templateOptions.placeholder"
  [min]="field.templateOptions.min"
  [max]="field.templateOptions.max"
  [maxlength]="field.templateOptions.maxLength"
  [errorMessages]="castErrorMessages(field.templateOptions.attributes)"
>
</ish-input>
