@if ((visible$ | async) && (editMode$ | async); as editMode) {
<div class="section" data-testing-id="basket-custom-fields">
  <h2 class="h3">{{ 'shopping_cart.custom_fields.heading' | translate }}</h2>
  @if (collapsed) {
  <ish-custom-fields-view [fields]="customFields$ | async" />
  }
  <button
    type="button"
    class="btn btn-link btn-link-with-icon"
    [attr.aria-expanded]="!collapsed"
    aria-controls="basket-custom-fields-input"
    (click)="collapsed = !collapsed"
    data-testing-id="basket-custom-fields-toggle-link"
  >
    {{
      (editMode === 'edit'
        ? 'checkout.custom-fields.basket.edit.link.label'
        : 'checkout.custom-fields.basket.add.link.label'
      ) | translate
    }}
    <i class="bi" [ngClass]="collapsed ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
  </button>
  <div id="basket-custom-fields-input" [ngbCollapse]="collapsed">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ish-custom-fields-formly [form]="form" [fields]="customFields$ | async" />
      <div class="row">
        <div class="col-12 offset-md-4 col-md-8">
          <button type="submit" class="btn btn-primary">
            {{
              (editMode === 'edit'
                ? 'checkout.custom-fields.save.button.label'
                : 'checkout.custom-fields.add.button.label'
              ) | translate
            }}
          </button>
          <button (click)="cancel()" type="button" class="btn btn-secondary">
            {{ 'checkout.custom-fields.cancel.button.label' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
}
