{{ $params := (datasource "cachingIgnoreParams").params -}}
{{ if $params }}
  {{ range  $params -}}
    if ($c_uri ~ (.*)(?:&|^){{ . }}=[^&]*(.*)) { set $c_uri $1$2 ; }
  {{ end -}}

  # remove dangling &
  if ($c_uri ~ ^&(.*)) {
    set $c_uri $1;
  }

  set $c_uri $is_args$c_uri;

  # remove lonely ?
  if ($c_uri ~ ^\?$) {
      set $c_uri "";
  }

  # finally we have stripped out parameters and have nice cache key
  set $c_uri $scheme://$host$uri$c_uri;

{{ end }}
