location = /memcset {
    internal;
    memc_connect_timeout 100ms;
    memc_send_timeout 100ms;
    memc_read_timeout 100ms;
    client_max_body_size 0;

    set_unescape_uri $memc_key $arg_key;

    set_by_lua_block $memc_exptime {
        if ngx.var.arg_exptime ~= nil then
            if tonumber(ngx.var.arg_exptime) > 2592000 then
                return "2592000"
            end
            return ngx.var.arg_exptime
        end
        return "0"
    }

    memc_pass memcached_set;
}

location = /memcget {
    internal;
    memc_connect_timeout 100ms;
    memc_send_timeout 100ms;
    memc_read_timeout 100ms;
    client_max_body_size 0;

    set_unescape_uri $memc_key $arg_key;

    memcached_next_upstream not_found;
    memcached_next_upstream_tries 3;
    memcached_next_upstream_timeout 1s;

    memc_pass memcached_get;
}
