<ish-modal-dialog
  #conflictResolutionDialog
  [options]="{
    titleText: 'CONFLICT_TRANSLATE_ME',
    confirmText: 'Accept New',
    rejectText: 'Keep Current'
  }"
  (confirmed)="acceptResolution()"
>
  <p class="text-center">{{ 'To resolve your selection, the following parameters must be changed' }}</p>
  <div class="row" *ngFor="let conflict of conflictResolutionDialog.data">
    <div class="col-12 text-center">{{ conflict.description }}</div>
    <div class="col-5 text-right">{{ conflict.oldValueDescription }}</div>
    <div class="col-2 text-center">=></div>
    <div class="col-5 text-left">{{ conflict.newValueDescription }}</div>
  </div>
</ish-modal-dialog>

<div *ngIf="product$ | async as product" class="row flex-nowrap">
  <div class="tacton-navigation col-md-3">
    <ish-tacton-configure-navigation></ish-tacton-configure-navigation>
  </div>
  <div *ngIf="state$ | async as state" class="tacton-sidebar d-none d-md-block d-md-3">
    <ish-product-image [product]="product" imageType="M" class="product-image"></ish-product-image>
    <ish-tacton-bom [bom]="state.bom"></ish-tacton-bom>
  </div>
  <div class="tacton-main-panel col-md-6">
    <ish-tacton-group [group]="step$ | async"></ish-tacton-group>
    <div class="tacton-buttonbar">
      <ish-tacton-step-buttons></ish-tacton-step-buttons>
    </div>
  </div>
</div>

<ish-loading *ngIf="loading$ | async"></ish-loading>
