@if (viewMode) {
  <div class="d-flex flex-row align-items-center">
    <ng-content select="[viewModeContent]" />
    <button
      class="btn btn-link"
      type="button"
      [ngClass]="buttonClass"
      [title]="
        ariaLabelName === ''
          ? ('inplace_edit.click_to_edit' | translate)
          : ('inplace_edit.label' | translate: { '0': ariaLabelName | translate })
      "
      (click)="toggleEditMode(true)"
    >
      <i class="bi bi-pencil-fill me-auto"></i>
    </button>
  </div>
} @else {
  <div class="d-flex flex-row align-items-baseline">
    <ng-content select="[editModeForm]" />
    <button
      class="btn btn-link"
      data-testing-id="confirm"
      type="button"
      [disabled]="confirmDisabled"
      [ngClass]="buttonClass"
      [title]="'inplace_edit.save' | translate"
      (click)="confirm()"
    >
      <i class="bi bi-check-lg"></i>
    </button>
    <button
      class="btn btn-link"
      data-testing-id="cancel"
      type="button"
      [ngClass]="buttonClass"
      [title]="'inplace_edit.cancel' | translate"
      (click)="cancel()"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>
}
