<ng-container *ngIf="quote$ | async as quote">
  <form [formGroup]="form" class="form-horizontal">
    <div class="row">
      <div class="col-4 col-md-3 col-xl-2 col-form-label">
        {{ 'quote.edit.unsubmitted.quote_no.label' | translate }}
      </div>
      <div class="col-8 col-md-9 col-xl-10">
        <p class="form-control-plaintext">{{ quote.number }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-3 col-xl-2 col-form-label">{{ 'quote.edit.unsubmitted.status.label' | translate }}</div>
      <div class="col-8 col-md-9 col-xl-10">
        <p class="form-control-plaintext"><ish-quote-state [quoteId]="quote.id" /></p>
      </div>
    </div>

    <div class="section">
      <!-- displayName -->
      <div class="row">
        <label for="quote-displayname" class="col-4 col-md-3 col-xl-2 col-form-label">{{
          'quote.edit.unsubmitted.name.label' | translate
        }}</label>
        <div class="col-8 col-md-9 col-xl-10">
          <ish-in-place-edit (edited)="update()" (aborted)="reset()" ariaLabelName="quote.edit.unsubmitted.name.label">
            <p class="form-control-plaintext w-auto" [ngClass]="{ 'font-italic': !form.get('displayName').value }">
              {{ form.get('displayName').value || 'quote.edit.unsubmitted.enter_an_optional_name.text' | translate }}
            </p>
            <input type="text" formControlName="displayName" class="form-control" id="quote-displayname" />
          </ish-in-place-edit>
        </div>
      </div>

      <!-- Comment -->
      <div class="row">
        <label for="quote-description" class="col-4 col-md-3 col-xl-2 col-form-label">{{
          'quote.edit.unsubmitted.comment.label' | translate
        }}</label>
        <div class="col-8 col-md-9 col-xl-10">
          <ish-in-place-edit
            (edited)="update()"
            (aborted)="reset()"
            ariaLabelName="quote.edit.unsubmitted.comment.label"
          >
            <p class="form-control-plaintext w-auto" [ngClass]="{ 'font-italic': !form.get('description').value }">
              {{ form.get('description').value || 'quote.edit.unsubmitted.provide_comment.text' | translate }}
            </p>
            <textarea formControlName="description" class="form-control" id="quote-description"> </textarea>
          </ish-in-place-edit>
        </div>
      </div>
    </div>

    <!-- Quote Item List -->
    <div class="section">
      <h3>{{ 'quote.items.table.heading' | translate }}</h3>
      <ish-quote-line-item-list *ngIf="quote.items" />
    </div>
  </form>
</ng-container>
