@if (quote$ | async; as quote) {
  <form class="form-horizontal" [formGroup]="form">
    <div class="row">
      <div class="col-4 col-md-3 col-xl-2 col-form-label">
        {{ 'quote.edit.unsubmitted.quote_no.label' | translate }}
      </div>
      <div class="col-8 col-md-9 col-xl-10">
        <p class="form-control-plaintext">{{ quote.number }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-md-3 col-xl-2 col-form-label">{{ 'quote.edit.unsubmitted.status.label' | translate }}</div>
      <div class="col-8 col-md-9 col-xl-10">
        <p class="form-control-plaintext"><ish-quote-state [quoteId]="quote.id" /></p>
      </div>
    </div>
    <div class="section">
      <!-- displayName -->
      <div class="row">
        <label class="col-4 col-md-3 col-xl-2 col-form-label" for="quote-displayname"
          >{{ 'quote.edit.unsubmitted.name.label' | translate }}:</label
        >
        <div class="col-8 col-md-9 col-xl-10">
          <ish-in-place-edit
            #inPlaceEditName
            ariaLabelName="quote.edit.unsubmitted.name.label"
            (aborted)="reset()"
            (edited)="update()"
          >
            <p
              class="form-control-plaintext w-auto"
              viewModeContent
              [ngClass]="{ 'fst-italic': !form.get('displayName').value }"
            >
              {{ form.get('displayName').value || 'quote.edit.unsubmitted.enter_an_optional_name.text' | translate }}
            </p>
            <input
              class="form-control"
              editModeForm
              formControlName="displayName"
              id="quote-displayname"
              type="text"
              (keydown.enter)="inPlaceEditName.confirm()"
              (keydown.esc)="inPlaceEditName.cancel()"
            />
          </ish-in-place-edit>
        </div>
      </div>
      <!-- Comment -->
      <div class="row">
        <label class="col-4 col-md-3 col-xl-2 col-form-label" for="quote-description"
          >{{ 'quote.edit.unsubmitted.comment.label' | translate }}:</label
        >
        <div class="col-8 col-md-9 col-xl-10">
          <ish-in-place-edit
            #inPlaceEditComment
            ariaLabelName="quote.edit.unsubmitted.comment.label"
            (aborted)="reset()"
            (edited)="update()"
          >
            <p
              class="form-control-plaintext w-auto"
              viewModeContent
              [ngClass]="{ 'fst-italic': !form.get('description').value }"
            >
              {{ form.get('description').value || 'quote.edit.unsubmitted.provide_comment.text' | translate }}
            </p>
            <textarea
              class="form-control"
              editModeForm
              formControlName="description"
              id="quote-description"
              (keydown.enter)="inPlaceEditComment.confirm()"
              (keydown.esc)="inPlaceEditComment.cancel()"
            >
            </textarea>
          </ish-in-place-edit>
        </div>
      </div>
    </div>
    <!-- Quote Item List -->
    <ish-quote-line-item-list />
  </form>
}
