@if (isDesignViewMode && type) {
  <div
    class="design-view-wrapper"
    scrollContainer="root"
    [ishScroll]="shouldScroll$ | async"
    [ngClass]="[
      type,
      (isPageletSelected$ | async) ? 'pagelet-selected' : '',
      (isPageletPreviewed$ | async) ? 'pagelet-previewed' : '',
    ]"
    [scrollDuration]="500"
    [scrollSpacing]="50"
    (mouseenter)="onPageletHover()"
    (mouseleave)="onPageletLeave()"
  >
    <div class="design-view-wrapper-actions">
      @switch (type) {
        <!-- pagelet -->
        @case ('pagelet') {
          @if (pagelet$ | async; as pagelet) {
            <button
              class="btn"
              type="button"
              title="{{
                ('designview.edit.link.title' | translate) + (pagelet.displayName ? ' ' + pagelet.displayName : '')
              }}"
              (click)="triggerAction(pagelet.id, 'pageletEdit')"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
            <!--
            <button
              (click)="triggerAction(pagelet.id, 'pageletDelete')"
              class="btn"
              title="{{ 'designview.delete.link.title' | translate }}"
              >
              <i class="bi bi-trash-fill"></i>
            </button>
            -->
          }
        }
        <!-- slot -->
        @case ('slot') {
          <div class="name">{{ pagelet.slot(this.slotId).displayName }}</div>
          <button
            class="btn"
            type="button"
            title="{{ 'designview.add.link.title' | translate }}"
            (click)="triggerAction(this.slotId, 'slotAdd')"
          >
            <i class="bi bi-plus"></i>
          </button>
        }
        <!-- include -->
        @case ('include') {
          <div class="name">{{ include.displayName }}</div>
          <button
            class="btn"
            type="button"
            title="{{ 'designview.add.link.title' | translate }}"
            (click)="triggerAction(include.id, 'includeAdd')"
          >
            <i class="bi bi-plus"></i>
          </button>
        }
      }
    </div>
    <ng-container *ngTemplateOutlet="cmsOutlet" />
  </div>
} @else {
  <ng-container *ngTemplateOutlet="cmsOutlet" />
}

<ng-template #cmsOutlet>
  <ng-content />
</ng-template>
