@if (isDesignViewMode && type) {
  <div
    class="design-view-wrapper"
    scrollContainer="root"
    [ishScroll]="shouldScroll$ | async"
    [ngClass]="[
      type,
      (isPageletSelected$ | async) ? 'pagelet-selected' : '',
      (isPageletPreviewed$ | async) ? 'pagelet-previewed' : '',
    ]"
    [scrollDuration]="500"
    [scrollSpacing]="50"
    (mouseenter)="onPageletHover()"
    (mouseleave)="onPageletLeave()"
  >
    <div class="design-view-wrapper-actions">
      @switch (type) {
        <!-- pagelet -->
        @case ('pagelet') {
          @if (pagelet$ | async; as pagelet) {
            @let editLinkTitle =
              ('designview.edit.link.title' | translate) + (pagelet.displayName ? ` ${pagelet.displayName}` : '');
            <button
              class="btn"
              title="{{ editLinkTitle }}"
              type="button"
              [attr.aria-label]="editLinkTitle"
              (click)="triggerAction(pagelet.id, 'pageletEdit')"
            >
              <i aria-hidden="true" class="bi bi-pencil-fill"></i>
            </button>
            <!--
            <button
              class="btn"
              title="{{ 'designview.delete.link.title' | translate }}"
              [attr.aria-label]="'designview.delete.link.title' | translate"
              (click)="triggerAction(pagelet.id, 'pageletDelete')"
            >
              <i aria-hidden="true" class="bi bi-trash-fill"></i>
            </button>
            -->
          }
        }
        <!-- slot -->
        @case ('slot') {
          <div class="name">{{ pagelet.slot(slotId).displayName }}</div>
          <button
            class="btn"
            title="{{ 'designview.add.link.title' | translate }}"
            type="button"
            [attr.aria-label]="'designview.add.link.title' | translate"
            (click)="triggerAction(slotId, 'slotAdd')"
          >
            <i aria-hidden="true" class="bi bi-plus"></i>
          </button>
        }
        <!-- include -->
        @case ('include') {
          <div class="name">{{ include.displayName }}</div>
          <button
            class="btn"
            title="{{ 'designview.add.link.title' | translate }}"
            type="button"
            [attr.aria-label]="'designview.add.link.title' | translate"
            (click)="triggerAction(include.id, 'includeAdd')"
          >
            <i aria-hidden="true" class="bi bi-plus"></i>
          </button>
        }
      }
    </div>
    <ng-container *ngTemplateOutlet="cmsOutlet" />
  </div>
} @else {
  <ng-container *ngTemplateOutlet="cmsOutlet" />
}

<ng-template #cmsOutlet>
  <ng-content />
</ng-template>
