@import 'variables';

// DesignView colors
$design-view-color-pagelet: #00b8d9;
$design-view-color-slot: #399;
$design-view-color-include: #ce5399;

.design-view-wrapper {
  position: relative;

  > .design-view-wrapper-actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: flex-end;
    color: $color-inverse;

    .name {
      padding: 0 $space-default;
      white-space: nowrap;
    }

    .btn {
      margin-bottom: 0;
      font-size: 20px;
      color: $color-inverse;
    }
  }

  &.pagelet.last-design-view-wrapper {
    /*
     * Highlight only the last .pagelet element in the hierarchy and highlight neither slot nor include.
     * The class .last-design-view-wrapper is applied in TypeScript because &.pagelet:not(:has(.design-view-wrapper))
     * does not work in Firefox yet. So it cannot be done in CSS only.
    */

    &:hover {
      &::before {
        // create highlighted wrapping element which overlays the component
        position: absolute;
        top: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none; // important not to block mouse events on included components
        content: '';
        border: 2px solid $design-view-color-pagelet;
      }

      > .design-view-wrapper-actions {
        display: flex;
      }
    }

    &.slot,
    &.include {
      min-width: 100px;
      min-height: 30px;
    }

    &.pagelet {
      > .design-view-wrapper-actions {
        background-color: $design-view-color-pagelet;
      }

      &:hover {
        outline-color: $design-view-color-pagelet;
      }
    }

    &.slot {
      > .design-view-wrapper-actions {
        background-color: $design-view-color-slot;
      }

      &:hover {
        outline-color: $design-view-color-slot;
      }
    }

    &.include {
      > .design-view-wrapper-actions {
        background-color: $design-view-color-include;
      }

      &:hover {
        outline-color: $design-view-color-include;
      }
    }
  }
}
