import { NgModule } from '@angular/core';

import { loadFeatureProvider } from 'ish-core/utils/feature-toggle/feature-toggle.service';

@NgModule({
  imports: [FeatureToggleModule],
  providers: [
    loadFeatureProvider('<%= camelize(name) %>', true, {
      location: () => import('../store/<%= dasherize(name) %>-store.module').then(m => m.<%= classify(name) %>StoreModule)
    }),
  ],
  declarations: [],
  exports: [],
})
export class <%= classify(name) %>ExportsModule {}
