<!-- Warranty -->
<ng-container *ngIf="(productHasWarranties$ | async) && pli">
  <div class="row">
    <!-- check if warranty can be edited, else only display its name -->
    <div class="offset-2 col-7 col-md-6 list-item pt-1">
      <ish-product-warranty
        (submitWarranty)="updateLineItemWarranty($event)"
        [selectedWarrantySku]="pli.warranty?.sku"
        [viewType]="editable ? 'select' : 'display'"
      />
    </div>
    <ng-container *ngIf="pli.warranty">
      <!-- Warranty Single Price: ToDo - is not yet available -->
      <div class="col-md-2 d-none d-md-block list-item column-price single-price"></div>

      <!-- Warranty Total Price -->
      <div class="col-3 col-md-2 list-item column-price">{{ pli.warranty.price | ishPrice }}</div>
    </ng-container>
  </div>
</ng-container>
