<p class="indicates-required"><span class="required">*</span>{{'account.required_field.message' | translate}}</p>
<fieldset [formGroup]="credentialsForm">
  <!-- for debugging purposes -->
  <!-- <p>Form value: {{ credentialsForm.value | json }}</p>
  <p>Form status: {{ credentialsForm.status | json }}</p> -->

  <!-- Login and login confirm -->
  <ish-input
    [form]="credentialsForm"
    controlName="login"
    type= "email"
    label="account.register.email.label"
    [errorMessages]="{
      'required':'account.update_email.email.error.notempty' ,
      'email':'account.update_email.email.error.email'}"
  ></ish-input>

  <ish-input
    [form]="credentialsForm"
    controlName="loginConfirmation"
    type= "email"
    markRequiredLabel="on"
    label="account.register.email_confirmation.label"
    [errorMessages]="{
      'required':'account.update_email.email.error.notempty',
      'email':'account.update_email.email.error.email',
      'equalTo': 'account.registration.email.not_match.error'}"
  ></ish-input>

  <ish-input
    [form]="credentialsForm"
    controlName="password"
    type= "password"
    label="account.register.password.label"
    [errorMessages]="{
      'required':'account.update_password.new_password.error.required',
      'minLength':'account.update_password.new_password.error.length',
      'password':'account.update_password.new_password.error.regexp'}"
  ><small class="input-help">{{ 'account.register.password.extrainfo.message' | translate:{'0': '7'} }}</small>
  </ish-input>

  <ish-input
    [form]="credentialsForm"
    controlName="passwordConfirmation"
    type= "password"
    markRequiredLabel="on"
    label="account.register.password_confirmation.label"
    [errorMessages]="{
      'required':'account.register.password_confirmation.error.default',
      'password':'account.update_password.new_password.error.regexp',
      'equalTo': 'account.update_password.confirm_password.error.stringcompare'}"
  ></ish-input>

  <ish-select-security-question
    [form]="credentialsForm"
  ></ish-select-security-question>

  <ish-input
    [form]="credentialsForm"
    controlName="securityQuestionAnswer"
    label="account.register.security_answer.label"
    [errorMessages]="{'required':'account.register.security_answer.error.required'}"
  ></ish-input>

  <div *ngIf="emailOptIn">
    <div class="checkbox">
      <label class="control-label col-sm-12" for="newsletter">
        <input
          formControlName="newsletter"
          type="checkbox"
          id="newsletter"
        />
        {{'account.register.newsletter.checkbox.text' | translate}}
      </label>
    </div>
    <div class="col-sm-12">
      <small class="input-help" [innerHTML] = "'account.register.email.supplementary_text' | translate:{'0': '/PrivacyPolicy'}" ></small>
    </div>
  </div>
 </fieldset>

