<p>{{ 'helpdesk.contactus.prolog' | translate }}</p>
<p class="indicates-required"><span class="required">*</span>{{ 'helpdesk.contactus.indicates' | translate }}</p>
<form class="form-horizontal" [formGroup]="contactForm" name="ContactUsForm" (ngSubmit)="submitForm()">
  <formly-form [form]="contactForm" [fields]="fields" [model]="model$ | async"></formly-form>

  <div class="row form-group">
    <div class="offset-md-4 col-md-8">
      <input
        type="submit"
        [disabled]="formDisabled"
        data-testing-id="submitContact"
        class="btn btn-primary"
        value="{{ 'helpdesk.contactus.submit' | translate }}"
      />
    </div>
  </div>
</form>
