<div data-testing-id="checkout-shipping-page">
  <h1>{{ 'checkout.shipping.pagetitle' | translate }}</h1>

  <div class="row">
    <!-- Messages -->
    <div class="col-md-12">
      <ng-container *ngIf="basketError$ | async as error">
        <ish-error-message [error]="error" [toast]="false" />
        <ish-basket-error-message [error]="error" />
      </ng-container>
      <ish-basket-validation-results />
    </div>
    <!-- Shipping method form-->
    <div *ngIf="shippingMethods$ | async as shippingMethods" class="col-md-12 col-lg-8">
      <div class="section">
        <div *ngIf="shippingMethods.length; else noShippingMethods" class="shipping-methods">
          <div *ngIf="(basketError$ | async) === undefined && nextDisabled" role="alert" class="alert alert-danger">
            {{ 'checkout.shipping_method.no_Selection.error' | translate }}
          </div>
          <h2 class="h3">{{ 'checkout.shipping_method.selection.heading' | translate }}</h2>
          <ish-checkout-shipping />
        </div>

        <ng-template #noShippingMethods>
          <div role="alert" class="alert alert-danger">{{ 'checkout.shipping.no_methods.message' | translate }}</div>
          <a routerLink="/basket">{{ 'checkout.general.back_to_cart.button.label' | translate }}</a>
        </ng-template>
      </div>

      <ng-container *ngIf="isDesiredDeliveryDate$ | async">
        <ish-basket-desired-delivery-date [basket]="basket$ | async" />
      </ng-container>

      <ng-container *ngIf="isBusinessCustomer$ | async">
        <ish-basket-order-reference [basket]="basket$ | async" />
      </ng-container>

      <ng-container *ngIf="'shipping.messageToMerchant' | ishServerSetting">
        <ish-basket-merchant-message [basket]="basket$ | async" />
      </ng-container>
    </div>
    <!-- basket summary -->
    <div class="col-md-12 col-lg-4 order-summary" *ngIf="basket$ | async as basket">
      <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
      <ish-basket-address-summary [basket]="basket" />
      <ish-basket-items-summary [basket]="basket" />

      <div class="cost-summary">
        <ish-basket-cost-summary [totals]="basket.totals" />

        <button
          class="btn btn-lg btn-block btn-primary"
          type="button"
          [disabled]="nextDisabled"
          (click)="goToNextStep()"
        >
          {{ 'checkout.button.label' | translate }}
        </button>
      </div>
      <!-- Privacy policy link -->
      <span
        [ishServerHtml]="
          'checkout.widget.security_privacy_policy.link'
            | translate : { '0': 'page://page.privacyPolicy.pagelet2-Page' }
        "
      ></span>
    </div>

    <ish-loading *ngIf="loading$ | async" />
  </div>
</div>
