<a class="compare-status" routerLink="/compare" rel="nofollow">
  <fa-icon class="header-icon" [icon]="['fas', 'check']"></fa-icon>
  <span class="compare-count-text">
    <div id="compare-count">{{ productCompareCount }}</div>
    <span class="d-none d-md-inline">{{ 'product.compare.link' | translate }}</span>
  </span>

  <!-- <span class="glyphicon-equalizer glyphicon glyphicon-header-icon"></span>
  <span class="compare-count-text">
    <div id="compare-count">{{ productCompareCount }}</div>
    <span class="d-none d-md-block">{{ 'product.compare.link' | translate }}</span>
  </span> -->
</a>
