<div class="d-md-flex align-items-center section">
  <div class="d-flex flex-row align-items-center">
    <h1 class="pe-2">
      {{ 'account.organization.cost_center_management' | translate }}
    </h1>
    <ish-budget-info [suffix]="'account.organization.budget_price_type.suffix.info'" />
  </div>
  <div class="ms-auto py-2">
    @if (!!(costCentersError$ | async) === false) {
    <a routerLink="create" class="btn btn-secondary" data-testing-id="add-cost-center-link">{{
      'account.costcenter.list.link.add' | translate
    }}</a>
    }
  </div>
</div>

<div class="loading-container">
  <ish-cost-centers-filter (modelChange)="loadFilteredCostCenters($event)" />

  @if (costCentersForPage$ | async; as costCenters) { @if (costCenters.length > 0) {

  <table cdk-table [dataSource]="costCenters" class="table table-lg mobile-optimized" data-testing-id="costCenter-list">
    <!-- Cost Center Id -->
    <ng-container cdkColumnDef="costCenterId">
      <th scope="col" cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-id">
        {{ 'account.costcenter.list.header.no' | translate }}
      </th>
      <td cdk-cell *cdkCellDef="let costCenter" [attr.data-label]="'account.costcenter.list.header.no' | translate">
        <a [routerLink]="[costCenter.id]">{{ costCenter.costCenterId }}</a
        >@if (costCenter.active === false) {
        <span class="input-help"> {{ 'account.costCenter.status.inactive' | translate }}</span>
        }
      </td>
    </ng-container>

    <!-- Cost Center Name -->
    <ng-container cdkColumnDef="costCenterName">
      <th scope="col" cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-name">
        {{ 'account.costcenter.list.header.name' | translate }}
      </th>
      <td cdk-cell *cdkCellDef="let costCenter" [attr.data-label]="'account.costcenter.list.header.name' | translate">
        <a [routerLink]="[costCenter.id]">{{ costCenter.name }}</a>
      </td>
    </ng-container>

    <!-- Cost Center Manager -->
    <ng-container cdkColumnDef="costCenterManager">
      <th scope="col" cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-manager">
        {{ 'account.costcenter.list.header.manager' | translate }}
      </th>
      <td
        cdk-cell
        *cdkCellDef="let costCenter"
        [attr.data-label]="'account.costcenter.list.header.manager' | translate"
      >
        {{ costCenter.costCenterOwner.firstName }} {{ costCenter.costCenterOwner.lastName }}
      </td>
    </ng-container>

    <!-- Cost Center Budget -->
    <ng-container cdkColumnDef="costCenterBudget">
      <th scope="col" cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-budget">
        {{ 'account.costcenter.list.header.budgetspent' | translate }}
      </th>
      <td
        cdk-cell
        *cdkCellDef="let costCenter"
        [attr.data-label]="'account.costcenter.list.header.budgetspent' | translate"
      >
        <ish-cost-center-budget [costCenter]="costCenter" />
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container cdkColumnDef="actions">
      <th scope="col" cdk-header-cell *cdkHeaderCellDef data-testing-id="th-costCenter-actions"></th>
      <td cdk-cell *cdkCellDef="let costCenter" class="column-price">
        @if (isEditable(costCenter) | async) {

        <!-- Deactivate -->
        @if (costCenter.active) {
        <button
          type="button"
          class="btn-tool btn-link"
          title="{{ 'account.costcenter.deactivate.button.title' | translate }}"
          (click)="openConfirmationDialog(costCenter, deactivateDialog)"
          data-testing-id="deactivate-cost-center"
        >
          <fa-icon [icon]="['fas', 'ban']" />
        </button>
        } @else {

        <button
          type="button"
          class="btn-tool btn-link"
          title="{{ 'account.costcenter.activate.button.title' | translate }}"
          (click)="activate(costCenter)"
          data-testing-id="activate-cost-center"
        >
          <fa-icon [icon]="['fas', 'check-circle']" />
        </button>

        }

        <!-- Activate -->

        <!-- Delete -->
        <button
          type="button"
          class="btn-tool btn-link"
          [ngClass]="{ inactive: !isDeletable(costCenter) }"
          title="{{
            isDeletable(costCenter)
              ? ('account.costcenter.delete.link' | translate)
              : ('account.costcenter.delete.disabled.icon' | translate)
          }}"
          (click)="openConfirmationDialog(costCenter, deleteDialog)"
          data-testing-id="delete-cost-center"
        >
          <fa-icon [icon]="['fas', 'trash-alt']" />
        </button>

        }
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  } @else {
  <!-- Empty List -->
  <p data-testing-id="emptyList">
    {{
      !filtersActive
        ? ('account.costcenter.list.noitems' | translate)
        : ('account.costcenter.filter.no_results_found_message' | translate)
    }}
  </p>

  } @if (pagingInfo$ | async; as paging) { @if (paging.total > pageSize) {
  <div class="row">
    <div class="d-flex w-100 grey-panel align-items-center flex-wrap justify-content-between px-3 py-2 mb-3 mx-3">
      <span class="text-nowrap">{{ 'account.costcenter.paging.items.label' | translate : { '0': paging.total } }}</span>
      <ish-paging
        [currentPage]="pageNumber$ | async"
        [lastPage]="getTotalPages(paging.total)"
        (goToPage)="loadMoreCostCenters($event)"
      />
    </div>
  </div>
  } } } @if (costCentersLoading$ | async) {
  <ish-loading />
  }
</div>

<!--  dialogs -->
<ish-modal-dialog
  #deleteDialog
  [options]="{
    confirmText: 'account.costcenter.delete.button.label' | translate,
    rejectText: 'account.cancel.button.label' | translate,
    titleText: 'account.costcenter.delete_dialog.header' | translate : { '0': selectedCostCenter?.name }
  }"
  (confirmed)="delete()"
>
  {{ 'account.costcenter.delete.question' | translate }}
</ish-modal-dialog>

<ish-modal-dialog
  #deactivateDialog
  [options]="{
    confirmText: 'account.costcenter.deactivate.button.label' | translate,
    rejectText: 'account.cancel.button.label' | translate,
    titleText: 'account.costcenter.deactivate_dialog.header' | translate : { '0': selectedCostCenter?.name }
  }"
  (confirmed)="deactivate()"
>
  @if (selectedCostCenter?.pendingOrders || selectedCostCenter?.approvedOrders) {
  <p>
    {{
      'account.costcenter.deactivate.text'
        | translate
          : {
              '0': selectedCostCenter?.pendingOrders,
              '1': selectedCostCenter.approvedOrders,
              '2': selectedCostCenter?.name
            }
    }}
  </p>
  }
  {{ 'account.costcenter.deactivate.question' | translate }}
</ish-modal-dialog>
