@if (quote$ | async; as quote) {
  @if (state$ | async; as state) {
    @if (quote.items?.length) {
      <div class="clearfix">
        @if (state === 'New') {
          <button
            data-testing-id="submit-quote-request"
            type="submit"
            class="btn btn-primary float-end"
            (click)="submit()"
          >
            {{ 'quote.edit.button.submit.label' | translate }}
          </button>
        }
        @if (state === 'Responded' && (isQuoteValid$ | async)) {
          <button type="submit" class="btn btn-primary float-end" name="add2cart" (click)="addToBasket()">
            {{ 'quote.edit.button.add_quote_to_cart.label' | translate }}
          </button>
        }
        @if (quote.type === 'Quote' || state === 'Submitted') {
          <button
            data-testing-id="copy-quote-request"
            class="btn btn-secondary"
            name="copy"
            type="submit"
            (click)="copy()"
          >
            {{ 'quote.edit.button.create_new_from_quote.label' | translate }}
          </button>
        }
        @if (state === 'Responded') {
          <button type="submit" id="button-reject" class="btn btn-secondary float-end" name="refuse" (click)="reject()">
            {{ 'quote.edit.reject.button.reject.label' | translate }}
          </button>
        }
      </div>
    }
  }
}
