<div class="content-page">
  <ish-breadcrumb></ish-breadcrumb>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ 'quickorder.page.title' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>{{ 'quickorder.page.subtitle' | translate }}</h3>
      <p>{{ 'quickorder.page.subtitle.description' | translate }}</p>
      <ish-quickorder-add-products-form></ish-quickorder-add-products-form>
      <ish-quickorder-csv-form></ish-quickorder-csv-form>
    </div>
  </div>
  <ish-loading *ngIf="loading$ | async"></ish-loading>
</div>
