<div class="form-control-checkbox has-feedback" [ishShowFormFeedback]="formControl">
  <div class="form-check form-control">
    <label [for]="uuid">
      <input type="checkbox" [id]="uuid" [formControl]="formControl" [attr.data-testing-id]="controlName" />
      <span *ngIf="label">{{ label | translate }}<span *ngIf="required" class="required">*</span></span>
      <ng-content></ng-content>
    </label>
  </div>
  <ish-form-control-feedback [messages]="errorMessages" [control]="formControl"></ish-form-control-feedback>
</div>
