<div [formGroup]="addressForm">
  <fieldset>
    <ish-select-title [form]="addressForm" controlName="title" [titles]="titles"></ish-select-title>

    <ish-input
      [form]="addressForm"
      controlName="firstName"
      label="account.default_address.firstname.label"
      [errorMessages]="{
        required: 'account.address.firstname.missing.error',
        noSpecialChars: 'account.name.error.forbidden.chars'
      }"
    ></ish-input>

    <ish-input
      [form]="addressForm"
      controlName="lastName"
      label="account.default_address.lastname.label"
      [errorMessages]="{
        required: 'account.address.lastname.missing.error',
        noSpecialChars: 'account.name.error.forbidden.chars'
      }"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [form]="addressForm"
      controlName="addressLine1"
      label="account.default_address.street.label"
      [errorMessages]="{ required: 'account.address.address1.missing.error' }"
    ></ish-input>

    <ish-input
      [form]="addressForm"
      controlName="addressLine2"
      label="account.default_address.street2.label"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [form]="addressForm"
      controlName="postalCode"
      [maxlength]="5"
      label="account.default_address.postalcode.label"
      [errorMessages]="{
        required: 'account.address.postalcode.missing.error',
        pattern: 'account.address.fr.postalcode.error.regexp'
      }"
    ></ish-input>

    <ish-input
      [form]="addressForm"
      controlName="city"
      label="account.default_address.city.label"
      [errorMessages]="{ required: 'account.address.city.missing.error' }"
    ></ish-input>
  </fieldset>
</div>
