<!-- Error message -->
<ish-error-message [error]="wishlistError$ | async" />

<ng-container *ngIf="wishlist$ | async as wishlist">
  <h1>{{ wishlist?.title }}</h1>

  <div class="container">
    <ng-container *ngIf="wishlist.itemsCount && wishlist.itemsCount > 0; else noItems">
      <div class="list-header row">
        <div class="col-3 col-sm-3 list-header-item">{{ 'wishlist.table.header.item' | translate }}</div>
        <div class="col-sm-9 col-9 list-header-item column-price">
          {{ 'wishlist.table.header.price' | translate }}
        </div>
      </div>
      <div class="list-body">
        <ng-container *ngFor="let item of wishlist.items; trackBy: trackByFn">
          <div class="list-item-row">
            <ish-wishlist-line-item ishProductContext [sku]="item.sku" [wishlistItemData]="item" />
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <ng-template #noItems>
    <p>{{ 'wishlist.no_entries' | translate }}</p>
  </ng-template>
</ng-container>

<ish-loading *ngIf="wishlistLoading$ | async" />
