<h1>{{ 'account.recurring_orders.heading' | translate }}</h1>

<p>{{ 'account.recurring_orders.subtitle' | translate }}</p>

<ish-error-message [error]="recurringOrdersError$ | async" [toast]="false" />

<ul *ishIsAuthorizedTo="'APP_B2B_MANAGE_ORDERS'" ngbNav class="nav-tabs" [(activeId)]="context">
  <li ngbNavItem="MY" role="presentation">
    <a ngbNavLink [routerLink]="['../recurring-orders']">{{ 'account.recurring_orders.tab_my' | translate }}</a>
  </li>
  <li ngbNavItem="ADMIN" role="presentation">
    <a ngbNavLink [routerLink]="['../recurring-orders']" [queryParams]="{ context: 'ADMIN' }">{{
      'account.recurring_orders.tab_all' | translate
    }}</a>
  </li>
</ul>

<div class="recurring-orders">
  <ng-container *ngIf="recurringOrders$ | async as recurringOrders">
    <ish-recurring-order-list
      [recurringOrders]="recurringOrders"
      [columnsToDisplay]="columnsToDisplay"
      [context]="context"
    />
  </ng-container>
</div>

<ish-loading *ngIf="recurringOrdersLoading$ | async" />
