<ng-container *ngIf="product$ | async as product">
  <div class="d-flex">
    <div class="col-3 col-md-2 list-item">
      <a [routerLink]="product | ishProductRoute">
        <ish-product-image [product]="product" imageType="S" class="product-image"></ish-product-image>
      </a>
    </div>
    <div class="col-9 col-md-10 list-item column-price">
      <div class="row">
        <div class="col-md-7 col-xs-12 text-left">
          <div class="pli-description">
            <a [routerLink]="product | ishProductRoute" class="product-title" data-testing-id="wishlist-product-link">
              {{ product.name }}
            </a>
            <ish-product-id [product]="product"></ish-product-id>
            <ish-product-variation-display
              *ngIf="isVariationProduct(product)"
              [product]="product"
            ></ish-product-variation-display>
            <ish-product-bundle-display
              *ngIf="product.type === 'Bundle'"
              [productBundleSKU]="product.sku"
            ></ish-product-bundle-display>
            <div class="hidden-xs">
              <label>{{ 'account.wishlist.table.added_on' | translate }}</label>
              {{ wishlistItemData?.creationDate | ishDate: 'shortDate' }}
            </div>
            <div class="mb-2">
              <a class="btn-tool" (click)="moveDialog.show()" data-testing-id="move-wishlist">
                <fa-icon
                  [icon]="['fas', 'arrows-alt']"
                  [title]="'account.wishlist.table.options.move_to_another_wishlist' | translate"
                ></fa-icon>
              </a>
              <a class="btn-tool" (click)="removeProductFromWishlist(product?.sku)" data-testing-id="delete-wishlist">
                <fa-icon
                  [icon]="['fas', 'trash-alt']"
                  [title]="'account.wishlist.table.options.remove' | translate"
                ></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-5 product-list-actions-container">
          <ish-product-price [product]="product"></ish-product-price>
          <p *ngIf="product.inStock; else noInStock">{{ 'account.wishlist.table.in_stock' | translate }}</p>
          <ng-template #noInStock>
            <p>{{ 'account.wishlist.table.not_accessible' | translate }}</p>
          </ng-template>
          <form [formGroup]="addToCartForm" class="row">
            <div class="col-6 offset-md-6 col-lg-5 offset-lg-0">
              <ish-product-quantity
                [allowZeroQuantity]="false"
                [quantityLabel]="''"
                [product]="product"
                [parentForm]="addToCartForm"
                controlName="quantity"
              ></ish-product-quantity>
            </div>
            <div class="col-12 col-lg-7 addtocart-container">
              <ish-product-add-to-basket
                [product]="product"
                (productToBasket)="addToCart(product.sku)"
              ></ish-product-add-to-basket>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <ish-select-wishlist-modal
    #moveDialog
    addMoveProduct="move"
    [product]="product"
    (submitEmitter)="moveItemToOtherWishlist(product.sku, $event)"
  ></ish-select-wishlist-modal>
</ng-container>
