.product-item-placeholder {
  position: relative;
  width: 100%;
}

.product-item-placeholder-tile {
  min-height: 460px;
}

.product-item-placeholder-row {
  min-height: 220px;
}

@media (max-width: 767.98px) {
  .product-item-placeholder-tile {
    min-height: 500px;
  }

  .product-item-placeholder-row {
    min-height: 260px;
  }
}
