<div class="top-header">
  <nav class="container">
    <div class="row">
      <a rel="home" routerLink="/home" class="d-md-none mobile-logo">
        <img src="assets/img/logo_mobile.png" alt="Logo" width="41" height="41">
      </a>
    </div>
  </nav>
</div>

<div class="mid-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 logo-wrapper d-none d-md-block">
        <a rel="home" routerLink="/home">
          <img src="assets/img/logo.png" alt="Logo">
        </a>
      </div>
    </div>
  </div>
</div>
