# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled or cached output
*.xliff
*.ut.spec.ts*

# dependencies
node_modules

# IDEs and editors
/.idea
/.project
/.classpath
/.c9/
*.launch
/.settings/
/*.sublime-workspace
/.nb-gradle
/nbproject/
/.nvmrc
/.vim/

# misc
/.angular/cache
*.log
/src/environments/environment.local.ts
/src/environments/environment.development.ts

# System Files
.DS_Store
Thumbs.db

# backup and compiled files
**~
*.bak

# git
*.rej
*.orig

# batch file for personal development purposes
/dev.bat
