# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled or cached output
/tmp
/out-tsc
/bin
/cache
/tslint*hard*
/gl-code-quality-report.json

# unsupported yarn files
/yarn.lock

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.nb-gradle
/nbproject/
/tsfmt.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# misc
/.sass-cache
/connect.lock
/coverage
/junit.xml
*.log
/typings
/src/environments/environment.local.ts

# System Files
.DS_Store
Thumbs.db

# backup and compiled files
**~
*.bak
*.class
*.pyc
*.ut.spec.ts

# Gradle Files
**/build/
**/target/
**/.gradle

# gitlab-runner
/builds

# batch file for personal development purposes
/dev.bat
.angulardoc.json

# nvm
.nvmrc
