*.sh
*.yml
*.yaml
*.bat
*.html
*.jpg
*.gif
*.png
*.xml
*.less
*.css
*.gradle
*.groovy
*.woff
*.svg
*.ico
*.txt
*.properties
*.jar
*config*.json
/*.*
/node_modules
/build
/dist
/docs
/src/assets
/out-tsc
/coverage
