{
  "printWidth": 120,
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts", "*.mjs", "*.mts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", ".*.json", "*.code-snippets", "*.webmanifest"],
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    },
    {
      "files": ["*.md", "LICENSE"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.yml", "*.yaml", ".*.yml"],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
