*.sh
*.bat
*.cmd
*.ps1
*.jpg
*.gif
*.png
*.svg
*.groovy
*.woff
*.woff2
*.eot
*.ttf
*.ico
*.txt
*.csv
*.jar
*.snap
*.hbs
*.js.map
*.properties
*.crt
*.key
.*ignore
.husky
.gitattributes
.editorconfig
.createMockdata.table
package*.json
Dockerfile*
.browserslistrc
node_modules
/cache
/dist/**/browser/**
/dist/**/server/**
/out-tsc
/coverage
/docs/compodoc
/junit.xml
/tslint-rules/dist
/tslint-rules/test
/schematics/src/**/files/**
/schematics/src/**/*.js
nginx.conf
/nginx/**/*.conf
/nginx/**/*.tmpl
/.idea/
/charts/**/templates/*
*~
/src/environments/environment.local.ts
/src/environments/environment.development.ts
