# export appropriate ICM_BASE_URL and use with
# docker compose up --build

version: '3'
services:
  pwa:
    build:
      context: .
      # dockerfile: Dockerfile_noSSR
      args:
        # configuration: local
        configuration: production
        # configuration: local,production
        serviceWorker: 'false'
    environment:
      - LOGGING=on
      - ICM_BASE_URL
      # - PROXY_ICM=true
      - TRUST_ICM=true
      # - PROMETHEUS=on
  nginx:
    build: nginx
    depends_on:
      - pwa
    environment:
      UPSTREAM_PWA: 'http://pwa:4200'
      # DEBUG: 1
      CACHE: 0
      PAGESPEED: 0
      # PROMETHEUS: 1
      # COMPRESSION: 0
      # DEVICE_DETECTION: 0
      # MULTI_CHANNEL_SOURCE: env:///ASDF?type=application/yaml
      # BASIC_AUTH: 'developer:!InterShop00!'
      # BASIC_AUTH_IP_WHITELIST: |
      #   # - 172.22.0.1
      #   - 1.2.3.4
      MULTI_CHANNEL: |
        .+:
          - baseHref: /en
            channel: default
            lang: en_US
          - baseHref: /de
            channel: default
            lang: de_DE
            protected: false
          - baseHref: /fr
            channel: default
            lang: fr_FR

    ports:
      - '4200:80'
      # - '9113:9113'
