<!-- tabindex is necessary to be a valid focus target for the <ish-skip-content-link> component -->
<nav
  class="breadcrumbs"
  id="nav-breadcrumbs"
  tabindex="-1"
  [attr.aria-label]="'breadcrumbs.aria_label' | translate"
  [ngStyle]="separator ? { '--bs-breadcrumb-divider': '\'' + separator + '\'' } : {}"
>
  <ol class="breadcrumb">
    @if (showHome) {
      <li class="breadcrumb-item breadcrumbs-list-home">
        <a class="breadcrumbs-list-link breadcrumbs-list-link-home" rel="home" routerLink="/home">{{
          'common.home.link' | translate
        }}</a>
      </li>
    }
    @if (account) {
      @if ((trail$ | async)?.length) {
        <li class="breadcrumb-item">
          <a class="breadcrumbs-list-link" routerLink="/account">{{ 'account.my_account.link' | translate }}</a>
        </li>
      } @else {
        <li class="breadcrumb-item active">
          <span aria-current="page">{{ 'account.my_account.link' | translate }}</span>
        </li>
      }
    }
    @for (item of trail$ | async; track item.key; let index = $index; let last = $last) {
      <li class="breadcrumb-item" [ngClass]="{ active: last }">
        @if (item.link) {
          <a class="breadcrumbs-list-link" [queryParams]="item.linkParams" [routerLink]="item.link">{{
            item.text || (item.key | translate)
          }}</a>
        } @else {
          <span aria-current="page">{{ item.text || (item.key | translate) }}</span>
        }
      </li>
    }
  </ol>
</nav>
