<!-- tabindex is necessary to be a valid focus target for the <ish-skip-content-link> component -->
<nav
  class="breadcrumbs"
  id="nav-breadcrumbs"
  tabindex="-1"
  [attr.aria-label]="'breadcrumbs.aria_label' | translate"
  [ngStyle]="dividerStyle"
>
  <ol class="breadcrumb">
    @if (showHome) {
      <li class="breadcrumb-item">
        <a rel="home" routerLink="/home">{{ 'common.home.link' | translate }}</a>
      </li>
    }
    @if (account) {
      @if ((trail$ | async)?.length) {
        <li class="breadcrumb-item">
          <a routerLink="/account">{{ 'account.my_account.link' | translate }}</a>
        </li>
      } @else {
        <li aria-current="page" class="breadcrumb-item active">
          {{ 'account.my_account.link' | translate }}
        </li>
      }
    }
    @for (item of trail$ | async; track item.key; let last = $last) {
      <li
        class="breadcrumb-item"
        [attr.aria-current]="last && !item.link ? 'page' : null"
        [ngClass]="{ active: last && !item.link }"
      >
        @if (item.link) {
          <a [queryParams]="item.linkParams" [routerLink]="item.link">{{ item.text || (item.key | translate) }}</a>
        } @else {
          {{ item.text || (item.key | translate) }}
        }
      </li>
    }
  </ol>
</nav>
