// Payment
// --------------------------------------------------

.payment-methods {
  margin-bottom: $space-default * 2;

  & > .panel {
    padding: $space-default;
    margin-top: $space-default;
  }

  .panel {
    margin-top: $space-default * 0.5;
    margin-bottom: 0;
    background-color: $gray-200;

    @include box-shadow(none);

    .panel-collapse {
      padding-left: 20px; // like radio buttons
    }
  }

  .iframe-container {
    height: 35px;
  }
}
