//
// Payment
// --------------------------------------------------

.payment-methods {
  margin-bottom: $space-default * 2;

  & > .panel {
    padding: $space-default;
    margin-top: $space-default;
  }

  .panel {
    margin-top: $space-default * 0.5;
    margin-bottom: 0;
    background-color: #f7f7f7;

    @include box-shadow(none);

    .panel-collapse {
      padding-left: 20px; // like radio buttons
    }
  }

  .has-feedback {
    .form-control-feedback {
      display: none;
    }
  }

  .iframe-container {
    height: 35px;
  }
}
