<h1>{{ 'account.costcenter.create.heading' | translate }}</h1>

<form #ccForm="ngForm" class="form-horizontal" ishFormSubmit novalidate [formGroup]="form" (ngSubmit)="submitForm()">
  <ish-cost-center-form [form]="form" />
  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button
        class="btn btn-primary"
        data-testing-id="create-cost-center-submit"
        type="submit"
        [disabled]="form.invalid && ccForm.submitted"
      >
        {{ 'account.costcenter.create.button.label' | translate }}
      </button>
      <a class="btn btn-secondary" data-testing-id="create-cost-center-cancel" routerLink="../">{{
        'account.cancel.link' | translate
      }}</a>
    </div>
  </div>
</form>

<ish-cost-center-csv-import />

@if (loading$ | async) {
  <ish-loading />
}
