<!-- logged in -->
<ng-template [ngIf]="isLoggedIn" [ngIfElse]="notLoggedIn" >
  <a [routerLink]="['/accountOverview']" attr.data-testing-id="link-myaccount" class="my-account-link">
    <span class="glyphicon-user glyphicon glyphicon-header-icon"></span>
    <span *ngIf="userDetail?.lastName" class="hidden-xs login-name">{{userDetail?.firstName + ' ' + userDetail?.lastName}}</span>
    <span class="hidden-xs">{{'account.login_status.myaccount.link' | translate}}</span>
  </a>
  <span class="hidden-xs seperator">&#124; </span>
  <a [routerLink]="['/logout']" class="my-account-link my-account-logout" attr.data-testing-id="link-logout" (click)="logout();">
    <span class="hidden-xs">{{'account.logout.link' | translate}}</span>
  </a>
</ng-template>
<!-- not logged in -->
<ng-template #notLoggedIn>
  <a [routerLink]="['/login']" class="my-account-links my-account-login" attr.rel="nofollow">
    <span class="glyphicon-user glyphicon glyphicon-header-icon"></span>
    <span class="hidden-xs">{{'account.login.link' | translate}}</span>
  </a>
  <span class="hidden-xs seperator">&#124; </span>
  <a [routerLink]="['/register']" attr.rel="nofollow" class="ish-siteHeader-myAccountUtilitiesMenu-myAccount-register">
    <span class="hidden-xs">{{'account.register.link' | translate}}</span>
  </a>
</ng-template>
