.tacton-navigation {
  position: sticky;
  top: 55px;
  flex: 0 1 300px;
  height: 500px;
}

.tacton-sidebar {
  position: sticky;
  top: 55px;
  order: 2;
  height: 800px;
  overflow-y: auto;
}

.tacton-main-panel {
  padding: 0 $space-default;

  span.anchor {
    position: relative;
    display: block;
    height: 50px; /* height of nav */
    margin-top: -50px; /* height of nav */
    visibility: hidden;
  }
}

.tacton-buttonbar {
  position: sticky;
  bottom: 0;
  z-index: 10;
  height: 35px + 4 * $space-default;
  padding: $space-default;
  background-color: $text-color-quinary;
  border-top: $space-default solid $body-bg;
  border-bottom: $space-default solid $body-bg;
}
