<div class="row">
  <div class="col-md-12 col-lg-8">
    <!-- Messages -->
    <div *ngIf="error && error.status" role="alert" class="alert alert-danger">
      {{ error.status }}: {{ error.error }}
    </div>
    <div *ngIf="!basket.paymentMethod && !error" role="alert" class="alert alert-danger">
      {{ 'checkout.payment.no_Selection.error' | translate }}
    </div>
    <h3>{{ 'checkout.payment.method.select.heading' | translate }}</h3>
    <form [formGroup]="paymentForm" class="form-horizontal">
      <!-- ToDo: List of payment methods instead -->
      <ul *ngIf="paymentMethods && paymentMethods.length > 0" class="list-unstyled" role="tablist" aria-multiselectable="true">
        <li *ngFor="let paymentMethod of paymentMethods" class="panel">
          <div class="form-check" role="tab">
            <label>
              <input
                type="radio"
                formControlName="name"
                [id]="'paymentOption_'+ paymentMethod.id"
                [value]="paymentMethod.id"
              />
              <strong>{{ paymentMethod.displayName }}<ng-container *ngIf="!paymentMethod.displayName">{{ paymentMethod.name }}</ng-container></strong>
            </label>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
    <ish-basket-address-summary [basket]="basket"></ish-basket-address-summary>
    <ish-basket-items-summary [basket]="basket"></ish-basket-items-summary>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

      <button class="btn btn-lg btn-block btn-primary" type="button" [disabled]="!basket.paymentMethod" (click)="nextStep()">
        {{'checkout.button.label' | translate}}
      </button>
    </div>
    <!-- ToDo: Privacy policy link - ISREST-341 -->
  </div>
</div>
