@if (visible$ | async) {
<div class="product-availability">
  @if (available$ | async) {
  <span class="product-in-stock">
    {{ 'product.instock.text' | translate }}
    @if (availableStock$ | async; as stock) {
    <ng-container class="availableStock">({{ stock }})</ng-container>
    }
    <link itemprop="availability" href="http://schema.org/InStock" />
  </span>
  } @else {
  <span class="product-out-of-stock">
    {{ 'product.out_of_stock.text' | translate }}
    <link itemprop="availability" href="http://schema.org/OutOfStock" />
  </span>
  }
</div>
}
