//
//Brand Index

ul {
  &.brand-index {
    padding-left: 0;
    list-style: none outside none;
  }

  &.brand-list {
    padding-left: 0;
    list-style: none outside none;
  }
}

.brand-list-container {
  padding: $space-default;
}
