//
// Page Navigation

.page-navigation {
  .page-navigation-contents {
    ul {
      padding-left: 0;
      list-style: none outside none;

      ul {
        padding-left: $space-default;
      }

      li {
        line-height: 27px;

        &.page-navigation-active {
          > a {
            font-weight: bold;
          }
        }
      }
    }
  }
}
