<input
  class="form-check-input"
  type="radio"
  [formControl]="fc"
  [value]="to.value"
  [id]="to.id"
  [attr.data-testing-id]="'radio-' + to.id"
/>
<input type="text" [formControl]="textFormControl" class="form-control" [formlyAttributes]="to.textConfig" />

<ish-validation-icons
  *ngIf="to.textConfig.templateOptions.required || to.textConfig.validators?.validation?.length"
  [field]="textField"
  [showError]="se"
></ish-validation-icons>
<ng-container *ngIf="se" class="invalid-feedback d-block">
  <ish-validation-message [field]="textField" class="validation-message"></ish-validation-message>
</ng-container>
