//
// PRODUCT IMAGES

.product-detail-img {
  .carousel {
    float: left;
    width: 100%;
    max-width: 500px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.product-img-main {
  float: left;
  width: 95%;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: ($space-default * 2);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: ($space-default * 2);
  }

  img {
    display: inline;
    float: left;
    max-width: 100%;

    &:first-child {
      margin-right: 2%;
    }
  }
}

.product-img-inner {
  .item {
    > img {
      display: inline;
      float: left;

      @media (max-width: $screen-xs-max) {
        display: inline;
      }

      @media (max-width: $screen-xs) {
        display: inline;
        max-width: 100%;
      }

      &:first-child {
        margin-right: 2%;

        @media (max-width: $screen-xs-max) {
          margin-right: 0;
        }
      }
    }
  }
}

.product-thumb-set {
  float: left;
  padding: $space-default / 3;
  margin-bottom: $space-default;
  cursor: pointer;
  border: 1px solid $border-color-lighter;
  opacity: 0.3;

  img {
    width: 100%;
  }

  &.active {
    opacity: 1;
  }
}

.product-img-thumbs {
  width: 90px;
}
