<fieldset [formGroup]="credentialsForm">
  <!-- for debugging purposes -->
  <!-- <p>Form value: {{ credentialsForm.value | json }}</p>
  <p>Form status: {{ credentialsForm.status | json }}</p> -->

  <!-- Login and login confirm -->
  <ish-input
    [form]="credentialsForm"
    controlName="login"
    type= "email"
    label="Email Address"
    [errorMessages]="{
      'required':'account.login.email.error.required' ,
      'email':'account.login.email.error.invalid'}"
    ></ish-input>

  <ish-input
    controlName="loginConfirmation"
    [form]="credentialsForm"
    type= "email"
    label="Confirm Email Address"
    markRequiredLabel="on"
    [errorMessages]="{
      'required':'account.update_email.email.error.notempty',
      'email':'account.update_email.email.error.email',
      'equalTo': 'account.registration.email.not_match.error'}"
    ></ish-input>

  <ish-input
    controlName="password"
    [form]="credentialsForm"
    type= "password"
    label="Password"
    [errorMessages]="{
      'required':'account.update_email.email.error.notempty',
      'password':'account.update_email.email.error.email'}"
  >
    <small class="input-help">7 characters minimum, must include numbers and letters, no spaces</small>
  </ish-input>

  <ish-input
    [form]="credentialsForm"
    controlName="passwordConfirmation"
    type= "password"
    label="Confirm Password"
    markRequiredLabel="on"
    [errorMessages]="{
      'required':'account.update_email.email.error.notempty',
      'password':'account.update_email.email.error.email',
      'equalTo': 'account.registration.email.not_match.error'}"
  ></ish-input>

  <ish-select-security-question
    [form]="credentialsForm"
  ></ish-select-security-question>

  <ish-input
    controlName="securityQuestionAnswer"
    [form]="credentialsForm"
    label="Answer"
    [errorMessages]="{'required':'account.update_email.email.error.notempty'}"
  ></ish-input>

  <div *ngIf="emailOptIn">
    <div class="checkbox">
      <label class="control-label col-sm-12" for="newsletter">
        <input
          formControlName="newsletter"
          type="checkbox"
          id="newsletter"
        />
        account.register.newsletter.checkbox.text"
      </label>
    </div>
    <div class="col-sm-12">
      <small class="input-help">
        * You can subscribe to newsletters any time in the My Account section. We will only use your personal data as described in our Privacy Policy.
      </small>
    </div>
  </div>
</fieldset>

