<div class="clearfix">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 storefinder clearfix">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <h4>Stores</h4>
                    <a href="javascript:void(0)">Find a nearby Store</a>
                </div>
                <div class="col-md-4 newsletter clearfix">
                    <h4>SIGN UP FOR OUR NEWSLETTER</h4>
                    <form class="newsletter-form" name="EmailSignupForm" action="javascript:void(0)" method="post">
                        <input class="newsletter-email-field" placeholder="Enter your email" id="newsletter_email" name="EmailSignupForm_Email" type="text">
                        <button title="Sign up" id="signup_button" name="signup" type="submit">SIGN UP</button>
                    </form>
                </div>
                <div class="social-links clearfix">
                    <h4><strong>CONNECT</strong> WITH US</h4>
                    <ul>
                        <li>
                            <a class="icon-svg icon-facebook" title="Facebook" target="_blank" href="http://www.facebook.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-twitter" title="twitter" target="_blank" href="http://www.twitter.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-youtube" title="Youtube" target="_blank" href="http://www.youtube.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-vimeo" title="Vimeo" target="_blank" href="http://www.vimeo.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-pinterest" title="Pinterest" target="_blank" href="http://www.pinterest.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-googleplus" title="Google plus" target="_blank" href="http://plus.google.com/"></a>
                        </li>
                        <li>
                            <a class="icon-svg icon-instagram" title="Instagram" target="_blank" href="http://instagram.com//"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <p class="disclaimer"><strong>Disclaimer: </strong>We advise you that this inSPIRED demo shop is a shop for demonstration only and all contents are of exemplary nature for demonstration and illustration purposes solely. Intershop Communications AG does not
                    guarantee and accepts no liability for correctness, completeness and up-to-dateness of the contents provided. The contents of the demo shop must not be adopted or copied to your shop or otherwise being used by you.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupInSpired.toggle()">
                        <h4 class="link-group-title"><span style="text-transform: none;">in</span>SPIRED<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs"><span style="text-transform: none;">in</span>SPIRED</h4>
                    <div id="GroupInSpired" class="mobile-collapse link-group" collapse #GroupInSpired="bs-collapse">
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Terms &amp; Conditions</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Sitemap</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupService.toggle()">
                        <h4 class="link-group-title">SERVICE<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs">SERVICE</h4>
                    <div id="GroupService" class="mobile-collapse link-group" collapse #GroupService="bs-collapse">
                        <ul>
                            <li><a href="">Frequently Asked Questions</a></li>
                            <li><a href="">Ordering, Shipping and Payment</a></li>
                            <li><a href="">Return Policy</a></li>
                            <li><a href="">Gift Services</a></li>
                            <li><a href="">Safety, Security &amp; Privacy</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupAccount.toggle()">
                        <h4 class="link-group-title">MY ACCOUNT<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs">MY ACCOUNT</h4>
                    <div id="GroupAccount" class="mobile-collapse link-group" collapse #GroupAccount="bs-collapse">
                        <ul>
                            <li><a rel="nofollow" href="">Order History</a></li>
                            <li><a rel="nofollow" href="">Wish Lists</a></li>
                            <li><a rel="nofollow" href="">Gift Cards &amp; Certificates</a></li>
                            <li><a rel="nofollow" href="">Gift Card Balance Lookup</a></li>
                            <li><a rel="nofollow" href="">Saved Payment Information</a></li>
                            <li><a rel="nofollow" href="">Saved Addresses</a></li>
                            <li><a rel="nofollow" href="">Profile Settings</a></li>
                            <li><a rel="nofollow" href="">Product Notifications</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupTopCat.toggle()">
                        <h4 class="link-group-title">TOP CATEGORIES<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs">TOP CATEGORIES</h4>
                    <div id="GroupTopCat" class="mobile-collapse link-group" collapse #GroupTopCat="bs-collapse">
                        <ul>
                            <li><a href="">Action Cameras</a></li>
                            <li><a href="">TVs and Projectors</a></li>
                            <li><a href="">Monitors</a></li>
                            <li><a href="">Home Cinema Systems</a></li>
                            <li><a href="">Tablets</a></li>
                            <li><a href="">Notebooks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupTopProd.toggle()">
                        <h4 class="link-group-title">TOP PRODUCTS<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs">TOP PRODUCTS</h4>
                    <div id="GroupTopProd" class="mobile-collapse link-group" collapse #GroupTopProd="bs-collapse">
                        <ul>
                            <li><a href="">GoPro Hero 4 Silver</a></li>
                            <li><a href="">Samsung Full HD 3D Smart TV</a></li>
                            <li><a href="">Canon LEGRIA HF R16</a></li>
                            <li><a href="">Samsung Galaxy NotePRO 4G </a></li>
                            <li><a href="">Wrist Rest Fellowes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a class="visible-xs" (click)="GroupDemoContent.toggle()">
                        <h4 class="link-group-title">DEMO CONTENT<span class="glyphicon glyphicon-chevron-down link-group-icon"></span></h4>
                    </a>
                    <h4 class="hidden-xs">DEMO CONTENT</h4>
                    <div id="GroupDemoContent" class="mobile-collapse link-group" collapse #GroupDemoContent="bs-collapse">
                        <ul>
                            <li><a href="" title="Demo Content provided by Icecat" class="cms-footer-longLinks">Icecat Content</a></li>
                            <li><a href="" title="Demo Content Disclaimer">Demo Content Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <p class="copyright">© 2017 INTERSHOP Communications AG. All rights reserved.</p>
            </div>
        </div>
    </div>

</div>