<div class="wishlist">
  <h1 class="cart-header">
    {{ 'account.wishlists.heading' | translate }}
    <ng-template #WishlistDescription>
      <span innerHTML="{{ 'account.wishlists.heading.tooltip.content' | translate }}"></span>
    </ng-template>
    <a
      class="header-note pl-2"
      [ngbPopover]="WishlistDescription"
      placement="bottom"
      popoverTitle="{{ 'account.wishlists.heading.tooltip.headline' | translate }}"
    >
      {{ 'account.wishlists.heading.tooltip.link' | translate }}
      <fa-icon [icon]="['fas', 'info-circle']" />
    </a>
    <button type="button" class="btn btn-secondary" data-testing-id="add-wishlist" (click)="addWishlistDialog.show()">
      {{ 'account.wishlists.add_wishlist' | translate }}
    </button>
  </h1>

  <!-- Error message -->
  <ish-error-message [error]="wishlistError$ | async" />

  <div class="section">
    <ish-account-wishlist-list [wishlists]="wishlists$ | async" (deleteWishlist)="deleteWishlist($event)" />
  </div>

  <a routerLink="/home">{{ 'account.wishlist.searchform.continue_shopping.link' | translate }}</a>
</div>

<ish-wishlist-preferences-dialog #addWishlistDialog (submitWishlist)="addWishlist($event)" />

<ish-loading *ngIf="wishlistLoading$ | async" />
