<ish-modal-dialog
  #modal
  [options]="{
    titleText: 'approval.rejectform.reject_order.heading' | translate,
    ariaLabelledBy: 'requisition-reject-modal-title',
  }"
>
  <form #form="ngForm" body ishFormSubmit novalidate [formGroup]="rejectForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
      <formly-form [fields]="fields" [form]="rejectForm" />
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" [disabled]="rejectForm.invalid && form.submitted">
        {{ 'approval.rejectform.button.reject.label' | translate }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="modal.hide()">
        {{ 'approval.rejectform.button.cancel.label' | translate }}
      </button>
    </div>
  </form>
</ish-modal-dialog>
