<div class="product-tile" [attr.data-testing-sku]="product.sku">
  <div class="product-image-container">
    <a [routerLink]="product | ishProductRoute: category">
      <ish-product-image [product]="product" imageType="M" class="product-image"></ish-product-image>
    </a>
    <ish-product-label [product]="product"></ish-product-label>
  </div>

  <a class="product-title" [routerLink]="product | ishProductRoute: category">{{ product.name }}</a>

  <div class="price-container">
    <ish-product-price [product]="product" [showInformationalPrice]="true"></ish-product-price>
  </div>

  <ish-product-variation-select
    *ngIf="variationOptions"
    [variationOptions]="variationOptions"
    (selectVariation)="variationSelected($event)"
  ></ish-product-variation-select>

  <div class="product-tile-actions btn-group">
    <ish-lazy-product-add-to-quote
      *ngIf="!isMasterProduct(product)"
      [product]="product"
      displayType="icon"
      class="btn-link"
    ></ish-lazy-product-add-to-quote>
    <ish-product-add-to-compare
      [isInCompareList]="isInCompareList"
      displayType="icon"
      class="btn-link"
      (compareToggle)="toggleCompare()"
    ></ish-product-add-to-compare>
    <ish-product-add-to-basket
      *ngIf="!isMasterProduct(product)"
      [product]="product"
      displayType="icon"
      class="btn-link"
      (productToBasket)="addToBasket()"
    ></ish-product-add-to-basket>
  </div>
</div>
