<div class="header container">
  <ul *ngIf="!isSticky" class="user-links">
    <li class="d-none d-md-block"><ish-login-status-container></ish-login-status-container></li>
    <li *ishFeature="'compare'" class="d-none d-md-block">
      <ish-product-compare-status-container></ish-product-compare-status-container>
    </li>
  </ul>

  <div class="header-utility">
    <div class="language-switch-container d-none d-md-block">
      <ish-language-switch-container *ngIf="!isSticky"></ish-language-switch-container>
    </div>
    <ish-login-status-container view="small"></ish-login-status-container>

    <ish-mini-basket-container
      view="full"
      class="d-none"
      [ngClass]="isSticky ? 'd-lg-block' : 'd-md-block'"
    ></ish-mini-basket-container>
    <ish-mini-basket-container
      view="small"
      [ngClass]="isSticky ? 'd-lg-none' : 'd-md-none'"
    ></ish-mini-basket-container>
  </div>

  <div *ngIf="!isSticky" class="search-container header-search-container d-none d-md-block">
    <ish-search-box-container
      [configuration]="{
        placeholderText: 'search.searchbox.instructional_text' | translate,
        autoSuggest: true,
        maxAutoSuggests: 10
      }"
    ></ish-search-box-container>
  </div>

  <div class="logo-wrapper">
    <a rel="home" routerLink="/home" class="d-none d-md-block">
      <img src="assets/img/logo.png" class="logo" alt="Logo" />
    </a>
    <a rel="home" routerLink="/home" class="mobile-logo d-md-none"
      ><img src="assets/img/logo_mobile.png" alt="Logo" width="41" height="41"
    /></a>
  </div>

  <button class="navbar-toggler d-md-none" type="button" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="sr-only">{{ 'common.button.navbarCollapsed.text' | translate }}</span>
    <div class="hamburger-menu" [ngClass]="{ open: !navbarCollapsed }"><span></span> <span></span> <span></span></div>
  </button>

  <div class="global-nav-container">
    <nav class="global-nav navbar-expand-md" [ngbCollapse]="navbarCollapsed">
      <div class="main-navigation" role="navigation">
        <ish-header-navigation-container></ish-header-navigation-container>
      </div>
    </nav>
  </div>
</div>
