<div class="header container">
  <ul class="user-links" *ngIf="!isSticky">
    <li><ish-login-status-container></ish-login-status-container></li>
    <li *ishFeature="'compare'"><ish-product-compare-status-container></ish-product-compare-status-container></li>
  </ul>
  <div class="header-utility">
    <ish-language-switch-container *ngIf="!isSticky"></ish-language-switch-container>
    <ish-mini-basket-container></ish-mini-basket-container>
    <ish-login-status-container *ngIf="isSticky" view="small"></ish-login-status-container>
  </div>
  <div class="logo-wrapper">
    <a rel="home" routerLink="/home" class="d-none d-md-block">
      <img src="assets/img/logo.png" class="logo" alt="Logo" />
    </a>
    <a rel="home" routerLink="/home" class="mobile-logo d-md-none"
      ><img src="assets/img/logo_mobile.png" alt="Logo" width="41" height="41"
    /></a>
  </div>
  <div class="global-nav-container">
    <nav class="global-nav navbar-expand-md" [ngbCollapse]="navbarCollapsed">
      <div class="main-navigation" role="navigation">
        <ish-header-navigation-container></ish-header-navigation-container>
      </div>
    </nav>
  </div>
</div>
