<div class="my-account-savedAddresses myAccount-addressBox">
  <h1>
    {{ 'account.addresses.saved_address.heading' | translate }}
    <!-- Add address link -->
    <a
      *ngIf="isCreateAddressFormCollapsed && !updateFormExpandedAddressId"
      [routerLink]="[]"
      class="btn btn-secondary float-right"
      (click)="showCreateAddressForm()"
      [attr.aria-expanded]="!isCreateAddressFormCollapsed"
      aria-controls="collapseBasic"
      data-testing-id="create-address-button"
      >{{ 'account.addresses.add_address.button.text' | translate }}</a
    >
  </h1>

  <!-- Error message -->
  <ish-error-message [error]="error"></ish-error-message>

  <!-- create address form -->
  <div id="collapseBasic" class="section" *ngIf="!isCreateAddressFormCollapsed" data-testing-id="create-address-form">
    <div class="row">
      <div class="col-md-10 col-xl-8">
        <ish-formly-customer-address-form
          [resetForm]="isCreateAddressFormCollapsed"
          (save)="createAddress($event)"
          (cancel)="hideCreateAddressForm()"
        >
        </ish-formly-customer-address-form>
      </div>
    </div>
  </div>
</div>

<div class="my-account-address-list shift-content">
  <div class="myAccount-addressBook">
    <!-- display saved addresses -->
    <ng-container *ngIf="(addresses$ | async)?.length; else emptyList">
      <!-- preferred invoice address == preferred shipping address -->
      <ng-container *ngIf="hasPreferredAddresses && preferredAddressesEqual">
        <div class="section" data-testing-id="preferred-invoice-and-shipping-address">
          <h3>{{ 'account.addresses.preferredinvoiceandshipping.heading' | translate }}</h3>
          <ng-container
            *ngTemplateOutlet="
              addressTile;
              context: {
                address: preferredInvoiceToAddress
              }
            "
          ></ng-container>
          <div *ngIf="isUpdateAddressFormCollapsed(preferredInvoiceToAddress)" class="col-sm-7 col-md-5">
            <form [formGroup]="preferredAddressForm">
              <formly-form
                [form]="preferredAddressForm"
                [fields]="[selectInvoiceConfig, selectShippingConfig]"
              ></formly-form>
            </form>
          </div>
        </div>
      </ng-container>

      <!-- preferred invoice address != preferred shipping address -->
      <ng-container *ngIf="!hasPreferredAddresses || !preferredAddressesEqual">
        <!-- preferred invoice address -->
        <div class="section" data-testing-id="preferred-invoice-address">
          <h3>{{ 'account.addresses.preferredinvoice.heading' | translate }}</h3>
          <ng-container *ngIf="preferredInvoiceToAddress; else noInvoiceToAddress">
            <ng-container
              *ngTemplateOutlet="
                addressTile;
                context: {
                  address: preferredInvoiceToAddress
                }
              "
            ></ng-container>
          </ng-container>
          <ng-template #noInvoiceToAddress>
            <p class="no-address-info">{{ 'account.addresses.no_preferred_invoice_address.text' | translate }}</p>
          </ng-template>
          <div *ngIf="isUpdateAddressFormCollapsed(preferredInvoiceToAddress)" class="col-sm-7 col-md-5">
            <form [formGroup]="preferredAddressForm">
              <formly-form [form]="preferredAddressForm" [fields]="[selectInvoiceConfig]"></formly-form>
            </form>
          </div>
        </div>

        <!--preferred shipping address -->
        <div class="section" data-testing-id="preferred-shipping-address">
          <h3>{{ 'account.addresses.preferredshipping.heading' | translate }}</h3>
          <ng-container *ngIf="preferredShipToAddress; else noShipToAddress">
            <ng-container
              *ngTemplateOutlet="
                addressTile;
                context: {
                  address: preferredShipToAddress
                }
              "
            ></ng-container>
          </ng-container>
          <ng-template #noShipToAddress>
            <p class="no-address-info">{{ 'account.addresses.no_preferred_shipping_address.text' | translate }}</p>
          </ng-template>
          <div *ngIf="isUpdateAddressFormCollapsed(preferredShipToAddress)" class="col-sm-7 col-md-5">
            <form [formGroup]="preferredAddressForm">
              <formly-form [form]="preferredAddressForm" [fields]="[selectShippingConfig]"></formly-form>
            </form>
          </div>
        </div>
      </ng-container>

      <!-- further addresses -->
      <ng-container *ngIf="furtherAddresses?.length > 0">
        <div class="section" data-testing-id="further-addresses">
          <h3>{{ 'account.addresses.heading' | translate }}</h3>
          <div *ngFor="let currentAddress of furtherAddresses" class="list-item-row">
            <ng-container
              *ngTemplateOutlet="
                addressTile;
                context: {
                  address: currentAddress,
                  deletable: (addresses$ | async)?.length > 1
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!-- no saved addresses  -->
    <ng-template #emptyList>
      <p class="empty-list">{{ 'account.addresses.have_no_saved_address.text' | translate }}</p>
    </ng-template>

    <ng-template #addressTile let-address="address" let-deletable="deletable">
      <!-- edit action -->
      <div *ngIf="isUpdateAddressFormCollapsed(address)" class="row">
        <div class="col-sm-7 col-md-5">
          <div *ngIf="isCreateAddressFormCollapsed" class="float-right">
            <a
              *ngIf="isUpdateAddressFormCollapsed(address)"
              [routerLink]="[]"
              class="btn-tool"
              (click)="showUpdateAddressForm(address)"
              title="{{ 'checkout.address.update.button.label' | translate }}"
              [attr.aria-expanded]="!isUpdateAddressFormCollapsed(address)"
              aria-controls="CollapseBasicEdit"
              data-testing-id="update-address-button"
            >
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </a>

            <a
              *ngIf="deletable"
              [routerLink]="[]"
              class="btn-tool"
              title="{{ 'account.addresses.delete_address.text' | translate }}"
              (click)="modalDialog.show(address)"
              data-testing-id="delete-address-icon"
            >
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </a>

            <ish-modal-dialog
              #modalDialog
              [options]="{
                titleText: 'account.addresses.remove_dialog.title' | translate,
                confirmText: 'account.addresses.remove_dialog.label_yes' | translate,
                rejectText: 'account.addresses.remove_dialog.label_no' | translate
              }"
              (confirmed)="deleteAddress($event)"
            >
              <p>{{ 'account.addresses.remove_dialog.message_line2' | translate }}</p>
            </ish-modal-dialog>
          </div>
          <ish-address [address]="address"></ish-address>
        </div>
      </div>
      <!-- edit address form -->
      <div
        id="CollapseBasicEdit"
        class="section"
        *ngIf="!isUpdateAddressFormCollapsed(address)"
        data-testing-id="update-address-form"
      >
        <div class="row">
          <div class="col-md-10 col-xl-8">
            <ish-formly-customer-address-form
              [address]="address"
              [resetForm]="isUpdateAddressFormCollapsed(address)"
              (save)="updateAddress($event)"
              (cancel)="hideUpdateAddressForm()"
            >
            </ish-formly-customer-address-form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
