<ng-container [ngSwitch]="state$ | async">
  <ng-template [ngSwitchCase]="'New'">{{ 'quote.state.new' | translate }}</ng-template>
  <ng-template [ngSwitchCase]="'Submitted'">{{ 'quote.state.submitted' | translate }}</ng-template>
  <ng-template [ngSwitchCase]="'Responded'">{{ 'quote.state.responded' | translate }}</ng-template>
  <ng-template [ngSwitchCase]="'Expired'">{{ 'quote.state.expired' | translate }}</ng-template>
  <!-- TODO: implement accepted? -->
  <!-- <ng-template [ngSwitchCase]="7">
    {{ 'quote.state.accepted' | translate}}
    <ng-container *ngIf="quote.validToDate < currentDateTime">
        &nbsp;
        {{ 'quote.state.expired' | translate }}
    </ng-container>
  </ng-template> -->
  <ng-template [ngSwitchCase]="'Rejected'">{{ 'quote.state.rejected' | translate }}</ng-template>
  <ng-template ngSwitchDefault>{{ 'quote.state.unknown' | translate }}</ng-template>
</ng-container>
