<div class="search-suggest-categories">
  <div class="d-flex justify-content-start headline">{{ 'suggest.categories.headline' | translate }}</div>
  <ul>
    <li *ngFor="let result of categories | slice : 0 : maxAutoSuggests">
      <ng-container *ngIf="getCategoryView(result.uniqueId) | async as category">
        <a class="category-image" [routerLink]="category | ishCategoryRoute" (click)="handleInputFocus()" tabindex="-1">
          <img [src]="getCategoryImageUrl(result.images)" alt="{{ category.name }}" />
        </a>
        <a
          [routerLink]="category | ishCategoryRoute"
          [innerHTML]="category.name | ishHighlight : (inputTerms$ | async)"
          (click)="handleInputFocus()"
        ></a>
      </ng-container>
    </li>
  </ul>
</div>
