<ish-quote-edit
  *ngIf="quote$ | async as quote"
  [quote]="quote"
  [user]="user$ | async"
  [error]="quoteError$ | async"
  [submitted]="submitted"
  (deleteItem)="deleteQuoteRequestItem($event)"
  (deleteQuoteRequest)="deleteQuoteRequest($event)"
  (updateItem)="updateQuoteRequestItem($event)"
  (updateQuoteRequest)="updateQuoteRequest($event)"
  (submitQuoteRequest)="submitQuoteRequest()"
  (copyQuote)="copyQuote()"
></ish-quote-edit>

<ish-loading *ngIf="quoteRequestLoading$ | async"></ish-loading>
