.loading {
  position: fixed;
  top: 37%;
  left: 48%;
  z-index: 1;
  width: 33px;
  height: 33px;
  background: #fff url('/assets/img/loading.gif') no-repeat;
  opacity: 0.5;
}

.loading-wrapper {
  position: relative;
  min-width: 50px;
  min-height: 50px;

  .loading {
    opacity: 1;
  }
}
