<header data-testing-id="page-header" class="top">
<!-- BEGIN TEMPLATE app_sf_responsive_cm/default/component/system/Header -->

    <div class="top-header">
        <nav class="container">
            <div class="row">
                <a rel="home" href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewHomepage-Start" class="visible-xs mobile-logo"><img src="assets/img/logo2x.png" alt="Logo" width="41" height="41"></a>
                <div class="visible-xs pull-right">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#globalnav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-md-12">
                    <ul class="user-links">
                        <li>
                            <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/LoginStatus -->
                            <a class="my-account-links my-account-login" href="https://localhost:4443/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewUserAccount-ShowLogin"
                                rel="nofollow"><span class="glyphicon-user glyphicon glyphicon-header-icon"></span><span class="hidden-xs">Sign In</span></a>
                            <span class="hidden-xs seperator">| </span>
                            <a class="ish-siteHeader-myAccountUtilitiesMenu-myAccount-register" href="https://localhost:4443/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewUserAccount-ShowRegister"
                                rel="nofollow"><span class="hidden-xs">Register</span></a>
                            <!-- END TEMPLATE app_sf_responsive/default/inc/header/LoginStatus -->
                        </li>
                        <li>
                            <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatus -->
                            <a class="compare-status" href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewProductCompare-Show"
                                rel="nofollow">
                                <span class="glyphicon-equalizer glyphicon glyphicon-header-icon"></span>
                                <span class="compare-count-text" data-ajax-content="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewProductCompare-Status"><!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatusData --><div id="compare-count" data-compare-ids="">0</div>
                                <span class="hidden-xs">Compare</span>
                                <script type="text/javascript">RetailShop.setCompareState();</script><!-- END TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatusData --></span>
                            </a>
                            <!-- END TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatus -->
                        </li>
                        <li>
                            <!-- BEGIN TEMPLATE app_sf_responsive/default/account/wishlist/WishlistStatus -->
                            <a href="https://localhost:4443/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewUserAccount-ShowLogin?TargetPipeline=ViewWishlist-ViewAll"
                                class="" rel="nofollow">
                                <span class="glyphicon-heart glyphicon glyphicon-header-icon"></span>
                                <span class="hidden-xs">Wishlists</span>
                            </a>
                            <!-- END TEMPLATE app_sf_responsive/default/account/wishlist/WishlistStatus -->
                        </li>
                        <li class="visible-xs">
                            <a href="https://localhost:4443/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewCart-View"><span class="glyphicon glyphicon-shopping-cart glyphicon-header-icon"></span></a>
                            <div class="mobile-cart-counter"></div>
                        </li>
                    </ul>
                    <div class="header-utility">
                        <!-- BEGIN TEMPLATE app_sf_responsive_cm/default/component/common/FreeStyle -->
                        <!-- BEGIN TEMPLATE sld_pmc/default/inc/HtmlPrint -->
                        <ul class="customer-info hidden-xs">
                            <li>
                                <span class="glyphicon-phone-alt glyphicon glyphicon-header-icon"></span> 1300 032 032
                            </li>
                        </ul>
                        <!-- END TEMPLATE sld_pmc/default/inc/HtmlPrint -->
                        <!-- END TEMPLATE app_sf_responsive_cm/default/component/common/FreeStyle -->
                        <!-- BEGIN TEMPLATE app_sf_responsive_cm/default/component/system/LanguageSwitch -->
                        <div class="language-switch">
                            <a class="language-switch-link" href="#languageSwitch" data-toggle="collapse" aria-expanded="true">
                                <span class="glyphicon glyphicon-globe glyphicon-header-icon"></span>
                                <span class="hidden-xs">en<span class="switch_arrow hidden-xs"></span></span>
                            </a>
                            <div id="languageSwitch" class="language-switch-container collapse" aria-expanded="true">
                                <div class="language-switch-menu-container">
                                    <ul>
                                        <li><a href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/de_DE/-/USD/ViewHomepage-Start">German</a></li>
                                        <li><a href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/fr_FR/-/USD/ViewHomepage-Start">French</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END TEMPLATE app_sf_responsive_cm/default/component/system/LanguageSwitch -->
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="mid-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 logo-wrapper hidden-xs">
                    <!-- BEGIN TEMPLATE app_sf_responsive_cm/default/component/system/HeaderPageLogo --><a rel="home" href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewHomepage-Start"><img src="assets/img/logo.png" alt="Logo"></a>
                    <!-- END TEMPLATE app_sf_responsive_cm/default/component/system/HeaderPageLogo -->
                </div>
                <div class="col-sm-5 header-info-wrapper hidden-xs"></div>
                <div class="col-sm-4 search-container header-search-container">
                    <!-- BEGIN TEMPLATE app_sf_responsive/default/modules/search/SearchBox -->
                    <form method="post" action="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewParametricSearch-SimpleOfferSearch"
                        role="search" class="search clearfix" name="SearchBox_Header"><input autocomplete="off" name="SearchTerm" class="form-control searchTerm" data-suggesturl="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewSuggestSearch-Suggest?MaxAutoSuggestResults=10"
                            placeholder="Search for keyword, product ID or category..." type="text">
                        <button class="btn-search btn btn-primary" type="submit" name="search" title="Start search."><span class="glyphicon glyphicon-search"></span></button>
                        <input name="search" value="" type="hidden">
                        <ul class="search-suggest-results">
                        </ul>
                    </form>
                    <!-- END TEMPLATE app_sf_responsive/default/modules/search/SearchBox -->
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="global-nav collapse navbar-collapse" id="globalnav">
            <div class="container">
                <div class="row">
                    <div class="main-navigation col-sm-8 col-md-9" role="navigation">
                        <ul class="navbar-nav main-navigation-list">
                            <li class="home hidden-xs">
                                <a class="" href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewHomepage-Start" title="home"><span class="glyphicon glyphicon-home"></span></a>
                            </li>

                            <li class="dropdown">
                                <a href="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewStandardCatalog-Browse?CatalogID=Cameras-Camcorders&amp;CategoryName=Cameras-Camcorders"
                                    data-testing-id="Cameras-Camcorders-link">Cameras</a>
                                <a class="dropdown-toggle visible-xs" data-toggle="dropdown" data-target="#"><span class="glyphicon glyphicon-plus"></span></a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 pull-right main-navigation-right" data-ajax-content="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewMiniCart-Status">
                        <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCartStatus -->
                        <div class="quick-cart-link hidden-xs">
                            <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCartLink -->
                            <a data-toggle="collapse" href="#miniCart"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="js-cart-count">4</span>
                                <span>4 items</span><span> / </span>
                                <span class="mini-cart-price">$ 170.25</span>
                            </a>
                            <!-- END TEMPLATE app_sf_responsive/default/inc/header/MiniCartLink -->
                            <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCart -->
                            <div class="mini-cart collapse" id="miniCart">

                            </div>
                        </div>
                        <!-- END TEMPLATE app_sf_responsive/default/inc/header/MiniCartStatus -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END TEMPLATE app_sf_responsive_cm/default/component/system/Header -->
</header>