<div class="content-page">
  <ish-breadcrumb />

  <h1>{{ 'helpdesk.contact_us.heading' | translate }}</h1>

  @let success = success$ | async;
  @if (success === undefined) {
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ish-contact-form (request)="createRequest($event)" />
      </div>
    </div>
    <p [innerHTML]="'helpdesk.user_service.message' | translate"></p>
  } @else {
    <ish-contact-confirmation [success]="success" />
  }
  @if (loading$ | async) {
    <ish-loading />
  }
</div>
