<div class="order-template">
  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <h1>
      {{ 'account.ordertemplates.heading' | translate }}
    </h1>
    <button
      type="button"
      class="btn btn-secondary m-0"
      data-testing-id="add-order-template"
      (click)="addOrderTemplateDialog.show()"
    >
      {{ 'account.order_template.list.button.add_template.label' | translate }}
    </button>
  </div>

  <!-- Error message -->
  <ish-error-message [error]="orderTemplateError$ | async" />

  <ish-account-order-template-list [orderTemplates]="orderTemplates$ | async" />
</div>

<ish-order-template-preferences-dialog #addOrderTemplateDialog (submitOrderTemplate)="addOrderTemplate($event)" />

<ish-loading *ngIf="orderTemplateLoading$ | async" />
