@if (requisitions?.length > 0) {
  <table
    cdk-table
    class="table table-lg mobile-optimized"
    data-testing-id="requisition-list"
    [dataSource]="requisitions"
  >
    <!-- Requisition No -->
    <ng-container cdkColumnDef="requisitionNo">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-requisition-no" scope="col">
        <span aria-hidden="true">{{ 'account.approvallist.table.id_of_order' | translate }}</span>
        <span class="visually-hidden">{{ 'account.approvallist.table.id_of_order.title' | translate }}</span>
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.id_of_order.title' | translate"
      >
        <a
          [attr.aria-label]="'account.approvallist.table.id_of_order.aria_label' | translate"
          [routerLink]="[requisition.id, { status: status }]"
        >
          {{ requisition.requisitionNo || requisition.recurringOrderDocumentNo }}
        </a>
        @if (requisition.recurringOrderDocumentNo) {
          <i
            class="bi bi-arrow-repeat ms-1"
            [title]="
              requisition.approval.statusCode === 'APPROVED'
                ? ('account.approvallist.table.id_of_order.recurring_approved' | translate)
                : ('account.approvallist.table.id_of_order.recurring_not_approved' | translate)
            "
          ></i>
        }
      </td>
    </ng-container>

    <!-- Order No -->
    <ng-container cdkColumnDef="orderNo">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-no" scope="col">
        <span aria-hidden="true">{{ 'account.approvallist.table.no_of_order' | translate }}</span>
        <span class="visually-hidden">{{ 'account.approvallist.table.no_of_order.title' | translate }}</span>
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.no_of_order.title' | translate"
      >
        <a [routerLink]="[requisition.orderNo ? '../../orders/' : '../../recurring-orders/', requisition.id]">
          {{ requisition.orderNo || requisition.recurringOrderDocumentNo }}
        </a>
      </td>
    </ng-container>

    <!-- Order No - No link -->
    <ng-container cdkColumnDef="orderNoSimple">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-no-simple" scope="col">
        <span aria-hidden="true">{{ 'account.approvallist.table.no_of_order' | translate }}</span>
        <span class="visually-hidden">{{ 'account.approvallist.table.no_of_order.title' | translate }}</span>
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.no_of_order.title' | translate"
      >
        {{ requisition.orderNo || requisition.recurringOrderDocumentNo }}
      </td>
    </ng-container>

    <!-- Creation Date -->
    <ng-container cdkColumnDef="creationDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-creation-date" scope="col">
        {{ 'account.approvallist.table.date_of_order' | translate }}
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.date_of_order' | translate"
      >
        {{ requisition.creationDate | ishDate }}
      </td>
    </ng-container>

    <!-- Approver -->
    <ng-container cdkColumnDef="approver">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-approver" scope="col">
        {{ 'account.approvallist.table.approver' | translate }}
      </th>
      <td *cdkCellDef="let requisition" cdk-cell [attr.data-label]="'account.approvallist.table.approver' | translate">
        {{ requisition.approval?.approver?.firstName }} {{ requisition.approval?.approver?.lastName }}
        @if (requisition.systemRejected) {
          <div>({{ 'approval.detailspage.approval_status.system_rejected.status' | translate }})</div>
        }
      </td>
    </ng-container>

    <!-- Buyer -->
    <ng-container cdkColumnDef="buyer">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-buyer" scope="col">
        {{ 'account.approvallist.table.buyer' | translate }}
      </th>
      <td *cdkCellDef="let requisition" cdk-cell [attr.data-label]="'account.approvallist.table.buyer' | translate">
        {{ requisition.user?.firstName }} {{ requisition.user?.lastName }}
      </td>
    </ng-container>

    <!-- Approval Date -->
    <ng-container cdkColumnDef="approvalDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-approval-date" scope="col">
        {{ 'account.approvallist.table.approval_date' | translate }}
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.approval_date' | translate"
      >
        {{ requisition.approval.approvalDate | ishDate }}
      </td>
    </ng-container>

    <!-- Rejection Date -->
    <ng-container cdkColumnDef="rejectionDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-rejection-date" scope="col">
        {{ 'account.approvallist.table.reject_date' | translate }}
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.reject_date' | translate"
      >
        {{ requisition.approval.approvalDate | ishDate }}
      </td>
    </ng-container>

    <!-- Items count -->
    <ng-container cdkColumnDef="lineItems">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-line-items" scope="col">
        {{ 'account.approvallist.table.line_items' | translate }}
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        [attr.data-label]="'account.approvallist.table.line_items' | translate"
      >
        {{ requisition.lineItemCount }}
      </td>
    </ng-container>

    <!-- Total -->
    <ng-container cdkColumnDef="orderTotal">
      <th *cdkHeaderCellDef cdk-header-cell class="text-end" data-testing-id="th-order-total" scope="col">
        {{ 'account.approvallist.table.line_item_total' | translate }}
      </th>
      <td
        *cdkCellDef="let requisition"
        cdk-cell
        class="column-price"
        [attr.data-label]="'account.approvallist.table.line_item_total' | translate"
      >
        {{ requisition.totals.total | ishPrice: 'gross' }}
      </td>
    </ng-container>

    <!-- Approval Actions -->
    <ng-container cdkColumnDef="actions">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-actions">
        <span class="visually-hidden">{{ 'account.approvallist.table.actions' | translate }}</span>
      </th>
      <td *cdkCellDef="let requisition" cdk-cell class="column-price">
        @if (status === 'PENDING') {
          <button
            class="btn-tool btn-link"
            type="button"
            title="{{
              'account.requisitions.approvals.approve'
                | translate: { requisitionNo: requisition.requisitionNo || requisition.recurringOrderDocumentNo }
            }}"
            (click)="approveRequisition(requisition.id)"
          >
            <i class="bi bi-check-lg"></i>
          </button>
          <button
            class="btn-tool btn-link"
            type="button"
            title="{{
              'account.requisitions.approvals.reject'
                | translate: { requisitionNo: requisition.requisitionNo || requisition.recurringOrderDocumentNo }
            }}"
            (click)="openRejectDialog(requisition.id)"
          >
            <i class="bi bi-x"></i>
          </button>
        }
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr *cdkHeaderRowDef="columnsToDisplay" cdk-header-row></tr>
    <tr *cdkRowDef="let row; columns: columnsToDisplay" cdk-row></tr>
  </table>

  <div data-testing-id="list-counter">
    {{ 'account.approvallist.items' | translate: { '0': requisitions?.length } }}
  </div>
} @else {
  <p data-testing-id="emptyList">{{ 'account.approvallist.no_items_message' | translate }}</p>
}

<ish-requisition-reject-dialog #rejectDialog (submitRejectRequisition)="rejectRequisition($event)" />
