<ng-template #BudgetPriceTypeInfo>
  <span
    [ishServerHtml]="
      ('account.organization.budget_price_type.info' | translate: { type: (customer$ | async).budgetPriceType }) +
      (suffix ?? '' | translate)
    "
  >
  </span
></ng-template>
@if ('services.OrderApprovalServiceDefinition.runnable' | ishServerSetting) {
  <button
    class="btn btn-link budget-info"
    data-testing-id="budgetPriceTypeInfoTestingID"
    placement="auto"
    type="button"
    [attr.aria-label]="'account.organization.budget_price_type.icon' | translate"
    [ngbPopover]="BudgetPriceTypeInfo"
    [title]="'account.organization.budget_price_type.icon' | translate"
  >
    <i aria-hidden="true" class="bi bi-info-circle-fill"></i>
  </button>
}
