<ng-template #BudgetPriceTypeInfo>
  <span
    [ishServerHtml]="
      ('account.organization.budget_price_type.info' | translate : { type: (customer$ | async).budgetPriceType }) +
      (suffix ?? '' | translate)
    "
  >
  </span
></ng-template>
<button
  *ngIf="'services.OrderApprovalServiceDefinition.runnable' | ishServerSetting"
  type="button"
  class="btn btn-link budget-info"
  [ngbPopover]="BudgetPriceTypeInfo"
  data-testing-id="budgetPriceTypeInfoTestingID"
  [attr.aria-label]="'info.icon.aria_label' | translate"
>
  <fa-icon [icon]="['fas', 'info-circle']" />
</button>
