.budget-bar {
  position: relative;
  display: flex;
  height: 25px;
  overflow: hidden;
  font-size: inherit;
  line-height: 0;
  background-color: #fff;

  .budget-bar-used {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
  }

  .budget-bar-used-additional {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
  }
}

.budget-bar-overflow {
  position: relative;

  .overflow-indicator {
    position: absolute;
    z-index: 2;
    height: 30px;
    margin-top: -9px;
    background: transparent (url('/assets/img/budget-bar-indicator.png')) 100% -8px no-repeat;

    .overflow-display {
      float: right;
      margin-top: -18px;
      margin-right: -17px;
      visibility: hidden;
    }
  }
}
