<div class="row">
  <ng-container *ngIf="products.length; else empty">
    <div class="col-md-3">
      <a (click)="clearAll()" data-testing-id="clear-all">{{ 'application.recentlyViewed.clear' | translate }}</a>
    </div>
    <div class="col-md-9">
      <h1>{{ 'application.recentlyViewed.product.heading' | translate }}</h1>
      <div class="product-list row">
        <div *ngFor="let productSku of products" class="col-6 col-lg-4 product-list-item grid-view">
          <ish-product-item ishProductContext [sku]="productSku" displayType="tile"></ish-product-item>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="col-md-12">
      <h1>{{ 'application.recentlyViewed.heading' | translate }}</h1>
      <p>{{ 'application.recentlyViewed.empty' | translate }}</p>
    </div>
  </ng-template>
</div>
