<div class="form-control-checkbox" [class.has-error]="showError">
  <div class="form-check form-control" [attr.data-testing-id]="'checkout-review-wrapper'">
    <label class="mb-2" [attr.for]="id">
      <input
        class="form-check-input"
        type="checkbox"
        [attr.aria-describedby]="props.ariaDescribedByIds"
        [attr.aria-invalid]="showError ? 'true' : undefined"
        [attr.aria-required]="props.required ? 'true' : undefined"
        [attr.data-testing-id]="field.key"
        [formControl]="formControl"
        [formlyAttributes]="field"
      />
      <span
        [ishServerHtml]="'checkout.tac.text' | translate: { '0': 'page://page.termsAndConditions.pagelet2-Page' }"
      ></span>
    </label>
  </div>
  @if (showError) {
    <div class="validation-message">
      <ish-validation-message class="validation-message" [field]="field" />
    </div>
  }
</div>
