<div class="cart-summary">
  <button
    type="button"
    class="btn btn-link btn-link-action promo-collapse-link"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="promo-code-input"
    data-testing-id="promo-collapse-link"
  >
    {{ 'shopping_cart.promotional_code.heading' | translate }}
    <fa-icon [icon]="['fas', isCollapsed ? 'angle-down' : 'angle-up']" class="float-right" />
  </button>

  <ish-error-message [error]="promotionError$ | async" [toast]="toast" />

  <ish-success-message
    *ngIf="displaySuccessMessage"
    message="shopping_cart.promotion.qualified_promo.text"
    [toast]="toast"
  />

  <div id="promo-code-input" class="form-inline" [ngbCollapse]="isCollapsed" data-testing-id="promo-code-form">
    <input
      [formControl]="codeInput"
      (keyup.enter)="submitPromotionCode()"
      class="form-control"
      type="text"
      [maxlength]="codeMaxLength"
      [attr.aria-label]="'shopping_cart.promotional_code.label' | translate"
      [placeholder]="'shopping_cart.promotional_code.label' | translate"
      [attr.aria-label]="'shopping_cart.promotional_code.label' | translate"
    />
    <button type="button" class="btn btn-secondary" [disabled]="!codeInput.valid" (click)="submitPromotionCode()">
      {{ 'shopping_cart.promotion.apply.button.label' | translate }}
    </button>
  </div>
</div>
