<div ngbDropdown autoClose="outside" [id]="filterElement.id">
  <button
    ngbDropdownToggle
    type="button"
    [id]="'dropdownMenuLink-' + filterElement.id"
    class="form-control"
    data-bs-toggle="dropdown"
    [title]="placeholder !== filterElement.name ? placeholder : ''"
  >
    <span>{{ placeholder }}</span>
  </button>

  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownMenuLink-' + filterElement.id">
    <button
      *ngFor="let facet of filterElement.facets; trackBy: trackByFn"
      ngbDropdownItem
      type="button"
      class="dropdown-item btn btn-link btn-link-action"
      [ngClass]="{ selected: facet.selected }"
      (click)="apply(facet)"
      [attr.aria-current]="facet.selected ? 'true' : undefined"
    >
      {{ facet.displayName }}
      <ng-container *ngIf="facet.count"> ({{ facet.count }})</ng-container>
      <fa-icon *ngIf="facet.selected" [icon]="['fas', 'check']" class="icon-checked ps-1" />
    </button>
  </div>
</div>
