<div autoClose="outside" ngbDropdown [id]="filterElement.id">
  <button
    class="form-control"
    data-bs-toggle="dropdown"
    ngbDropdownToggle
    type="button"
    [id]="'dropdownMenuLink-' + filterElement.id"
    [title]="placeholder !== filterElement.name ? placeholder : ''"
  >
    <span>{{ placeholder }}</span>
  </button>

  <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownMenuLink-' + filterElement.id">
    @for (facet of filterElement.facets; track facet.name) {
      <button
        class="dropdown-item btn btn-link btn-link-action"
        ngbDropdownItem
        type="button"
        [attr.aria-current]="facet.selected ? 'true' : undefined"
        [ngClass]="{ selected: facet.selected }"
        (click)="apply(facet)"
      >
        {{ facet.displayName }}
        @if (facet.count) {
          ({{ facet.count }})
        }
        @if (facet.selected) {
          <i class="bi bi-check-lg icon-checked ps-1"></i>
        }
      </button>
    }
  </div>
</div>
