<div>
  <h1>{{ 'product.compare.link' | translate }}</h1>

  <ng-container *ngIf="compareProductsCount$ | async as compareProductsCount; else emptyCompareList">
    <p>{{ 'product.compare.selected_product_count.message' | translate: { '0': compareProductsCount } }}</p>

    <ish-product-compare-list [compareProducts]="compareProducts$ | async"></ish-product-compare-list>
  </ng-container>

  <ng-template #emptyCompareList>
    <p>{{ 'product.compare.no_product_selected.message' | translate }}</p>
  </ng-template>
</div>
