<!-- NEEDS_WORK: review and adapt -->
<form role="search" class="search clearfix" name="SearchBox_Header" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
  <input [placeholder]="configuration?.placeholderText || ''"
         formControlName="search"
         autocomplete="off"
         name="SearchTerm"
         type="text"
         class="form-control searchTerm"
         (focus)="hidePopup()"
         (blur)="hidePopup()"
         (keydown.esc)="hidePopup()"
         (keydown.arrowleft)="selectSuggestedTerm(-1)"
         (keydown.arrowright)="selectSuggestedTerm(-1)"
         (keydown.arrowdown)="selectSuggestedTerm(activeIndex + 1)"
         (keydown.arrowup)="selectSuggestedTerm(activeIndex - 1)">

  <button class="btn-search btn btn-primary"
          type="submit"
          name="search"
          [title]="('search.searchbox.button.title' | translate)">
  <!-- search button with icon -->
    <ng-container *ngIf="!configuration?.buttonText; else textBlock">
      <!-- <span class="glyphicon glyphicon-search"></span> -->
      <fa-icon [icon]="['fas', icon]"></fa-icon>
    </ng-container>
    <!-- search button with text -->
    <ng-template #textBlock>
      {{configuration.buttonText}}
    </ng-template>
  </button>

  <ul *ngIf="results && !isHidden" class="search-suggest-results">
    <li *ngFor="let result of results | slice:0:configuration?.maxAutoSuggests; let liIndex = index"
        [class.active-suggestion]="isActiveSuggestedTerm(liIndex)"
        (mousedown)="submitSuggestedTerm(result.term)">
      <button type="button" class="search-result">
        <span class="searchTerm">{{ result.term }}</span>
      </button>
    </li>
  </ul>
</form>
