<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
  <ish-address-form
    [parentForm]="form"
    [countryCode]="countryCode"
    [regions]="regions"
    [titles]="titles"
    [countries]="countries"
  ></ish-address-form>

  <div class="row">
    <div class="offset-md-4 col-md-8 offset-lg-0 col-lg-12 offset-lg-4 col-xl-8">
      <button [disabled]="formDisabled" type="submit" class="btn btn-primary">
        <ng-container *ngIf="address; else saveButtonLabel">{{ 'account.addresses.update_address.button.label' | translate }}</ng-container>
        <ng-template #saveButtonLabel>{{ 'account.addresses.create_address.button.label' | translate }}</ng-template>
        </button>
      <button (click)="cancelForm()" type="reset" class="btn btn-secondary" >{{ 'checkout.address.cancel.button.label' | translate }}</button>
    </div>
  </div>
</form>
