<ng-container *ngIf="view$ | async as view">
  <ul class="product-list-paging">
    <li>
      <ng-container *ngIf="view.previousPage(); else inactiveFirstLink">
        <a class="product-list-paging-previous" (click)="previousPage()">&laquo;</a>
      </ng-container>
      <ng-template #inactiveFirstLink> &laquo; </ng-template>
    </li>
    <li *ngFor="let p of view.pageIndices()">
      <a [ngClass]="{ active: p.value === (page$ | async) }" (click)="setPage(p.value)">{{ p.display }}</a>
    </li>
    <li class="pagination-list-next">
      <ng-container *ngIf="view.nextPage(); else inactiveLastLink">
        <a (click)="nextPage()">&raquo;</a>
      </ng-container>
      <ng-template #inactiveLastLink> &raquo; </ng-template>
    </li>
  </ul>
</ng-container>
