<div class="quick-cart-link d-none d-md-block" [class.mini-cart-active]="!isCollapsed" ishClickOutside (isClickedOutside)="collapse()">

  <a (click)="toggleCollapse()">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <!-- TODO: check for a better solution for the plural and translate pipe combination for cases where the en_US.json is not yet loaded, current solution: || {"other": "#"} -->
    <span>{{ itemCount | i18nPlural: ( 'shopping_cart.ministatus.items.text' | translate ) || {"other": "#"} }}</span>
    <ng-container *ngIf="basket && basket.totals.total">
      <span> / </span>
      <span class="mini-cart-price">{{ basket.totals.itemTotal | ishPrice }}</span>
    </ng-container>
  </a>

  <div [collapse]="isCollapsed" class="mini-cart">

    <ng-container *ngIf="basket && basket.lineItems.length > 0; else emptyBlock">

      <div
        *ngIf="basket.lineItems.length > 2"
        class="btn-scroll-up"
        [class.disabled]="currentProduct === 0"
        (click)="scrollUp()"
      >
        <span class="glyphicon glyphicon-chevron-up"></span>
      </div>

      <div class="product-rows-block">
        <div class="slider" #slider>

          <div *ngFor="let lineItem of basket.lineItems" class="product-row">
            <div class="mini-product-img">
              <a [routerLink]="generateProductRoute(lineItem.product)" (click)="collapse()">
                <ish-product-image [product]="lineItem.product" imageType="S" class="product-image"></ish-product-image>
              </a>
            </div>
            <div class="mini-product-info">
              <a [routerLink]="generateProductRoute(lineItem.product)" (click)="collapse()">
                {{ lineItem.name }}
              </a>
              <div class="product-price">{{ lineItem.price | ishPrice }}</div>
              <div class="cart-pli-data"><span>{{ 'shopping_cart.pli.qty.label' | translate }}</span> {{ lineItem.quantity.value }}</div>
            </div>
          </div>

        </div>
      </div>

      <div
        *ngIf="basket.lineItems.length > 2"
        class="btn-scroll-down"
        [class.disabled]="currentProduct === basket.lineItems.length - 2"
        (click)="scrollDown()"
      >
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>

      <a class="view-cart btn btn-primary btn-lg btn-block" routerLink="/basket" (click)="collapse()">{{ 'shopping_cart.ministatus.view_cart.link' | translate }}</a>

    </ng-container>

    <ng-template #emptyBlock>
      {{ 'shopping_cart.ministatus.empty_cart.text' | translate }}
    </ng-template>

  </div>
</div>
