<h1>{{ 'account.payment.heading' | translate }}</h1>

<ish-error-message [error]="error"></ish-error-message>

<ng-container *ngIf="paymentMethods && paymentMethods.length; else noPaymentMethods">
  <p>{{ 'account.payment.message' | translate }}</p>

  <!--<h3>{{ 'account.payment.preferred_method' | translate }}</h3>-->

  <div *ngFor="let method of paymentMethods" class="section" data-testing-id="paymentMethodList">
    <h5 class="section">{{ method.displayName }}</h5>
    <div *ngFor="let payment of method.paymentInstruments" class="section row">
      <div class="col-xs-11 col-sm-7 col-md-5">
        <div class="float-right">
          <a
            class="btn-tool"
            title="{{ 'checkout.payment.method.delete.link' | translate }}"
            (click)="deleteUserPayment(payment.id)"
          >
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </a>
        </div>
        <p>{{ payment.accountIdentifier }}</p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noPaymentMethods>
  <p data-testing-id="emptyMessage">{{ 'account.payment.no_entries' | translate }}</p>
</ng-template>
