<form *ngIf="form" [formGroup]="form" class="product-variation-container">
  <div *ngFor="let group of variationOptions" class="product-variation">
    <div *ngIf="!readOnly" class="form-group">
      <label [for]="group.id" class="col-form-label">{{ group.label }}</label>
      <select class="form-control" [id]="group.id" [formControlName]="group.id" [attr.data-testing-id]="group.id">
        <option *ngFor="let option of group.options" [value]="option.value">
          {{ option.label }}
          <ng-container *ngIf="option.alternativeCombination">
            - {{ 'product.available_in_different_configuration' | translate }}
          </ng-container>
        </option>
      </select>
    </div>
    <ng-container *ngIf="readOnly">
      <span>{{ group.label }}: {{ getActiveOption(group)?.label }}</span>
    </ng-container>
  </div>
</form>
