<div [formGroup]="addressForm">
    <fieldset>
      <ish-input
        [form]="addressForm"
        controlName="firstName"
        [label]="'account.default_address.firstname.label' | translate"
        [errorMessages]="{'required':'account.address.firstname.missing.error',
                          'noSpecialChars':'account.name.error.forbidden.chars'}"
      ></ish-input>

      <ish-input
        [form]="addressForm"
        controlName="lastName"
        [label]="'account.default_address.lastname.label' | translate"
        [errorMessages]="{'required':'account.address.lastname.missing.error',
                          'noSpecialChars':'account.name.error.forbidden.chars'}"
      ></ish-input>
    </fieldset>

    <fieldset>
      <ish-input
        [form]="addressForm"
        controlName="addressLine1"
        [label]="'account.default_address.street.label' | translate"
        [errorMessages]="{'required':'account.address.address1.missing.error'}"
      ></ish-input>

      <ish-input
        [form]="addressForm"
        controlName="addressLine2"
        [label]="'account.default_address.street2.label' | translate"
      ></ish-input>
    </fieldset>

    <fieldset>
      <ish-input
        [form]="addressForm"
        controlName="city"
        [label]="'account.default_address.city.label' | translate"
        [errorMessages]="{'required':'account.address.city.missing.error'}"
      >
        <ng-template #AddressApoFpo>
          <span  [innerHTML]="'account.address.apo_fpo.tooltip' | translate"></span>
        </ng-template>
        <a
          [popover]="AddressApoFpo"
          [popoverTitle]="'account.address.apo_fpo.tooltip.headline' | translate"
          placement="top"
        >{{'account.address.apo_fpo.link' | translate }}
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
      </ish-input>

      <ish-select-region
        [form]="addressForm"
        [countryCode]="countryCode"
        [label]="'account.address.state.label' | translate"
      ></ish-select-region>

      <ish-input
        [form]="addressForm"
        controlName="postalCode"
        [label]="'account.default_address.postalcode.label' | translate"
        [errorMessages]="{'required':'account.address.postalcode.missing.error',
                          'pattern':'account.address.us.postalcode.error.regexp'}"
      ></ish-input>

    </fieldset>
  </div>

