<div [formGroup]="addressForm">
    <fieldset>
      <ish-input
        [controlName]="'firstName'"
        [form]="addressForm"
        [label]="'First Name'"
        [errorMessages]="{'required':'account.login.username.error.required'}"
      ></ish-input>

      <ish-input
        [controlName]="'lastName'"
        [form]="addressForm"
        [label]="'Last Name'"
        [errorMessages]="{'required':'account.login.username.error.required'}"
      ></ish-input>
    </fieldset>

    <fieldset>
      <ish-input
        [controlName]="'addressLine1'"
        [form]="addressForm"
        [label]="'Address Line 1'"
        [errorMessages]="{'required':'account.login.username.error.required'}"
      ></ish-input>

      <ish-input
        [controlName]="'addressLine2'"
        [form]="addressForm"
        [label]="'Address Line 2'"
      ></ish-input>
    </fieldset>

    <fieldset>
      <ish-input
        [controlName]="'city'"
        [form]="addressForm"
        [label]="'City'"
        [errorMessages]="{'required':'account.login.username.error.required'}"
      >
        <ng-template #AddressApoFpo>
            Enter APO or FPO in the &quot;City&quot;
            field and select one of the following three choices from the &quot;State&quot;
            pull-down menu: AA for Armed Forces of America, AE for Armed Forces Europe, AP for Armed Forces Pacific.
        </ng-template>
        <a [popover]="AddressApoFpo" popoverTitle="APO and FPO addresses" placement="top">APO/FPO
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
      </ish-input>

      <ish-select-region
        [form]="addressForm"
        [countryCode]="countryCode"
        [label]="'State'"
      ></ish-select-region>

      <ish-input
        [controlName]="'postalCode'"
        [form]="addressForm"
        [label]="'ZIP/Postal Code'"
        [errorMessages]="{'required':'account.login.username.error.required'}"
      ></ish-input>

    </fieldset>
  </div>

