<div *ngIf="isMandateNotAccepted()">
  <p *ngIf="mandateError" class="text-danger col-sm-offset-4">
    {{ 'checkout.sepa.mandate.error.notFound' | translate }}
  </p>

  <div class="col-12 col-md-9 col-lg-7">
    <h3>{{ 'checkout.sepa.mandate.header' | translate }}</h3>
    <p>{{ 'checkout.sepa.mandate.message' | translate }}</p>
    <form [formGroup]="payoneManageMandateForm">
      <div id="SEPAMandateText"><p>{{mandateText}}</p></div>

      <ish-checkbox
      [form]="payoneManageMandateForm"
      controlName="acceptMandate"
      label="{{ 'checkout.sepa.mandate.accept.label' | translate }}"
      [errorMessages]="{ pattern: 'checkout.sepa.mandate.error.required' }"
    ></ish-checkbox>
    </form>
  </div>
  <div class="col-md-3 col-lg-5">
    <button type="submit" class="btn btn-primary" (click)="updateMandateId()">
      {{ 'checkout.account.confirm.button.label' | translate }}
    </button>
  </div>
</div>
