
  <p *ngIf="mandateError" class="text-danger col-sm-offset-4">
    {{ 'checkout.sepa.mandate.error.notFound' | translate }}
  </p>

  <div class="col-12 col-md-9 col-lg-7">
    <h3>{{ 'checkout.sepa.mandate.header' | translate }}</h3>
    <p>{{ 'checkout.sepa.mandate.message' | translate }}</p>
    <form [formGroup]="payoneManageMandateForm">
      <div id="SEPAMandateText"><p>{{mandateText}}</p></div>

      <input type="checkbox" formControlName="acceptMandate" />
        <span>{{ 'checkout.sepa.mandate.accept.label' | translate }}</span>

    </form>
  </div>
