<ng-container *ngIf="visible$ | async">
  <ng-container *ngIf="variationOptions$ | async as variationOptions">
    <div *ngFor="let group of variationOptions" class="product-variation">
      <div class="form-group">
        <label [for]="uuid + '__' + group.id" class="col-form-label">{{ group.label }}</label>
        <select
          class="form-control"
          [id]="uuid + '__' + group.id"
          [attr.data-testing-id]="group.id"
          (change)="optionChange(group.id, $event.target)"
        >
          <ng-container *ngFor="let option of group.options">
            <option
              *ngIf="!option.alternativeCombination || variationOptions.length > 1"
              [value]="option.value"
              [selected]="option.active"
              [attr.data-testing-id]="group.id + '-' + option.value"
            >
              {{ option.label }}
              <ng-container *ngIf="option.alternativeCombination">
                - {{ 'product.available_in_different_configuration' | translate }}
              </ng-container>
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </ng-container>
</ng-container>
