<ng-container *ngIf="readOnly || advancedVariationHandling; else selection">
  <div class="product-variation-container">
    <div *ngFor="let group of variationOptions" class="product-variation read-only">
      <span>{{ group.label }}: {{ getActiveOption(group)?.label }}</span>
    </div>
    <ng-container *ishFeature="'advancedVariationHandling'">
      <a
        *ngIf="productMasterSKU"
        [routerLink]="['/product', productMasterSKU]"
        class="product-variation all-variations-link"
        translate
        >product.choose_another_variation.link</a
      >
    </ng-container>
  </div>
</ng-container>

<ng-template #selection>
  <form *ngIf="form" [formGroup]="form" class="product-variation-container">
    <div *ngFor="let group of variationOptions" class="product-variation">
      <div class="form-group">
        <label [for]="uuid + '__' + group.id" class="col-form-label">{{ group.label }}</label>
        <select
          class="form-control"
          [id]="uuid + '__' + group.id"
          [formControlName]="group.id"
          [attr.data-testing-id]="group.id"
        >
          <option *ngFor="let option of group.options" [value]="option.value">
            {{ option.label }}
            <ng-container *ngIf="option.alternativeCombination">
              - {{ 'product.available_in_different_configuration' | translate }}
            </ng-container>
          </option>
        </select>
      </div>
    </div>
  </form>
</ng-template>
