<ng-container *ngIf="productSKUs$ | async as productSKUs">
  <div *ngIf="productSKUs.length" class="product-list-container">
    <h2>{{ productLinkTitle }}</h2>

    <div class="product-list">
      <ish-swiper [config]="swiperConfig">
        <ng-template *ngFor="let sku$ of productSKUs" swiperSlide>
          <ish-lazy-item>
            <ng-template ishLazyLoadingContent>
              <ish-product-item *ngIf="sku$ | async as sku" ishProductContext [sku]="sku" />
            </ng-template>
          </ish-lazy-item>
        </ng-template>
      </ish-swiper>
    </div>
  </div>
</ng-container>
