@if (productSKUs$ | async; as productSKUs) {
  @if (productSKUs.length) {
    <div class="product-list-container">
      <h2>{{ productLinkTitle }}</h2>
      @if (!isServerSideRendering) {
        <div class="product-list">
          <div #swiper class="swiper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
              @for (sku$ of productSKUs; track sku$) {
                <div class="swiper-slide">
                  <ish-deferred-item>
                    <ng-template ishLazyLoadingContent>
                      @if (sku$ | async; as sku) {
                        <ish-product-item ishProductContext [sku]="sku" />
                      }
                    </ng-template>
                  </ish-deferred-item>
                </div>
              }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      } @else {
        <div class="product-list row">
          @for (sku$ of productSKUs; track sku$) {
            @if (sku$ | async; as sku) {
              <div class="product-list-item col-6 col-md-4 col-lg-3">
                <ish-product-item ishProductContext [sku]="sku" />
              </div>
            }
          }
        </div>
      }
    </div>
  }
}
