<h1>{{ 'account.forgotdata.password_retrieval.heading' | translate }}</h1>

<ng-container *ngIf="success$ | async; else forgotPasswordForm">
  <p>{{ 'account.send_password.message' | translate }}</p>
</ng-container>

<ng-template #forgotPasswordForm>
  <p [ishServerHtml]="'account.forgotdata.password_retrieval_info.text' | translate"></p>

  <ish-error-message [error]="error$ | async"></ish-error-message>

  <div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <ish-request-reminder-form (submitPasswordReminder)="requestPasswordReminder($event)"></ish-request-reminder-form>
    </div>
  </div>
</ng-template>

<ish-loading *ngIf="loading$ | async"></ish-loading>
