<div *ngIf="view$ | async as view">
  <div class="float-right">
    <ul class="share-tools">
      <li>
        <a href="javascript:window.print();" class="link-print" rel="nofollow">
          <fa-icon [icon]="['fas', 'print']" />
          <span class="share-label">{{ 'account.orderdetails.print_link.text' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>

  <h1>
    <ng-container *ngIf="view === 'approver'; else requisitionTitle">{{
      'approval.detailspage.approval.heading' | translate
    }}</ng-container>
    <ng-template #requisitionTitle>{{ 'approval.detailspage.requisition.heading' | translate }}</ng-template>
  </h1>
  <ish-error-message [error]="error$ | async" />

  <div
    *ngIf="requisition$ | async as requisition"
    class="section loading-container"
    data-testing-id="order-summary-info"
  >
    <ish-requisition-summary [requisition]="requisition" [view]="view" />

    <!-- display approval box in buyer view or for customer approvers only -->
    <ish-requisition-buyer-approval *ngIf="view === 'buyer'; else customerApprover" [requisition]="requisition" />
    <ng-template #customerApprover>
      <ish-requisition-buyer-approval *ishIsAuthorizedTo="'APP_B2B_ORDER_APPROVAL'" [requisition]="requisition" />
    </ng-template>

    <ish-requisition-cost-center-approval [requisition]="requisition" />

    <ng-container *ngTemplateOutlet="approvalButtonBar; context: { requisition: requisition }" />

    <h2>{{ 'approval.detailspage.order_details.heading' | translate }}</h2>

    <div *ngIf="'shipping.messageToMerchant' | ishServerSetting">
      <!-- MessageToMerchant-->
      <ish-basket-merchant-message-view [data]="requisition" />
    </div>

    <ish-basket-custom-fields-view [data]="requisition" />

    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box heading="checkout.widget.billing-address.heading" class="infobox-wrapper col-md-6">
        <ish-address [address]="requisition.invoiceToAddress" [displayEmail]="true" />
      </ish-info-box>

      <!-- Payment Method -->
      <ish-info-box heading="checkout.widget.payment_method.heading" class="infobox-wrapper col-md-6">
        <p>
          {{ requisition.payment?.displayName }}<br />{{ requisition.payment?.paymentInstrument?.accountIdentifier }}
          <ng-container
            *ngIf="!requisition.payment?.displayName && !requisition.payment?.paymentInstrument?.accountIdentifier"
          >
            {{ requisition.payment?.paymentInstrument }}
          </ng-container>
        </p>
      </ish-info-box>
    </div>

    <div class="row d-flex">
      <!-- Shipping Address -->
      <ish-info-box heading="checkout.widget.shipping-address.heading" class="infobox-wrapper col-md-6">
        <ish-address [address]="requisition.commonShipToAddress" />
      </ish-info-box>

      <!-- Shipping Method -->
      <ish-info-box heading="checkout.widget.shipping_method.heading" class="infobox-wrapper col-md-6">
        <ish-basket-shipping-method [data]="requisition" />
      </ish-info-box>
    </div>

    <!-- Line Items -->
    <ish-line-item-list
      *ngIf="requisition.lineItems?.length > 0"
      [lineItems]="requisition.lineItems"
      [editable]="false"
      lineItemViewType="simple"
    />

    <!-- order summary -->
    <div class="section row">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="cost-summary">
          <h3>{{ 'checkout.order_summary.heading' | translate }}</h3>
          <ish-basket-cost-summary [totals]="requisition.totals" />
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="approvalButtonBar; context: { requisition: requisition }" />

    <ng-template #approvalButtonBar let-requisition="requisition">
      <div *ngIf="requisition.approval?.statusCode === 'PENDING' && view === 'approver'" class="section text-right">
        <button (click)="approveRequisition()" type="button" class="btn btn-primary">
          {{ 'approval.detailspage.approve.button.label' | translate }}
        </button>
        <button (click)="rejectDialog.show()" type="button" class="btn btn-secondary">
          {{ 'approval.detailspage.reject.button.label' | translate }}
        </button>
      </div>
    </ng-template>
    <ish-requisition-reject-dialog #rejectDialog (submitRejectRequisition)="rejectRequisition($event)" />

    <div class="section d-flex d-flex justify-content-between">
      <a [routerLink]="['../../' + view, { status: requisition.approval.statusCode }]" class="no-print">
        <ng-container *ngIf="view === 'buyer'; else backToApprovals">
          {{ 'approval.detailspage.links.return_to_requisitions' | translate }}
        </ng-container>
        <ng-template #backToApprovals>{{ 'approval.detailspage.links.return_to_approvals' | translate }}</ng-template>
      </a>
      <a routerLink="/home" class="no-print" data-testing-id="home-link">{{
        'account.orderdetails.links.continue_shopping' | translate
      }}</a>
    </div>

    <ish-loading *ngIf="loading$ | async" />
  </div>
</div>
