<ng-container *ngIf="filled === 'half'; else fullOrEmpty">
  <span class="star-half-left star">
    <fa-icon [icon]="['fas', 'star-half']" aria-hidden="true" />
  </span>
  <span class="star-empty star-half-right star star-margin">
    <fa-icon [icon]="['fas', 'star-half']" transform="flip-h" aria-hidden="true" />
  </span>
</ng-container>

<ng-template #fullOrEmpty>
  <span class="star star-margin" [ngClass]="[filled === 'full' ? '' : 'star-empty']">
    <fa-icon [icon]="['fas', 'star']" aria-hidden="true" />
  </span>
</ng-template>
