// ERROR PAGE

.errorpage {
  header {
    margin-bottom: 0;

    .logo-wrapper {
      padding-top: $space-default * 2 + $top-header-height;
      padding-bottom: 20px;
    }
  }

  .wrapper {
    padding: 0;
    // background: url('/assets/img/error_bg.jpg') center;

    .main-container {
      background: none;
    }
  }

  .errorpage-content {
    padding: ($space-default * 5) 0 ($space-default * 8);
    color: $text-color-primary;

    h1 {
      font-size: 70px;
      opacity: 0.85;
    }

    .error-text {
      padding: $space-default;
      background: rgb(238 238 238 / 0.8);
    }

    .error-search-container {
      .buttons {
        position: relative;
        top: -($search-container-height);
      }
    }
  }
}
