<ng-container *ngIf="options?.length > 0 || required">
  <div class="row form-group has-feedback" [ishShowFormFeedback]="formControl">
    <label *ngIf="label" [for]="uuid" class="col-form-label" [ngClass]="labelClass"
      >{{ label | translate }}<span *ngIf="required" class="required">*</span></label
    >
    <div [ngClass]="inputClass">
      <select class="form-control" [id]="uuid" [formControl]="formControl" [attr.data-testing-id]="controlName">
        <option value="" *ngIf="showEmptyOption">{{ emptyOptionLabel | translate }}</option>

        <!-- translate option values -->
        <ng-container *ngIf="translateOptionValues; else notTranslateOptionValues">
          <option *ngFor="let option of options" [value]="option.value | translate">
            <span *ngIf="translateOptionLabels">{{ option.label | translate }}</span>
            <span *ngIf="!translateOptionLabels">{{ option.label }}</span>
          </option>
        </ng-container>
        <!-- does not translate values -->
        <ng-template #notTranslateOptionValues>
          <option *ngFor="let option of options" [value]="option.value">
            <span *ngIf="translateOptionLabels">{{ option.label | translate }}</span>
            <span *ngIf="!translateOptionLabels">{{ option.label }}</span>
          </option>
        </ng-template>
      </select>
      <ish-form-control-feedback [messages]="errorMessages" [control]="formControl"></ish-form-control-feedback>
    </div>
  </div>
</ng-container>
