<h1>{{ 'account.punchout.heading' | translate }}</h1>
<ish-error-message [error]="error"></ish-error-message>

<p *ngIf="punchoutTypes?.length > 0; else noPunchoutTypes">
  {{ 'account.punchout.subtitle' | translate }}
</p>
<ng-template #noPunchoutTypes>
  <ish-info-message message="account.punchout.no.protocols.info" [toast]="false"></ish-info-message>
</ng-template>

<div *ngIf="punchoutTypes?.length > 1">
  <ul ngbNav class="nav-tabs section" [(activeId)]="selectedType">
    <li *ngFor="let type of punchoutTypes" [ngbNavItem]="type">
      <a ngbNavLink [routerLink]="['../punchout', { format: type }]">{{
        'account.punchout.type.text' | translate: { '0': type }
      }}</a>
    </li>
  </ul>
</div>
