<div class="d-flex align-items-center justify-content-between flex-wrap">
  <h1>{{ 'account.punchout.heading' | translate }}</h1>

  @if (selectedType === 'oci') {
    <a class="btn btn-secondary m-0" routerLink="configuration">{{
      'account.punchout.configuration.button.label' | translate
    }}</a>
  }
</div>
<ish-error-message [error]="error" />

@if (punchoutTypes?.length > 0) {
  <p>
    {{ 'account.punchout.subtitle' | translate }}
  </p>
} @else {
  <ish-info-message message="account.punchout.no.protocols.info" [toast]="false" />
}
@if (punchoutTypes?.length > 1) {
  <div>
    <nav
      class="nav-tabs"
      ngbNav
      [attr.aria-label]="'account.punchout.type.tabs.aria_label' | translate"
      [(activeId)]="selectedType"
    >
      @for (type of punchoutTypes; track type) {
        <ng-container [ngbNavItem]="type">
          <a
            ngbNavLink
            [attr.data-testing-id]="'account-punchout-tab-' + type"
            [queryParams]="{ format: type }"
            [routerLink]="['../punchout']"
            >{{ 'account.punchout.type.text' | translate: { '0': type } }}</a
          >
        </ng-container>
      }
    </nav>
  </div>
}
