<div class="row form-group">
  <div class="offset-md-4 col-md-8" [class.has-error]="showError">
    <div class="form-check" [attr.data-testing-id]="'registration_tac-wrapper'">
      <input
        class="form-check-input"
        type="checkbox"
        [attr.aria-describedby]="props.ariaDescribedByIds"
        [attr.aria-invalid]="showError ? 'true' : undefined"
        [attr.aria-required]="props.required ? 'true' : undefined"
        [attr.data-testing-id]="field.key"
        [formControl]="formControl"
        [formlyAttributes]="field"
      />
      <label class="form-check-label" [attr.for]="id"
        ><span
          [ishServerHtml]="
            'registration.tac_privacy_policy.text'
              | translate
                : {
                    '0': 'page://page.termsAndConditions.pagelet2-Page',
                    '1': 'page://page.privacyPolicy.pagelet2-Page',
                  }
          "
        ></span
      ></label>
    </div>
    @if (showError) {
      <ng-container class="invalid-feedback d-block mb-2">
        <ish-validation-message class="validation-message" [field]="field" />
      </ng-container>
    }
  </div>
</div>
