<div class="search-suggest-categories">
  <div class="headline">{{ 'suggest.categories.headline' | translate }}</div>
  <ul>
    <li *ngFor="let result of categories | slice : 0 : maxAutoSuggests">
      <a [routerLink]="[]" tabindex="-1">
        <img [src]="getCategoryImageUrl(result.images)" alt="{{ result.name }}" />
      </a>
      <button
        type="button"
        [innerHTML]="result.name + ' (' + result.productCount + ')' | titlecase | ishHighlight : (inputTerms$ | async)"
        (click)="submit(result.name)"
      ></button>
    </li>
  </ul>
</div>
