//
// HOMEPAGE

.homepage {
  header {
    margin-bottom: 0;
    box-shadow: none;
  }

  .wrapper {
    padding: $space-default 0 0 0;
    background: none;

    @include media-breakpoint-down(sm) {
      padding-top: $search-container-height;
    }

    .main-container {
      max-width: 100%;
      padding: 0;
    }
  }

  .main-container {
    padding-right: 0;
    padding-left: 0;

    img {
      width: 100%;
    }

    .brands-carousel {
      img {
        width: auto;
      }
    }
  }

  .content-container:not(.container) {
    padding: 0;
  }
}

.homepage-carousel {
  .carousel-indicators {
    bottom: 35%;
  }
}

.brands-carousel {
  padding: 40px 0;
  background-color: $color-tertiary;
}

.welcome-message {
  margin-top: $space-default;

  p {
    margin-bottom: $space-default / 3;
    font-family: $font-family-condensedbold;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }

  a {
    padding-right: $space-default / 2;
  }
}
