//
// ACCOUNT NAVIGATION

.account-navigation {
  li {
    padding: $space-default * 2/3 $space-default * 2/3 ($space-default / 2);
    background: $color-tertiary;
    border: $border-width-default solid $border-color-lighter;
    border-width: 0 1px 1px 1px;

    &.collapse,
    &.collapsing {
      padding: 0;
      border: none;
    }

    &:hover {
      background: darken($color-tertiary, 10%) none repeat scroll 0 0;
    }

    &.account-nav-header {
      cursor: pointer;
      background: $color-secondary;
      border: $border-width-default solid $border-color-default;
    }

    .ng-fa-icon {
      margin-right: ($space-default / 2);
      font-size: 14px;
      color: $text-color-quarternary;
    }

    p {
      margin: 0;
      font-size: 16px;
      color: $text-color-primary;
    }

    &:first-child {
      border-width: $border-width-default;
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }

    a {
      display: block;
      font-size: 14px;
      color: $link-color;
    }

    &.active {
      background: $color-inverse;
      border-right: none;

      a {
        color: $text-color-primary;
      }
    }

    &.account-welcome {
      &:hover {
        background: $color-tertiary;
      }
    }
  }
}

.account-nav-box {
  @media (max-width: $screen-xs-max) {
    padding-top: $space-default;
    padding-bottom: $space-default;
    margin-top: -15px;
    margin-bottom: ($space-default + ($space-default / 2));
    background: $color-tertiary;
    border-top: $border-width-default solid lighten($border-color-default, 100%);
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding-top: $space-default;
    padding-bottom: $space-default;
    margin-top: -25px;
    margin-bottom: ($space-default + ($space-default / 2));
    background: $color-tertiary;
    border-top: $border-width-default solid lighten($border-color-default, 100%);
  }
}
