// MY ACCOUNT - OVERVIEW

.account-wrapper {
  .grey-panel {
    h2 {
      margin: 0;
      font-weight: bold;
    }
  }

  .account-main {
    padding: $space-default 0;

    h1,
    h2,
    h3 {
      .btn:not(.details-tooltip) {
        @media (max-width: $screen-xs-max) {
          display: block;
          width: 100%;
          margin-top: $space-default;
          margin-bottom: $space-default;
          clear: both;
        }

        @media (min-width: $screen-sm-min) {
          float: right;
        }
      }
    }

    .details-tooltip {
      color: $link-color;
      text-transform: none;
    }
  }

  .cost-summary {
    border: none;
  }

  .progress {
    min-width: 130px;
    height: 20px;

    &.background-inverse {
      background-color: $color-inverse;
    }

    .progress-bar {
      overflow: visible;
      text-shadow: 0 0 2px #000;
    }
  }
}
