<div class="float-end">
  <ul class="share-tools">
    <li>
      <a
        class="link-print"
        href="javascript:window.print();"
        rel="nofollow"
        [title]="'account.orderdetails.print_link.text' | translate"
      >
        <i class="bi bi-printer-fill"></i>
      </a>
    </li>
  </ul>
</div>
<h1>{{ 'account.orderdetails.heading.default' | translate }}</h1>
<p>{{ 'account.orderdetails.headerDetails.default' | translate }}</p>

@if (order) {
  <div class="section row" data-testing-id="order-summary-info">
    <div class="col-md-6">
      <dl class="dl-grid dl-horizontal dl-separator">
        <dt>
          <span>{{ 'account.orderdetails.order_number.label' | translate }}</span>
        </dt>
        <dd data-testing-id="order-number">
          {{ order.documentNo }}
        </dd>
        @if (order.approval) {
          <dt>
            <span>{{ 'approval.detailspage.order.request_id' | translate }}</span>
          </dt>
          <dd>
            <a [routerLink]="['/account/requisitions/buyer', order.id, { status: 'APPROVED' }]">{{
              order.requisitionNo
            }}</a>
            {{
              'account.orderdetails.approved.text'
                | translate
                  : {
                      '0': order.approval.approverFirstName + ' ' + order.approval.approverLastName,
                      '1': order.approval.date | ishDate: 'shortDate',
                    }
            }}
          </dd>
        }
        <dt>
          <span>{{ 'account.orderdetails.date_of_order.label' | translate }}</span>
        </dt>
        <dd data-testing-id="order-date">
          {{ order.creationDate | ishDate }}
        </dd>
        <dt>
          <span>{{ 'account.orderdetails.order_status.label' | translate }}</span>
        </dt>
        <dd data-testing-id="order-status">
          <span class="badge text-bg-info">{{ order.status }}</span>
        </dd>
      </dl>
    </div>

    @if (order.withdrawal?.withdrawalAllowed || order.withdrawal?.status) {
      <div class="col-md-6 mb-2">
        @if (order.withdrawal?.withdrawalAllowed) {
          <a
            [queryParams]="{ orderDocumentNumber: order.documentNo, orderEmail: order.email }"
            [routerLink]="['/withdrawal']"
            >{{ 'account.orderdetails.withdrawal.link' | translate }}</a
          >
        } @else if (order.withdrawal?.status) {
          <dl class="dl-grid dl-horizontal dl-separator">
            <dt>{{ 'account.orderdetails.withdrawal_status.label' | translate }}</dt>
            <dd data-testing-id="withdrawal-status">
              <span class="badge text-bg-secondary">
                @if (order.withdrawal?.status === 'CREATED') {
                  {{ 'withdrawal.status.label.received' | translate }}
                } @else {
                  {{ 'withdrawal.status.label.approved' | translate }}
                }
              </span>
            </dd>
            @if (order.withdrawal?.withdrawalCreationDate) {
              <dt>
                <span>{{ 'account.orderdetails.withdrawal_received_on.label' | translate }}</span>
              </dt>
              <dd data-testing-id="withdrawal-received-on">
                {{ order.withdrawal.withdrawalCreationDate | ishDate }}
              </dd>
            }
          </dl>
        }
      </div>
    }
    @if (order.recurringOrderID) {
      <div class="col-12">
        <span
          [ishServerHtml]="
            'account.orderdetails.recurring_order.info'
              | translate: { link: 'route://account/recurring-orders/' + order.recurringOrderID }
          "
        ></span>
      </div>
    }
  </div>
}
@if (order) {
  <div class="row">
    <div class="col-md-6">
      <!-- Add Order Items to Cart Button -->
      <ish-account-order-to-basket [cssClass]="'mb-3'" [order]="order" />
      <!-- Create Order-Template from Order Button -->
      <ish-lazy-order-create-order-template [cssClass]="'mb-3'" [lineItems]="order.lineItems" />
    </div>
  </div>
  <div class="row">
    <!-- Buyer-->
    <ng-container *ishFeature="'businessCustomerRegistration'">
      <ish-info-box class="infobox-wrapper col-md-6" heading="checkout.widget.buyer.heading">
        <ish-basket-buyer [object]="order" />
      </ish-info-box>
    </ng-container>
    <!-- Additional Information -->
    @if (order.costCenter || hasCustomFields()) {
      <ish-info-box
        class="infobox-wrapper col-md-6"
        cssClass="pb-3"
        heading="checkout.widget.additional-information.heading"
      >
        <ish-basket-cost-center-view [data]="order" />
        <ish-basket-custom-fields-view [data]="order" />
      </ish-info-box>
    }
  </div>
  @if ('shipping.messageToMerchant' | ishServerSetting) {
    <!-- MessageToMerchant-->
    <ish-basket-merchant-message-view [data]="order" />
  }
  <div class="row d-flex">
    <!-- Invoice Address -->
    <ish-info-box class="infobox-wrapper col-md-6" heading="checkout.widget.billing-address.heading">
      <ish-address [address]="order.invoiceToAddress" [displayEmail]="true" />
    </ish-info-box>
    <!-- Shipping Address -->
    <ish-info-box class="infobox-wrapper col-md-6" heading="checkout.widget.shipping-address.heading">
      <ish-address [address]="order.commonShipToAddress" />
    </ish-info-box>
  </div>
  <div class="row d-flex">
    <!-- Shipping Method -->
    <ish-info-box class="infobox-wrapper col-md-6" heading="checkout.widget.shipping_method.heading">
      <ish-basket-shipping-method [data]="order" />
    </ish-info-box>
    <!-- Payment -->
    <ish-info-box class="infobox-wrapper col-md-6" heading="checkout.widget.payment_method.heading">
      @if (order.payment) {
        <div class="float-end">
          <p class="badge text-bg-info">{{ order.payment.status }}</p>
        </div>
        <p>
          {{ order.payment.displayName }}<br />{{ order.payment.paymentInstrument.accountIdentifier }}
          @if (!order.payment.displayName && !order.payment.paymentInstrument.accountIdentifier) {
            {{ order.payment.paymentInstrument }}
          }
        </p>
      }
    </ish-info-box>
  </div>
  <ish-lazy-return-request-return-button [order]="order" />

  <!-- Line Items -->
  @if (order?.lineItems?.length) {
    <ish-line-item-list lineItemViewType="simple" [editable]="false" [lineItems]="order.lineItems" />
  }
  <!-- Cost Summary -->
  <div class="section row">
    <div class="col-12 col-md-6 offset-md-6">
      <div class="cost-summary">
        <h2 class="h3">{{ 'checkout.order_summary.heading' | translate }}</h2>
        <ish-basket-cost-summary [totals]="order.totals" />
      </div>
      <!-- Add Order Items to Cart Button -->
      <ish-account-order-to-basket [cssClass]="'mb-3'" [order]="order" />
      <!-- Create Order-Template from Order Button -->
      <ish-lazy-order-create-order-template [cssClass]="'mb-3'" [lineItems]="order.lineItems" />
    </div>
  </div>
}

<!-- Links -->
<div class="section d-flex justify-content-between">
  <a class="no-print" data-testing-id="orders-link" routerLink="/account/orders">{{
    'account.orderdetails.links.return_to_orders' | translate
  }}</a>
  <a class="no-print" data-testing-id="home-link" routerLink="/home">{{
    'account.orderdetails.links.continue_shopping' | translate
  }}</a>
</div>
