<div class="float-right">
  <ul class="share-tools">
    <li>
      <a href="javascript:window.print();" class="link-print" rel="nofollow">
        <fa-icon [icon]="['fas', 'print']" />
        <span class="share-label">{{ 'account.orderdetails.print_link.text' | translate }}</span>
      </a>
    </li>
  </ul>
</div>
<h1>{{ 'account.orderdetails.heading.default' | translate }}</h1>
<p>{{ 'account.orderdetails.headerDetails.default' | translate }}</p>

<div *ngIf="order" class="section" data-testing-id="order-summary-info">
  <dl class="row dl-horizontal dl-separator">
    <dt class="col-6 col-sm-4 col-md-2">{{ 'account.orderdetails.order_number.label' | translate }}</dt>
    <dd class="col-6 col-sm-8 col-md-10" data-testing-id="order-number">{{ order.documentNo }}</dd>
    <ng-container *ngIf="order.approval">
      <dt class="col-6 col-sm-4 col-md-2">{{ 'approval.detailspage.order.request_id' | translate }}</dt>
      <dd class="col-6 col-sm-8 col-md-10">
        <a [routerLink]="['/account/requisitions/buyer', order.id, { status: 'APPROVED' }]">{{
          order.requisitionNo
        }}</a>
        {{
          'account.orderdetails.approved.text'
            | translate
              : {
                  '0': order.approval.approverFirstName + ' ' + order.approval.approverLastName,
                  '1': order.approval.date | ishDate : 'shortDate'
                }
        }}
      </dd>
    </ng-container>
    <dt class="col-6 col-sm-4 col-md-2">{{ 'account.orderdetails.date_of_order.label' | translate }}</dt>
    <dd class="col-6 col-sm-8 col-md-10" data-testing-id="order-date">{{ order.creationDate | ishDate }}</dd>
    <dt class="col-6 col-sm-4 col-md-2">{{ 'account.orderdetails.order_status.label' | translate }}</dt>
    <dd class="col-6 col-sm-8 col-md-10" data-testing-id="order-status">
      <span class="badge badge-info">{{ order.status }}</span>
    </dd>
  </dl>
</div>

<ng-container *ngIf="order">
  <div class="row">
    <div class="col-md-6">
      <!-- Add Order Items to Cart Button -->
      <ish-account-order-to-basket [order]="order" [cssClass]="'mb-3'" />

      <!-- Create Order-Template from Order Button -->
      <ish-lazy-order-create-order-template [lineItems]="order.lineItems" [cssClass]="'mb-3'" />
    </div>
  </div>
  <div *ishFeature="'businessCustomerRegistration'" class="row">
    <!-- Buyer-->
    <ish-info-box heading="checkout.widget.buyer.heading" class="infobox-wrapper col-md-6">
      <ish-basket-buyer [object]="order" />
    </ish-info-box>
  </div>

  <ng-container *ngIf="'shipping.messageToMerchant' | ishServerSetting">
    <!-- MessageToMerchant-->
    <ish-basket-merchant-message-view [data]="order" />
  </ng-container>

  <ish-basket-custom-fields-view [data]="order" />

  <div class="row d-flex">
    <!-- Invoice Address -->
    <ish-info-box heading="checkout.widget.billing-address.heading" class="infobox-wrapper col-md-6">
      <ish-address [address]="order.invoiceToAddress" [displayEmail]="true" />
    </ish-info-box>
    <!-- Shipping Address -->
    <ish-info-box heading="checkout.widget.shipping-address.heading" class="infobox-wrapper col-md-6">
      <ish-address [address]="order.commonShipToAddress" />
    </ish-info-box>
  </div>

  <div class="row d-flex">
    <!-- Shipping Method -->
    <ish-info-box heading="checkout.widget.shipping_method.heading" class="infobox-wrapper col-md-6">
      <ish-basket-shipping-method [data]="order" />
    </ish-info-box>
    <!-- Payment -->
    <ish-info-box heading="checkout.widget.payment_method.heading" class="infobox-wrapper col-md-6">
      <div class="float-right">
        <p class="badge badge-info">{{ order.payment.status }}</p>
      </div>
      <p>
        {{ order.payment.displayName }}<br />{{ order.payment.paymentInstrument.accountIdentifier }}
        <ng-container *ngIf="!order.payment.displayName && !order.payment.paymentInstrument.accountIdentifier">
          {{ order.payment.paymentInstrument }}
        </ng-container>
      </p>
    </ish-info-box>
  </div>

  <!-- Line Items -->
  <ish-line-item-list
    *ngIf="order.lineItems?.length > 0"
    [lineItems]="order.lineItems"
    [editable]="false"
    lineItemViewType="simple"
  />

  <!-- Cost Summary -->
  <div class="section row">
    <div class="col-12 col-md-6 offset-md-6">
      <div class="cost-summary">
        <h3>{{ 'checkout.order_summary.heading' | translate }}</h3>
        <ish-basket-cost-summary [totals]="order.totals" />
      </div>

      <!-- Add Order Items to Cart Button -->
      <ish-account-order-to-basket [order]="order" [cssClass]="'mb-3'" />

      <!-- Create Order-Template from Order Button -->
      <ish-lazy-order-create-order-template [lineItems]="order.lineItems" [cssClass]="'mb-3'" />
    </div>
  </div>
</ng-container>

<!-- Links -->
<div class="section d-flex justify-content-between">
  <a routerLink="/account/orders" class="no-print" data-testing-id="orders-link">{{
    'account.orderdetails.links.return_to_orders' | translate
  }}</a>
  <a routerLink="/home" class="no-print" data-testing-id="home-link">{{
    'account.orderdetails.links.continue_shopping' | translate
  }}</a>
</div>
