<ng-container *ngIf="group?.hasVisibleParameters">
  <h3 [id]="group?.name">{{ group?.description }}</h3>

  <ng-container *ngFor="let item of group?.members">
    <ng-container [ngSwitch]="true">
      <ish-tacton-group *ngSwitchCase="isGroup(item)" [group]="item"></ish-tacton-group>
      <ish-tacton-image-text-buttons
        *ngSwitchCase="isImageTextButtons(item)"
        [parameter]="item"
      ></ish-tacton-image-text-buttons>
      <ish-tacton-text-buttons *ngSwitchCase="isTextButtons(item)" [parameter]="item"></ish-tacton-text-buttons>
      <ish-tacton-number-input *ngSwitchCase="isNumberInput(item)" [parameter]="item"></ish-tacton-number-input>
      <ish-tacton-text-input *ngSwitchCase="isTextInput(item)" [parameter]="item"></ish-tacton-text-input>
      <ish-tacton-select-input *ngSwitchCase="isSelectInput(item)" [parameter]="item"></ish-tacton-select-input>
      <ish-tacton-readonly *ngSwitchCase="isReadOnly(item)" [parameter]="item"></ish-tacton-readonly>
      <ish-tacton-radio-input *ngSwitchCase="isRadioInput(item)" [parameter]="item"></ish-tacton-radio-input>
      <ish-tacton-selected-image *ngSwitchCase="isSelectedImage(item)" [parameter]="item"></ish-tacton-selected-image>
      <pre *ngSwitchDefault class="border border-primary">{{ item | json }}</pre>
    </ng-container>
  </ng-container>
</ng-container>
