<ng-container *ngIf="group && group.hasVisibleParameters">
  <h2 [id]="'anchor-' + group.name" *ngIf="!level; else subGroup">{{ group?.description }}</h2>
  <ng-template #subGroup>
    <span class="anchor" [id]="'anchor-' + group.name"></span>
    <h3 ishIntersectionObserver (visibilityChange)="onIntersection(group.name, $event)">{{ group.description }}</h3>
  </ng-template>
  <img *ngIf="group.properties?.tc_group_picture" [src]="getImageUrl(group.properties?.tc_group_picture) | async" />

  <ng-container *ngFor="let item of group?.members; let last = last">
    <ish-tacton-group *ngIf="isGroup(item); else parameter" [group]="item" [level]="level + 1"></ish-tacton-group>
    <ng-template #parameter>
      <ish-tacton-parameter *ngIf="isParameter(item)" [item]="item"></ish-tacton-parameter>
    </ng-template>
    <span *ngIf="!last" ishIntersectionObserver (visibilityChange)="onIntersection(group.name, $event)"></span>
  </ng-container>
</ng-container>
