<div class="col-xs-12 bundled-product-list">
  <h3>{{ 'product.retailSet.products.heading' | translate }}</h3>

  <div class="product-list row">
    <ng-container *ngFor="let part of parts; index as i; trackBy: trackByFn">
      <div *ngIf="displayType === 'tile'" class="col-6 col-lg-4 product-list-item grid-view">
        <ish-product-item
          [productSku]="part.sku"
          [quantity]="part.quantity"
          (productSkuChange)="productChange(i, $event)"
          (quantityChange)="productChange(i, part.sku, $event)"
          [configuration]="productTileConfiguration"
        ></ish-product-item>
      </div>

      <div *ngIf="displayType === 'row'" class="col-lg-12 product-list-item list-view">
        <ish-product-item
          [productSku]="part.sku"
          [quantity]="part.quantity"
          (productSkuChange)="productChange(i, $event)"
          (quantityChange)="productChange(i, part.sku, $event)"
          [configuration]="productRowConfiguration"
        ></ish-product-item>
      </div>
    </ng-container>
  </div>
  <div class="row product-info">
    <div class="col align-self-start no-gutters">
      <ish-product-add-to-basket
        [product]="product"
        translationKey="product.add_to_cart.retailset.link"
        (productToBasket)="productToBasket.emit()"
      ></ish-product-add-to-basket>
    </div>
  </div>
</div>
