<div *ngIf="visible$ | async" class="retail-product-list">
  <h2 class="h3">{{ 'product.retailSet.products.heading' | translate }}</h2>

  <div class="product-list row">
    <ng-container *ngFor="let part of parts$ | async; index as i">
      <div *ngIf="displayType === 'tile'" class="col-6 col-lg-4 product-list-item grid-view">
        <ish-product-item
          displayType="tile"
          ishProductContext
          [sku]="part.sku"
          [propagateIndex]="i"
          [configuration]="{
            addToCompare: false,
            addToWishlist: false,
            addToOrderTemplate: false,
            addToQuote: false
          }"
        />
      </div>

      <div *ngIf="displayType === 'row'" class="col-lg-12 product-list-item list-view">
        <ish-product-item
          displayType="row"
          ishProductContext
          [sku]="part.sku"
          [propagateIndex]="i"
          [allowZeroQuantity]="true"
          [configuration]="{
            addToCompare: false,
            addToWishlist: false,
            addToOrderTemplate: false,
            addToQuote: false
          }"
        />
      </div>
    </ng-container>
  </div>
  <div class="row product-info">
    <div class="col align-self-start no-gutters">
      <ish-product-add-to-basket />
    </div>
  </div>
</div>
