<form #userForm="ngForm" class="form-horizontal" ishFormSubmit novalidate [formGroup]="form" (ngSubmit)="submitForm()">
  <formly-form [fields]="fields" [form]="form" [model]="model" />
  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button
        class="btn btn-primary"
        data-testing-id="punchout-user-submit"
        type="submit"
        [disabled]="form.invalid && userForm.submitted"
      >
        {{ (punchoutUser ? 'account.update.button.label' : 'account.user.new.button.create.label') | translate }}
      </button>
      <a class="btn btn-secondary" [queryParams]="{ format: punchoutType }" [routerLink]="['../']">{{
        'account.cancel.link' | translate
      }}</a>
    </div>
  </div>
</form>
