<form class="form-horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button type="submit" class="btn btn-primary" [disabled]="formDisabled" data-testing-id="punchout-user-submit">
        {{ (punchoutUser ? 'account.update.button.label' : 'account.user.new.button.create.label') | translate }}
      </button>
      <a routerLink="../" class="btn btn-secondary">{{ 'account.cancel.link' | translate }}</a>
    </div>
  </div>
</form>
