<div class="category-page" [attr.data-testing-id]="category.uniqueId">
  <div class="row">
    <div class="col-md-3">
      <div class="navigation-panel" [ngbCollapse]="isCollapsed">
        <ish-category-navigation [uniqueId]="category.categoryPath[0]"></ish-category-navigation>
      </div>
      <a class="d-md-none mobile-filter-toggle" (click)="toggle()">
        {{ 'search.mobile.filter.trigger' | translate }}
        <fa-icon [icon]="['fas', isCollapsed ? 'angle-down' : 'angle-up']"></fa-icon>
      </a>
    </div>

    <div class="col-md-9">
      <ish-breadcrumb></ish-breadcrumb>
      <h1>{{ category.name }}</h1>
      <ish-category-list [categories]="category.children"></ish-category-list>
    </div>
  </div>
</div>
