<div class="category-page" [attr.data-testing-id]="category.uniqueId">
  <!-- DISABLED VIEW CONTEXT --
  <div class="marketing-area">
    <ish-content-viewcontext
      *ngIf="category.categoryRef"
      viewContextId="viewcontext.include.category.base.top"
      [callParameters]="{ Category: category.categoryRef }"
    />
  </div>
  -- DISABLED VIEW CONTEXT -->
  <div class="row">
    <div class="col-md-3">
      <div class="navigation-panel" [ngbCollapse]="isCollapsed">
        <ish-category-navigation [uniqueId]="category.categoryPath[0]" />
        <!-- DISABLED VIEW CONTEXT --
        <div class="marketing-area">
          <ish-content-viewcontext
            *ngIf="category.categoryRef"
            viewContextId="viewcontext.include.category.navigation"
            [callParameters]="{ Category: category.categoryRef }"
          />
        </div>
        -- DISABLED VIEW CONTEXT -->
      </div>
      <button
        type="button"
        class="d-md-none mobile-filter-toggle btn btn-link btn-link-action link-decoration-hover"
        (click)="toggle()"
      >
        {{ 'search.mobile.filter.trigger' | translate }}
        <fa-icon [icon]="['fas', isCollapsed ? 'angle-down' : 'angle-up']" />
      </button>
    </div>

    <div class="col-md-9">
      <ish-breadcrumb />
      <h1>{{ category.name }}</h1>

      <!-- DISABLED VIEW CONTEXT --
      <div class="marketing-area">
        <ish-content-viewcontext
          *ngIf="category.categoryRef"
          viewContextId="viewcontext.include.category.content.top"
          [callParameters]="{ Category: category.categoryRef }"
        />
      </div>
      -- DISABLED VIEW CONTEXT -->

      <ish-category-list [categories]="category.children" />

      <!-- DISABLED VIEW CONTEXT --
      <div class="marketing-area">
        <ish-content-viewcontext
          *ngIf="category.categoryRef"
          viewContextId="viewcontext.include.category.content.bottom"
          [callParameters]="{ Category: category.categoryRef }"
        />
      </div>
      -- DISABLED VIEW CONTEXT -->
    </div>
  </div>
  <!-- DISABLED VIEW CONTEXT --
  <div class="marketing-area">
    <ish-content-viewcontext
      *ngIf="category.categoryRef"
      viewContextId="viewcontext.include.category.base.bottom"
      [callParameters]="{ Category: category.categoryRef }"
    />
  </div>
  -- DISABLED VIEW CONTEXT -->
</div>
