@import './reset.css';
@import './bootstrap.min.css';
@import './bootstrap-card.css';
@import './prism.css';
@import './font-awesome.min.css';
@import './compodoc.css';
@import './tablesort.css';
@import './readthedocs.css';

a,
.content a {
  color: #319f9e;
  text-decoration: underline;
}
a:visited,
.content a:visited {
  color: #319f9e;
}
a:hover,
.content a:hover {
  color: #168989;
}

.menu ul.list li.title {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #319f9e;
}
.menu ul.list li a {
  text-decoration: none;
  text-overflow: unset;
  white-space: unset;
}

.navbar-default {
  background-color: #319f9e;
}

code {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
  overflow-x: unset;
  font-size: 13px;
  line-height: 20px;
  color: #319f9e;
  background: #f0f2f1;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}
