<form
  #form="ngForm"
  class="form-horizontal"
  ishFormSubmit
  novalidate
  [formGroup]="requestReminderForm"
  (ngSubmit)="submitForm()"
>
  <formly-form [fields]="fields$ | async" [form]="requestReminderForm" />

  <div class="row form-group">
    <div class="offset-md-4 col-md-8">
      <button
        class="btn btn-primary"
        name="passwordReminder"
        type="submit"
        value="PasswordReminder"
        [disabled]="requestReminderForm.invalid && form.submitted"
      >
        {{ 'forgot_password.form.send.button.label' | translate }}
      </button>
    </div>
  </div>
</form>
