<button
  *ngIf="(visible$ | async) && ('compare' | ishFeature)"
  type="button"
  class="btn add-to-compare"
  [ngClass]="cssClass"
  [class.is-selected]="isInCompareList$ | async"
  (click)="toggleCompare()"
  [title]="displayType === 'icon' ? ('product.compare.link' | translate) : ''"
  [attr.tabindex]="tabIndex"
>
  <ng-container *ngIf="displayType === 'icon'; else defaultButton">
    <fa-icon [icon]="['fas', 'balance-scale']" />
  </ng-container>

  <ng-template #defaultButton> {{ 'product.compare.link' | translate }} </ng-template>
</button>
