@if ((visible$ | async) && ('compare' | ishFeature)) {
<button
  type="button"
  class="btn add-to-compare"
  [ngClass]="cssClass"
  [class.is-selected]="isInCompareList$ | async"
  [title]="displayType === 'icon' ? ('product.compare.link' | translate) : ''"
  [tabindex]="ariaHidden ? -1 : 0"
  [attr.aria-hidden]="ariaHidden"
  (click)="toggleCompare()"
>
  @if (displayType === 'icon') {
  <fa-icon [icon]="['fas', 'balance-scale']" />
  } @else {
  {{ 'product.compare.link' | translate }}
  }
</button>
}
