@if ((visible$ | async) && ('compare' | ishFeature)) {
  <button
    class="btn add-to-compare"
    type="button"
    [attr.aria-hidden]="ariaHidden"
    [class.is-selected]="isInCompareList$ | async"
    [ngClass]="cssClass"
    [tabindex]="ariaHidden ? -1 : 0"
    [title]="displayType === 'icon' ? ('product.compare.link' | translate) : ''"
    (click)="toggleCompare()"
  >
    @if (displayType === 'icon') {
      <i class="bi bi-arrow-left-right"></i>
    } @else {
      {{ 'product.compare.link' | translate }}
    }
  </button>
}
