<h2>{{ 'checkout.address.shipping.label' | translate }}</h2>
@let collapsed = collapseChange | async;
@if (shippingAddress$ | async; as address) {
  <div class="address-box">
    @let invoiceAndShippingEqual = basketInvoiceAndShippingAddressEqual$ | async;
    @if (invoiceAndShippingEqual === false) {
      <div class="float-end">
        <!-- edit shipping address -->
        @if (collapsed) {
          <button
            class="btn-tool btn-link"
            data-testing-id="edit-shipping-address-link"
            type="button"
            [title]="
              'checkout.address.update.title' | translate: { '0': 'checkout.address.shipping.label' | translate }
            "
            (click)="showAddressForm(address)"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
        }
        <!-- delete shipping address -->
        @if ((basketShippingAddressDeletable$ | async) && collapsed) {
          <button
            class="btn-tool btn-link"
            title="{{ 'checkout.address.delete.button.label' | translate }}"
            type="button"
            (click)="modalDialog.show(address)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        }
        <ish-modal-dialog
          #modalDialog
          [options]="{
            titleText: 'checkout.address.delete.confirmation.heading' | translate,
            confirmText: 'checkout.address.button.delete' | translate,
            rejectText: 'checkout.address.button.cancel' | translate,
          }"
          (confirmed)="deleteAddress($event)"
        >
          <p>{{ 'checkout.address.delete.confirmation.text' | translate }}</p>
          <small class="text-body-secondary">{{
            'checkout.address.delete.confirmation.deletionhint' | translate
          }}</small>
        </ish-modal-dialog>
      </div>
      <!-- display shipping address -->
      <ish-address [address]="address" />
    }
    @if (invoiceAndShippingEqual) {
      <p class="section" data-testing-id="sameAsInvoice">
        {{ 'checkout.same_as_billing_address.text' | translate }}
      </p>
    }
    <p></p>
  </div>
  @if (!address && showErrors) {
    <p class="text-danger">
      {{ 'checkout.addresses.no_Selection.shipping.error' | translate }}
    </p>
  }
}

<!-- shipping address selection -->
@let addresses = addresses$ | async;
@if (addresses?.length) {
  <form [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" />
  </form>
}

<!-- Add a new Shipping to address -->
@if (displayAddAddressLink$ | async) {
  <div class="row">
    <button
      aria-controls="shipping-address-panel"
      class="btn btn-link w-auto"
      data-testing-id="create-shipping-address-link"
      type="button"
      [attr.aria-expanded]="collapsed === false"
      (click)="showAddressForm()"
    >
      {{ 'checkout.create_shipping_address.link' | translate }}
    </button>
  </div>
}

<!-- shipping address form -->
<div data-testing-id="shipping-address-form" id="shipping-address-panel" [ngbCollapse]="collapsed">
  <ish-formly-customer-address-form
    [address]="editAddress"
    [resetForm]="collapsed"
    (cancelForm)="cancelEditAddress()"
    (save)="saveAddress($event)"
  />
</div>

@if (collapsed === false) {
  <ish-lazy-address-doctor />
}
