

<div class="top-header">
  <nav class="container">
    <div class="row">
        <div *ngIf="generalError$ | async as error" role="alert" class="alert alert-danger">
          {{ error | json  }}
        </div>
      <a rel="home" routerLink="/home" class="visible-xs mobile-logo"><img src="assets/img/logo_mobile.png" alt="Logo" width="41" height="41"></a>
      <div class="visible-xs pull-right">
        <button class="navbar-toggle" type="button" (click)="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">{{'common.button.navbarCollapsed.text' | translate}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="col-md-12">
        <ul class="user-links">
          <li>
            <ish-login-status></ish-login-status>
          </li>
          <li>
            <ish-product-compare-status></ish-product-compare-status>
          </li>
          <li class="visible-xs">
            <a><span class="glyphicon glyphicon-shopping-cart glyphicon-header-icon"></span></a>
            <div class="mobile-cart-counter">{{cartItems.length}}</div>
          </li>
        </ul>
        <div class="header-utility">
          <ul class="customer-info hidden-xs">
            <li>
              <span class="glyphicon-phone-alt glyphicon glyphicon-header-icon"></span>
              {{'common.header.contact_no.text' | translate}}
            </li>
          </ul>
          <ish-language-switch></ish-language-switch>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="mid-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 logo-wrapper hidden-xs">
        <a rel="home" routerLink="/home"><img src="assets/img/logo.png" alt="Logo"></a>
      </div>
      <div class="col-sm-5 header-info-wrapper hidden-xs"></div>
      <div class="col-sm-4 search-container header-search-container">
        <ish-search-box></ish-search-box>
      </div>
    </div>
  </div>
</div>

<div class="bottom-header">
  <div class="global-nav navbar-collapse" [collapse]="navbarCollapsed">
    <div class="container">
      <div class="row">
        <div class="main-navigation col-sm-8 col-md-9" role="navigation">
          <ish-header-navigation maxSubCategoriesDepth="2"></ish-header-navigation>
        </div>
        <div class="col-sm-4 col-md-3 pull-right main-navigation-right">
          <ish-mini-cart></ish-mini-cart>
        </div>
      </div>
    </div>
  </div>
</div>
