<a class="compare-status" href="" rel="nofollow">
    <span class="glyphicon-equalizer glyphicon glyphicon-header-icon"></span>
    <span class="compare-count-text" ><!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatusData --><div id="compare-count" data-compare-ids="">{{itemCount}}</div>
    <a class="hidden-xs" [routerLink]="['familyPage/compare/1']"> Compare <!--{{ 'product.compare.link' | translate }}--> </a>
    <script type="text/javascript"></script><!-- END TEMPLATE app_sf_responsive/default/inc/header/ProductCompareStatusData --></span>
</a>