<div class="mt-4">
  <h2 class="h3">{{ 'quickorder.page.csv.title' | translate }}</h2>
  <p>{{ 'quickorder.page.csv.subtitle' | translate }}</p>
  <form
    [formGroup]="csvForm"
    (ngSubmit)="addCsvToCart()"
    [attr.aria-label]="'quickorder.page.csv.form.label' | translate"
  >
    <div class="form-group section">
      <input
        #fileInput
        type="file"
        name="csvFile"
        size="35"
        accept=".csv"
        (change)="onFileChange($event)"
        [attr.aria-label]="'quickorder.page.csv.file.upload.aria_label' | translate"
      />
      <div>
        @switch (status) { @case ('InvalidHeader') {
        <small class="has-error">
          <span class="validation-message">{{ 'quickorder.page.csv.file.invalid.input' | translate }}</span>
        </small>
        } @case ('InvalidData') {
        <small class="has-error">
          <span class="validation-message">{{ 'quickorder.page.csv.file.invalid.input' | translate }}</span>
        </small>
        } @case ('InvalidFormat') {
        <small class="has-error">
          <span class="validation-message">{{ 'quickorder.page.csv.file.invalid.format' | translate }}</span>
        </small>
        } @case ('Valid') {
        <small class="has-success">
          <span class="validation-message">{{ 'quickorder.page.csv.file.uploaded' | translate }}</span>
        </small>
        } @default {
        <small></small>
        } }
      </div>
      <small
        class="form-text"
        [innerHTML]="'quickorder.page.csv.sample' | translate : { '0': 'assets/sample-data/quickorder.csv' }"
      ></small>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" name="addToCartCsv" [disabled]="isCsvDisabled">
        {{ 'quickorder.page.add.cart' | translate }}
      </button>
      <button type="reset" class="btn btn-link" name="reset" (click)="resetInput()">
        {{ 'quickorder.page.csv.reset.form' | translate }}
      </button>
    </div>
  </form>
</div>
