
//
// SPECIFIC THEME MIXINS


//
// Rounded corners

.round-corner(@r) {
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	border-radius: @r;
}


//
// Design View - Tree

.filter-list-item-layer(@layer) {
	padding-left: @layer * @space-default;
}