<ng-container *ngIf="totalItems > pageSize">
  <div
    class="d-flex justify-content-between py-2 px-3 bg-light align-items-center"
    data-testing-id="pagination-container"
  >
    <div>{{ totalItems }} line items</div>
    <div class="d-flex align-items-center">
      <button
        type="button"
        class="btn btn-primary m-0"
        (click)="gotoPage(pageNumber - 1)"
        [disabled]="pageNumber === 1"
        data-testing-id="previous-page-button"
      >
        <
      </button>
      <!-- <span class="text-center px-3">{{ pageNumber }}</span> -->
      <div class="d-flex align-items-center px-2">
        <ng-container *ngFor="let page of generatePagination(pageNumber, numPages)">
          <a *ngIf="page !== '...'" class="px-1">{{ page }}</a>
          <span *ngIf="page === '...'">{{ page }}</span>
        </ng-container>
      </div>
      <button
        type="button"
        class="btn btn-primary m-0"
        (click)="gotoPage(pageNumber + 1)"
        [disabled]="pageNumber === numPages"
        data-testing-id="next-page-button"
      >
        >
      </button>
    </div>
  </div>
</ng-container>
