<h1>
  {{ 'account.organization.user_management' | translate }}
</h1>

<pre *ngIf="error$ | async as error">{{ error }}</pre>

<div class="section">
  <div class="list-body">
    <ng-container *ngFor="let user of users$ | async">
      <div *ngIf="user" class="list-item-row row mx-0">
        <div class="col-9 list-item">
          <a [routerLink]="[user.login]">{{ user.firstName }} {{ user.lastName }}</a>
        </div>
        <div class="col-3 list-item text-right">
          <!---TODO: Delete user-->
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ish-loading *ngIf="loading$ | async"></ish-loading>
