<div *ngIf="field.type !== 'ish-captcha-field'; else captchaWrapper" [class.has-error]="showError">
  <ng-template #fieldComponent></ng-template>
  <ish-validation-icons
    *ngIf="showValidationIcons()"
    [field]="field"
    [showError]="showError"
    [ngClass]="{
      'validation-offset': field.type === 'ish-select-field',
      'validation-offset-date-picker': field.type === 'ish-date-picker-field'
    }"
  />
  <ng-container *ngIf="showError" class="invalid-feedback d-block">
    <ish-validation-message [field]="field" class="validation-message" />
  </ng-container>
</div>
<!-- wrapper for captcha deviates from the standard, has no label and doesn't need the validation icon -->
<ng-template #captchaWrapper>
  <div class="row form-group" [class.has-error]="showError">
    <div [ngClass]="field.props?.fieldClass">
      <ng-template #fieldComponent></ng-template>
      <ng-container *ngIf="showError" class="invalid-feedback d-block">
        <ish-validation-message [field]="field" class="validation-message" />
      </ng-container>
    </div>
  </div>
</ng-template>
