<ng-container *ngIf="pli && pli.product">
  <!-- Product ID -->
  <ish-product-id [product]="pli.product"></ish-product-id>

  <!-- Product Variations -->
  <ish-product-variation-display
    *ngIf="isVariationProduct(pli.product)"
    [product]="pli.product"
  ></ish-product-variation-display>
  <!-- Product Bundles -->
  <ish-product-bundle-display
    *ngIf="isBundleProduct(pli.product)"
    [productBundleSKU]="pli.product.sku"
  ></ish-product-bundle-display>

  <ng-container *ngIf="lineItemViewType !== 'simple'">
    <!-- edit variation & quantity -->
    <ish-line-item-edit
      *ishNotFeature="'advancedVariationHandling'"
      [lineItem]="pli"
      [editable]="editable"
      (updateItem)="onUpdateItem($event)"
    ></ish-line-item-edit>

    <!-- Availability -->
    <ish-product-inventory [product]="pli.product"></ish-product-inventory>

    <!-- ship window message -->
    <ish-product-shipment [product]="pli.product"></ish-product-shipment>

    <!-- Surcharges -->
    <div *ngFor="let surcharge of pli.itemSurcharges">
      {{ surcharge.displayName }} <span *ngIf="!surcharge.displayName">{{ surcharge.text }}</span>
      <span class="text-nowrap"> {{ surcharge.amount | ishPrice }} </span>
      <ng-template #SurchargeDescription> <span [innerHTML]="surcharge.description"></span> </ng-template>
      <a
        class="details-tooltip"
        [ngbPopover]="SurchargeDescription"
        [popoverTitle]="surcharge.displayName"
        placement="top"
      >
        {{ 'shopping_cart.detail.text' | translate }}
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
      </a>
    </div>
  </ng-container>
</ng-container>
