<ng-container *ngIf="selectedQuote$ | async as quote">
  <!-- Title -->
  <h1 [ngSwitch]="state$ | async">
    <ng-template [ngSwitchCase]="'Submitted'">{{ 'quote.edit.submitted.heading' | translate }}</ng-template>
    <ng-template [ngSwitchCase]="'Responded'">
      {{ 'quote.edit.responded.quote_details.text' | translate }} - {{ quote.displayName }}
    </ng-template>
    <ng-template ngSwitchDefault>
      {{ 'quote.edit.unsubmitted.quote_request_details.text' | translate }} - {{ quote.displayName }}
    </ng-template>
  </h1>

  <ish-error-message [error]="error$ | async"></ish-error-message>

  <ng-container *ngIf="editable$ | async; else elseTemplate">
    <ish-quote-edit [quote]="quote"></ish-quote-edit>
  </ng-container>
  <ng-template #elseTemplate>
    <ish-quote-view></ish-quote-view>
  </ng-template>

  <ish-quote-interactions></ish-quote-interactions>

  <a class="btn btn-link" [routerLink]="['/account/quotes']">{{ 'quote.edit.back_to_quotes.link' | translate }}</a>
</ng-container>

<ish-loading *ngIf="loading$ | async"></ish-loading>
