<ng-container *ngIf="sku$ | async as sku">
  <ng-container [ngSwitch]="displayType">
    <a
      *ngSwitchCase="'icon'"
      [routerLink]="['/configure', sku]"
      [title]="'tacton.configure_product.product.label' | translate"
    >
      <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
    </a>
    <div *ngSwitchCase="'list-button'" class="action-container row justify-content-end no-gutters">
      <div class="col-12 col-lg-7">
        <a
          role="button"
          class="btn btn-primary btn-block"
          [routerLink]="['/configure', sku]"
          [title]="'tacton.configure_product.product.label' | translate"
          >{{ 'tacton.configure_product.product.label' | translate }}</a
        >
      </div>
    </div>
    <a
      *ngSwitchDefault
      role="button"
      class="btn btn-primary btn-lg btn-block"
      [routerLink]="['/configure', sku]"
      [title]="'tacton.configure_product.product.label' | translate"
      >{{ 'tacton.configure_product.product.label' | translate }}</a
    >
  </ng-container>
</ng-container>
