<ul class="navbar-nav main-navigation-list">
  <li class="home d-none d-md-block">
    <a routerLink="/home" title="home">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </li>
  <li *ngFor="let category of categories" class="dropdown" [ngClass]="{'open' : isOpened(category)}"
    #submenu (mouseover)="subMenuShow(submenu)" (mouseout)="subMenuHide(submenu)" (click)="subMenuHide(submenu)"
  >
    <a [routerLink]="['/category', category.uniqueId]" [attr.data-testing-id]="category.uniqueId + '-link'"
      [ngStyle]="{'width' : (!category.hasChildren()) ? '100%' : ''}"
    >
      {{category.name}}
    </a>
    <a *ngIf="category.hasChildren()" (click)="toggleOpen(category)" class="dropdown-toggle d-md-none">
      <span class="glyphicon" [ngClass]="isOpened(category) ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
    </a>
    <ish-sub-category-navigation [category]="category" [subCategoriesDepth]="1"></ish-sub-category-navigation>
  </li>
</ul>
