<div
  class="quick-cart-link"
  [ngClass]="{ 'd-none': view !== 'full', 'd-md-block': view !== 'small', 'mini-cart-active': !isCollapsed }"
  ishClickOutside
  (isClickedOutside)="collapse()"
>
  <a (click)="toggleCollapse()">
    <fa-icon [icon]="['fas', 'shopping-cart']" class="header-icon"></fa-icon>
    <!-- TODO: check for a better solution for the plural and translate pipe combination for cases where the en_US.json is not yet loaded, current solution: || {"other": "#"} -->
    <span>{{
      itemCount$ | async | i18nPlural: ('shopping_cart.ministatus.items.text' | translate) || { other: '#' }
    }}</span>
    <ng-container *ngIf="itemTotal$ | async as itemTotal">
      <span> / </span> <span class="mini-cart-price">{{ itemTotal | ishPrice }}</span>
    </ng-container>
  </a>

  <div *ngIf="!isCollapsed" class="mini-cart">
    <ish-lazy-mini-basket-content></ish-lazy-mini-basket-content>
  </div>
</div>

<a routerLink="/basket" *ngIf="view === 'small'" class="item-count-container position-relative">
  <fa-icon [icon]="['fas', 'shopping-cart']" class="header-icon"></fa-icon>
  <span class="badge badge-pill" [ngClass]="basketAnimation$ | async">{{ itemCount$ | async }}</span>
</a>
