<ng-container *ngIf="pli && pli.product">
  <!-- Product ID -->
  <p class="product-id">{{'checkout.pli.item.text.id' | translate }} {{pli.productSKU}}</p>

  <!-- TODO: Product Variations -->

  <!-- Availability -->
  <p class="availability">
    <span *ngIf="!pli.product.availability" class="product-out-of-stock">
      {{ 'checkout.pli.not_accessible.text' | translate }}
    </span>
    <span *ngIf="pli.product.availability && pli.product.inStock" class="product-in-stock">
      {{ 'checkout.pli.instock.text' | translate }}
    </span>
    <span *ngIf="pli.product.availability && !pli.product.inStock" class="product-out-of-stock">
      {{ 'checkout.pli.out_of_stock.text' | translate }}
    </span>
  </p>

  <!-- ship window message -->
  <ish-product-shipment [product]="pli.product"></ish-product-shipment>

  <!-- Surcharges -->
  <div *ngFor="let surcharge of itemSurcharges">
    {{surcharge.displayName}}
    <span *ngIf="!surcharge.displayName">{{surcharge.text}}</span>
    <span class="text-nowrap">
      {{ surcharge.amount | ishPrice }}
    </span>
    <ng-template #SurchargeDescription>
      <span [innerHTML]="surcharge.description"></span>
    </ng-template>
    <a class="details-tooltip"
      [popover]="SurchargeDescription"
      [popoverTitle]="surcharge.displayName"
      placement="top"
    >
      {{'shopping_cart.detail.text' | translate }}
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  </div>
</ng-container>


