@if (links$ | async; as links) {
  @if (links.upselling?.products?.length) {
    <ish-product-links-list
      [displayOnlyAvailableProducts]="true"
      [links]="links.upselling"
      [productLinkTitle]="'product.product_links.upselling.title' | translate"
    />
  }
  @if (links.spareparts?.products?.length) {
    <ish-product-links-list
      [links]="links.spareparts"
      [productLinkTitle]="'product.product_links.spareparts.title' | translate"
    />
  }
  @if (links.crossselling?.products?.length) {
    <ish-product-links-carousel
      [displayOnlyAvailableProducts]="true"
      [links]="links.crossselling"
      [productLinkTitle]="'product.product_links.crossselling.title' | translate"
    />
  }
  @if (links.accessory?.products?.length) {
    <ish-product-links-carousel
      [links]="links.accessory"
      [productLinkTitle]="'product.product_links.accessory.title' | translate"
    />
  }
  @if (links.differentorderunit?.products?.length) {
    <ish-product-links-carousel
      [links]="links.differentorderunit"
      [productLinkTitle]="'product.product_links.differentorderunit.title' | translate"
    />
  }
  @if (links.followup?.products?.length) {
    <ish-product-links-carousel
      [links]="links.followup"
      [productLinkTitle]="'product.product_links.followup.title' | translate"
    />
  }
  @if (links.other?.products?.length) {
    <ish-product-links-carousel
      [links]="links.other"
      [productLinkTitle]="'product.product_links.other.title' | translate"
    />
  }
  @if (links.replacement?.products?.length) {
    <ish-product-links-carousel
      [links]="links.replacement"
      [productLinkTitle]="'product.product_links.replacement.title' | translate"
    />
  }
}
