/*********** CAROUSEL *************/

.carousel-indent {
  .carousel-inner {
    padding-right: ($space-default * 3);
    padding-left: ($space-default * 3);
    text-align: center;
  }
}

.carousel,
.carousel-inner {
  outline: none;
}

.carousel-indicators {
  li {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-color: $color-inverse;
  }

  .active {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    border: 1px solid $carousel-indicator-active-bg;
  }
}

//Recently Viewed
.recently-viewed-links-container {
  .recently-viewed-links {
    margin-top: 17px;
    list-style: none;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
    }

    li {
      display: inline-block;
      padding-left: $space-default;
    }
  }
}
