<h1>{{ 'account.costcenter.details.edit.heading' | translate }}</h1>

@if (costCenter$ | async; as costCenter) {
  <div>
    <form
      #ccForm="ngForm"
      class="form-horizontal"
      ishFormSubmit
      novalidate
      [formGroup]="form"
      (ngSubmit)="submitForm(costCenter)"
    >
      <ish-cost-center-form [costCenter]="costCenter" [form]="form" />
      <div class="row">
        <div class="offset-md-4 col-md-8">
          <button
            class="btn btn-primary"
            data-testing-id="edit-cost-center-submit"
            type="submit"
            [disabled]="form.invalid && ccForm.submitted"
          >
            {{ 'account.update.button.label' | translate }}
          </button>
          <a class="btn btn-secondary" data-testing-id="edit-cost-center-cancel" routerLink="../">{{
            'account.cancel.link' | translate
          }}</a>
        </div>
      </div>
    </form>
  </div>
}
@if (loading$ | async) {
  <ish-loading />
}
