<ul class="filter-list clearfix">
  <ng-container *ngFor="let facet of filterElement.facets">
    <li class="filter-item filter-color" [ngClass]="{ 'filter-selected': facet.selected }">
      <a
        class="filter-swatch"
        title="facet.name"
        [title]="facet.name"
        (click)="filter(facet)"
        [attr.data-testing-id]="'filter-link-' + (facet.name | sanitize)"
      >
        <!--- TODO: use color code from REST call as background color-->
        <span [style.background-color]="facet.name.toLowerCase()"></span>
      </a>
    </li>
  </ng-container>
</ul>
