.success-row {
  background-color: #d4edda; /* Grün für Erfolg */
}

.error-row {
  background-color: #f8d7da; /* Rot für Fehler */
}

.default-row {
  background-color: #fdfdfe; /* Standard-Hintergrund */
}
