<div class="d-flex" data-testing-id="order-template-product">
  <div class="col-2 list-item d-flex align-items-center">
    <input
      class="form-check-input"
      data-testing-id="productCheckbox"
      type="checkbox"
      [attr.aria-label]="'account.order_template.add_to_template.checkbox.aria_label' | translate"
      [formControl]="checkBox"
    />
    <div class="d-none d-md-inline">
      <ish-product-image imageType="S" [link]="true" />
    </div>
  </div>
  <div class="col-10 list-item d-block d-md-flex">
    <div class="col-12 col-md-9 pli-description px-3">
      <ish-product-name />
      <ish-product-id />
      <ish-product-variation-display />
      <ish-product-bundle-display />
      <ish-product-inventory />
    </div>
    <div class="col-6 col-md-3 p-md-0 text-end">
      <ish-product-quantity />
    </div>
  </div>
</div>
