  <!-- Product ID -->
  <p class="product-id">{{'checkout.pli.item.text.id' | translate }} {{pli.product.sku}}</p>

  <!-- TODO: Product Variations -->

  <!-- Availability -->
  <p class="availability">
    <span *ngIf="!pli.availability" class="product-out-of-stock">
      {{ 'checkout.pli.not_accessible.text' | translate }}
    </span>
    <span *ngIf="pli.availability && pli.inStock" class="product-in-stock">
      {{ 'checkout.pli.instock.text' | translate }}
    </span>
    <span *ngIf="pli.availability && !pli.inStock" class="product-out-of-stock">
      {{ 'checkout.pli.out_of_stock.text' | translate }}
    </span>
  </p>

  <!-- Surcharges -->
  <div *ngFor="let surcharge of pli.itemSurcharges">
    {{surcharge.displayName}}
    <span *ngIf="!surcharge.displayName">{{surcharge.text}}</span>
    <span class="text-nowrap">
      {{ surcharge.amount.value | currency: surcharge.amount.currencyMnemonic }}
    </span>
    <ng-template #SurchargeDescription>
      <span [innerHTML]="surcharge.description"></span>
    </ng-template>
    <a class="details-tooltip"
      [popover]="SurchargeDescription"
      [popoverTitle]="surcharge.displayName"
      placement="top"
    >
      {{'shopping_cart.detail.text' | translate }}
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  </div>


