<select
  class="form-control"
  [attr.data-testing-id]="group.id"
  [id]="uuid + group.id"
  (change)="optionChange(group.id, $event.target)"
>
  @for (option of group.options; track option.value) {
    @if (!option.alternativeCombination || multipleOptions) {
      <option [attr.data-testing-id]="group.id + '-' + option.value" [selected]="option.active" [value]="option.value">
        {{ option.label }}
        @if (option.alternativeCombination) {
          - {{ 'product.available_in_different_configuration' | translate }}
        }
      </option>
    }
  }
</select>
