//
// CATEGORY

.current-price {
  color: $text-color-primary;
  font-family: $font-family-condensedbold;
  font-size: $font-size-lg;
}

.sale-price {
  color: $text-color-special;
  font-family: $font-family-condensedbold;
  font-size: $font-size-lg;
}

.old-price {
  color: $text-color-tertiary;
  text-decoration: line-through;
  font-family: $font-family-condensedregular;
  margin: -5px 0;
}

.price-savings {
  color: $text-color-tertiary;
  font-family: $font-family-condensedregular;
}

.secondary-actions {
  button {
    &:first-child {
      margin-right: ($space-default * 3);
    }
  }
}

.add-new-wishlist {
  display: inline-block;
}
