/**************** CATEGORY FILTER PANEL ******************/

/* FILTER PANEL */

.category-panel h3 {
  text-transform: uppercase;
}

.filter-panel {
  padding-right: ($space-default * 2);

  @media (max-width: $screen-sm-max) {
    padding-right: 0px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: $space-default;
  }

  h3 {
    .ng-fa-icon {
      color: $text-color-corporate;
    }
  }

  .filter-group {
    &:first-child {
      h3 {
        margin-top: 0;
        cursor: initial;
      }
    }
  }
}

.filter-group {
  position: relative;
  padding-bottom: $space-default;
  margin-bottom: $space-default;
  font-size: 14px;
  border-bottom: $border-width-default solid $border-color-light;

  .filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .filter-checkbox {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .ng-fa-icon {
    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
  }

  li {
    &.filter-item {
      padding: 3px 0;
      color: $text-color-quarternary;

      &.filter-colour {
        padding: 0;
      }

      a {
        &.filter-item-name {
          color: $text-color-quarternary;
        }

        &.filter-swatch {
          span[style='background-color:#fcfcfc;'] {
            border: 1px solid $border-color-light;
          }
        }
      }
      span {
        &.icon-notselected {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: ($space-default / 3);
          background-color: $color-tertiary;
          border: 1px solid $border-color-light;
        }
        &.filter-count {
          margin-left: ($space-default / 3);
        }
      }
    }

    &.filter-selected {
      color: $text-color-secondary;

      a {
        &.filter-item-name {
          color: $text-color-secondary;
        }

        &.filter-clear {
          float: right;
          width: 16px;
          height: 16px;
          line-height: 14px;
          text-align: center;
        }
      }
      span {
        &.icon-selected {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: ($space-default / 3);
          background-color: $color-corporate;
          border: 1px solid $border-color-default;
        }
      }
      &.filter-colour {
        span {
          border: 2px solid $color-corporate;
        }
      }
    }

    &.filter-layer1 {
      @include filter-list-item-layer(1);
    }
    &.filter-layer2 {
      @include filter-list-item-layer(2);
    }
    &.filter-layer3 {
      @include filter-list-item-layer(3);
    }
    &.filter-layer4 {
      @include filter-list-item-layer(4);
    }
    &.filter-layer5 {
      @include filter-list-item-layer(5);
    }
    &.filter-layer6 {
      @include filter-list-item-layer(6);
    }
    &.filter-layer7 {
      @include filter-list-item-layer(7);
    }
    &.filter-layer8 {
      @include filter-list-item-layer(8);
    }
    &.filter-layer9 {
      @include filter-list-item-layer(9);
    }
  }

  > ul {
    .filter-list {
      max-height: 155px;
      overflow-y: auto;
    }
  }
}

.non-parametric-panel {
  .filter-group {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;

    ul {
      ul {
        padding-left: 15px;

        &.filter-list {
          max-height: none;
          padding-top: 5px;
          overflow-y: visible;
        }
      }

      li {
        &.filter-item {
          a {
            &.filter-item-name {
              &.filter-selected {
                color: $text-color-secondary;
              }
            }
          }
        }
      }
    }
  }
}

input {
  &.filter-checkbox {
    display: none;
  }
}

label {
  &.filter-checkbox-label {
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 5px 0 0;
    font-size: 0;
    text-indent: 999em;
    background: $color-tertiary;
    border: $border-width-default solid $border-color-light;

    &.selected {
      background: $color-corporate;
      border: $border-width-default solid $border-color-light;
    }
  }
}

.filter-clear .ng-fa-icon {
  font-size: $font-size-base * 0.85;
  line-height: 14px;
}

.filter-colour {
  float: left;
  margin-right: 3px;
}

.filter-swatch {
  span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    &.filter-colour-bright {
      border: 1px solid $border-color-light;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .mobile-filter-toggle {
    display: block;
    padding: $space-default 0;
    margin-bottom: $space-default;
    font-family: $font-family-condensedregular;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &.collapsed {
      .fa-angle-up {
        &:before {
          content: '\e114';
        }
      }
    }

    &:hover {
      text-decoration: none;
    }

    .ng-fa-icon {
      display: block;
      font-size: 12px;
    }
  }
}
