/**************** CATEGORY FILTER ROW ******************/

.filters-row {
  z-index: 99999;
  padding: ($space-default * 2/3) 0;
  margin: $space-default 0;
  background-color: $color-tertiary;

  a {
    float: right;

    &.grid-view-link,
    &.grid-view-link:hover,
    &.grid-view-link:focus,
    &.list-view-link,
    &.list-view-link:hover,
    &.list-view-link:focus {
      color: $text-color-quarternary;
    }

    &.grid-view-link {
      margin-right: $space-default;
    }

    &.grid-active,
    &.grid-active:hover,
    &.grid-active:focus,
    &.list-active,
    &.list-active:hover,
    &.list-active:focus {
      color: $text-color-corporate;
    }

    .ng-fa-icon {
      font-size: 24px;
      line-height: $input-height;
    }
  }

  .search-count {
    line-height: $input-height;

    > span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .sort-by {
    label {
      float: right;
      margin-right: ($space-default * 2/3);
      margin-bottom: 0px;
      font-weight: normal;
      line-height: $input-height;
    }

    select {
      float: right;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
    }
  }

  .switch-layout {
    padding-left: 0px;
  }
}

.pagination-total {
  line-height: $input-height;
}

.pagination-sites {
  padding-right: 0px;
  padding-left: 0px;
  line-height: $input-height;

  @media (max-width: $screen-sm-max) {
    margin-bottom: $space-default;
  }

  .pagination-label {
    float: left;
    margin-bottom: 0px;
    font-weight: normal;
  }
  .pagination-site-list {
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      float: left;
      margin-right: ($space-default);

      .pagination-hide {
        display: none;
      }
    }
  }
}

.search-contentlist {
  list-style-position: outside;
  list-style-type: none;
  list-style-image: none;
}
