//
// PRODUCT LIST

.product-list {
  padding: 0;
  margin: 0;

  .product-tile {
    position: relative;
    text-align: center;

    img {
      width: auto;
      padding-bottom: 0;
    }

    .product-variation-container {
      width: 100%;

      .product-variation {
        display: inline-block;
        width: 60%;
        text-align: left;

        .form-group {
          margin-bottom: $space-default / 3;
        }
      }
    }
  }

  .product-tile-list {
    .product-variation-container {
      width: 100%;

      .product-variation {
        display: inline-block;
        width: 73%;
        text-align: right;

        label {
          width: 100%;
          padding-top: 0;
          text-align: left;
        }

        .form-group {
          margin-right: 0;
          margin-bottom: $space-default / 2;
          margin-left: 0;
        }
      }
    }

    .product-list-actions-container {
      * ~ * {
        margin-top: $space-default/2;
      }
    }
  }

  .product-list-item {
    position: relative;
    min-height: 100px;
    padding-right: $space-default;
    padding-bottom: ($space-default * 2);
    padding-left: $space-default;
    list-style-type: none;
    outline: none;

    &.grid-view {
      &:nth-child(2n + 1) {
        clear: both;
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(2n + 1) {
          clear: none;
        }

        &:nth-child(3n + 1) {
          clear: both;
        }
      }
    }

    &.list-view {
      width: 100%;

      a {
        &.product-title {
          padding-top: 0;
          text-align: left;
        }
      }

      .add-to-wishlist {
        padding-right: 0;
      }

      .add-to-compare {
        padding-right: 0;

        @media (min-width: $screen-sm-min) {
          display: block;
          text-align: right;
        }
      }

      .add-to-quote {
        padding-right: 0;
      }
    }
  }

  a {
    &.product-title {
      display: inline-block;
      padding-top: $space-default;
      font-family: $font-family-condensedregular;
      font-size: $font-size-lg;
      color: $text-color-primary;
      text-align: center;
      text-decoration: none !important;
    }
  }

  .product-tile-actions {
    position: absolute;
    top: 0;
    right: 0;

    .btn {
      padding: 3px 6px;
      font-size: $font-size-lg;
    }

    .add-to-cart,
    .add-to-wishlist,
    .add-to-compare {
      &.is-selected {
        color: $text-muted;
      }
    }

    .add-to-compare {
      // TODO: (Bootstrap 4) - @include hidden-xs();
    }
  }

  .color-variations {
    width: auto;
    margin: 0 auto;

    li {
      width: 16px;
      height: 16px;
      padding: 3px 0 0 0;
      margin-right: ($space-default / 2);

      @include round-corner(50%);

      a {
        display: none;
      }
    }
  }

  .product-number {
    font-family: $font-family-condensedregular;
    color: $text-color-quarternary;

    .product-number-label {
      text-transform: uppercase;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: $space-default;
    }
  }
}

.filtered-products {
  .product-list {
    .product-list-item {
      &.grid-view {
        &:nth-child(2n + 1) {
          clear: both;
        }

        @media (min-width: $screen-md-min) {
          &:nth-child(2n + 1),
          &:nth-child(3n + 1) {
            clear: none;
          }

          &:nth-child(4n + 1) {
            clear: both;
          }
        }
      }
    }
  }
}

.product-list-container {
  @include clearfix();

  padding-bottom: ($space-default * 2);

  a.view-all {
    display: block;
    clear: both;
  }
}

.express-shop {
  .product-img-thumbs {
    width: auto;
  }

  .product-thumb-set {
    margin-right: $space-default;
  }
}

.product-image-container {
  position: relative;

  &:hover {
    .express-shop-trigger {
      display: block;
    }
  }
}

.express-shop-trigger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 80px;
  height: 80px;
  margin: auto;
  color: $text-color-inverse;
  text-align: center;
  cursor: pointer;
  background-color: $CORPORATE-PRIMARY;
  border-radius: 50%;
  opacity: 0.93;

  &:hover {
    background-color: $CORPORATE-SECONDARY;
  }

  .ng-fa-icon {
    padding: 25px 0;
    font-size: 30px;
  }
}

.product-label {
  position: absolute;
  top: 90px;
  left: -6px;
  width: 82px;
  height: 36px;

  &.product-label-new {
    background: url('/assets/img/icons/product_sprite.png') no-repeat -164px -73px;
  }

  &.product-label-topseller {
    background: url('/assets/img/icons/product_sprite.png') no-repeat -82px -73px;
  }

  &.product-label-sale {
    background: url('/assets/img/icons/product_sprite.png') no-repeat 0 -73px;
  }
}

.list-view {
  .product-label {
    top: 15px;
  }
}

.full-page-grid-view-product-list {
  .product-list:not(.slick-carousel) {
    .product-list-item {
      &:nth-child(2n + 1) {
        clear: both;
      }

      @media (min-width: $screen-sm-min) {
        &:nth-child(2n + 1) {
          clear: none;
        }

        &:nth-child(3n + 1) {
          clear: both;
        }
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(2n + 1) {
          clear: none;
        }

        &:nth-child(3n + 1) {
          clear: none;
        }

        &:nth-child(4n + 1) {
          clear: both;
        }
      }
    }
  }
}

.product-list-paging {
  padding: 50px 0 0 0;
  text-align: center;

  a {
    display: inline-block;
    min-width: 26px;
    padding: 0 5px;

    &.active {
      text-decoration: underline;
    }
  }
}

/* product tile effects */
.product-tile {
  .product-image {
    transition: transform 0.2s ease-in-out;
  }

  .product-tile-actions {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    @media (hover: none) {
      opacity: 1;
    }

    @media (-moz-touch-enabled) {
      opacity: 1;
    }
  }

  &:hover {
    .product-tile-actions {
      opacity: 1;
    }

    .product-image {
      transform: scale(1.1);
    }
  }
}
