/**************** QUICK VIEW ******************/

#quickView {
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: $text-color-primary;
  }

  .product-sale-price {
    font-family: $font-family-condensedregular;
    font-size: 24px;
    color: $text-color-secondary;
  }

  .col-form-label {
    margin-top: 7px;
  }

  .btn-add-to-cart {
    width: 100%;
    height: 60px;
    font-family: $font-family-condensedregular;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    color: $color-inverse;
    text-align: center;
    text-transform: uppercase;
    background: $color-corporate;
    border: $border-width-default solid darken($CORPORATE-PRIMARY, 5%);
  }
}
