/**************** SEARCH RESULT ******************/

.search-term {
  font-family: $font-family-bold;
}

.product-search-result {
  padding: $space-default 0 $space-default 0;
}

.search-content-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-check.search-result-toggle {
  margin: $space-default 0;

  label {
    padding-left: 0;
  }
}

.no-search-result {
  clear: both;

  .result-count-message {
    padding-left: $space-default;
  }
}

.no-search-result-title {
  span {
    font-size: $font-size-lg;

    &.result-count-message {
      font-size: $font-size-corporate;
    }
  }
}

.search-guidelines {
  clear: both;
}

.main-search-container {
  position: relative;
  display: inline-block;
  padding: 0 0 ($space-default * 2) 0;

  input {
    float: left;
    width: 320px;
    height: $search-container-height;
    padding-left: 14px;
    line-height: $search-container-height;
    border: $border-width-default solid $border-color-light;

    &::-ms-clear {
      display: none;
    }
  }

  button {
    &.btn-search {
      position: absolute;
      right: 0;
      font-size: $font-size-lg;
      color: $text-color-primary;
      background: 0;
      border: 0;
    }
  }
}
