/*img {
    border: 1px solid #ddd; Gray border 
    width: 25%;  Set a small width 
    height :25%
}*/

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.grey {
   
    background-color: white;
    /*border: 1px solid black;*/
}

.red{
    color:red;
}

.green{
    color:green
}

.black{
    color:black;
}