<div class="row">

  <ng-container *ngIf="products.length; else empty">
    <div class="col-md-3">
      <a (click)="clearAll()">{{ 'application.recentlyViewed.clear' | translate }}</a>
    </div>
    <div class="col-md-9">
      <h1>{{ 'application.recentlyViewed.product.heading' | translate }}</h1>
      <div class="product-list row">
        <div *ngFor="let product of products" class="col-6 col-lg-4 product-list-item grid-view">
          <ish-product-tile-container *ngIf="product else loading"
            [productSku]="product.sku"
          ></ish-product-tile-container>
          <ng-template #loading>
            <ish-loading></ish-loading>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="col-md-12">
      <h1>{{ 'application.recentlyViewed.heading' | translate }}</h1>
      <p>{{ 'application.recentlyViewed.empty' | translate }}</p>
    </div>
  </ng-template>

</div>
