<div class="row">

  <ng-container *ngIf="products.length; else empty">
    <div class="col-sm-3">
      <a (click)="clearAll()">{{ 'application.recentlyViewed.clear' | translate }}</a>
    </div>
    <div class="col-sm-9">
      <h1>{{ 'application.recentlyViewed.product.heading' | translate }}</h1>
      <div class="product-list row">
        <div *ngFor="let product of products" class="product-list-item col-xs-6 col-md-4 grid-view">
          <ish-product-tile *ngIf="product else loading"
            [product]="product"
          ></ish-product-tile>
          <ng-template #loading>
            <ish-loading></ish-loading>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="col-sm-12">
      <h1>{{ 'application.recentlyViewed.heading' | translate }}</h1>
      <p>{{ 'application.recentlyViewed.empty' | translate }}</p>
    </div>
  </ng-template>

</div>
