<div class="product-notifications">
  <h1>{{ 'account.notifications.heading' | translate }}</h1>

  <!-- Error message -->
  <ish-error-message [error]="productNotificationsError$ | async" />

  <nav
    class="nav-tabs"
    ngbNav
    [attr.aria-label]="'account.notifications.tabs.aria_label' | translate"
    [(activeId)]="active"
  >
    <!-- Price notifications -->
    <ng-container ngbNavItem="price">
      <a
        data-testing-id="tab-link-notifications-price"
        ngbNavLink
        [routerLink]="['../notifications', { notificationType: 'price' }]"
        >{{ 'account.notifications.price.heading' | translate }}</a
      >
    </ng-container>

    <!-- Stock notifications -->
    <ng-container ngbNavItem="stock">
      <a
        data-testing-id="tab-link-notifications-instock"
        ngbNavLink
        [routerLink]="['../notifications', { notificationType: 'stock' }]"
        >{{ 'account.notifications.backinstock.heading' | translate }}</a
      >
    </ng-container>
  </nav>

  <div class="section">
    <ish-account-product-notifications-list [productNotifications]="productNotifications$ | async" />
  </div>
</div>

@if (productNotificationsLoading$ | async) {
  <ish-loading />
}
