<div class="productnotifications">
  <h1>{{ 'account.notifications.heading' | translate }}</h1>

  <h3>{{ 'account.notifications.price.heading' | translate }}</h3>
  <ng-container *ngIf="productNotificationsPrice$ | async as productNotificationsPrice">
    <ng-container *ngIf="productNotificationsPrice?.length">
      <ng-container *ngFor="let productNotification of productNotificationsPrice">
        <div>
          {{ productNotification.sku }} | {{ productNotification.type }} |
          <ish-product-name ishProductContext [sku]="productNotification.sku"></ish-product-name>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <h3>{{ 'account.notifications.backinstock.heading' | translate }}</h3>
  <ng-container *ngIf="productNotificationsInStock$ | async as productNotificationsInStock">
    <ng-container *ngIf="productNotificationsInStock?.length">
      <ng-container *ngFor="let productNotification of productNotificationsInStock">
        <div>
          {{ productNotification.sku }} | {{ productNotification.type }} |
          <ish-product-name ishProductContext [sku]="productNotification.sku"></ish-product-name>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
