<div class="row">
  <div class="col-md-12 col-lg-8">
    <!-- Messages -->
    <div *ngIf="error && error.status" role="alert" class="alert alert-danger">
      {{ error.status }}: {{ error.error }}
    </div>
    <div *ngIf="nextDisabled && !error" role="alert" class="alert alert-danger">
      {{ 'checkout.shipping_method.no_Selection.error' | translate }}
    </div>
    <!-- shipping method selection -->
    <form [formGroup]="shippingForm" class="form-horizontal" >
      <div *ngIf="shippingMethods && shippingMethods.length > 0" class="shipping-methods">
        <p>{{ 'checkout.shipping_method.selection.heading' | translate }}</p>

        <div *ngFor="let shippingMethod of shippingMethods" class="radio">
          <label [for]="'ShippingMethod_'+ shippingMethod.id">
            <input
              formControlName="id"
              [id]="'ShippingMethod_'+ shippingMethod"
              [value]="shippingMethod.id"
              type="radio"
            />

            <span>{{ shippingMethod.name }}:</span>&nbsp;
            <span *ngIf="shippingMethod.shippingTimeMin && shippingMethod.shippingTimeMax" class="form-text form-text-inline">
              {{ 'checkout.shipping.delivery_time.description' | translate }}
              <span *ngIf="shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax === 1">
                  {{ 'checkout.shipping.delivery_time.within24' | translate}}
              </span>
              <span *ngIf="shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax > 1">
                  {{ 'checkout.shipping.delivery_time.within' | translate :{'0': shippingMethod.shippingTimeMax} }}
              </span>
              <span *ngIf="shippingMethod.shippingTimeMin > 0">
                  {{ 'checkout.shipping.delivery_time' | translate :{'0': shippingMethod.shippingTimeMin, '1': shippingMethod.shippingTimeMax} }}
              </span>
            </span>
            <ng-template #ShippingMethodDescription>
              <span [innerHTML]="shippingMethod.description"></span>
            </ng-template>
            <a class="details-tooltip"
              [ngbPopover]="ShippingMethodDescription"
              placement="top"
            >
              {{'checkout.detail.text' | translate }}
              <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
           </a>
          </label>
        </div>
      </div>
    </form>
  </div>

  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
    <ish-basket-address-summary [basket]="basket"></ish-basket-address-summary>
    <ish-basket-items-summary [basket]="basket"></ish-basket-items-summary>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

      <button
        class="btn btn-lg btn-block btn-primary"
        type="button"
        [disabled]="nextDisabled"
        (click)="nextStep()"
      >
        {{'checkout.button.label' | translate}}
      </button>
    </div>
    <!-- ToDo: Privacy policy link -->
  </div>
</div>
