<ng-container *ngIf="!isMobileView; else mobileNavigation">
  <ul class="account-navigation list-unstyled">
    <ish-account-user-info></ish-account-user-info>
    <ng-container *ngFor="let item of navigationItems | keyvalue: unsorted">
      <ng-container *ishIsAuthorizedTo="item.value.permission || 'always'">
        <ng-container *ishHasNotRole="item.value.notRole">
          <ng-container
            *ngIf="
              (item.value.feature || 'always' | ishFeature) && (item.value.serverSetting || 'always' | ishServerSetting)
            "
          >
            <ng-container *ngIf="item.value.children; else noChildren">
              <li
                (click)="toggleCollapse(item.value)"
                (keydown.enter)="toggleCollapse(item.value)"
                tabindex="0"
                [attr.aria-expanded]="!item.value.isCollapsed"
                class="account-nav-header"
                [attr.data-testing-id]="item.value.dataTestingId"
              >
                <span>
                  <fa-icon *ngIf="item.value.faIcon" [icon]="item.value.faIcon"></fa-icon>
                  {{ item.value.localizationKey | translate }}
                </span>
              </li>
              <li [ngbCollapse]="item.value.isCollapsed">
                <ul class="account-navigation list-unstyled">
                  <ng-container *ngFor="let subItem of item.value.children | keyvalue: unsorted">
                    <ng-container *ishIsAuthorizedTo="subItem.value.permission || 'always'">
                      <ng-container *ishHasNotRole="subItem.value.notRole">
                        <ng-container
                          *ngIf="
                            (subItem.value.feature || 'always' | ishFeature) &&
                            (subItem.value.serverSetting || 'always' | ishServerSetting)
                          "
                        >
                          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <a [routerLink]="subItem.key" [attr.data-testing-id]="item.value.dataTestingId">
                              {{ subItem.value.localizationKey | translate }}
                            </a>
                          </li>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ul>
              </li>
            </ng-container>

            <ng-template #noChildren>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="item.key" [attr.data-testing-id]="item.value.dataTestingId">
                  <fa-icon *ngIf="item.value.faIcon" [icon]="item.value.faIcon"></fa-icon>
                  {{ item.value.localizationKey | translate }}
                </a>
              </li>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</ng-container>

<ng-template #mobileNavigation>
  <select (change)="navigateTo($event.target)" class="form-control">
    <ng-container *ngFor="let item of navigationItems | keyvalue: unsorted">
      <ng-container *ishIsAuthorizedTo="item.value.permission || 'always'">
        <ng-container *ishHasNotRole="item.value.notRole">
          <ng-container
            *ngIf="
              (item.value.feature || 'always' | ishFeature) && (item.value.serverSetting || 'always' | ishServerSetting)
            "
          >
            <ng-container *ngIf="item.value.children; else noOptgroup">
              <optgroup [label]="item.value.localizationKey | translate"></optgroup>
              <ng-container *ngFor="let subItem of item.value.children | keyvalue: unsorted">
                <ng-container *ishIsAuthorizedTo="subItem.value.permission || 'always'">
                  <ng-container *ishHasNotRole="subItem.value.notRole">
                    <ng-container
                      *ngIf="
                        (subItem.value.feature || 'always' | ishFeature) &&
                        (subItem.value.serverSetting || 'always' | ishServerSetting)
                      "
                    >
                      <option [value]="subItem.key" [attr.selected]="isSelected(subItem.key)">
                        {{ subItem.value.localizationKey | translate }}
                      </option>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-template #noOptgroup>
              <option [value]="item.key" [attr.selected]="isSelected(item.key)">
                {{ item.value.localizationKey | translate }}
              </option>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </select>
</ng-template>
