<ng-container *ngIf="!isMobileView; else mobileNavigation">
  <ul class="account-navigation list-unstyled" data-testing-id="myaccount-navigation">
    <ish-account-user-info></ish-account-user-info>
    <ng-container *ngFor="let item of navigationItems | keyvalue: unsorted; let first = first">
      <ng-container *ishIsAuthorizedTo="item.value.permission || 'always'">
        <ng-container *ishHasNotRole="item.value.notRole">
          <li
            *ngIf="
              (item.value.feature || 'always' | ishFeature) && (item.value.serverSetting || 'always' | ishServerSetting)
            "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: first }"
          >
            <a [routerLink]="item.key" [attr.data-testing-id]="item.value.dataTestingId">{{
              item.value.localizationKey | translate
            }}</a>
          </li>
        </ng-container>
      </ng-container>
      <ul *ngIf="item.value.children" class="account-navigation list-unstyled">
        <ng-container *ngFor="let subItem of item.value.children | keyvalue: unsorted">
          <ng-container *ishIsAuthorizedTo="item.value.permission || 'always'">
            <li
              *ngIf="
                (subItem.value.feature || 'always' | ishFeature) &&
                (subItem.value.serverSetting || 'always' | ishServerSetting)
              "
            >
              <a [routerLink]="item.key + subItem.key" [attr.data-testing-id]="subItem.value.dataTestingId">{{
                subItem.value.localizationKey | translate
              }}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </ng-container>
  </ul>
</ng-container>

<ng-template #mobileNavigation>
  <select (change)="navigateTo($event.target)" class="form-control">
    <ng-container *ngFor="let item of navigationItems | keyvalue: unsorted">
      <ng-container *ishIsAuthorizedTo="item.value.permission || 'always'">
        <ng-container *ishHasNotRole="item.value.notRole">
          <option
            *ngIf="
              (item.value.feature || 'always' | ishFeature) && (item.value.serverSetting || 'always' | ishServerSetting)
            "
            [value]="item.key"
            [attr.selected]="isSelected(item.key)"
          >
            {{ item.value.localizationKey | translate }}
          </option>
        </ng-container>
      </ng-container>
    </ng-container>
  </select>
</ng-template>
