<div class="d-flex" data-testing-id="order-template-product">
  <div class="col-1 col-md-2 list-item d-flex">
    <input
      type="checkbox"
      data-testing-id="productCheckbox"
      [formControl]="checkBox"
      [attr.aria-label]="'account.order_template.add_to_template.checkbox.aria_label' | translate"
    />
    <div class="d-none d-md-inline">
      <ish-product-image imageType="S" [link]="true" />
    </div>
  </div>
  <div class="col-8 col-md-6 list-item d-block d-md-flex">
    <div class="col-12 col-md-9 pli-description">
      <ish-product-name />
      <ish-product-id />
      <ish-product-variation-display />
      <ish-product-bundle-display />
      <ish-product-inventory />
      <div>
        <a
          class="btn-tool"
          (click)="moveDialog.show()"
          (keydown.enter)="moveDialog.show()"
          tabindex="0"
          role="button"
          data-testing-id="move-order-template"
        >
          <fa-icon
            [icon]="['fas', 'arrows-alt']"
            [title]="'account.order_template.table.options.move_to_template' | translate"
          />
        </a>
        <a
          class="btn-tool"
          (click)="removeProductFromOrderTemplate(orderTemplateItemData.sku)"
          (keydown.enter)="removeProductFromOrderTemplate(orderTemplateItemData.sku)"
          tabindex="0"
          role="button"
          data-testing-id="delete-order-template"
        >
          <fa-icon [icon]="['fas', 'trash-alt']" [title]="'modal.heading.remove.order.template' | translate" />
        </a>
      </div>
    </div>
    <div class="col-6 col-md-3 p-md-0 text-right">
      <ish-product-quantity />
    </div>
  </div>
  <div class="col-2 list-item d-none d-md-block text-right">
    {{ orderTemplateItemData?.creationDate | ishDate : 'shortDate' }}
  </div>
  <div class="col-4 col-md-2 list-item column-price">
    <ish-product-price />
  </div>
</div>

<ish-select-order-template-modal
  #moveDialog
  addMoveProduct="move"
  (submitEmitter)="moveItemToOtherOrderTemplate(orderTemplateItemData.sku, $event)"
/>
