<div class="d-flex" data-testing-id="order-template-product">
  <div class="col-1 col-md-2 list-item d-flex align-items-center">
    <input
      class="form-check-input"
      data-testing-id="productCheckbox"
      type="checkbox"
      [attr.aria-label]="'account.order_template.add_to_template.checkbox.aria_label' | translate"
      [formControl]="checkBox"
    />
    <div class="d-none d-md-inline">
      <ish-product-image imageType="S" [link]="true" />
    </div>
  </div>
  <div class="col-8 col-md-6 list-item d-block d-md-flex">
    <div class="col-12 col-md-9 pli-description px-3">
      <ish-product-name />
      <ish-product-id />
      <ish-product-variation-display />
      <ish-product-bundle-display />
      <ish-product-inventory />
      <div>
        <button
          class="btn-tool btn-link"
          data-testing-id="move-order-template"
          type="button"
          [title]="'account.order_template.table.options.move_to_template' | translate"
          (click)="moveDialog.show()"
        >
          <i class="bi bi-arrows-move"></i>
        </button>
        <button
          class="btn-tool btn-link"
          data-testing-id="delete-order-template"
          type="button"
          [title]="'modal.heading.remove.order.template' | translate"
          (click)="removeProductFromOrderTemplate(orderTemplateItemData.sku)"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>
    </div>
    <div class="col-6 col-md-3 p-md-0 text-end">
      <ish-product-quantity />
    </div>
  </div>
  <div class="col-2 list-item d-none d-md-block text-end">
    {{ orderTemplateItemData?.creationDate | ishDate: 'shortDate' }}
  </div>
  <div class="col-4 col-md-2 list-item column-price">
    <ish-product-price />
  </div>
</div>

<ish-select-order-template-modal
  #moveDialog
  addMoveProduct="move"
  (submitEmitter)="moveItemToOtherOrderTemplate(orderTemplateItemData.sku, $event)"
/>
