<div class="form-check" [class.has-error]="showError">
  <ng-template #fieldComponent></ng-template>
  <label class="form-check-label" [for]="to.id" [ngClass]="to.labelClass">
    <ish-shipping-info [shippingMethodId]="to.value"></ish-shipping-info>
    <a *ngIf="to.description" class="details-tooltip" [ngbPopover]="ShippingMethodDescription" placement="top">
      {{ 'checkout.detail.text' | translate }}
      <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
    </a>
  </label>
</div>

<ng-template #ShippingMethodDescription>
  <span [innerHTML]="to.description"></span>
</ng-template>
