<h1>{{ 'account.update_password.change_your_password.heading' | translate }}</h1>

<div *ngIf="error$ | async as error" role="alert" class="alert alert-danger">
  <ng-container [ngSwitch]="true">
    <ng-container
      *ngSwitchCase="
        error.headers['error-missing-attributes'] === 'secureCode' ||
        error.headers['error-invalid-attributes'] === 'secureCode'
      "
    >
      <span [ishServerHtml]="'account.forgotdata.consumer_invalid_hash.error' | translate"></span>
    </ng-container>
    <ng-container
      *ngSwitchCase="
        error.headers['error-missing-attributes'] === 'userID' || error.headers['error-invalid-attributes'] === 'userID'
      "
    >
      <span [ishServerHtml]="'account.forgotdata.consumer_disabled.error' | translate"></span>
    </ng-container>

    <ng-container
      *ngSwitchCase="
        error.headers['error-missing-attributes'] === 'password' ||
        error.headers['error-invalid-attributes'] === 'password'
      "
    >
      <span
        [ishServerHtml]="
          'customer.credentials.passwordreset.invalid_password.error.PasswordExpressionViolation' | translate
        "
      ></span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span [ishServerHtml]="'account.forgotdata.consumer_password_timeout.error' | translate"></span>
    </ng-container>
  </ng-container>
</div>

<div class="row">
  <div class="col-md-10 col-lg-8 col-xl-6">
    <ish-update-password-form (submitPassword)="requestPasswordChange($event)"></ish-update-password-form>
  </div>
</div>

<ish-loading *ngIf="loading$ | async"></ish-loading>
