<ish-breadcrumb [searchTerm]="searchTerm$ | async"></ish-breadcrumb>

<ng-container *ngIf="!(searchLoading$ | async); else loading">

  <ng-container *ngIf="(totalItems$ | async) as totalItems; else noResult">
    <!-- search with products -->
    <ish-search-page
      [searchTerm]="searchTerm$ | async"
      [products]="products$ | async"
      [totalItems]="totalItems"
      [viewType]="viewType$ | async"
      [sortBy]="sortBy$ | async"
      [sortKeys]="sortKeys$ | async"
      (viewTypeChange)="changeViewType($event)"
      (sortByChange)="changeSortBy($event)"
    ></ish-search-page>
  </ng-container>

  <!-- search without result -->
  <ng-template #noResult>
    <ish-search-no-result
      [searchTerm]="searchTerm$ | async"
    ></ish-search-no-result>
  </ng-template>
</ng-container>

<ng-template #loading>
  <ish-loading ></ish-loading>
</ng-template>
