<ng-container *ngIf="(searchTerm$ | async) as searchTerm">

  <ish-breadcrumb [searchTerm]="searchTerm"></ish-breadcrumb>

  <ng-container *ngIf="(products$ | async) as products">

    <!-- search result with products -->
    <ng-container *ngIf="products.length; else noResult">
      <ish-search-result
        [searchTerm]="searchTerm"
        [products]="products"
        [totalItems]="totalItems$ | async"
        [viewType]="viewType$ | async"
        [sortBy]="sortBy$ | async"
        [sortKeys]="sortKeys$ | async"
        [loadingMore]="loadingMore$ | async"
        (viewTypeChange)="changeViewType($event)"
        (sortByChange)="changeSortBy($event)"
        (loadMore)="loadMore.emit()"
      ></ish-search-result>

      <ng-container *ngIf="displayPaging$ | async">
        <ng-container *ngIf="currentPage$ | async as currentPage">
          <a *ngIf="currentPage > 1"
            [href]="'/search/' + searchTerm + '?page=' + (currentPage - 1)">&lt;&lt;</a>
          <a *ngFor="let p of (pageIndices$ | async)"
            [style.text-decoration]="p === currentPage ? 'underline' : 'none'"
            [href]="'/search/' + searchTerm + '?page=' + p">{{ p }}</a>
          <a *ngIf="canRequestMore$ | async"
            [href]="'/search/' + searchTerm + '?page=' + (currentPage + 1)">&gt;&gt;</a>
        </ng-container>
      </ng-container>
    </ng-container>
    
    <!-- empty search result -->
    <ng-template #noResult>
      <ish-search-no-result *ngIf="!(searchLoading$ | async)"
      [searchTerm]="searchTerm"
      ></ish-search-no-result>
    </ng-template>

  </ng-container>

</ng-container>

<ish-loading *ngIf="searchLoading$ | async"></ish-loading>
