<div class="row">
  <div class="col-6">
    <div class="dp-hidden position-absolute">
      <div class="col-6">
        <input
          #d="ngbDatepicker"
          class="form-control"
          data-testing-id="date-range-picker"
          name="dp"
          navigation="select"
          ngbDatepicker
          outsideDays="collapsed"
          tabindex="-1"
          [autoClose]="'outside'"
          [dayTemplate]="t"
          [displayMonths]="2"
          [formlyAttributes]="field"
          [maxDate]="maxDate$ | async"
          [minDate]="minDate$ | async"
          [ngClass]="props.inputClass"
          [startDate]="startDate$ | async"
          (dateSelect)="onDateSelection($event)"
        />
        <ng-template #t let-date let-disabled="disabled">
          <span
            class="custom-day"
            [class.disabled]="disabled"
            [class.faded]="isHovered(date) || isInside(date)"
            [class.range]="isRange(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input
        #dpFromDate
        class="form-control"
        name="dpFromDate"
        [attr.aria-describedby]="props.ariaDescribedByIds"
        [attr.aria-invalid]="showError ? 'true' : undefined"
        [attr.aria-label]="'account.order_history.filter.label.date.aria_label' | translate"
        [attr.aria-required]="props.required ? 'true' : undefined"
        [placeholder]="props.placeholder | translate"
        [value]="formatter.format(fromDate)"
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
      />
      <button
        aria-expanded="false"
        aria-haspopup="dialog"
        class="btn btn-secondary input-group-text mb-0 me-0"
        data-testing-id="btn-date-picker"
        title="{{ 'account.date.title' | translate }}"
        type="button"
        (click)="d.toggle()"
      >
        <i class="bi bi-calendar-event-fill text-secondary"></i>
      </button>
    </div>
  </div>
  <div class="input-group col-6 w-50">
    <input
      #dpToDate
      class="form-control"
      name="dpToDate"
      [attr.aria-describedby]="props.ariaDescribedByIds"
      [attr.aria-invalid]="showError ? 'true' : undefined"
      [attr.aria-label]="'account.order_history.filter.label.date.aria_label' | translate"
      [attr.aria-required]="props.required ? 'true' : undefined"
      [placeholder]="props.placeholder | translate"
      [value]="formatter.format(toDate)"
      (input)="toDate = validateInput(toDate, dpToDate.value)"
    />
    <button
      aria-expanded="false"
      aria-haspopup="dialog"
      class="btn btn-secondary input-group-text mb-0 me-0"
      title="{{ 'account.date.title' | translate }}"
      type="button"
      (click)="d.toggle()"
    >
      <i class="bi bi-calendar-event-fill text-secondary"></i>
    </button>
  </div>
</div>
