<ng-container *ngIf="warranty">
  <ish-modal-dialog-link
    linkText="product.warranty.detail.text"
    (click)="getWarrantyDetails()"
    [options]="{ titleText: warranty.name }"
    [ngClass]="'details-link'"
  >
    <ish-error-message [error]="error$ | async" [toast]="false"></ish-error-message>

    <ng-container *ngIf="warrantyDetails$ | async as warrantyDetails">
      <p
        [ishServerHtml]="
          'In addition to the statutory warranty, we offer an extra warranty for this item for an additional charge: ' +
          '<br /><strong>' +
          warrantyDetails.shortDescription +
          '</strong>'
        "
      ></p>

      This includes:
      <p [ishServerHtml]="warrantyDetails.longDescription"></p>

      <div>{{ 'product.warranty.type.text' | translate }} {{ warrantyDetails.type }}</div>
      <div>{{ 'product.warranty.code.text' | translate }} {{ warrantyDetails.code }}</div>
      <div>{{ 'product.warranty.expire_date.text' | translate }} {{ warrantyDetails.timePeriod }}</div>
    </ng-container>
    <ish-loading *ngIf="loading$ | async"></ish-loading>
  </ish-modal-dialog-link>
</ng-container>
