<div class="row form-group">
  <div [class.has-error]="showError" class="col-md-12">
    <div class="form-check" [attr.data-testing-id]="'form-wrapper'">
      <input
        type="checkbox"
        [formControl]="formControl"
        [formlyAttributes]="field"
        [attr.data-testing-id]="field.key"
        class="form-check-input"
      />
      <label class="form-check-label" [attr.for]="id">
        <ish-content-include includeId="{{ field.props.labelInclude }}"></ish-content-include>
      </label>
    </div>
    <ng-container *ngIf="showError" class="invalid-feedback d-block mb-2">
      <ish-validation-message [field]="field" class="validation-message"></ish-validation-message>
    </ng-container>
  </div>
</div>
