<div *ngIf="object">
  <ng-container *ngIf="customer$ | async as customer; else companyFromInvoice">
    {{ customer.companyName }} {{ customer.companyName2 }}
  </ng-container>
  <ng-template #companyFromInvoice>
    {{ object.invoiceToAddress.companyName1 }} {{ object.invoiceToAddress.companyName2 }}
  </ng-template>
  <span *ngIf="taxationID" data-testing-id="taxationID">
    <br />{{ 'checkout.widget.buyer.TaxationID' | translate }} {{ taxationID }}
  </span>
  <p>
    {{ userName }}<br />
    {{ object.email || object.invoiceToAddress?.email }}
  </p>
</div>
