<div
  *ngIf="locale$ | async as locale"
  class="language-switch"
  [ngClass]="view"
  ngbDropdown
  placement="{{ placement === 'up' ? 'top-right' : 'bottom-right' }}"
>
  <a ngbDropdownToggle class="language-switch-link">
    <fa-icon [icon]="['fas', 'globe-americas']" class="header-icon"></fa-icon>
    <span class="language-switch-current-selection d-inline"
      >{{ view === 'accordion' ? locale.displayName : locale.value }}<span class="switch_arrow"></span
    ></span>
  </a>
  <div ngbDropdownMenu class="language-switch-container dropdown-menu" style="left: 0 !important">
    <div class="language-switch-menu-container">
      <ng-container *ngIf="availableLocales$ | async as availableLocales">
        <ul *ngIf="availableLocales.length">
          <ng-container *ngFor="let l of availableLocales">
            <li *ngIf="l.lang !== locale.lang">
              <a [href]="location | makeHref: { redirect: '1', lang: l.lang }"> {{ l.displayName }} </a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
