<!-- keep-localization-pattern: ^locale\..*\.(long|short)$ -->
@if (languageSwitchData$ | async; as data) {
  <div class="language-switch" ngbDropdown placement="{{ placement === 'up' ? 'top-right' : 'bottom-right' }}">
    <button
      aria-haspopup="menu"
      class="language-switch-button btn btn-link"
      ngbDropdownToggle
      type="button"
      [attr.aria-label]="('language_switch.label' | translate) + ('locale.' + data.locale + '.long' | translate)"
    >
      <span class="sticky-header-icon">
        <i class="bi bi-globe-americas header-icon mb-1"></i>
      </span>
      <span class="language-switch-current-selection d-inline"
        >{{ 'locale.' + data.locale + (deviceType === 'mobile' ? '.short' : '.long') | translate
        }}<span class="switch_arrow"></span
      ></span>
    </button>
    <div class="language-switch-container dropdown-menu" ngbDropdownMenu role="menu" style="left: 0 !important">
      <div class="language-switch-menu-container">
        <ul>
          @for (l of data.availableLocales; track l) {
            @if (l !== data.locale) {
              <li>
                <a
                  [href]="location | ishMakeHref: { lang: l } | async"
                  [lang]="'locale.' + l + '.short' | translate"
                  (click)="setLocaleCookie(l)"
                >
                  {{ 'locale.' + l + '.long' | translate }}
                </a>
              </li>
            }
          }
        </ul>
      </div>
    </div>
  </div>
}
