<div class="product-tile" [attr.data-testing-sku]="product.sku">
  <div class="product-image-container">
    <a [routerLink]="generateProductRoute(product, category)">
      <ish-product-image [product]="product" imageType="M" class="product-image"></ish-product-image>
    </a>
  </div>

  <a class="product-title" [routerLink]="generateProductRoute(product, category)">{{product.name}}</a>

  <div class="price-container">
    <ish-product-price [product]="product" [showInformationalPrice]="true"></ish-product-price>
  </div>

  <div class="product-tile-actions btn-group">
    <ish-product-add-to-quote
      *ishFeature="'quoting'"
      displayType="icon"
      class="btn-link"
      (productToQuote)="addToQuote()"
    ></ish-product-add-to-quote>
    <button
      *ishFeature="'compare'"
      (click)="toggleCompare()"
      class="btn btn-link add-to-compare"
      [ngClass]="{ 'is-selected': isInCompareList }"
      title="{{ 'product.compare.link' | translate }}"
    >
      <!-- <span class="glyphicon glyphicon-equalizer"></span> -->
      <fa-icon [icon]="['fas', 'columns']"></fa-icon>
    </button>
    <ish-product-add-to-basket
      [product]="product"
      displayType="icon"
      class="btn-link"
      (productToBasket)="addToBasket()"
    ></ish-product-add-to-basket>
  </div>

</div>
