<!-- NEEDS_WORK: product listing components rework - separate product property components are needed -->
<div class="product-tile">
  <div class="product-image-container">
    <a  [routerLink]="['./product/' + product.sku]">
      <ish-product-image [product]="product" imageType="M" class="product-image"></ish-product-image>
    </a>
  </div>

  <a class="product-title" [routerLink]="['./product/' + product.sku]">{{product.name}}</a>

  <div class="price-container">
    <ish-product-price [product]="product" [showInformationalPrice]="true"></ish-product-price>
  </div>

  <!-- TODO: this functionality needs to go into reusable components -->
  <div class="product-tile-actions btn-group">
    <div class="add-to-cart">
      <button (click)="addToCart()" class="btn btn-link" title="Add to Cart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </div>
    <button (click)="addToCompare()" class="btn btn-link add-to-compare" title="Compare"
      ishDisableIcon [property]="product.sku" [globalStateKey]="'productCompareData'">
      <span class="glyphicon glyphicon-equalizer"></span>
    </button>
  </div>
</div>
