<div class="counter-input">
  <button
    class="btn btn-link decrease-button"
    tabindex="-1"
    type="button"
    [disabled]="cannotDecrease"
    [title]="'number.decrease.title' | translate"
    (click)="decrease()"
  >
    <span aria-hidden="true">{{ 'number.decrease.text' | translate }}</span>
  </button>
  <button
    class="btn btn-link increase-button"
    tabindex="-1"
    type="button"
    [disabled]="cannotIncrease"
    [title]="'number.increase.title' | translate"
    (click)="increase()"
  >
    <span aria-hidden="true">{{ 'number.increase.text' | translate }}</span>
  </button>
  <input
    class="form-control text-center"
    pattern="[0-9]*"
    type="number"
    [attr.aria-describedby]="props.ariaDescribedByIds"
    [attr.aria-label]="props.ariaLabel | translate"
    [attr.aria-required]="props.required ? 'true' : undefined"
    [attr.data-testing-id]="field.key"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [max]="props.max"
    [min]="props.min"
    [ngClass]="props.inputClass"
    [step]="props.step"
  />
</div>
