<h1>{{'account.register.heading' | translate}}</h1>
<p>{{'account.register.message' | translate}}</p>

<div *ngIf="error as error" role="alert" class="alert alert-danger">
  <span>{{error.headers.get('error-key') | translate}}</span>
</div>

<div class="section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">

    <h2>{{'account.register.email_password.heading' | translate}}</h2>
    <p>{{'account.register.email_password.message' | translate}}</p>
    <div class="section">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <ish-registration-credentials-form
            [parentForm]="form"
          ></ish-registration-credentials-form>
        </div>
      </div>
    </div>

    <h2>{{'account.register.address.headding' | translate}}</h2>
    <div class="section">
      <p>{{'account.register.address.message' | translate}}</p>
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <ish-address-form
            [parentForm]="form"
            [countryCode]="countryCode"
            [regions]="regions"
            [titles]="titles"
            [countries]="countries"
          ></ish-address-form>

          <!--- TODO: language and birthday selection
          <ish-registration-personal-form
          [parentForm]="form"
          [languages]="languages"></ish-registration-personal-form>
          -->

          <!--- TODO: captcha integration
          <ish-captcha [parentForm]="form" controlName="captcha"></ish-captcha>
          -->

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <input type="submit" [disabled]="formDisabled" class="btn btn-primary" value="{{'account.create.button.label' | translate}}" />
              <input type="button" class="btn btn-default" value="{{'account.cancel.link' | translate}}" (click)="cancelForm()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
