<ish-product-detail-actions></ish-product-detail-actions>

<div class="row product-details">
  <div class="col-12 col-md-6 col-lg-8"><ish-product-images></ish-product-images></div>

  <div class="col-12 col-md-6 col-lg-4">
    <ish-product-rating></ish-product-rating>
    <h1>
      <span itemprop="name"><ish-product-name [link]="false"></ish-product-name></span>
    </h1>

    <div class="product-info">
      <ish-product-brand></ish-product-brand>

      <ish-product-id></ish-product-id>

      <ish-product-promotion></ish-product-promotion>

      <div class="price-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <ish-product-price [showInformationalPrice]="true" [showPriceSavings]="true"></ish-product-price>

        <ish-product-inventory></ish-product-inventory>
      </div>

      <ish-product-shipment></ish-product-shipment>

      <ish-product-detail-variations></ish-product-detail-variations>

      <ish-lazy-tacton-configure-product></ish-lazy-tacton-configure-product>

      <div class="row form-group">
        <div class="col-6">
          <ish-product-quantity-label for="product-detail-quantity"></ish-product-quantity-label>
        </div>
        <div class="col-6">
          <ish-product-quantity id="product-detail-quantity"></ish-product-quantity>
        </div>
      </div>

      <ish-product-add-to-basket [class]="'btn-lg btn-block'"></ish-product-add-to-basket>

      <ish-lazy-product-add-to-order-template
        [class]="'btn btn-secondary btn-block'"
      ></ish-lazy-product-add-to-order-template>

      <ish-lazy-product-add-to-quote [class]="'btn-block'"></ish-lazy-product-add-to-quote>
    </div>

    <ish-product-detail-info-accordion></ish-product-detail-info-accordion>
  </div>
</div>
