<!-- Error message -->
<ish-error-message [error]="orderTemplateError$ | async" />

<ng-container *ngIf="orderTemplate$ | async as orderTemplate" ishProductContext>
  <ish-in-place-edit
    #inPlaceEdit
    (edited)="updateTitle()"
    (aborted)="resetTitle()"
    ariaLabelName="quote.edit.unsubmitted.name.label"
    alignment="center"
    iconSize="lg"
    [confirmDisabled]="!form.valid"
  >
    <h1 viewModeContent>
      {{ orderTemplate?.title }}
    </h1>
    <div editModeForm class="flex-grow-1 position-relative" style="margin-top: 12px">
      <formly-form
        [form]="form"
        [model]="model"
        [fields]="fields"
        (keydown.enter)="inPlaceEdit.confirm()"
        (keydown.esc)="inPlaceEdit.cancel()"
      />
    </div>
  </ish-in-place-edit>

  <p
    *ngIf="noOfUnavailableProducts$ | async as noOfUnavailableProducts"
    data-testing-id="out-of-stock-warning"
    class="alert alert-info"
  >
    {{ 'account.order_template.out_of_stock.warning' | translate : { num: noOfUnavailableProducts } }}
  </p>

  <div class="section">
    <ng-container *ngIf="orderTemplate.itemsCount && orderTemplate.itemsCount > 0; else noItems" class="section">
      <div class="list-header d-md-flex">
        <div class="col-6 list-header-item">{{ 'account.order_template.table.header.item' | translate }}</div>
        <div class="col-2 list-header-item text-right">
          {{ 'shopping_cart.qty.heading' | translate }}
        </div>
        <div class="col-2 list-header-item text-right">
          {{ 'account.order_template.table.header.date_added' | translate }}
        </div>
        <div class="col-2 list-header-item column-price text-right">
          {{ 'account.order_template.table.header.price' | translate }}
        </div>
      </div>
      <div class="list-body">
        <ng-container *ngFor="let item of orderTemplate.items; let i = index; trackBy: trackByFn">
          <div class="list-item-row list-item-row-big">
            <ish-account-order-template-detail-line-item
              ishProductContext
              [propagateIndex]="i"
              [sku]="item.sku"
              [quantity]="item.desiredQuantity.value"
              [orderTemplateItemData]="item"
              [currentOrderTemplate]="orderTemplate"
            />
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ish-product-add-to-basket *ngIf="orderTemplate.itemsCount" [cssClass]="'btn btn-primary float-right'" />

  <ng-template #noItems>
    <p>{{ 'account.order_template.no_entries' | translate }}</p>
  </ng-template>
</ng-container>

<a routerLink="/account/order-templates">{{ 'account.order_template.list.link.back' | translate }}</a>
<ish-loading *ngIf="orderTemplateLoading$ | async" />
