<ng-template #modal let-selectModal>
  <div class="modal-header">
    <h2 class="modal-title">title</h2>
    <button
      type="button"
      class="close"
      [title]="'dialog.close.text' | translate"
      [attr.aria-label]="'dialog.close.text' | translate"
      (click)="hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="productNotificationForm" name="ProductNotificationEditForm" (ngSubmit)="submitForm()">
      <ish-product-notification-edit-form [formGroup]="productNotificationForm"></ish-product-notification-edit-form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" value="Update" name="update" class="btn btn-primary" (click)="submitForm()">
      {{ 'product.notification.edit.form.update.button.label' | translate }}
    </button>
    <button type="submit" value="Cancel" name="cancel" class="btn btn-secondary" (click)="hide()">
      {{ 'product.notification.edit.form.cancel.button.label' | translate }}
    </button>
  </div>
</ng-template>
