<div class="language-switch" dropdown placement="bottom right">
  <a dropdownToggle (click)="false" class="language-switch-link" href>
      <span class="glyphicon glyphicon-globe glyphicon-header-icon"></span>
      <span class="language-switch-current-selection hidden-xs">
        {{lang}}
        <span class="switch_arrow"></span>
      </span>
    </a>
  <div *dropdownMenu class="language-switch-container dropdown-menu dropdown-menu-right">
    <div class="language-switch-menu-container">
      <ul>
        <li *ngFor="let locale of localizationArray">
          <a (click)="languageChange(locale.key)" href="javascript:void(0)">
            {{locale.value}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
