<!-- Error message -->
<ish-error-message [error]="wishlistError$ | async" />

<div *ngIf="wishlist$ | async as wishlist" class="col-9" data-testing-id="shared-wishlist">
  <h1>{{ wishlist.title }}</h1>

  <div *ngIf="wishlist.itemsCount; else noItems" class="container">
    <div class="list-header row">
      <div class="col-3 col-sm-3 list-header-item">{{ 'wishlist.table.header.item' | translate }}</div>
      <div class="col-sm-9 col-9 list-header-item column-price">
        {{ 'wishlist.table.header.price' | translate }}
      </div>
    </div>
    <div class="list-body">
      <div *ngFor="let item of wishlist.items; trackBy: trackByFn" class="list-item-row">
        <ish-wishlist-line-item
          ishProductContext
          [sku]="item.sku"
          [wishlistItemData]="item"
          [currentWishlist]="wishlist"
          [readOnly]="true"
        />
      </div>
    </div>
  </div>

  <ng-template #noItems>
    <p>{{ 'wishlist.no_entries' | translate }}</p>
  </ng-template>
</div>

<ish-loading *ngIf="wishlistLoading$ | async" />
