<button
  type="button"
  class="btn"
  [ngClass]="cssClass"
  (click)="openConfirmationDialog(deleteDialog)"
  data-testing-id="product-notification-remove"
>
  <fa-icon [icon]="['fas', 'trash-alt']" [title]="'product.notification.remove.link.title' | translate"></fa-icon>
</button>

<ish-modal-dialog
  #deleteDialog
  [options]="{
    confirmText: 'product.notification.remove.delete.button.label' | translate,
    rejectText: 'product.notification.remove.cancel.button.label' | translate,
    titleText: productName$ | async
  }"
  (confirmed)="deleteProductNotification()"
>
  <p>{{ 'product.notification.remove.message_line1' | translate }}</p>
  <p>{{ 'product.notification.remove.message_line2' | translate }}</p>
</ish-modal-dialog>
