<div>
  <h2 class="h3">{{ 'checkout.basket_merchant_message.title' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="row">
      <div *ngIf="showSuccessMessage" class="col-md-12">
        <ish-success-message message="checkout.basket_merchant_message.success.message" [toast]="false" />
      </div>

      <div class="col-md-9">
        <formly-form [form]="form" [fields]="fields" [model]="model" />
      </div>

      <div class="col-md-2 pl-md-0">
        <button type="submit" class="btn btn-secondary" [disabled]="disabled">
          {{ 'checkout.basket_merchant_message.apply.button.label' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
