<div class="row product-details-top-line justify-content-end" *ngIf="product$ | async as product">
  <div class="col-lg-12">
    <ul class="share-tools">
      <ng-container *ishFeature="'wishlists'">
        <li
          *ngIf="configuration$('addToWishlist') | async"
          class="mr-2"
          [attr.data-testing-id]="'wishlist-' + product.sku"
        >
          <ish-lazy-product-add-to-wishlist displayType="animated"></ish-lazy-product-add-to-wishlist>
        </li>
      </ng-container>
      <ng-container *ishFeature="'compare'">
        <li *ngIf="configuration$('addToCompare') | async" [attr.data-testing-id]="'compare-' + product.sku">
          <a routerLink="/compare" (click)="addToCompare()" rel="nofollow">
            <fa-icon [icon]="['fas', 'columns']"></fa-icon>
            <span class="share-label">{{ 'product.compare.link' | translate }}</span>
          </a>
        </li>
      </ng-container>

      <li>
        <a href="javascript:window.print();" class="link-print" rel="nofollow">
          <fa-icon [icon]="['fas', 'print']"></fa-icon>
          <span class="share-label">{{ 'product.print_page.link' | translate }}</span>
        </a>
      </li>

      <li>
        <a
          href="mailto:
          ?subject={{ 'email.recommended_product.heading' | translate: { '0': channelName } }}
          &body={{ 'email.recommended_product.text' | translate: { '0': product.name + '%0A', '1': document.URL } }}"
        >
          <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
          <span class="share-label">{{ 'product.email_a_friend.link' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
