<form
  [formGroup]="updatePasswordForm"
  (ngSubmit)="submitPasswordForm()"
  class="form-horizontal"
  novalidate="novalidate"
>
  <formly-form [form]="updatePasswordForm" [fields]="fields"></formly-form>
  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button
        type="submit"
        value="SubmitButton"
        name="SubmitButton"
        class="btn btn-primary"
        [disabled]="buttonDisabled"
      >
        {{ 'account.change_password.button.label' | translate }}
      </button>
    </div>
  </div>
</form>
