<form
  #form="ngForm"
  class="form-horizontal"
  ishFormSubmit
  novalidate
  [formGroup]="updatePasswordForm"
  (ngSubmit)="submitPasswordForm()"
>
  <formly-form [fields]="fields" [form]="updatePasswordForm" />
  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button
        class="btn btn-primary"
        name="SubmitButton"
        type="submit"
        value="SubmitButton"
        [disabled]="updatePasswordForm.invalid && form.submitted"
      >
        {{ 'account.change_password.button.label' | translate }}
      </button>
    </div>
  </div>
</form>
