<form [formGroup]="form" (ngSubmit)="submitPasswordForm()" class="form-horizontal" novalidate="novalidate">
  <ish-input
    [form]="form"
    controlName="password"
    type="password"
    label="account.register.password.label"
    markRequiredLabel="off"
    [errorMessages]="{
      required: 'account.update_password.new_password.error.required',
      minLength: 'account.update_password.new_password.error.length',
      password: 'account.update_password.new_password.error.regexp'
    }"
    ><small class="input-help">{{ 'account.register.password.extrainfo.message' | translate: { '0': '7' } }}</small>
  </ish-input>

  <ish-input
    [form]="form"
    controlName="passwordConfirmation"
    type="password"
    markRequiredLabel="on"
    label="account.register.password_confirmation.label"
    markRequiredLabel="off"
    [errorMessages]="{
      required: 'account.register.password_confirmation.error.default',
      password: 'account.update_password.new_password.error.regexp',
      equalTo: 'account.update_password.confirm_password.error.stringcompare'
    }"
  ></ish-input>

  <div class="row">
    <div class="offset-md-4 col-md-8">
      <button
        type="submit"
        value="SubmitButton"
        name="SubmitButton"
        class="btn btn-primary"
        [disabled]="buttonDisabled"
      >
        {{ 'account.change_password.button.label' | translate }}
      </button>
    </div>
  </div>
</form>
