<ng-container *ngIf="category$ | async as category">

  <ish-breadcrumb [category]="category" [categoryPath]="categoryPath$ | async"></ish-breadcrumb>

  <!-- category with subcategories -->
  <ng-template [ngIf]="category.hasOnlineSubCategories" [ngIfElse]="familyPage">
    <ish-category-page
      [category]="category"
      [categoryPath]="categoryPath$ | async"
    ></ish-category-page>
  </ng-template>

  <!-- category with products -->
  <ng-template #familyPage>
    <ish-family-page
      [category]="category"
      [categoryPath]="categoryPath$ | async"
      [products]="products$ | async"
      [totalItems]="totalItems$ | async"
      [viewType]="viewType"
      [sortBy]="sortBy"
      (viewTypeChange)="changeViewType($event)"
      (sortByChange)="changeSortBy($event)"
    ></ish-family-page>
  </ng-template>

</ng-container>

<ish-loading *ngIf="categoryLoading$ | async"></ish-loading>
