<ng-container *ngIf="(category$ | async) as category">

  <ish-breadcrumb [category]="category"></ish-breadcrumb>

  <!-- category with subcategories -->
  <ng-container *ngIf="category.hasChildren(); else productListing">
    <ish-category-page
      [category]="category"
    ></ish-category-page>
  </ng-container>

  <!-- category with products -->
  <ng-template #productListing>
    <ng-container *ngIf="category.hasOnlineProducts">
      <ish-family-page
        [category]="category"
        [products]="products$ | async"
        [totalItems]="totalItems$ | async"
        [viewType]="viewType$ | async"
        [sortBy]="sortBy$ | async"
        [sortKeys]="sortKeys$ | async"
        [loadingMore]="loadingMore$ | async"
        (viewTypeChange)="changeViewType($event)"
        (sortByChange)="changeSortBy($event)"
        (loadMore)="loadMore.emit()"
      ></ish-family-page>

      <ng-container *ngIf="displayPaging$ | async">
        <ng-container *ngIf="currentPage$ | async as currentPage">
          <a *ngIf="currentPage > 1"
            [href]="'/category/' + category.uniqueId + '?page=' + (currentPage - 1)">&lt;&lt;</a>
          <a *ngFor="let p of (pageIndices$ | async)"
            [style.text-decoration]="p === currentPage ? 'underline' : 'none'"
            [href]="'/category/' + category.uniqueId + '?page=' + p">{{ p }}</a>
          <a *ngIf="canRequestMore$ | async"
            [href]="'/category/' + category.uniqueId + '?page=' + (currentPage + 1)">&gt;&gt;</a>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

  <!-- empty category without subcategories and without products -->
  <ng-container *ngIf="!category.hasChildren() && !category.hasOnlineProducts">
    <!-- TODO: decide how to handle empty categories -->
    <h1>{{category.name}}</h1>
  </ng-container>

</ng-container>

<ish-loading *ngIf="categoryLoading$ | async"></ish-loading>
