//
// BUTTONS

.btn {
  font-family: $font-family-bold;
  text-transform: uppercase;

  @media (max-width: $screen-xs-max) {
    display: block;
    width: 100%;
    margin-bottom: $space-default;
    clear: both;
  }

  & ~ .btn {
    margin-left: $space-default/3;

    @media (max-width: $screen-xs-max) {
      margin-left: 0;
    }
  }

  & ~ .btn.btn-block {
    margin-left: 0;
  }

  &.btn-link {
    width: auto;
    font-family: $font-family-regular;
    text-decoration: none;
    text-transform: unset;
  }

  &.btn-link-inline {
    display: inline;
    padding: 0;
    line-height: inherit;
    vertical-align: baseline;
  }

  &.btn-secondary {
    color: $button-default-color;
    background-color: $button-default-bg;
    border-color: $button-default-border;

    &:hover {
      //color: $button-default-color;
      background-color: darken($button-default-bg, 10%);
      border-color: darken($button-default-border, 10%);
    }
  }
}

.btn-lg {
  font-family: $font-family-condensedbold;

  &.btn-block {
    padding-right: 0;
    padding-left: 0;
  }
}

//
// RIGHT BUTTONS
.btn.float-right ~ .btn.float-right {
  margin-right: 2px;
}

//
// CIRCLE BUTTONS

.btn-circle {
  @include round-corner(50%);

  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7px 8px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #ccc;
  border: 1px solid $border-color-light;
}

.btn.processing-state {
  color: rgba(255, 255, 255, 0);
  background: $CORPORATE-SECONDARY url('/assets/img/icons/processing.gif') 50% no-repeat;
}

// Button Groups

.btn-group {
  .btn {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    clear: none;
  }
}
