//
// LAYOUT
// contains layout and presentation classes for the global page structure (header, footer, global navigation, ...)
.main-container {
  background: $color-inverse;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

.loading-container {
  position: relative;
  min-height: 50px;
  min-width: 50px;
}

body {
  font-family: $font-family-base;
}

// Global Styles
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
  margin-top: $space-default;
  margin-bottom: $space-default;
}

h4,
.h4 h5,
.h5 h6,
.h6 {
  font-family: $font-family-regular;
  margin-top: ($space-default * 2/3);
  margin-bottom: $space-default;
}

a,
a:not([href]):not([tabindex]) {
  color: $CORPORATE-PRIMARY;
}

a:not([href]):not([tabindex]) {
  &:hover {
    color: $CORPORATE-SECONDARY;
  }
}

a {
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  h3:hover {
    color: $text-color-quarternary;
  }
  &.teaser-link {
    display: block;
  }
}

.ng-fa-icon {
  &.footer-icon:before {
    color: $text-color-inverse;
    font-size: 50px;
  }
}

.top-header {
  .ng-fa-icon {
    top: 3px;
  }
}

//
// Main working area
.wrapper {
  padding: 0px 0px 50px 0px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.img-fluid {
  width: 100%;
}

// General styles
.show-inline {
  display: inline;
}

//
// Global Panels
.grey-panel {
  background: $color-tertiary;
  padding: ($space-default + ($space-default / 2)) 0;
}

// Help Text
.form-text {
  color: $text-color-quarternary;
  margin: $space-default / 3 0 $space-default / 2;
}

h4.form-text {
  color: $text-color-quarternary;
}

.form-text-inline {
  display: inline-block;
  margin: 0;
}

// Marketing Area
.marketing-area {
  img {
    padding-bottom: $space-default;
  }
}

img.marketing {
  padding-bottom: $space-default;
}

//
// Text alignments: ToDo - should be deleted and replaced by bootstrap standard classes, e.g. .text-lg-right
.text-right-lg {
  @media (min-width: $screen-lg-min) {
    text-align: right;
  }
}

.text-left-lg {
  @media (min-width: $screen-lg-min) {
    text-align: left;
  }
}

.text-right-md {
  @media (max-width: $screen-md-max) {
    text-align: right;
  }
}

.text-left-md {
  @media (max-width: $screen-md-max) {
    text-align: left;
  }
}

.text-right-sm {
  @media (max-width: $screen-sm-max) {
    text-align: right;
  }
}

.text-left-sm {
  @media (max-width: $screen-sm-max) {
    text-align: left;
  }
}

.text-right-xs {
  @media (max-width: $screen-xs-max) {
    text-align: right;
  }
}

.text-left-xs {
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
}

// end should be deleted

// Detail links and tooltips
[data-toggle='popover'] {
  .ng-fa-icon {
    padding-left: $space-default/4;
    font-size: 120%;
  }
}

.popover-header {
  margin-top: 0;
}

.details-link,
.details-tooltip {
  padding-left: $space-default/2;
  font-size: 90%;
  font-family: $font-family-regular;
  text-transform: none;
  white-space: nowrap;
  display: inline-block;
}
