.line-item-edit-dialog {
  .product-info {
    .product-availability {
      margin-bottom: $space-default;
    }
  }
}

.line-item-edit-link {
  display: inline-block;
  margin-bottom: $space-default / 2;
}
