.promotion-list {
  display: table;
  width: 100%;
  padding-left: 0;
  font-family: $font-family-regular;
  list-style: none;

  .promotion-list-item {
    display: table-row;
  }

  .promotion-icon {
    float: left;
    margin-right: 10px;
  }

  .promotion-short-title {
    display: inline;
    padding-right: $space-default/2;
  }

  .promotion-long-title {
    display: inline;
    padding-right: $space-default/2;
  }
}

.promotion-title {
  display: inline;
  padding-right: $space-default/2;
}

.promotion-details-and-remove-links {
  white-space: nowrap;
}

.promotion-details-link {
  padding-left: 0;
}

.promotion-links-seperator {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.promotion-remove-link {
  padding-left: 0;
}

.modal-body {
  .product-info {
    .promotion-list {
      margin-bottom: 0;
    }
  }
}
