//
// SECTION
// ===========================================================

.section {
  margin-bottom: ($space-default * 2);
  clear: both;

  &.section-separator {
    padding-bottom: ($space-default * 2);
    border-bottom: 1px solid $border-color-light;
  }

  &.section-separator-lg {
    @media (min-width: $screen-lg-min) {
      padding-bottom: ($space-default * 2);
      border-bottom: 1px solid $border-color-light;
    }
  }

  &.section-separator-md {
    @media (min-width: $screen-md-min) {
      padding-bottom: ($space-default * 2);
      border-bottom: 1px solid $border-color-light;
    }
  }

  &.section-separator-sm {
    @media (min-width: $screen-sm-min) {
      padding-bottom: ($space-default * 2);
      border-bottom: 1px solid $border-color-light;
    }
  }

  &.section-separator-xs {
    @media (max-width: $screen-xs-max) {
      padding-bottom: ($space-default * 2);
      border-bottom: 1px solid $border-color-light;
    }
  }
}
