.toast-container .toast .toast-close-button {
  top: 0;
  background-color: inherit;
  border: none;
  opacity: 1;
}

.toast-container {
  line-height: 1;
}

.toast-error {
  width: 1.25rem;
  background-color: theme-color-level('danger', $alert-border-level);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{$toastViewBox}" fill="#{$toast-error-color}">#{$toast-error-icon}</svg>');
  fill: #ff0;
}

.toast-warning {
  background-color: theme-color-level('warning', $alert-border-level);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{$toastViewBox}" fill="#{$toast-warning-color}">#{$toast-warning-icon}</svg>');
}

.toast-success {
  width: 100%;
  background-color: theme-color-level('success', $alert-border-level);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="#{$toastViewBox}" fill="#{$toast-success-color}">#{$toast-success-icon}</svg>');
}

.toast-container.toast-top-full-width > div {
  width: 100%;
  max-width: 540px;
  margin-top: 50px;
  font-size: $font-size-base * 1.25;
  opacity: 1;

  @media (min-width: $screen-sm-min) {
    max-width: calc(#{$screen-sm-min} - 1.5 * #{$grid-gutter-width});
    margin-top: 40px;
  }

  @media (min-width: $screen-md-min) {
    max-width: calc(#{$screen-md-min} - 2 * #{$grid-gutter-width});
  }

  @media (min-width: $screen-lg-min) {
    max-width: calc(1170px - #{$grid-gutter-width});
  }
}
