//
// VARIATION SELECTION

.imageVariationList {
  &.swatchImage {
    padding: 0;
    margin: 10px 0;

    .imageVariationListItem {
      display: inline-block;
      margin-right: 5px;
      list-style: outside none none;

      a {
        padding: 1px;
        border: 1px solid transparent;
        border-radius: 50%;

        &.selected {
          display: block;
          background: $color-inverse;
          border: 1px solid $border-color-light;
        }

        img {
          width: 32px;
          border-radius: 50%;
        }
      }
    }
  }

  &.colorCode {
    padding: 0;
    margin: 10px 0;

    .imageVariationListItem {
      display: inline-block;
      margin-right: 5px;
      list-style: outside none none;

      a {
        display: block;
        padding: 1px;
        border: 1px solid transparent;
        border-radius: 50%;

        &.selected {
          border: 1px solid $border-color-light;
        }

        span {
          display: block;
          width: 32px;
          height: 32px;
          font-weight: normal;
          color: #333;
          border: 1px solid transparent;
          border-radius: 50%;
        }
      }
    }
  }
}
