<h1 *ngIf="productLoading$ | async">PRODUKT LADEN...</h1>

<ng-container *ngIf="product$ | async as product;">

  <ish-breadcrumb [product]="product" [category]="category$ | async" [categoryPath]="categoryPath"></ish-breadcrumb>

  <h1>{{product.name}}</h1>

  <ish-product-images [product]="product"></ish-product-images>

  <ish-product-price [product]="product" [showInformationalPrice]="true" [showPriceSavings]="true"></ish-product-price>

  <ish-product-inventory [product]="product"></ish-product-inventory>

  <ish-product-shipment [product]="product"></ish-product-shipment>

</ng-container>
