
<ish-breadcrumb account="true" trailText="{{'account.order_history.link' | translate}}"></ish-breadcrumb>

<div class="marketing-area"></div>

<div class="account-wrapper" data-testing-id="orders-history-page">
  <div class="row account-main">

    <div class="col-md-3 account-nav-box">
      <ish-account-navigation selectedItem='ORDERS'></ish-account-navigation>
    </div>

    <div class="col-md-9">
      <div class="marketing-area"></div>

      <h1>{{'account.order_history.heading' | translate }}</h1>

      <!--- TODO: Order History Page -->

    </div>
  </div>
</div>
