<div class="filters-row row">
  <div class="col-md-7 col-sm-9 col-xs-12 switch-layout">
    <div class="col-md-3 col-sm-3 col-xs-4">
      <div class="pagination-total text-nowrap">{{ itemCount | i18nPlural: ( 'product.items.label' | translate ) || {"other": "#"} }}</div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4 switch-layout">
    <div class="pull-right sort-by">
      <a class="list-view-link" [ngClass]="{'list-active' : listView}" data-testing-id="list-view-link" (click)="setViewType('list')">
        <span class="glyphicon glyphicon-list"></span>
      </a>
      <a class="grid-view-link" [ngClass]="{'grid-active' : gridView}" data-testing-id="grid-view-link" (click)="setViewType('grid')">
        <span class="glyphicon glyphicon-th"></span>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-8 pull-right sort-by">
    <form class="sort-by-filter" method="post" name="sortByForm" novalidate=""> <!-- TODO: Remove form tag, it's not needed -->
      <select class="form-control" [formControl]="sortForm" data-submit-form-handler="change" id="SortingAttribute" name="SortingAttribute">
        <option *ngFor="let o of sortOptions" [value]="o.value">{{ o.label }}</option>
      </select>
    </form>
  </div>
</div>
