<div class="filters-row row">
  <div class="col-12 col-md-9 col-lg-7 switch-layout">
    <div class="col-4 col-md-3">
      <div *ngIf="itemCount >= 0" class="pagination-total text-nowrap">{{ itemCount | i18nPlural: ( 'product.items.label' | translate ) || {"other": "#"} }}</div>
    </div>
  </div>
  <div class="col-4 col-md-3 col-lg-2 switch-layout">
    <div class="sort-by">
      <a class="list-view-link" [ngClass]="{'list-active' : listView}" data-testing-id="list-view-link" (click)="setViewType('list')">
        <!-- <span class="glyphicon glyphicon-list"></span> -->
        <fa-icon [icon]="['fas', 'list']"></fa-icon>
      </a>
      <a class="grid-view-link" [ngClass]="{'grid-active' : gridView}" data-testing-id="grid-view-link" (click)="setViewType('grid')">
        <!-- <span class="glyphicon glyphicon-th"></span> -->
        <fa-icon [icon]="['fas', 'th']"></fa-icon>
      </a>
    </div>
  </div>
  <div class="col-8 col-md-12 col-lg-3 sort-by">
    <form class="sort-by-filter" method="post" name="sortByForm" novalidate=""> <!-- TODO: Remove form tag, it's not needed -->
      <select class="form-control" [formControl]="sortForm" data-submit-form-handler="change" id="SortingAttribute" name="SortingAttribute">
        <option *ngFor="let o of sortOptions" [value]="o.value">{{ o.label }}</option>
      </select>
    </form>
  </div>
</div>
