<div [formGroup]="addressForm">
  <fieldset>
    <ish-select-title
      [form]="addressForm"
      [countryCode]="countryCode"
    ></ish-select-title>

    <ish-input
      [controlName]="'firstName'"
      [form]="addressForm"
      [label]="'First Name'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>

    <ish-input
      [controlName]="'lastName'"
      [form]="addressForm"
      [label]="'Last Name'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [controlName]="'addressLine1'"
      [form]="addressForm"
      [label]="'Address Line 1'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>

    <ish-input
      [controlName]="'addressLine2'"
      [form]="addressForm"
      [label]="'Address Line 2'"
    ></ish-input>

    <ish-input
      [controlName]="'addressLine3'"
      [form]="addressForm"
      [label]="'Locality'"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [controlName]="'city'"
      [form]="addressForm"
      [label]="'City'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>

    <ish-input
      [controlName]="'postalCode'"
      [form]="addressForm"
      [label]="'ZIP/Postal Code'"
      [maxlength]="'5'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>
  </fieldset>
</div>
