<div class="category-panel">
  <h1>Cameras</h1><!-- BEGIN TEMPLATE app_sf_responsive/default/modules/navigation/FilterList -->
  <div class="filter-panel" id="filter-accordion">
    <div class="filter-group" *ngFor="let response of Collapse.elements">
      <!-- BEGIN TEMPLATE app_sf_responsive/default/modules/search/index/Filter -->
      <h3 data-toggle="collapse" [attr.href]="'#' + response.id + ''">{{response.name}}
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </h3>
      <ul class="filter-list clearfix collapse in" id="{{response.id}}">
        <div *ngIf="response.name!='Color'">
          <li class=" filter-item" *ngFor="let data of response.facets">
            <a class="filter-item-name" data-testing-id="filter-link-Canon"
               href="http://127.0.0.1:8081/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewStandardCatalog-Browse?CatalogCategoryID=&amp;SearchParameter=%26%40QueryTerm%3D*%26ContextCategoryUUID%3DYst_AAABY.kAAAFdWdgh_RgR%26ManufacturerName%3DCanon%26OnlineFlag%3D1%26%40Sort.CategoryPosition%3D0%26%40Sort.UUID%3D0&amp;PageSize=12&amp;SortingAttribute=&amp;CategoryName=Cameras-Camcorders&amp;CatalogID=Cameras-Camcorders">
          <span class="icon-notselected">
          </span>{{data.name}}
            </a>
            <span class="filter-count">({{data.count}})</span>
          </li>
        </div>
        <div *ngIf="response.name=='Color'">
          <li class="filter-item filter-colour" *ngFor="let data of response.facets">
            <a class="filter-swatch" title="{{data.name}}"
               href="'http://127.0.0.1:8081/' + {{data.link}} + ''">
              <span [ngStyle]="{'background-color':data.name}">
              </span>
            </a>
          </li>
        </div>
      </ul>
      <!-- END TEMPLATE app_sf_responsive/default/modules/search/index/Filter -->

      <!-- END TEMPLATE app_sf_responsive/default/modules/navigation/FilterList -->
    </div>
    <a class="visible-xs mobile-filter-toggle collapsed" data-toggle="collapse"
       data-target="#filter-accordion">Filters<br><span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </div>



