<h1>{{ 'account.company_profile.heading' | translate }}</h1>

<ish-error-message [error]="error" />

<p>{{ 'account.company_profile.heading.text' | translate }}</p>

<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <p class="indicates-required">
        <span class="required">*</span>{{ 'account.required_field.message' | translate }}
      </p>
      <form class="form-horizontal" [formGroup]="organizationSettingsCompanyForm" (ngSubmit)="submit()">
        <formly-form [form]="organizationSettingsCompanyForm" [fields]="fields" [model]="model" />
        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a routerLink="/account/organization/settings" class="btn btn-secondary">{{
              'account.cancel.link' | translate
            }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
