<div class="product-list row">

  <!--List View-->
  <ng-template [ngIf]="listView" [ngIfElse]="gridView">
      <div *ngFor="let product of products" class="product-list-item col-md-12 list-view">
        <!-- TODO: a separate product row component needs to be created and used here -->
        <is-product-tile [mockData]="product"></is-product-tile>
      </div>
  </ng-template>

  <!--Grid View -->
  <ng-template #gridView>
      <div *ngFor="let product of products" class="product-list-item col-md-4 col-xs-6 grid-view">
        <is-product-tile [mockData]="product"></is-product-tile>
      </div>
  </ng-template>

</div>
