.hierarchy-switch {
  font-family: $font-family-bold;
  font-size: $font-size-sm;

  .dropdown-menu {
    position: absolute;
    min-width: 50px;
    margin-top: 0;
  }

  .hierarchy-switch-link {
    display: inherit;
    max-width: 300px;
    padding-right: $space-default;
    padding-left: $space-default / 2;
    overflow: hidden;
    color: $text-color-quinary !important;
    text-overflow: ellipsis;
    text-transform: uppercase;
    cursor: pointer;

    //hierarchy selector when dropdown is shown
    &.show .hierarchy-switch-link {
      span:hover {
        color: darken($text-color-quinary, 10%);
      }
    }

    //hierarchy selector when dropdown is hidden
    &:not(.show) .hierarchy-switch-link {
      span:hover {
        color: darken($text-color-quinary, 10%);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .hierarchy-switch-link {
      max-width: 150px;
      color: $text-color-corporate !important;
    }
  }

  @include media-breakpoint-down(md) {
    .hierarchy-switch-link {
      max-width: 150px;
    }
  }

  .hierarchy-switch-menu-container {
    padding: 15px;
    margin: -15px;
  }

  .hierarchy-switch-container {
    left: 0 !important;
    z-index: 9999;
    padding: ($space-default * 0.66) $space-default;
    background: $color-inverse;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);

    ul {
      height: auto;
      max-height: 400px;
      padding-left: 0;
      margin-bottom: 0;
      overflow-x: hidden;
      text-transform: none;
      list-style: none;

      li {
        font-family: $font-family-regular;
        font-size: $font-size-corporate;
        line-height: ($line-height-base * 1.5);

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        a:hover {
          color: $CORPORATE-SECONDARY;
        }
      }
    }
  }
}
