/*********** GLOBAL NAVIGATION **********/

/* purgecss start ignore */
@mixin mobile-navigation {
  .global-nav-container {
    position: absolute;
    top: $header-height-mobile;
    display: block;
    width: 100%;

    .main-navigation-list {
      flex-direction: column;
      background-color: $color-inverse;

      .dropdown-menu {
        position: static;
        border: none;
      }

      li.main-navigation-level1-item {
        padding: 0;
        margin: 0;
      }

      li {
        float: none;
        list-style: none;

        &.open ul {
          display: block;
          visibility: visible;
        }

        &:not(.open) ul {
          display: none;
        }

        > .dropdown-toggle {
          display: block;
          width: $toggler-width;
          text-align: center;
          border-left: $border-width-default solid $border-color-default;

          &::after {
            content: none;
          }
        }

        > a {
          float: left;
          width: calc(100% - #{$toggler-width});
          padding: $space-default ($grid-gutter-width * 0.5) !important;
          font-size: $font-size-navbar-item-mobile;
          line-height: 1.3125rem;
          color: $text-color-inverse;
          background: $CORPORATE-PRIMARY;
          border-bottom: $border-width-default solid $border-color-default;
        }

        &.open {
          .category-level1,
          .category-level2,
          .category-level3,
          .category-level4 {
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }

        &.dropdown {
          padding: 0;
          background: none;
        }

        ul > li {
          float: none;
        }
      }
      // Menu Items
      .category-level1,
      .category-level2,
      .category-level3,
      .category-level4 {
        > li > a {
          font-size: $font-size-sub-menu-item-mobile;
          color: $text-color-primary;
          text-transform: capitalize;
          background-color: $color-inverse;
          border-bottom: $border-width-default solid $border-color-light;
        }

        .dropdown-toggle {
          border-left: $border-width-default solid $border-color-light;
        }
      }

      .category-level2,
      .category-level3,
      .category-level4 {
        > li > a {
          color: $text-color-quaternary;
        }
      }
    }
  }
}

.navbar-toggler {
  padding: 13px 21px;
  margin-left: $space-default;
  background-color: $text-color-corporate;

  &:focus {
    outline: none;
  }
}

.main-navigation {
  z-index: 2;
  align-self: center;
  height: $top-header-height;
  transition: height 500ms ease-in-out;

  ul li ul {
    padding: 0;
  }

  li {
    list-style: none;

    a {
      font-family: $font-family-condensedbold;
      text-transform: uppercase;
    }
  }

  .main-navigation-list {
    display: block;

    a {
      font-size: $font-size-navbar-item;
      color: $text-color-primary;
    }

    li {
      line-height: 40px;

      &.dropdown {
        position: static;
        float: left;
        padding: 0 10px;

        &.first {
          padding-left: 0;
        }

        @media (min-width: $screen-sm) {
          > a:first-child {
            position: relative;
            display: block;

            &::before {
              // small centered arrow below the category name / link at hover
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 0;
              margin-left: -6px;
              visibility: hidden;
              content: '';
              border-right: 6px solid transparent;
              border-bottom: 6px solid #2f2f2f;
              border-left: 6px solid transparent;
            }
          }
        }

        &.hover {
          @media (min-width: $screen-sm) {
            > a:first-child {
              &::before {
                // set to visible with a delay the same way as the sub categories main layer
                visibility: visible;
                transition-delay: 0.5s;
              }
            }
          }

          ul {
            visibility: visible;
            transition-delay: 0.5s;
          }
        }
      }

      .dropdown-toggle {
        display: none;
      }

      &.open .category-level1 {
        display: block;
        margin-top: 0;
      }

      ul {
        > li {
          float: left;
          padding-right: 3%;
          line-height: 28px;

          &:nth-child(4n + 1) {
            clear: left;
          }

          a {
            font-family: $font-family-regular;
            font-size: $font-size-menu-item;
          }

          li {
            float: none;
            padding-right: 0;
            line-height: 24px;

            ul {
              padding: 0;
              padding-left: $space-default;
              margin: 0;
            }

            a {
              font-size: $font-size-sub-menu-item;
              color: $text-color-quaternary;
              text-transform: none;
            }
          }
        }

        li {
          &.dropdown {
            background: none;
          }

          &.open ul {
            display: block;
          }
        }
      }
    }

    .category-level1 {
      left: 0;
      z-index: 9999;
      display: block;
      width: 720px;
      padding: 25px 25px ($grid-gutter-width * 0.5) 25px;
      margin: 0;
      visibility: hidden;
      border-top: ($space-default * 0.5) solid $border-color-default;

      @media (max-width: $screen-xs-max) {
        visibility: visible;
      }

      @media (min-width: $screen-md) {
        /* ~992px (Bootstrap) */
        width: ($screen-md - $grid-gutter-width * 2);
      }

      @media (min-width: $screen-lg) {
        /* ~1200px (Bootstrap) */
        width: ($screen-lg - $grid-gutter-width * 2);
      }

      > li {
        margin: 0 20px 15px 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  @include mobile-navigation;
}

.sub-navigation-content {
  padding: 0 !important;
  margin: 0 !important;
  clear: both;

  @media (max-width: $screen-xs-max) {
    padding: $space-default !important;
  }
}

/* purgecss end ignore */
