.user-info-box {
  padding-bottom: 10px;
  //overflow: hidden;
  line-height: 50px;
  background-color: $color-inverse;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.1);

  @include media-breakpoint-up(md) {
    display: none;
  }

  &.container {
    max-width: none;
  }

  .user-info-box-item {
    display: flex;
    font-family: $font-family-bold;
    font-size: 12px;
    color: $text-color-tertiary;
    text-transform: uppercase;
  }

  .language-switch.accordion .language-switch-container {
    left: 30px !important;
    padding-bottom: 0;

    ul {
      padding: divide($space-default * 2, 3);
      margin-bottom: 0;

      li a {
        font-family: $font-family-bold;
      }
    }
  }
}
