<ish-modal-dialog
  #modal
  [options]="{
    titleText: headerTranslationKey | translate,
    ariaLabelledBy: 'select-wishlist-modal-title',
  }"
>
  @if (showForm) {
    <form body ishFormSubmit novalidate [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div class="modal-body">
        <ish-select-wishlist-form [addMoveProduct]="addMoveProduct" [formGroup]="formGroup" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
          {{ submitButtonTranslationKey | translate }}
        </button>
        <button class="btn btn-secondary" type="button" (click)="hide()">
          {{ 'account.wishlists.add_to_wishlist.cancel_button.text' | translate }}
        </button>
      </div>
    </form>
  } @else {
    <div body>
      <div *ishProductContextAccess="let product = product" class="modal-body">
        <span
          data-testing-id="wishlist-success-link"
          [callbacks]="{ callbackHideDialogModal: callbackHideDialogModal }"
          [ishServerHtml]="
            successTranslationKey
              | translate
                : {
                    '0': product.name,
                    '1': (selectedWishlistRoute$ | async),
                    '2': (selectedWishlistTitle$ | async | ishHtmlEncode),
                  }
          "
        ></span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="hide()">
          {{ 'account.wishlists.add_to_wishlist.confirmation.ok_button.text' | translate }}
        </button>
      </div>
    </div>
  }
</ish-modal-dialog>
