<div class="clearfix" data-testing-id="product-detail-page" itemscope itemtype="http://schema.org/Product">

  <ng-container *ngIf="product$ | async as product">

    <ish-breadcrumb [product]="product" [category]="category$ | async" [categoryPath]="categoryPath$ | async"></ish-breadcrumb>

    <ish-product-detail
      [product]="product"
      (productToCart)="addToCart($event)"
      (productToCompare)="addToCompare($event)"
    ></ish-product-detail>

  </ng-container>

  <ish-loading *ngIf="productLoading$ | async"></ish-loading>

</div>

<ish-recently-viewed-container></ish-recently-viewed-container>
