<div class="row form-group">
  <label *ngIf="displayLabel" [for]="uuid" class="col-form-label" [ngClass]="labelClass"
    >{{ label | translate }}<span *ngIf="required" class="required">*</span>
  </label>
  <div [ngClass]="inputClass">
    <div class="form-control p-0">
      <div class="d-flex flex-row align-items-center justify-content-around">
        <!-- display: inline -->
        <button
          class="btn btn-link mr-0"
          (click)="decrease()"
          [disabled]="cannotDecrease$ | async"
          [attr.data-testing-id]="'decrease-' + controlName"
          >{{ 'product.quantity.decrease.text' | translate }}</button
        >
        <span class="text-center w-100" [attr.data-testing-id]="controlName">{{ value$ | async }}</span>
        <!-- display: inline -->
        <button
          class="btn btn-link mr-0"
          (click)="increase()"
          [disabled]="cannotIncrease$ | async"
          [attr.data-testing-id]="'increase-' + controlName"
          >{{ 'product.quantity.increase.text' | translate }}</button
        >
      </div>
    </div>
  </div>
</div>
