<div class="row form-group has-feedback" [formGroup]="form" [ishShowFormFeedback]="formControl">
  <label *ngIf="label" [for]="uuid" class="col-form-label" [ngClass]="labelClass">{{label | translate}}
    <span *ngIf="required" class="required">*</span>
  </label>
  <div [ngClass]="inputClass">
    <input
      [type]="type"
      class="form-control"
      [id]="uuid"
      [formControlName]="controlName"
      [attr.data-testing-id]="controlName"
      [maxlength]="maxlength"
      [attr.autocomplete]="calculatedAutocomplete"
      [min]="min || ''"
      [max]="max || ''"
      [placeholder]="placeholderText ? (placeholderText | translate) : ''"
    >
    <ng-content></ng-content>
    <ish-form-control-feedback [messages]="errorMessages" [control]="formControl"></ish-form-control-feedback>
  </div>
</div>
