<div
  #searchBox
  class="search advanced-search clearfix"
  [ngClass]="{ focus: searchBoxFocus, 'scaled-up': searchBoxScaledUp }"
>
  <input
    #searchInput
    [placeholder]="configuration?.placeholder || ''"
    autocomplete="off"
    type="search"
    id="header-search-input"
    class="form-control searchTerm"
    (input)="searchSuggest($event.target)"
    [value]="inputSearchTerms$ | async"
    (focus)="handleFocus()"
    (blur)="handleBlur($event)"
    (keydown)="handleFocus()"
    (keydown.esc)="handleEscKey()"
    (keydown.arrowleft)="selectSuggestedTerm(-1)"
    (keydown.arrowright)="selectSuggestedTerm(-1)"
    (keydown.arrowdown)="selectSuggestedTerm(activeIndex + 1)"
    (keydown.arrowup)="selectSuggestedTerm(activeIndex - 1)"
    (keydown.enter)="submitSearch(searchInput.value)"
  />

  <div class="buttons">
    <button
      #searchInputReset
      *ngIf="inputSearchTerms$ | async"
      class="btn-reset btn btn-primary"
      type="reset"
      name="reset"
      [title]="'search.searchbox.button.reset.title' | translate"
      (focus)="handleFocus()"
      (click)="handleReset()"
      (blur)="handleBlur($event)"
      (keydown.esc)="handleEscKey()"
    >
      <fa-icon [icon]="['fas', 'times']" />
    </button>

    <button
      #searchInputSubmit
      class="btn-search btn btn-primary"
      type="submit"
      name="search"
      [title]="'search.searchbox.button.title' | translate"
      (keydown)="handleFocus()"
      (click)="submitSearch(searchInput.value)"
      (blur)="handleBlur($event)"
      (keydown.esc)="handleEscKey()"
    >
      <!-- search button with icon -->
      <ng-container *ngIf="!configuration?.buttonText; else textBlock">
        <fa-icon [icon]="['fas', 'search']" />
      </ng-container>
      <!-- search button with text -->
      <ng-template #textBlock> {{ configuration?.buttonText }} </ng-template>
    </button>
  </div>

  <ng-container *ngIf="searchResults$ | async as results">
    <div *ngIf="results.length && searchBoxFocus" class="search-suggest-results-container">
      <div class="search-suggest-terms">
        <div class="headline">{{ 'suggest.terms.headline' | translate }}</div>
        <ul>
          <li
            *ngFor="let result of results | slice : 0 : configuration?.maxAutoSuggests; let liIndex = index"
            [class.active-suggestion]="activeIndex === liIndex"
            (mousedown)="submitSearch(result)"
            (mouseenter)="activeIndex = liIndex"
          >
            <button
              type="button"
              class="search-result"
              [innerHTML]="result | titlecase | ishHighlight : (inputSearchTerms$ | async)"
            ></button>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <div class="search-suggest-backdrop" [ngClass]="{ show: searchBoxFocus }"></div>
</div>
