<!-- display notification button / icon -->
<ng-container *ngIf="visible$ | async" [ngSwitch]="displayType">
  <!-- edit icon -->
  <button
    *ngSwitchCase="'icon'"
    type="button"
    class="btn"
    [ngClass]="cssClass"
    (click)="openModal(modal)"
    data-testing-id="product-notification-edit"
    [title]="'product.notification.edit.link.title' | translate"
  >
    <fa-icon [icon]="['fas', 'pencil-alt']" />
  </button>

  <ng-container *ngSwitchCase="'button'">
    <!-- button -->
    <button
      type="button"
      [ngClass]="cssClass"
      [title]="buttonKey('title') | async | translate"
      (click)="openModal(modal)"
      data-testing-id="product-notification-edit"
    >
      {{ buttonKey('label') | async | translate }}
    </button>
  </ng-container>
</ng-container>

<ish-product-notification-edit-dialog [productNotification]="productNotification" #modal />
