<!-- display notification link -->
<button
  type="button"
  name="editProductNotification"
  class="btn"
  [ngClass]="cssClass"
  (click)="openModal(modal)"
  data-testing-id="product-notification-edit"
>
  <ng-container [ngSwitch]="displayType">
    <!-- edit icon in my account -->
    <fa-icon
      *ngSwitchCase="'icon'"
      [icon]="['fas', 'pencil-alt']"
      [title]="'product.notification.edit.link.title' | translate"
    ></fa-icon>

    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="available$ | async; else outOfStock">
        <!-- product is in stock - price notification -->
        {{ 'product.notification.price.add_notification.button.label' | translate }}
      </ng-container>
      <ng-template #outOfStock>
        <!-- product is out of stock - in stock notification -->
        {{ 'product.notification.stock.add_notification.button.label' | translate }}
      </ng-template>
    </ng-container>
  </ng-container>
</button>

<ish-product-notification-edit-dialog
  [productNotification]="productNotification"
  #modal
></ish-product-notification-edit-dialog>
