<button
  type="button"
  [ngClass]="cssClass"
  (click)="openConfirmationDialog(deleteDialog)"
  data-testing-id="product-notification-delete"
>
  <fa-icon [icon]="['fas', 'trash-alt']" [title]="'product.notification.delete.link.title' | translate" />
</button>

<ish-modal-dialog
  #deleteDialog
  [options]="{
    confirmText: 'product.notification.delete.button.label' | translate,
    rejectText: 'product.notification.delete.cancel.button.label' | translate,
    titleText: productName$ | async
  }"
  (confirmed)="deleteProductNotification()"
>
  <div [ishServerHtml]="'product.notification.delete.message' | translate"></div>
</ish-modal-dialog>
