<div class="family-page product-search-result" [attr.data-testing-id]="'family-page-' + category.uniqueId">
  <div class="row">

    <div class="col-md-3">
      <div class="navigation-panel">
        <ish-filter-navigation></ish-filter-navigation>
      </div>
    </div>

    <div class="col-md-9">
      <ish-product-list-container
        [pageUrl]="'/category/' + category.uniqueId"
        [category]="category"
        (loadMore)="loadMore.emit()"
      ></ish-product-list-container>
    </div>
  </div>
</div>
