<div class="family-page product-search-result" [attr.data-testing-id]="'family-page-' + category.id">
  <div class="row">

    <div class="col-sm-3">
      <div class="navigation-panel">
        <h1>{{category.name}}</h1>
        <ish-category-navigation
          [category]="category"
          [categoryPath]="categoryPath"
          [categoryNavigationLevel]="0"
        ></ish-category-navigation>
      </div>
    </div>

    <div class="col-sm-9">
        <ish-product-list-toolbar
          [itemCount]="totalItems"
          [viewType]="viewType"
          [sortBy]="sortBy"
          (viewTypeChange)="changeViewType($event)"
          (sortByChange)="changeSortBy($event)"
        ></ish-product-list-toolbar>

        <ish-product-list
          [products]="products"
          [viewType]="viewType"
        ></ish-product-list>
    </div>
  </div>
</div>
