<h1 *ngIf="categoryLoading$ | async">KATEGORIE LADEN...</h1>


<ng-container *ngIf="category$ | async as category else loading">

  <ish-breadcrumb [category]="category" [categoryPath]="categoryPath$ | async"></ish-breadcrumb>

  <div class="marketing-area"></div>

  <div [ngClass]="category.hasOnlineSubCategories ? 'category-page' : 'family-page product-search-result'" [attr.data-testing-id]="category.id">
    <div class="row">

      <div class="col-sm-3">
        <div class="navigation-panel">
          <h1>{{category.name}}</h1>
          <ish-category-navigation [category]="category" [categoryPath]="categoryPath$ | async" [categoryNavigationLevel]="0"></ish-category-navigation>
        </div>
      </div>

      <div class="col-sm-9">
        <!-- category with subcategories -->
        <ng-template [ngIf]="category.hasOnlineSubCategories" [ngIfElse]="familyPage">
          <ish-category-list [categories]="category.subCategories"></ish-category-list>
        </ng-template>
        <!-- category with products -->
        <ng-template #familyPage>
          <!-- TODO: Product List filter should be an own component -->
          <ish-product-list-filter
            [itemCount]="totalItems$ | async"
            [sortBy]="sortBy"
            [viewMode]="viewMode"
            (viewModeChange)="changeViewMode($event)"
            (sortChange)="changeSort($event)"></ish-product-list-filter>

          <ish-product-list
            [products]="products$ | async"
            [viewMode]="viewMode"></ish-product-list>
        </ng-template>
      </div>
    </div>
  </div>


</ng-container>
