<div class="row" *ngIf="basket">
  <div class="col-md-12 col-lg-8">
    <!-- Messages -->
    <div *ngIf="error && error.status" role="alert" class="alert alert-danger">
      {{ error.status }}: {{ error.error }}
    </div>
    <div *ngIf="nextDisabled && !error" role="alert" class="alert alert-danger">
      {{ 'checkout.payment.no_Selection.error' | translate }}
    </div>
    <h3>{{ 'checkout.payment.method.select.heading' | translate }}</h3>
    <form [formGroup]="paymentForm" class="form-horizontal">
      <!-- ToDo: List of payment methods instead -->
      <ul
        *ngIf="paymentMethods && paymentMethods.length > 0"
        id="payment-accordion"
        class="list-unstyled ml-4"
        role="tablist"
        aria-multiselectable="true"
      >
        <li *ngFor="let paymentMethod of paymentMethods" class="panel">
          <div class="form-check" role="tab">
            <input
              class="form-check-input"
              type="radio"
              formControlName="name"
              [id]="'paymentOption_' + paymentMethod.id"
              [value]="paymentMethod.id"
              [attr.disabled]="paymentMethod.isRestricted ? true : null"
            />
            <label class="form-check-label" [for]="'paymentOption_' + paymentMethod.id">
              <strong>
                {{ paymentMethod.displayName
                }}<ng-container *ngIf="!paymentMethod.displayName">{{ paymentMethod.id }}</ng-container>
              </strong>
              <p *ngIf="paymentMethod.description">{{ paymentMethod.description }}</p>
              <p
                *ngIf="
                  paymentMethod.paymentCostsThreshold &&
                    paymentMethod.paymentCostsThreshold.value <= basket.totals.total.value;
                  else displayPaymentCosts
                "
              >
                {{ 'checkout.payment.payment_cost_threshold.amount_reached' | translate }}&nbsp;{{
                  basket.totals.total | ishPrice
                }}
              </p>
              <ng-template #displayPaymentCosts>
                <p *ngIf="paymentMethod.paymentCosts && paymentMethod.paymentCosts.value">
                  {{ 'checkout.payment.method.charges.text' | translate }}&nbsp;{{
                    paymentMethod.paymentCosts | ishPrice
                  }}&nbsp;
                  <span *ngIf="paymentMethod.paymentCostsThreshold" class=".form-text text-muted">
                    <span class="hidden-xs">&nbsp;-&nbsp;</span
                    >{{ 'checkout.payment.payment_cost_threshold.text' | translate }}
                    <span class="text-nowrap">{{ paymentMethod.paymentCostsThreshold | ishPrice }}</span>
                  </span>
                </p>
              </ng-template>
              <!-- ToDo: Display restriction reason -->
              <p *ngIf="paymentMethod.isRestricted"><i>Restricted use</i></p>
            </label>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
    <ish-basket-address-summary [basket]="basket"></ish-basket-address-summary>
    <ish-basket-items-summary [basket]="basket"></ish-basket-items-summary>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

      <button class="btn btn-lg btn-block btn-primary" type="button" [disabled]="nextDisabled" (click)="nextStep()">
        {{ 'checkout.button.label' | translate }}
      </button>
    </div>
    <!-- ToDo: Privacy policy link - ISREST-341 -->
  </div>
</div>
