<table
  *ngIf="returnableItems?.length"
  [formGroup]="itemsForm"
  cdk-table
  [dataSource]="returnableItems"
  class="table table-lg mobile-optimized"
  data-testing-id="returnable-product-list"
>
  <!-- Checkbox -->
  <ng-container cdkColumnDef="select">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let row" [formGroupName]="row.sku">
      <div class="form-group form-check pr-4">
        <input
          type="checkbox"
          formControlName="checked"
          class="form-check-input"
          (change)="toggleFields($event, row.sku, row.maxReturnQty)"
        />
      </div>
    </td>
  </ng-container>

  <!--Product -->
  <ng-container cdkColumnDef="product">
    <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-return-request-product">
      {{ 'toolineo.account.return_request.modal.table.heading.product_label' | translate }}
    </th>
    <td cdk-cell *cdkCellDef="let row">
      <ish-return-request-product-info [sku]="row.sku" />
    </td>
  </ng-container>

  <!-- Return Quantity Limit -->
  <ng-container cdkColumnDef="returnable_qty">
    <th
      cdk-header-cell
      *cdkHeaderCellDef
      data-testing-id="th-return-request-quantity-limit"
      [ngStyle]="{ 'width.px': 220 }"
    >
      {{ 'toolineo.account.return_request.modal.table.heading.returnable_qty' | translate }}
    </th>
    <td cdk-cell *cdkCellDef="let row" class="text-center">
      {{ row.maxReturnQty }}
    </td>
  </ng-container>

  <!-- Quantity to returns -->
  <ng-container cdkColumnDef="qty">
    <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-return-request-quantity" [ngStyle]="{ 'width.px': 220 }">
      {{ 'toolineo.account.return_request.modal.table.heading.return_qty' | translate }}
    </th>
    <td cdk-cell *cdkCellDef="let row" [formGroupName]="row.sku">
      <div class="position-relative form-group has-feedback" [ishShowFormFeedback]="[getControl(row.sku, 'qty')]">
        <input type="number" formControlName="qty" [min]="1" [max]="row.qty" class="form-control" />
        <ish-form-control-feedback
          [messages]="{
            required: 'toolineo.account.return_request.modal.error.qty.required',
            max: 'toolineo.account.return_request.modal.error.qty.max'
          }"
          [control]="getControl(row.sku, 'qty')"
        />
      </div>
    </td>
  </ng-container>
  <!-- Return Reason -->
  <ng-container cdkColumnDef="reason" *ngIf="isB2C">
    <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-return-request-reason" class="w-25">
      {{ 'toolineo.account.return_request.modal.table.heading.reason' | translate }}
    </th>
    <td cdk-cell *cdkCellDef="let row" [formGroupName]="row.sku">
      <div class="position-relative form-group has-feedback" [ishShowFormFeedback]="[getControl(row.sku, 'reason')]">
        <select formControlName="reason" class="form-control">
          <option value="">{{ 'toolineo.account.return_request.modal.form.select_reason_label' | translate }}</option>
          <option *ngFor="let r of returnReasons" [value]="r.value">{{ r.label }}</option>
        </select>
        <ish-form-control-feedback
          [messages]="{ required: 'toolineo.account.return_request.modal.error.reason.required' }"
          [control]="getControl(row.sku, 'reason')"
        />
      </div>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>
</table>
