<div class="row list-item-row" data-testing-id="product-list-item">
  <!-- Errors and Infos -->
  @if (pli.validationError?.message) {
  <div class="alert alert-inline alert-danger col-12">
    {{ pli.validationError.message }}
  </div>
  } @if (pli.info?.message) {
  <div class="alert alert-inline alert-info col-12">
    {{ pli.info.message }}
  </div>
  }

  <!-- Product Image -->
  <div class="col-2 list-item">
    <ish-product-image imageType="S" [link]="true" />
  </div>

  <div class="col-7 col-md-6 col-xl-4 list-item">
    <!--Product Description -->
    <div class="pli-description">
      <ish-product-name [alternate]="pli.name" />

      <!-- Product ID -->
      <ish-product-id />

      <!-- Product Variations -->
      <ish-product-variation-display />
      <!-- Product Bundles -->
      <ish-product-bundle-display />

      <!-- switch by lineItemViewType -->
      @switch (lineItemViewType) { @case ('simple') { } @case ('availability') {
      <ish-product-inventory />
      } @default {
      <!-- edit variation & quantity -->
      @if (editable) { @if (!('preferences.ChannelPreferences.EnableAdvancedVariationHandling' | ishServerSetting)) {
      <ish-line-item-edit
        ishProductContext
        [sku]="pli.productSKU"
        [quantity]="pli.quantity.value"
        [itemId]="pli.id"
        (updateItem)="onUpdateItem($event)"
      />
      } }

      <!-- availability -->
      <ish-product-inventory />

      <!-- ship window message -->
      <ish-product-shipment />

      <!-- surcharges -->
      @for (surcharge of pli.itemSurcharges; track $index) {
      {{ surcharge.displayName }} @if (!surcharge.displayName) {
      <span>{{ surcharge.text }}</span>
      }
      <span class="text-nowrap"> {{ surcharge.amount | ishPrice }} </span>
      <ng-template #SurchargeDescription> <span [innerHTML]="surcharge.description"></span> </ng-template>
      <button
        type="button"
        class="btn btn-link details-tooltip"
        [ngbPopover]="SurchargeDescription"
        [popoverTitle]="surcharge.displayName"
        placement="top"
      >
        {{ 'shopping_cart.detail.text' | translate }}<fa-icon [icon]="['fas', 'info-circle']" />
      </button>
      } } }

      <!-- promotions -->
      @if (pli.valueRebates?.length) { @for (rebate of pli.valueRebates; track rebate.id) {
      <ish-basket-promotion [rebate]="rebate" class="list-item-promo" />
      } }
    </div>

    <!-- mobile quantity -->
    <div class="quantity d-xl-none">
      <div class="form-group">
        <ish-product-quantity-label
          translationKey="shopping_cart.pli.qty.label"
          [for]="'pli-quantity_' + pli.position"
          class="d-xl-none col-form-label"
        />
        @if (editable) {
        <ish-product-quantity [elementId]="'pli-quantity_' + pli.position" />
        } @else {
        {{ pli.quantity.value | number }}
        }
      </div>
    </div>
  </div>

  <!-- desktop quantity -->
  <div class="quantity col-xl-2 list-item d-none d-xl-flex">
    <div class="form-group w-100 text-end" [ngClass]="{ 'pe-2': !editable }">
      @if (editable) {
      <ish-product-quantity [elementId]="'pli-quantity_' + pli.position" />
      } @else {
      {{ pli.quantity.value | number }}
      }
    </div>
  </div>

  <!-- Prices -->
  <div class="col-md-2 d-none d-md-block list-item column-price single-price">
    <!-- (Suggested) Single Base Price  -->
    <div>
      {{ pli.singleBasePrice | ishPrice }}
    </div>
    <!-- Undiscounted single price -->
    @if (oldPrice) {
    <div class="old-price">
      <span class="price-value">{{ oldPrice | ishPrice }}</span>
    </div>
    }
  </div>

  @if (pli.totals) {
  <div class="col-3 col-md-2 list-item column-price">
    <div>
      <!-- (Suggested) Total Price  -->
      <div data-testing-id="total-price">{{ pli.totals.total | ishPrice }}</div>
    </div>

    <!-- Value Rebates Total -->
    @if (pli.totals.valueRebatesTotal) {
    <div class="old-price">
      <span class="price-value">{{ pli.totals.undiscountedTotal | ishPrice }}</span>
    </div>
    }

    <!-- Gift -->
    @if (pli.isFreeGift) {
    <div class="list-item-promo">{{ 'checkout.pli.freegift.text' | translate }}</div>
    }
  </div>
  }

  <!-- display/select warranty if available -->
  <ish-line-item-warranty [pli]="pli" [editable]="editable" class="col-12" />

  <!-- line item action and edit panel -->
  <ish-line-item-information-edit
    [lineItem]="pli"
    (updateItem)="onUpdateItem($event)"
    [editable]="editable"
    class="col-12"
    [attr.data-testing-id]="'line-item-information-edit_' + pli.productSKU"
  />

  <div class="offset-2 col-10 d-flex align-items-end list-item-actions">
    @if (editable) {
    <ish-lazy-product-add-to-order-template
      [cssClass]="'btn-link btn-tool ps-0 add-to-order-template'"
      displayType="icon"
    />
    } @if (editable) {
    <ish-lazy-product-add-to-wishlist [cssClass]="'btn-link btn-tool'" displayType="icon" />
    } @if (!pli.isFreeGift && editable) {
    <button
      type="button"
      class="btn-tool btn-link"
      [attr.data-testing-id]="'remove-line-item'"
      [attr.data-id]="pli.id"
      title="{{ 'shopping_cart.remove.item.button.label' | translate }}"
      (click)="onDeleteItem(pli.id)"
    >
      <fa-icon [icon]="['fas', 'trash-alt']" />
    </button>
    }
  </div>
</div>
