<ish-modal-dialog
  #modal
  [options]="{
    titleText: modalHeader | translate,
    ariaLabelledBy: 'wishlist-sharing-modal-title',
  }"
>
  <form #form="ngForm" body ishFormSubmit novalidate [formGroup]="wishListForm" (ngSubmit)="submitWishlistForm()">
    <div class="modal-body">
      <p aria-hidden="true" class="indicates-required">
        <span class="required">*</span> {{ 'account.required_field.message' | translate }}
      </p>

      <formly-form [fields]="fields" [form]="wishListForm" />

      <p
        [ishServerHtml]="
          'account.wishlists.wishlist_sharing_form.privacy_policy.text'
            | translate: { '0': 'page://page.privacyPolicy.pagelet2-Page' }
        "
      ></p>
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-primary"
        data-testing-id="wishlist-share-dialog-submit"
        type="submit"
        [disabled]="form.submitted && wishListForm.invalid"
      >
        {{ primaryButton | translate }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="modal.hide()">
        {{ 'account.wishlists.wishlist_sharing_form.cancel_button.text' | translate }}
      </button>
    </div>
  </form>
</ish-modal-dialog>
