//
// DEFAULT THEME VARIABLES

// General spaces
$space-default: 15px;

// General adjustment variables
$default-color-adjust: 10%;

//
// FONTS

$font-family-regular: 'robotoregular', 'Helvetica', Arial, sans-serif;
$font-family-bold: 'robotobold', 'Helvetica', Arial, sans-serif;
$font-family-condensedregular: 'roboto_condensedregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-condensedbold: 'roboto_condensedbold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//
//CORPORATE DESIGN COLORS

$CORPORATE-PRIMARY: #1db5b5; // TURQUOISE
$CORPORATE-SECONDARY: darken($CORPORATE-PRIMARY, 10%);

//
//TEXT COLORS

$text-color-corporate: $CORPORATE-PRIMARY;

$text-color-primary: #222222;
$text-color-secondary: #555555;
$text-color-tertiary: #8b8b8b;
$text-color-quarternary: #999999;
$text-color-quinary: #eeeeee;

$text-color-inverse: #ffffff;
$text-color-special: #ea1919; //RED

//
//GENERAL COLORS

$color-corporate: $CORPORATE-PRIMARY;

$color-primary: #222222;
$color-secondary: #2c2d2e;
$color-tertiary: #eeeeee;

$color-dark: #000000;
$color-inverse: #ffffff;
$color-special-primary: #e74c3c; //RED
$color-special-secondary: #f39c12; //ORANGE
$color-special-tertiary: #00abea; //BLUE

//
// BORDERS

$border-color-corporate: $CORPORATE-PRIMARY;

$border-color-default: #222222;
$border-color-light: #cccccc;
$border-color-lighter: #dddddd;

$border-width-default: 1px;

//
// BUTTONS

// primary buttons
$button-primary-bg: $CORPORATE-PRIMARY;
$button-primary-border: $CORPORATE-SECONDARY;

// default buttons
$button-default-color: $CORPORATE-PRIMARY;
$button-default-bg: #fff;
$button-default-border: $CORPORATE-PRIMARY;

// datepicker
$datepicker-border-radius: 15px;

$datepicker-today-bg: #ff9800;
$datepicker-today-hover: #e65100;

$datepicker-active-bg: $CORPORATE-PRIMARY;
$datepicker-active-hover: $CORPORATE-SECONDARY;

// input indicator color
$error-color: #a94442; // TODO: merge with existing theme color?
$success-color: #3c763d; // TODO: merge with existing theme color?
