@use 'sass:color';

@import 'variables';

/* purgecss start ignore */

.product-label {
  position: absolute;
  top: 90px;
  left: -6px;
  z-index: 1;
  width: auto;
  height: auto;
  padding: 0 20px;
  font-family: $font-family-condensedregular;
  font-size: 20px;
  color: $text-color-inverse;

  &::before {
    // CSS ribbon instead of an image
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    content: '';
    border-style: solid;
    border-width: 6px 0 0 6px;
  }

  &.product-label-new {
    background-color: $color-special-new;

    &::before {
      // ribbon color
      border-color: color.adjust($color-special-new, $lightness: -20%) transparent transparent;
    }
  }

  &.product-label-topseller {
    background-color: $color-special-topseller;

    &::before {
      // ribbon color
      border-color: color.adjust($color-special-topseller, $lightness: -20%) transparent transparent;
    }
  }

  &.product-label-sale {
    background-color: $color-special-sale;

    &::before {
      // ribbon color
      border-color: color.adjust($color-special-sale, $lightness: -20%) transparent transparent;
    }
  }
}

// Adjust position in list view
:host-context(.list-view) {
  .product-label {
    top: 15px;
  }
}

/* purgecss end ignore */
