<ng-container *ngIf="isLoggedIn$ | async; else disabled">
  <a
    href="#"
    *ishHasNotRole="['APP_B2B_CXML_USER', 'APP_B2B_OCI_USER']"
    class="btn btn-secondary"
    data-testing-id="create-quote-from-basket"
    (click)="addToQuote()"
  >
    {{ 'shopping_cart.quote.create.button' | translate }}
  </a>
</ng-container>
<ng-template #disabled>
  <span (click)="login()">
    <button
      data-testing-id="create-quote-from-basket"
      class="btn btn-secondary disabled"
      [title]="'account.login.quotes.message' | translate"
    >
      {{ 'shopping_cart.quote.create.button' | translate }}
    </button>
  </span>
</ng-template>
