<ng-container *ngIf="isLoggedIn$ | async; else elseTemplate">
  <a
    *ishHasNotRole="['APP_B2B_CXML_USER', 'APP_B2B_OCI_USER']"
    class="btn btn-secondary"
    id="createQuote"
    name="createQuote"
    (click)="addToQuote()"
  >
    {{ 'shopping_cart.quote.create.button' | translate }}
  </a>
</ng-container>
<ng-template #elseTemplate>
  <span (click)="login()" id="createQuote">
    <button class="btn btn-secondary disabled" [title]="'account.login.quotes.message' | translate">
      {{ 'shopping_cart.quote.create.button' | translate }}
    </button>
  </span>
</ng-template>
