<ish-error-message [error]="error$ | async"></ish-error-message>
<div *ngIf="(pathLoading$ | async) === false; else loading">
  <div *ngIf="path$ | async as path">
    <div *ngIf="path.groupPath.length > 1">
      <span>{{ path.groupPath[1].groupName }}</span>
      <span *ngIf="path.groupPath.length > 3">&nbsp;&#124;&nbsp;</span>
      <a
        *ngIf="path.groupPath.length > 3 && !isCollapsed"
        (click)="toggle()"
        title="{{ 'account.organization.hierarchies.grouppath.tooltip.open' | translate }}"
      >
        <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
      </a>
      <span [ngbCollapse]="!isCollapsed">
        <ng-container *ngFor="let group of path.groupPath; let i = index">
          <span *ngIf="i > 1 && i < path.groupPath.length - 2">{{ group.groupName }} &#124; </span>
        </ng-container>
        <span>{{ path.groupPath[path.groupPath.length - 2].groupName }}</span>
      </span>
      <span *ngIf="path.groupPath.length > 2"> &#124; {{ path.groupPath[path.groupPath.length - 1].groupName }}</span>
      <a
        *ngIf="path.groupPath.length > 3 && isCollapsed"
        (click)="toggle()"
        title="{{ 'account.organization.hierarchies.grouppath.tooltip.close' | translate }}"
        >&nbsp;
        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
      </a>
    </div>
    <ng-template #anchor></ng-template>
  </div>
</div>
<ng-template #loading>
  <ish-loading></ish-loading>
</ng-template>
