<div *ngIf="object" class="path">
  <div *ngIf="object.buyingContextInfo.groupPath; let path">
    <span>{{ root }}</span>
    <span *ngIf="path.length > 2"> &#124; </span>
    <span *ngIf="path.length > 2" [ngbTooltip]="tipContent"> ... </span>
    <span *ngIf="path.length > 1"> &#124; {{ leaf }}</span>
  </div>
  <ng-template class="path-tooltip" #tipContent>
    <span *ngFor="let group of pathElements; let i = index">
      <span>{{ group.groupName }}</span>
      <span *ngIf="i >= 0 && i < pathElements.length - 1"> &#124; </span>
    </span>
  </ng-template>
</div>
