# Outputs
src/**/*.js
src/**/*.d.ts
out-tsc
package-lock.json

# IDEs
.idea/
jsconfig.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
