<div class="row pt-2">
  <div [ngClass]="'col-12'">
    <!-- PayPal Button container -->
    @if (adapterType !== 'CardFields') {
    <div [id]="paypalComponentContainerId"></div>
    } @else {
    <!-- PayPal Card Fields containers -->
    <div class="card_container">
      <div class="row form-group">
        <!-- Render error message for card fields -->
        @if (renderError$ | async; as errorMessageKey) {
        <div class="col-12">
          <div role="alert" class="alert alert-danger">
            <span [ishServerHtml]="errorMessageKey | translate"></span>
          </div>
        </div>
        }

        <div class="col-form-label col-md-4" id="card-name-field-container-label">
          {{ 'checkout.credit_card.holder.label' | translate }}
        </div>
        <div id="card-name-field-container" class="col-md-6 fix-height"></div>
        <div class="offset-md-4">
          <small
            [ishPaypalError]="nameFieldError$ | async"
            labelId="card-name-field-container-label"
            class="validation-error hide-validation-error"
          >
            {{ 'checkout.credit_card.holder.error.invalid' | translate }}
          </small>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-form-label col-md-4" id="card-number-field-container-label">
          {{ 'checkout.credit_card.number.label' | translate }}
          <span class="required" aria-hidden="true">*</span>
        </div>
        <div id="card-number-field-container" class="col-md-6 fix-height"></div>
        <div class="offset-md-4">
          <small
            [ishPaypalError]="numberFieldError$ | async"
            labelId="card-number-field-container-label"
            class="validation-error hide-validation-error"
          >
            {{ 'checkout.credit_card.number.error.default' | translate }}
          </small>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-form-label col-md-4" id="card-expiry-field-container-label">
          {{ 'checkout.credit_card.expiration_date.label' | translate }}
          <span class="required">*</span>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div id="card-expiry-field-container" class="pe-0 col-4 fix-height"></div>
          </div>
          <small
            [ishPaypalError]="expiryFieldError$ | async"
            labelId="card-expiry-field-container-label"
            class="validation-error hide-validation-error"
          >
            {{ 'checkout.credit_card.expiry_date.invalid.error' | translate }}
          </small>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-form-label col-md-4" id="card-cvv-field-container-label">
          {{ 'checkout.payment.paypal.credit_card.cvc.label' | translate }}
          <span class="required" aria-hidden="true">*</span>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div id="card-cvv-field-container" class="pe-0 col-4 fix-height"></div>
            <div class="ps-0 col-auto">
              <ng-template #CVCHelp>
                <span [innerHTML]="'checkout.credit_card.cvc.popover.content' | translate"></span>
              </ng-template>
              <button
                type="button"
                class="btn btn-link"
                [ngbPopover]="CVCHelp"
                [popoverTitle]="'checkout.payment.paypal.credit_card.cvc.popover.title' | translate"
                placement="auto"
              >
                <fa-icon [icon]="['fas', 'question-circle']" />
              </button>
            </div>
          </div>
          <small
            [ishPaypalError]="cvvFieldError$ | async"
            labelId="card-cvv-field-container-label"
            class="validation-error hide-validation-error"
          >
            {{ 'checkout.credit_card.cvc_cvv.error.default' | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-4 col-md-8">
        <button type="button" class="btn btn-primary" id="card-field-submit-button">
          @if ((loadingIframe$ | async) === true) {
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" class="pe-3" />
          }
          {{ 'checkout.button.continue.label' | translate }}
        </button>

        <button type="button" class="btn btn-secondary" id="card-field-cancel-button">
          {{ 'checkout.cancel.button.label' | translate }}
        </button>
      </div>
    </div>
    }
  </div>
</div>
