@import 'variables';

.required {
  margin-right: 4px;
  color: $text-color-special;
}

.fix-height {
  height: 35px;
}

.hide-validation-error {
  display: none;
}

.validation-error {
  color: $color-special-error;
}
