<form [formGroup]="emailForm" class="form-horizontal">
  <h2>Email & Password</h2>
  <p>You will use your email address and password to access your account on future visits.</p>
  <p class="indicates-required">
    <span class="required">*</span>Required field</p>
  <div formGroupName="emailDetails">
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.emailAddress').invalid && emailForm.get('emailDetails.emailAddress').touched}">
      <label class="control-label col-sm-2" for="email">Email Address<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <input type="email" id="email" class="form-control" formControlName="emailAddress">
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.emailAddress').invalid && emailForm.get('emailDetails.emailAddress').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.emailAddress').invalid && emailForm.get('emailDetails.emailAddress').touched"></span>
        <div class="text-left text-danger" *ngIf="emailForm.get('emailDetails.emailAddress').touched && emailForm.get('emailDetails.emailAddress').hasError('required')">
          The email address is required and cannot be empty.
          <!--{{emailForm.get('emailDetails.emailAddress').hasError('pattern')}}-->
        </div>
        <div *ngIf="emailForm.get('emailDetails.emailAddress').touched && emailForm.get('emailDetails.emailAddress').hasError('validateEmail')"
          class="text-left text-danger">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.confirmEmailAddress').invalid && emailForm.get('emailDetails.confirmEmailAddress').touched}">
      <label class="control-label col-sm-2" for="confirmEmail">Confirm Email Address<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <input type="email" id="confirmEmail" class="form-control" formControlName="confirmEmailAddress">
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').invalid && emailForm.get('emailDetails.confirmEmailAddress').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.confirmEmailAddress').invalid && emailForm.get('emailDetails.confirmEmailAddress').touched"></span>
        <div class="text-left text-danger" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').touched && emailForm.get('emailDetails.confirmEmailAddress').hasError('matchOtherValidator')">
          Email address must match.
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.password').invalid && emailForm.get('emailDetails.password').touched}">
      <label class="control-label col-sm-2" for="password">Password<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <input type="password" id="password" class="form-control" formControlName="password">
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.password').invalid && emailForm.get('emailDetails.password').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.password').invalid && emailForm.get('emailDetails.password').touched"></span>
        <div *ngIf="emailForm.get('emailDetails.password').touched && emailForm.get('emailDetails.password').hasError('required')"
          class="text-left text-danger">
          Password is required and cannot be empty.
        </div>
        <div *ngIf="emailForm.get('emailDetails.password').touched && emailForm.get('emailDetails.password').hasError('validatePassword')"
          class="text-left text-danger">
          <span text-align="left">
                            Your password must include both numeric and alphabetic characters. It must not contain whitespace characters.
                            Your password must be at least 7 characters in length.
                       </span>

        </div>
        <div class="text-left">
          <small class="input-help">7 characters minimum, must include numbers and letters, no spaces</small>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.confirmPassword').invalid && emailForm.get('emailDetails.confirmPassword').touched}">
      <label class="control-label col-sm-2" for="confirmPassword">Confirm Password<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <input type="text" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmPassword').invalid && emailForm.get('emailDetails.confirmPassword').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.confirmPassword').invalid && emailForm.get('emailDetails.confirmPassword').touched"></span>
        <div class="text-left text-danger" *ngIf="emailForm.get('emailDetails.confirmPassword').touched && emailForm.get('emailDetails.confirmPassword').hasError('matchOtherValidator')">
          Password must match.
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.securityQuestion').invalid && emailForm.get('emailDetails.securityQuestion').touched}">
      <label class="control-label col-sm-2" for="securityQuestion">Security Question<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <select id="securityQuestion" class="form-control" formControlName="securityQuestion">
        <option value="">Select Security Question</option>
        <option value="Name of your school">Name of your school</option>
        <option value="First sport you played">First sport you played</option>
        <option value="Name of your teacher">Name of your teacher</option>
      </select>
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.securityQuestion').invalid && emailForm.get('emailDetails.securityQuestion').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.securityQuestion').invalid && emailForm.get('emailDetails.securityQuestion').touched"></span>
        <div *ngIf="emailForm.get('emailDetails.securityQuestion').touched && emailForm.get('emailDetails.securityQuestion').hasError('required')"
          class="text-left text-danger">
          Security question is required.
          <!--{{emailForm.get('emailDetails.emailAddress').hasError('pattern')}}-->
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.answer').invalid && emailForm.get('emailDetails.answer').touched}">
      <label class="control-label col-sm-2" for="answer">Answer<span class="required">*</span></label>
      <div class="col-sm-4 has-clear has-feedback">
        <input type="text" id="answer" class="form-control" formControlName="answer">
        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.answer').invalid && emailForm.get('emailDetails.answer').touched"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback text-success" *ngIf="!emailForm.get('emailDetails.answer').invalid && emailForm.get('emailDetails.answer').touched"></span>
        <div *ngIf="emailForm.get('emailDetails.answer').touched && emailForm.get('emailDetails.answer').hasError('required')" class="text-left text-danger">
          Answer is required.
          <!--{{emailForm.get('emailDetails.emailAddress').hasError('pattern')}}-->
        </div>
      </div>
    </div>
  </div>