<div class="row list-item-row" data-testing-id="product-list-item">
  <!-- Product Image -->
  <div class="col-2 list-item">
    <ish-product-image imageType="S" [link]="true" />
  </div>

  <div class="col-7 col-md-6 col-xl-4 list-item">
    <!--Product Description -->
    <div class="pli-description">
      <ish-product-name />

      <!-- Product ID -->
      <ish-product-id />

      <!-- Product Variations -->
      <ish-product-variation-display />
      <!-- Product Bundles -->
      <ish-product-bundle-display />

      <ish-product-inventory />
      @if (editable$ | async) {
        <div class="d-flex align-items-center">
          @defer {
            <ish-product-add-to-order-template
              *ishFeature="'orderTemplates'"
              displayType="icon"
              [cssClass]="'btn-link btn-tool add-to-order-template'"
            />
          }
          @defer {
            <ish-product-add-to-wishlist
              *ishFeature="'wishlists'"
              displayType="icon"
              [cssClass]="'btn-link btn-tool ms-0'"
            />
          }
          <button
            class="btn-tool btn-link"
            type="button"
            [attr.data-id]="lineItem.id"
            [attr.data-testing-id]="'remove-line-item'"
            title="{{ 'shopping_cart.remove.item.button.label' | translate }}"
            (click)="onDeleteItem()"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      }
    </div>

    <!-- mobile quantity -->
    <div class="quantity d-xl-none">
      <div class="form-group">
        <ish-product-quantity-label
          translationKey="shopping_cart.pli.qty.label"
          [for]="'quote-quantity_' + lineItem.id"
        />
        @if (editable$ | async) {
          <ish-product-quantity [elementId]="'quote-quantity_' + lineItem.id" />
        } @else {
          {{ lineItem.quantity.value | number }}
        }
      </div>
    </div>
  </div>

  <!-- desktop quantity -->
  <div class="quantity col-xl-2 list-item d-none d-xl-flex">
    <div class="form-group w-100" [ngClass]="{ 'text-end': editable$ | async }">
      @if (editable$ | async) {
        <ish-product-quantity />
      } @else {
        {{ lineItem.quantity.value | number }}
      }
    </div>
  </div>

  <!-- Prices -->
  <div class="col-md-2 d-none d-md-block list-item column-price single-price">
    <!-- Original Single Base Price  -->
    @if (lineItem.originSingleBasePrice) {
      <p>{{ 'quote.items.original_price.label' | translate }} {{ lineItem.originSingleBasePrice | ishPrice }}</p>
    }

    <!-- (Suggested) Single Base Price  -->
    <p>
      @if (lineItem.originSingleBasePrice) {
        {{ 'quote.items.suggested_price.label' | translate }}
      }
      {{ lineItem.singleBasePrice | ishPrice }}
    </p>
  </div>
  <div class="col-3 col-md-2 list-item column-price">
    <div>
      @if (lineItem.originTotal) {
        <p>{{ lineItem.originTotal | ishPrice }}</p>
      }

      <!-- (Suggested) Total Price  -->
      @if (lineItem.originTotal) {
        <span class="d-md-none">{{ 'quote.items.suggested_price.label' | translate }}</span>
      }
      <div data-testing-id="total-price">{{ lineItem.total | ishPrice }}</div>
    </div>
  </div>
</div>
