<div class="row list-item-row list-item-row-big" data-testing-id="product-list-item">
  <!-- Product Image -->
  <div class="col-2 list-item">
    <ish-product-image imageType="S" [link]="true"></ish-product-image>
  </div>

  <div class="col-7 col-md-6 col-xl-4 list-item">
    <!--Product Description -->
    <div class="pli-description">
      <ish-product-name></ish-product-name>

      <!-- Product ID -->
      <ish-product-id></ish-product-id>

      <!-- Product Variations -->
      <ish-product-variation-display></ish-product-variation-display>
      <!-- Product Bundles -->
      <ish-product-bundle-display></ish-product-bundle-display>

      <ish-product-inventory></ish-product-inventory>
      <div *ngIf="editable$ | async" class="d-flex align-items-center">
        <ish-lazy-product-add-to-order-template
          [class]="'btn btn-link btn-tool add-to-order-template'"
          displayType="icon"
        ></ish-lazy-product-add-to-order-template>
        <ish-lazy-product-add-to-wishlist
          [class]="'btn-link btn-tool ml-0'"
          displayType="icon"
        ></ish-lazy-product-add-to-wishlist>
        <a
          class="btn-tool"
          [attr.data-testing-id]="'remove-pli-' + lineItem.id + '-element'"
          [attr.data-id]="lineItem.id"
          title="{{ 'shopping_cart.remove.item.button.label' | translate }}"
          (click)="onDeleteItem()"
        >
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </a>
      </div>
    </div>

    <!-- mobile quantity -->
    <div class="quantity d-xl-none">
      <div class="form-group">
        <label class="col-form-label">{{ 'shopping_cart.pli.qty.label' | translate }}</label>
        <ish-product-quantity *ngIf="editable$ | async; else readonlyQuantity"></ish-product-quantity>
        <ng-template #readonlyQuantity>
          {{ lineItem.quantity.value | number }}
        </ng-template>
      </div>
    </div>
  </div>

  <!-- desktop quantity -->
  <div class="quantity col-xl-2 list-item d-none d-xl-flex">
    <div class="form-group w-100" [ngClass]="{ 'text-right': editable$ | async }">
      <ish-product-quantity *ngIf="editable$ | async; else readonlyQuantity"></ish-product-quantity>
      <ng-template #readonlyQuantity>
        <label class="d-xl-none col-form-label">{{ 'shopping_cart.pli.qty.label' | translate }}</label>
        {{ lineItem.quantity.value | number }}
      </ng-template>
    </div>
  </div>

  <!-- Prices -->
  <div class="col-md-2 d-none d-md-block list-item column-price single-price">
    <!-- Original Single Base Price  -->
    <p *ngIf="lineItem.originSingleBasePrice">
      {{ 'quote.items.original_price.label' | translate }} {{ lineItem.originSingleBasePrice | ishPrice }}
    </p>

    <!-- (Suggested) Single Base Price  -->
    <p>
      <ng-container *ngIf="lineItem.originSingleBasePrice">{{
        'quote.items.suggested_price.label' | translate
      }}</ng-container>
      {{ lineItem.singleBasePrice | ishPrice }}
    </p>
  </div>
  <div class="col-3 col-md-2 list-item column-price">
    <div>
      <p *ngIf="lineItem.originTotal">{{ lineItem.originTotal | ishPrice }}</p>

      <!-- (Suggested) Total Price  -->
      <span *ngIf="lineItem.originTotal" class="d-md-none">{{ 'quote.items.suggested_price.label' | translate }}</span>
      <div data-testing-id="total-price">{{ lineItem.total | ishPrice }}</div>
    </div>
  </div>
</div>
