<ng-template #modal let-addModal>
  <div class="modal-header">
    <h2 class="modal-title" id="wishlist-preferences-modal-title">{{ modalHeader | translate }}</h2>
    <button class="btn-close" type="button" [title]="'dialog.close.text' | translate" (click)="hide()"></button>
  </div>

  <form #form="ngForm" ishFormSubmit novalidate [formGroup]="wishListForm" (ngSubmit)="submitWishlistForm()">
    <div class="modal-body">
      <formly-form [fields]="fields" [form]="wishListForm" [model]="model" />
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-primary"
        data-testing-id="wishlist-dialog-submit"
        type="submit"
        [disabled]="form.submitted && wishListForm.invalid"
      >
        {{ primaryButton | translate }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="hide()">
        {{ 'account.wishlists.wishlist_form.cancel_button.text' | translate }}
      </button>
    </div>
  </form>
</ng-template>
