<h1>{{ 'account.order_history.heading' | translate }}</h1>
<ish-error-message [error]="ordersError$ | async" />
<p class="section">{{ 'account.order.subtitle' | translate }}</p>

<ish-order-list
  [orders]="orders$ | async"
  [columnsToDisplay]="['creationDate', 'orderNoWithLink', 'lineItems', 'status', 'destination', 'orderTotal']"
  noOrdersMessageKey="account.orderlist.no_placed_orders_message"
  [loading]="ordersLoading$ | async"
/>

<div *ngIf="moreOrdersAvailable$ | async" class="d-flex justify-content-center">
  <button class="btn btn-secondary" (click)="loadMoreOrders()" [disabled]="ordersLoading$ | async">
    {{ 'account.order.load_more' | translate }}
  </button>
</div>

<h4 class="form-text">{{ 'account.order.questions.title' | translate }}</h4>
<p
  class="form-text"
  [ishServerHtml]="
    'account.order.questions.note' | translate : { '0': 'page://page.helpdesk.pagelet2-Page', '1': 'route://contact' }
  "
></p>
