<a id="order-list-top" title="top"></a>
<h1>{{ 'account.order_history.heading' | translate }}</h1>
<ish-error-message [error]="ordersError$ | async" />
<p class="section">{{ 'account.order.subtitle' | translate }}</p>

<ish-account-order-filters
  fragmentOnRouting="order-list-top"
  (modelChange)="loadFilteredOrders($event)"
  [ngClass]="{ 'd-none': !filtersActive && !(orders$ | async)?.length }"
/>

<ish-order-list
  [orders]="orders$ | async"
  [columnsToDisplay]="columnsToDisplay$ | async"
  [noOrdersMessageKey]="
    !filtersActive
      ? 'account.orderlist.no_placed_orders_message'
      : 'account.order_history.filter.no_results_found_message'
  "
  [loading]="ordersLoading$ | async"
/>

<div *ngIf="moreOrdersAvailable$ | async" class="d-flex justify-content-center">
  <button class="btn btn-secondary" (click)="loadMoreOrders()" [disabled]="ordersLoading$ | async">
    {{ 'account.order.load_more' | translate }}
  </button>
</div>

<h2 class="h4 form-text">{{ 'account.order.questions.title' | translate }}</h2>
<p
  class="form-text"
  [ishServerHtml]="
    'account.order.questions.note' | translate : { '0': 'page://page.helpdesk.pagelet2-Page', '1': 'route://contact' }
  "
></p>
