<h1>{{ 'account.order_history.heading' | translate }}</h1>
<p class="section">{{ 'account.order.subtitle' | translate }}</p>

<ng-container *ishFeature="'organizationHierarchies'; else default">
  <ish-lazy-hierarchy-order-list></ish-lazy-hierarchy-order-list>
</ng-container>
<ng-template #default>
  <ish-order-list></ish-order-list>
</ng-template>

<h4 class="form-text">{{ 'account.order.questions.title' | translate }}</h4>
<p
  class="form-text"
  [ishServerHtml]="
    'account.order.questions.note' | translate : { '0': 'page://page.helpdesk.pagelet2-Page', '1': 'route://contact' }
  "
></p>
