<ng-container *ngIf="size === 'h1'; else h2">
  <h1>{{ to.heading | translate }}</h1>
  <p>{{ to.subheading | translate }}</p>
  <p *ngIf="showRequiredInfo" class="indicates-required">
    <span class="required">*</span>{{ 'account.required_field.message' | translate }}
  </p>
</ng-container>
<ng-template #h2>
  <h2>{{ to.heading | translate }}</h2>
  <p>{{ to.subheading | translate }}</p>
  <p *ngIf="showRequiredInfo" class="indicates-required">
    <span class="required">*</span>{{ 'account.required_field.message' | translate }}
  </p>
</ng-template>
