<div class="clearfix" data-testing-id="product-detail-page" itemscope itemtype="http://schema.org/Product">
  <ish-loading *ngIf="productLoading$ | async"></ish-loading>

  <ish-breadcrumb></ish-breadcrumb>

  <ish-product-detail></ish-product-detail>

  <ish-product-master-variations></ish-product-master-variations>

  <ish-product-bundle-parts></ish-product-bundle-parts>

  <ish-retail-set-parts></ish-retail-set-parts>

  <ish-product-links></ish-product-links>
</div>

<ng-container *ishFeature="'recently'"
  ><ish-recently-viewed *ngIf="!(productLoading$ | async)"></ish-recently-viewed
></ng-container>
