<ish-error-message [error]="error$ | async" />
<ish-info-box class="infobox-wrapper" cssClass="infobox-widget">
  <div class="d-flex align-items-center">
    <div class="pb-2">
      <h3 class="p-0 m-0">
        {{ 'account.requisitions.widget.budget_title' | translate }}
      </h3>
    </div>
    <div class="pl-2 pb-2">
      <ish-budget-info />
    </div>
  </div>

  <div class="loading-container">
    <div *ngIf="(budgetLoading$ | async) !== true; else loading">
      <div class="row">
        <div class="col-12">
          <ish-user-budget progressBarClass="background-inverse" [budget]="userBudget$ | async" />
        </div>
      </div>
      <div *ishIsAuthorizedTo="'APP_B2B_MANAGE_USERS'" class="row">
        <div class="col">
          <a routerLink="/account/organization/users">
            {{ 'account.requisitions.widget.manage_budgets' | translate }}
          </a>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <ish-loading />
    </ng-template>
  </div>
</ish-info-box>
