<div class="password-field-wrapper" ishFocusOutside (isFocusedOutside)="onFocusOutside($event)">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [formControl]="formControl"
    [formlyAttributes]="field"
    class="form-control"
    [ngClass]="props.inputClass"
    [attr.data-testing-id]="field.key"
    [attr.aria-label]="props.ariaLabel | translate"
    [attr.aria-required]="props.required ? 'true' : undefined"
    [attr.aria-invalid]="showError ? 'true' : undefined"
    [attr.aria-describedby]="ariaDescribedByIds"
    (input)="onInput()"
  />

  <button
    [attr.aria-label]="
      showPassword ? ('form.password.hide.button.label' | translate) : ('form.password.show.button.label' | translate)
    "
    class="btn btn-link text-decoration-none"
    [ngClass]="{ visible: !isButtonDisabled }"
    type="button"
    [disabled]="isButtonDisabled"
    (click)="togglePasswordVisibility()"
  >
    <fa-icon *ngIf="showPassword" [icon]="['fas', 'eye-slash']" />
    <fa-icon *ngIf="!showPassword" [icon]="['fas', 'eye']" />
  </button>
</div>
