@import 'variables';

// hide the default "Show/Hide Password" button in Edge
input[type='password']::-ms-reveal {
  display: none;
}

// password field with show/hide button (eye icon) to toggle visibility of the password
button {
  &.btn-link {
    position: absolute;
    top: 1px;
    right: 40px;
    width: $space-default * 2;
    padding-right: 6px;
    padding-left: 6px;
    pointer-events: auto; /* Ensure the button is clickable */
    cursor: pointer; /* Ensure the cursor is a pointer */
    transition: opacity 0.2s ease;

    .ng-fa-icon {
      color: $button-default-color;
    }
  }
}
