<div ishFocusOutside (isFocusedOutside)="onFocusOutside($event)">
  <input
    class="form-control"
    [attr.aria-describedby]="props.ariaDescribedByIds"
    [attr.aria-invalid]="showError ? 'true' : undefined"
    [attr.aria-label]="props.ariaLabel | translate"
    [attr.aria-required]="props.required ? 'true' : undefined"
    [attr.data-testing-id]="field.key"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [ngClass]="props.inputClass"
    [type]="showPassword ? 'text' : 'password'"
    (input)="onInput()"
  />

  @if (showButton) {
    <button
      class="btn btn-link text-decoration-none"
      role="switch"
      type="button"
      [attr.aria-checked]="showPassword"
      [title]="(showPassword ? 'form.password.show.button.label.hide' : 'form.password.show.button.label') | translate"
      (click)="togglePasswordVisibility()"
    >
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
    </button>
  }
</div>
