<form [formGroup]="emailForm" class="form-horizontal bv-form" novalidate="novalidate">
  <h2>Email & Password</h2>
  <p>You will use your email address and password to access your account on future visits.</p>
  <div class="section">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <p class="indicates-required">
          <span class="required">*</span> Required Field
        </p>
        <div formGroupName="emailDetails">
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.emailAddress').invalid && emailForm.get('emailDetails.emailAddress').touched,'has-success':emailForm.get('emailDetails.emailAddress').valid && emailForm.get('emailDetails.emailAddress').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Login">Email Address<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <input type="email" autocomplete="off" class="form-control" maxlength="256" required="" id="RegisterUserFullEmail_Login"
                name="RegisterUserFullEmail_Login" formControlName="emailAddress">
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.emailAddress').invalid && emailForm.get('emailDetails.emailAddress').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.emailAddress').valid && emailForm.get('emailDetails.emailAddress').touched"></i>
              <small *ngIf="emailForm.get('emailDetails.emailAddress').touched && emailForm.get('emailDetails.emailAddress').hasError('validateEmail')"
                class="help-block">Please enter a valid email address.</small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.emailAddress').touched && emailForm.get('emailDetails.emailAddress').hasError('required')">
  The email address is required and cannot be empty.
  </small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.emailAddress').touched && emailForm.get('emailDetails.emailAddress').hasError('maxLength')">
  Please enter less than 256 characters
  </small>
            </div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.confirmEmailAddress').invalid && emailForm.get('emailDetails.confirmEmailAddress').touched,'has-success':emailForm.get('emailDetails.confirmEmailAddress').valid && emailForm.get('emailDetails.confirmEmailAddress').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_EmailConfirmation">Confirm Email Address<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <input type="email" autocomplete="off" class="form-control" required="" id="RegisterUserFullEmail_EmailConfirmation" name="RegisterUserFullEmail_EmailConfirmation"
                formControlName="confirmEmailAddress">
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').invalid && emailForm.get('emailDetails.confirmEmailAddress').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').valid && emailForm.get('emailDetails.confirmEmailAddress').touched"></i>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').touched && emailForm.get('emailDetails.confirmEmailAddress').hasError('validateEmail')">Please enter a valid email address.</small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').touched && emailForm.get('emailDetails.confirmEmailAddress').hasError('mismatchedValidation')">The email addresses you entered do not match.
  </small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').touched && emailForm.get('emailDetails.confirmEmailAddress').hasError('required')">
  The email address is required and cannot be empty.
  </small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmEmailAddress').touched && emailForm.get('emailDetails.confirmEmailAddress').hasError('maxLength')">
  Please enter less than 256 characters</small>
            </div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.password').invalid && emailForm.get('emailDetails.password').touched,'has-success':emailForm.get('emailDetails.password').valid && emailForm.get('emailDetails.password').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Password">Password<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <input type="password" autocomplete="off" class="form-control" required="" id="RegisterUserFullEmail_Password" name="RegisterUserFullEmail_Password"
                formControlName="password">
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.password').invalid && emailForm.get('emailDetails.password').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.password').valid && emailForm.get('emailDetails.password').touched"></i>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.password').touched && emailForm.get('emailDetails.password').hasError('required')">Please enter a valid password.</small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.password').touched && emailForm.get('emailDetails.password').hasError('minlength')">Your password must be at least 7 characters in length.</small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.password').touched && emailForm.get('emailDetails.password').hasError('validatePassword')">Your password must include both numeric and alphabetic characters. It must not contain whitespace characters.</small>
            </div>
            <div class="col-sm-offset-4 col-sm-8">
              <small class="input-help">7 characters minimum, must include numbers and letters, no spaces.</small>
            </div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.confirmPassword').invalid && emailForm.get('emailDetails.confirmPassword').touched,'has-success':emailForm.get('emailDetails.confirmPassword').valid && emailForm.get('emailDetails.confirmPassword').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_PasswordConfirmation">Confirm Password<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <input type="password" autocomplete="off" class="form-control" size="18" id="RegisterUserFullEmail_Password" name="RegisterUserFullEmail_Password"
                formControlName="confirmPassword" required="">
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmPassword').invalid && emailForm.get('emailDetails.confirmPassword').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.confirmPassword').valid && emailForm.get('emailDetails.confirmPassword').touched"></i>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmPassword').touched && emailForm.get('emailDetails.confirmPassword').hasError('matchOtherValidator')">Your passwords do not match.</small>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.confirmPassword').touched && emailForm.get('emailDetails.confirmPassword').hasError('validateEmail')">Please enter a valid Confirm Password.</small>
            </div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.securityQuestion').invalid && emailForm.get('emailDetails.securityQuestion').touched,'has-success':emailForm.get('emailDetails.securityQuestion').valid && emailForm.get('emailDetails.securityQuestion').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_SecurityQuestion">Security Question<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <select class="form-control" required="" id="RegisterUserFullEmail_SecurityQuestion" name="RegisterUserFullEmail_SecurityQuestion"
                formControlName="securityQuestion">
  <option value="" disabled="">Please select</option>
  <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
  <option value="What is your pet's name?">What is your pet's name?</option>
  <option value="What street did you grow up on?">What street did you grow up on?</option>
  <option value="Where did you go to the elementary school?">Where did you go to the elementary school?</option>
  <option value="Who was your first employer?">Who was your first employer?</option>
  </select>
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.securityQuestion').invalid && emailForm.get('emailDetails.securityQuestion').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.securityQuestion').valid && emailForm.get('emailDetails.securityQuestion').touched"></i>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.securityQuestion').touched && emailForm.get('emailDetails.securityQuestion').hasError('required')">Please enter a value.</small>
            </div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{ 'has-error' : emailForm.get('emailDetails.answer').invalid && emailForm.get('emailDetails.answer').touched,'has-success':emailForm.get('emailDetails.answer').valid && emailForm.get('emailDetails.answer').touched}">
            <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Answer">Answer<span class="required">*</span>
  </label>
            <div class="col-sm-8">
              <input type="password" autocomplete="off" class="form-control" size="18" id="RegisterUserFullEmail_Password" name="RegisterUserFullEmail_Password"
                formControlName="answer" required="" id="RegisterUserFullEmail_Answer" name="RegisterUserFullEmail_Answer">
              <i class="glyphicon glyphicon-remove form-control-feedback" *ngIf="emailForm.get('emailDetails.answer').invalid && emailForm.get('emailDetails.answer').touched"></i>
              <i class="glyphicon glyphicon-ok form-control-feedback" *ngIf="emailForm.get('emailDetails.answer').valid && emailForm.get('emailDetails.answer').touched"></i>
              <small class="help-block" *ngIf="emailForm.get('emailDetails.answer').touched && emailForm.get('emailDetails.answer').hasError('required')"
                class="help-block">Please enter an answer.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
