<form isFormValidation [formGroup]="emailForm" class="form-horizontal bv-form" novalidate="novalidate">
  <h2>Email & Password</h2>
  <p>You will use your email address and password to access your account on future visits.</p>
  <div class="section">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <p class="indicates-required">
          <span class="required">*</span> Required Field
        </p>
        <div formGroupName="emailDetails">
          <is-form-group-validation [errorMessages]="{'required':'The email address is required and cannot be empty.' ,'email':'Please enter a valid email address.','maxlength':'Please enter less than 256 characters.'}">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Login">Email Address<span class="required">*</span> </label>
              <div class="col-sm-8">
                <input type="email" #dynamicError autocomplete="off" class="form-control" maxlength="256" required="" id="RegisterUserFullEmail_Login"
                  name="RegisterUserFullEmail_Login" formControlName="emailAddress">
              </div>
            </div>
          </is-form-group-validation>

          <is-form-group-validation [errorMessages]="{'required':'The email address is required and cannot be empty.' ,'email':'Please enter a valid email address.','maxlength':'Please enter less than 256 characters.','equalTo':'The email addresses you entered do not match.'}">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_EmailConfirmation">Confirm Email Address<span class="required">*</span>
</label>
              <div class="col-sm-8">
                <input type="email" #dynamicError autocomplete="off" class="form-control" required="" id="RegisterUserFullEmail_EmailConfirmation"
                  name="RegisterUserFullEmail_EmailConfirmation" formControlName="confirmEmailAddress">
              </div>
            </div>
          </is-form-group-validation>

          <is-form-group-validation [errorMessages]="{'required':'Please enter a valid password.' ,'email':'Please enter a valid email address.','minlength':'Your password must be at least 7 characters in length.','pattern':'Your password must include both numeric and alphabetic characters. It must not contain whitespace characters.'}">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Password">Password<span class="required">*</span>
  </label>
              <div class="col-sm-8">
                <input type="password" #dynamicError autocomplete="off" class="form-control" required="" id="RegisterUserFullEmail_Password"
                  name="RegisterUserFullEmail_Password" formControlName="password">
              </div>
              <div class="col-sm-offset-4 col-sm-8">
                <small class="input-help">7 characters minimum, must include numbers and letters, no spaces.</small>
              </div>
            </div>
          </is-form-group-validation>

          <is-form-group-validation [errorMessages]="{'equalTo':'Your passwords do not match.','required':'Please enter a valid Confirm Password.' }">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_PasswordConfirmation">Confirm Password<span class="required">*</span>
  </label>
              <div class="col-sm-8">
                <input type="password" #dynamicError autocomplete="off" class="form-control" size="18" id="RegisterUserFullEmail_Password"
                  name="RegisterUserFullEmail_Password" formControlName="confirmPassword" required="">
              </div>
            </div>
          </is-form-group-validation>

          <is-form-group-validation [errorMessages]="{'required':'Please enter a value.' }">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_SecurityQuestion">Security Question<span class="required">*</span>
  </label>
              <div class="col-sm-8">
                <select class="form-control" required="" #dynamicError id="RegisterUserFullEmail_SecurityQuestion" name="RegisterUserFullEmail_SecurityQuestion"
                  formControlName="securityQuestion">
  <option value="" disabled="">Please select</option>
  <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
  <option value="What is your pet's name?">What is your pet's name?</option>
  <option value="What street did you grow up on?">What street did you grow up on?</option>
  <option value="Where did you go to the elementary school?">Where did you go to the elementary school?</option>
  <option value="Who was your first employer?">Who was your first employer?</option>
  </select>
              </div>
            </div>
          </is-form-group-validation>

          <is-form-group-validation [errorMessages]="{'required':'Please enter an answer.' }">
            <div class="form-group has-feedback">
              <label class="col-sm-4 control-label" for="RegisterUserFullEmail_Answer">Answer<span class="required">*</span> </label>
              <div class="col-sm-8">
                <input type="password" #dynamicError autocomplete="off" class="form-control" size="18" id="RegisterUserFullEmail_Password"
                  name="RegisterUserFullEmail_Password" formControlName="answer" required="" id="RegisterUserFullEmail_Answer"
                  name="RegisterUserFullEmail_Answer">
              </div>
            </div>
          </is-form-group-validation>
        </div>
      </div>
    </div>
  </div>
</form>