<div *ngIf="error as error" role="alert" class="alert alert-danger">
  <ng-container *ngIf="error.status === 406; else generalError">
    {{ error.statusText }}: {{ error.error.errorMessage }} <br />{{ error.error.failures }}
  </ng-container>
  <ng-template #generalError>
    <ng-container *ngIf="!(error.headers && error.headers['error-key']) && !error.error">
      {{ error.status }}: {{ error.message }}
    </ng-container>
    {{ (error.headers && error.headers['error-key'] | translate) || error.error }}
  </ng-template>
  <ng-content></ng-content>
</div>
