<a class="skip-content-link skip-to-main-content" data-nosnippet fragment="main-content" [routerLink]="[]">{{
  'common.skip_to_main.link' | translate
}}</a>

<div class="d-flex flex-column min-vh-100" [ngClass]="wrapperClasses$ | async">
  <header class="top" data-testing-id="page-header"><ish-header /></header>

  <div class="wrapper">
    <main class="container main-container" id="main-content" tabindex="-1">
      <router-outlet />
    </main>
  </div>

  <footer class="mt-auto" data-testing-id="section-footer">
    <ish-footer />
  </footer>
</div>

@defer (on idle) {
  <ish-cookies-banner />
}
