<div class="errorpage-content col-lg-6 offset-lg-3">
  <h1>{{ 'server.maintenance.page.title' | translate }}</h1>
  <div class="error-text mb-3">
    <div [ishServerHtml]="'server.maintenance.page.text' | translate"></div>
  </div>
  <div class="text-body-secondary d-flex flex-column flex-sm-row justify-content-sm-between">
    <div>{{ 'server.maintenance.page.contact.label' | translate }}</div>
    <div>
      <i class="bi bi-telephone-fill pe-1"></i>
      <a href="tel:{{ 'server.maintenance.page.contact.phone' | translate }}">{{
        'server.maintenance.page.contact.phone' | translate
      }}</a>
    </div>
    <div>
      <i class="bi bi-envelope-fill pe-1"></i>
      <a href="mailto:{{ 'server.maintenance.page.contact.email' | translate }}">{{
        'server.maintenance.page.contact.email' | translate
      }}</a>
    </div>
  </div>
</div>
