<ng-container *ngIf="(basket$ | async) as basket; else emptyBasket">
  <ng-container *ngIf="basket.lineItems.length; else emptyBasket">
    <ish-shopping-basket
      [basket]="basket"
      [error]="basketError$ | async"
      (deleteItem)="deleteBasketItem($event)"
      (updateItems)="updateBasketItems($event)"
      (addBasketToQuote)="addBasketToQuote()"
    ></ish-shopping-basket>
  </ng-container>
</ng-container>

<ng-template #emptyBasket>
  <ish-shopping-basket-empty></ish-shopping-basket-empty>
</ng-template>

<ish-loading *ngIf="(basketLoading$ | async) || (quoteRequestLoading$ | async)"></ish-loading>

<ish-recently-viewed-container></ish-recently-viewed-container>
