<div class="cxml-text-container">
  @if (helpText) {
  <button
    type="button"
    class="btn btn-link cxml-text-toggle top-0 mt-2"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="isCollapsed"
    [title]="
      isCollapsed
        ? ('account.punchout.cxml.toggle.helptext_close.title' | translate)
        : ('account.punchout.cxml.toggle.helptext_open.title' | translate)
    "
  >
    <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
  </button>
  }

  <ng-template #fieldComponent />

  <div [ishServerHtml]="helpText" [ngbCollapse]="!isCollapsed" class="mt-3"></div>
</div>
