<div class="row form-group has-feedback" [ishShowFormFeedback]="formControl">
  <label *ngIf="label" [for]="uuid" class="col-form-label" [ngClass]="labelClass"
    >{{ label | translate }}
    <span *ngIf="required" class="required">*</span>
  </label>
  <div [ngClass]="inputClass">
    <textarea
      [attr.data-testing-id]="controlName"
      class="form-control"
      [id]="uuid"
      [formControl]="formControl"
      [rows]="rows"
      [placeholder]="placeholder | translate"
      [spellcheck]="spellcheck"
      [maxlength]="maxlength"
    ></textarea>
    <ng-content></ng-content>
    <ish-form-control-feedback [messages]="errorMessages" [control]="formControl"></ish-form-control-feedback>
    <small
      *ngIf="maxlength"
      class="input-help"
      [innerHTML]="'textarea.max_limit' | translate: { '0': charactersRemaining }"
    ></small>
  </div>
</div>
