<div *ngIf="basket && shippingMethods" class="row">
  <!-- Messages -->
  <div class="col-md-12">
    <ish-error-message [error]="error" [toast]="false"></ish-error-message>
    <ish-basket-validation-results></ish-basket-validation-results>
  </div>

  <div class="col-md-12 col-lg-8">
    <!-- shipping method selection -->
    <form [formGroup]="shippingForm" class="form-horizontal">
      <div *ngIf="shippingMethods.length; else noShippingMethods" class="shipping-methods">
        <div *ngIf="nextDisabled && !error" role="alert" class="alert alert-danger">
          {{ 'checkout.shipping_method.no_Selection.error' | translate }}
        </div>
        <h3>{{ 'checkout.shipping_method.selection.heading' | translate }}</h3>

        <div *ngFor="let shippingMethod of shippingMethods" class="radio">
          <label [for]="'ShippingMethod_' + shippingMethod.id">
            <input
              formControlName="id"
              [id]="'ShippingMethod_' + shippingMethod.id"
              [value]="shippingMethod.id"
              type="radio"
            />

            <span>{{ shippingMethod.name }}:</span>&nbsp;
            <strong *ngIf="shippingMethod.shippingCosts">{{ shippingMethod.shippingCosts | ishPrice }}&nbsp;</strong>
            <span
              *ngIf="shippingMethod.shippingTimeMin && shippingMethod.shippingTimeMax"
              class="form-text form-text-inline"
            >
              {{ 'checkout.shipping.delivery_time.description' | translate }}
              <span *ngIf="shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax === 1">
                {{ 'checkout.shipping.delivery_time.within24' | translate }}
              </span>
              <span *ngIf="shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax > 1">
                {{ 'checkout.shipping.delivery_time.within' | translate: { '0': shippingMethod.shippingTimeMax } }}
              </span>
              <span *ngIf="shippingMethod.shippingTimeMin > 0">
                {{
                  'checkout.shipping.delivery_time'
                    | translate: { '0': shippingMethod.shippingTimeMin, '1': shippingMethod.shippingTimeMax }
                }}
              </span>
            </span>
            <ng-template #ShippingMethodDescription>
              <span [innerHTML]="shippingMethod.description"></span>
            </ng-template>
            <a class="details-tooltip" [ngbPopover]="ShippingMethodDescription" placement="top">
              {{ 'checkout.detail.text' | translate }}
              <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
            </a>
          </label>
        </div>
      </div>
      <!--- Message because multiple shipment is not supported yet-->
      <ng-template #noShippingMethods>
        <div role="alert" class="alert alert-danger">{{ 'checkout.shipping.no_methods.message' | translate }}</div>

        <a routerLink="/basket">{{ 'checkout.general.back_to_cart.button.label' | translate }}</a>
      </ng-template>
    </form>
  </div>

  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
    <ish-basket-address-summary [basket]="basket"></ish-basket-address-summary>
    <ish-basket-items-summary [basket]="basket"></ish-basket-items-summary>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

      <button class="btn btn-lg btn-block btn-primary" type="button" [disabled]="nextDisabled" (click)="goToNextStep()">
        {{ 'checkout.button.label' | translate }}
      </button>
    </div>
    <!-- Privacy policy link -->
    <span
      [ishServerHtml]="
        'checkout.widget.security_privacy_policy.link' | translate: { '0': 'page://page.privacyPolicy.pagelet2-Page' }
      "
    ></span>
  </div>
</div>
