@if (category$ | async; as category) {
  @let deviceType = deviceType$ | async;
  <!-- category with subcategories -->
  @if (category.hasChildren) {
    <ish-category-categories [category]="category" [deviceType]="deviceType" />
  } @else {
    @if (category.hasOnlineProducts) {
      <ish-category-products [category]="category" [deviceType]="deviceType" />
    }
  }
  <!-- category with products -->
  <!-- empty category without subcategories and without products -->
  @if (!category.hasChildren && !category.hasOnlineProducts) {
    <!-- TODO: decide how to handle empty categories -->
    <h1>{{ category.name }}</h1>
  }
}
