<!-- logged in -->
<ng-container *ngIf="customer; else notLoggedIn">
  <a routerLink="/account" class="my-account-link" attr.data-testing-id="link-myaccount">
    <span class="glyphicon-user glyphicon glyphicon-header-icon"></span>
    <span *ngIf="customer.lastName" class="hidden-xs login-name">{{customer.firstName + ' ' + customer.lastName}}</span>
    <span class="hidden-xs">{{'account.login_status.myaccount.link' | translate}}</span>
  </a>
  <span class="hidden-xs seperator">&#124; </span>
  <a routerLink="/logout" class="my-account-link my-account-logout" attr.data-testing-id="link-logout">
    <span class="hidden-xs">{{'account.logout.link' | translate}}</span>
  </a>
</ng-container>
<!-- not logged in -->
<ng-template #notLoggedIn>
  <a routerLink="/login" class="my-account-link my-account-login" attr.rel="nofollow">
    <span class="glyphicon-user glyphicon glyphicon-header-icon"></span>
    <span class="hidden-xs">{{'account.login.link' | translate}}</span>
  </a>
  <span class="hidden-xs seperator">&#124; </span>
  <a routerLink="/register" class="my-account-link my-account-register" attr.rel="nofollow">
    <span class="hidden-xs">{{'account.register.link' | translate}}</span>
  </a>
</ng-template>
