<ish-error-message [error]="cxmlConfigurationError$ | async" />
<div class="container">
  <div class="row list-header d-md-flex d-none">
    <div class="col-sm-5 list-header-item no-seperator">
      {{ 'account.punchout.configuration.form.heading.attribute' | translate }}
    </div>
    <div class="col-sm-7 list-header-item no-seperator">
      {{ 'account.punchout.configuration.form.heading.transformed-attribute' | translate }}
    </div>
  </div>

  <form #configForm="ngForm" class="pt-1" ishFormSubmit novalidate [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="list-body">
      <formly-form class="pt-1" [fields]="fields" [form]="form" [model]="model" />
    </div>

    <div class="row">
      <div class="button-group w-100 clearfix">
        <div class="float-md-end">
          <button
            class="btn btn-primary"
            data-testing-id="update-cxml-configuration"
            type="submit"
            [disabled]="form.invalid && configForm.submitted"
          >
            {{ 'account.update.button.label' | translate }}
          </button>
          <a class="btn btn-secondary" [queryParams]="{ format: 'cxml' }" [routerLink]="['/account/punchout']">
            {{ 'account.cancel.link' | translate }}
          </a>
        </div>
        <div class="float-md-start">
          <a class="btn btn-link ps-md-0" [queryParams]="{ format: 'cxml' }" [routerLink]="['/account/punchout']">{{
            'account.punchout.configuration.back_to_list' | translate
          }}</a>
        </div>
      </div>
    </div>
  </form>
</div>
