<div class="form-group has-feedback" [formGroup]="form" [ishVisualizeErrors]="formControl">
  <label *ngIf="label" [for]="controlName+'-'+uuid" class="control-label" [ngClass]="labelClass">{{label | translate}}<span *ngIf="required" class="required">*</span></label>
  <div [ngClass]="inputClass">
    <input
      [type]="type"
      class="form-control"
      [id]="controlName+'-'+uuid"
      [formControlName]="controlName"
      [attr.data-testing-id]="controlName"
      [maxlength]="maxlength"
      [attr.autocomplete]="autocomplete">
      <ng-content></ng-content>
      <ish-form-control-error [messages]="errorMessages" [control]="formControl"></ish-form-control-error>
  </div>
</div>

