<is-form-group-validation [errorMessages]="errorMessages">
  <div class="form-group has-feedback" [formGroup]="form">
    <label [attr.for]="controlName+'-'+uuid" class="control-label" [ngClass]="labelClass">{{label}}<span *ngIf="required" class="required">*</span></label>
    <div [ngClass]="inputClass">
      <input
        [type]="type"
        class="form-control"
        [id]="controlName+'-'+uuid"
        [formControlName]="controlName"
        [attr.data-testing-id]="controlName"
        [maxlength]="maxlength"
        [autocomplete]="autocomplete"
        #dynamicError>
        <ng-content></ng-content>
    </div>
  </div>
</is-form-group-validation>
<!-- ToDo: autocomplete -->
