<ish-form-group-validation [errorMessages]="errorMessages">
  <div class="form-group has-feedback" [formGroup]="form" [ishVisualizeErrors]="formControl">
    <label *ngIf="label" [for]="controlName+'-'+uuid" class="control-label" [ngClass]="labelClass">{{label | translate}}<span *ngIf="required" class="required">*</span></label>
    <div [ngClass]="inputClass">
      <input
        [type]="type"
        class="form-control"
        [id]="controlName+'-'+uuid"
        [formControlName]="controlName"
        [attr.data-testing-id]="controlName"
        [maxlength]="maxlength"
        [attr.autocomplete]="autocomplete"
        #dynamicError>
        <ng-content></ng-content>
    </div>
  </div>
</ish-form-group-validation>
