<div class="cart-header">
  <h1 class="d-flex flex-wrap align-items-baseline">
    <span class="cart-header-title">{{ 'checkout.order_review.heading.title' | translate }}</span>
    <span class="cart-header-note">
      <span>{{ 'shopping_cart.transaction.text' | translate }}</span>
      <ish-modal-dialog-link
        linkText="shopping_cart.read_more.link"
        [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, size: 'lg' }"
        class="details-link"
      >
        <ish-content-include includeId="systeminclude.dialog.safeAndSecure.pagelet2-Include"></ish-content-include>
      </ish-modal-dialog-link>
    </span>
  </h1>
</div>

<div *ngIf="basket" class="row">
  <!-- Error Message-->
  <div class="col-md-12">
    <ish-error-message [error]="error"></ish-error-message>
    <ish-basket-validation-results></ish-basket-validation-results>
  </div>

  <div class="col-md-12 col-lg-8">
    <div class="row">
      <p class="col-md-9">{{ 'checkout.order_review.heading.text' | translate }}</p>
      <p class="col-md-3 text-right">
        <a routerLink="/basket">{{ 'checkout.widget.return_to_cart.link' | translate }}</a>
      </p>
    </div>
    <ish-basket-approval-info *ngIf="basket.approval" [approval]="basket.approval"></ish-basket-approval-info>
    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box
        heading="checkout.widget.billing-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.invoiceToAddress"></ish-address>
      </ish-info-box>

      <!-- Shipping Address -->
      <ish-info-box
        heading="checkout.widget.shipping-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.commonShipToAddress"></ish-address>
      </ish-info-box>
    </div>

    <div class="row d-flex">
      <!-- Shipping Method -->
      <ish-info-box
        heading="checkout.widget.shipping_method.heading"
        editRouterLink="/checkout/shipping"
        class="infobox-wrapper col-md-6"
      >
        <p>{{ basket.commonShippingMethod.name }}</p>
      </ish-info-box>

      <!-- Payment Method -->
      <ish-info-box
        heading="checkout.widget.payment_method.heading"
        editRouterLink="/checkout/payment"
        class="infobox-wrapper col-md-6"
      >
        <p>
          {{ basket.payment.displayName }}<br />{{ basket.payment.paymentInstrument.accountIdentifier }}
          <ng-container *ngIf="!basket.payment.displayName && !basket.payment.paymentInstrument.accountIdentifier">{{
            basket.payment.paymentInstrument
          }}</ng-container>
        </p>
      </ish-info-box>
    </div>

    <!-- Line Items -->
    <ish-line-item-list
      *ngIf="basket.lineItems?.length > 0"
      [lineItems]="basket.lineItems"
      [editable]="false"
    ></ish-line-item-list>
  </div>

  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

      <form [formGroup]="form">
        <ish-checkbox
          [form]="form"
          controlName="termsAndConditions"
          [errorMessages]="{ pattern: 'checkout.tac.error.tip' }"
        >
          <span
            [ishServerHtml]="
              'checkout.tac.text' | translate: { '0': '/page/systempage.termsAndConditions.pagelet2-Page' }
            "
          ></span>
        </ish-checkbox>
      </form>

      <button
        class="btn btn-lg btn-block btn-primary"
        type="button"
        [disabled]="formDisabled || submitting"
        (click)="submitOrder()"
      >
        <ng-container *ngIf="submitting">
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true" class="pr-3"></fa-icon>
        </ng-container>
        {{ 'checkout.order_review.send.button' | translate }}
      </button>
    </div>
  </div>
</div>
