<div class="cart-header">
  <h1 class="d-flex flex-wrap align-items-baseline">
    <span id="page-main-content" tabindex="-1" class="cart-header-title">{{
      (basket.recurrence ? 'checkout.order_review.recurring.heading.title' : 'checkout.order_review.heading.title')
        | translate
    }}</span>
    <span class="header-note">
      <span>{{ 'shopping_cart.transaction.text' | translate }}</span>
      <ish-modal-dialog-link
        linkText="shopping_cart.read_more.link"
        [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, size: 'lg' }"
        class="details-link"
      >
        <ish-content-include includeId="include.dialog.safeAndSecure.pagelet2-Include" *ishLazyLoadingContent />
      </ish-modal-dialog-link>
    </span>
  </h1>
</div>

@if (basket) {
<div class="row">
  <!-- Error Message-->
  <div class="col-md-12">
    @if (error) {
    <ish-basket-error-message [error]="error" />
    } @if (multipleBuckets) {
    <div role="alert" class="alert alert-danger">
      {{ 'checkout.shipping.no_methods.message' | translate }}
    </div>
    }
    <ish-basket-validation-results />
  </div>
  <div class="col-md-12 col-lg-8">
    <p>
      {{
        (basket.recurrence ? 'checkout.order_review.recurring.heading.text' : 'checkout.order_review.heading.text')
          | translate
      }}
    </p>
    @if (basket.approval) {
    <ish-basket-approval-info [approval]="basket.approval" />
    } @if ('shipping.messageToMerchant' | ishServerSetting) {
    <!-- MessageToMerchant-->
    <ish-basket-merchant-message-view [data]="basket" editRouterLink="/checkout/shipping" />
    }
    <div class="row">
      <!-- Buyer-->
      <ng-container *ishFeature="'businessCustomerRegistration'">
        <ish-info-box heading="checkout.widget.buyer.heading" class="infobox-wrapper col-md-6">
          <ish-basket-buyer [object]="basket" editRouterLink="/checkout/shipping" />
        </ish-info-box>
      </ng-container>
      <!-- Additional Information -->
      @if (basket.costCenter || hasCustomFields() || basket.recurrence) {
      <ish-info-box
        heading="checkout.widget.additional-information.heading"
        editRouterLink="/basket"
        class="infobox-wrapper col-md-6"
        cssClass="pb-3"
      >
        <ish-basket-cost-center-view [data]="basket" />
        <ish-basket-custom-fields-view [data]="basket" />
        @if (basket.recurrence) {
        <ish-order-recurrence [recurrence]="basket.recurrence" labelCssClass="col-4" valueCssClass="col-8" />
        }
      </ish-info-box>
      }
    </div>
    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box
        heading="checkout.widget.billing-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.invoiceToAddress" [displayEmail]="true" />
      </ish-info-box>
      <!-- Shipping Address -->
      <ish-info-box
        heading="checkout.widget.shipping-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.commonShipToAddress" />
      </ish-info-box>
    </div>
    <div class="row d-flex">
      <!-- Shipping Method -->
      <ish-info-box
        heading="checkout.widget.shipping_method.heading"
        editRouterLink="/checkout/shipping"
        class="infobox-wrapper col-md-6"
      >
        <ish-basket-shipping-method [data]="basket" />
      </ish-info-box>
      <!-- Payment Method -->
      <ish-info-box
        heading="checkout.widget.payment_method.heading"
        editRouterLink="/checkout/payment"
        class="infobox-wrapper col-md-6"
      >
        <p>
          {{ basket.payment?.displayName }}<br />{{ basket.payment?.paymentInstrument?.accountIdentifier }}
          @if (!basket.payment?.displayName && !basket.payment?.paymentInstrument?.accountIdentifier) {
          {{ basket.payment?.paymentInstrument }}
          }
        </p>
      </ish-info-box>
    </div>
    <p class="text-end">
      <a routerLink="/basket">{{ 'checkout.widget.return_to_cart.link' | translate }}</a>
    </p>
    <!-- Line Items -->
    @if (basket.lineItems?.length > 0) {
    <ish-skip-content-link>
      <ish-line-item-list [lineItems]="basket.lineItems" [editable]="false" />
    </ish-skip-content-link>
    }
  </div>
  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>
    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals" />
      <form [formGroup]="form" ishFormSubmit #tcForm="ngForm" (ngSubmit)="submitOrder()">
        <formly-form [form]="form" [model]="model" [fields]="fields$ | async" [options]="options" />
        <div class="d-grid">
          @if ((form.invalid && tcForm.submitted) || multipleBuckets || submitting) {
          <div id="checkout-button-help" aria-live="polite" class="visually-hidden">
            {{ 'checkout.order_review.submit.validation.message' | translate }}
          </div>
          }
          <button
            class="btn btn-lg btn-block btn-primary"
            [attr.aria-describedby]="
              (form.invalid && tcForm.submitted) || multipleBuckets || submitting ? 'checkout-button-help' : null
            "
            type="submit"
          >
            @if (submitting) {
            <i class="bi bi-arrow-clockwise spin-icon"></i>
            }
            {{
              (basket.recurrence ? 'checkout.order_review.recurring.send.button' : 'checkout.order_review.send.button')
                | translate
            }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
}
