<div class="cart-header">
  <h1 class="d-flex flex-wrap align-items-baseline">
    <span class="cart-header-title">{{
      (basket.recurrence ? 'checkout.order_review.recurring.heading.title' : 'checkout.order_review.heading.title')
        | translate
    }}</span>
    <span class="header-note">
      <span>{{ 'shopping_cart.transaction.text' | translate }}</span>
      <ish-modal-dialog-link
        linkText="shopping_cart.read_more.link"
        [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, size: 'lg' }"
        class="details-link"
      >
        <ish-content-include includeId="include.dialog.safeAndSecure.pagelet2-Include" *ishLazyLoadingContent />
      </ish-modal-dialog-link>
    </span>
  </h1>
</div>

<div *ngIf="basket" class="row">
  <!-- Error Message-->
  <div class="col-md-12">
    <ish-error-message [error]="error" [toast]="false" />
    <ish-basket-error-message [error]="error" />
    <div *ngIf="multipleBuckets" role="alert" class="alert alert-danger">
      {{ 'checkout.shipping.no_methods.message' | translate }}
    </div>
    <ish-basket-validation-results />
  </div>

  <div class="col-md-12 col-lg-8">
    <div class="row">
      <p class="col-md-9">
        {{
          (basket.recurrence ? 'checkout.order_review.recurring.heading.text' : 'checkout.order_review.heading.text')
            | translate
        }}
      </p>
      <p class="col-md-3 text-right">
        <a routerLink="/basket">{{ 'checkout.widget.return_to_cart.link' | translate }}</a>
      </p>
    </div>
    <ish-basket-approval-info *ngIf="basket.approval" [approval]="basket.approval" />

    <ng-container *ngIf="'shipping.messageToMerchant' | ishServerSetting">
      <!-- MessageToMerchant-->
      <ish-basket-merchant-message-view [data]="basket" editRouterLink="/checkout/shipping" />
    </ng-container>

    <div class="row">
      <!-- Buyer-->
      <ng-container *ishFeature="'businessCustomerRegistration'">
        <ish-info-box heading="checkout.widget.buyer.heading" class="infobox-wrapper col-md-6">
          <ish-basket-buyer [object]="basket" editRouterLink="/checkout/shipping" />
        </ish-info-box>
      </ng-container>

      <!-- Additional Information -->
      <ng-container *ngIf="basket.recurrence">
        <ish-info-box
          heading="checkout.widget.additional-information.heading"
          editRouterLink="/basket"
          class="infobox-wrapper col-md-6"
          cssClass="pb-3"
        >
          <ish-order-recurrence [recurrence]="basket.recurrence" labelCssClass="col-4" valueCssClass="col-8" />
        </ish-info-box>
      </ng-container>
    </div>

    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box
        heading="checkout.widget.billing-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.invoiceToAddress" [displayEmail]="true" />
      </ish-info-box>

      <!-- Shipping Address -->
      <ish-info-box
        heading="checkout.widget.shipping-address.heading"
        editRouterLink="/checkout/address"
        class="infobox-wrapper col-md-6"
      >
        <ish-address [address]="basket.commonShipToAddress" />
      </ish-info-box>
    </div>

    <div class="row d-flex">
      <!-- Shipping Method -->
      <ish-info-box
        heading="checkout.widget.shipping_method.heading"
        editRouterLink="/checkout/shipping"
        class="infobox-wrapper col-md-6"
      >
        <ish-basket-shipping-method [data]="basket" />
      </ish-info-box>

      <!-- Payment Method -->
      <ish-info-box
        heading="checkout.widget.payment_method.heading"
        editRouterLink="/checkout/payment"
        class="infobox-wrapper col-md-6"
      >
        <p>
          {{ basket.payment?.displayName }}<br />{{ basket.payment.paymentInstrument.accountIdentifier }}
          <ng-container *ngIf="!basket.payment.displayName && !basket.payment.paymentInstrument.accountIdentifier">{{
            basket.payment.paymentInstrument
          }}</ng-container>
        </p>
      </ish-info-box>
    </div>

    <!-- Line Items -->
    <ish-line-item-list *ngIf="basket.lineItems?.length > 0" [lineItems]="basket.lineItems" [editable]="false" />
  </div>

  <!-- basket summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals" />
      <form [formGroup]="form" (ngSubmit)="submitOrder()">
        <formly-form [form]="form" [model]="model" [fields]="fields" [options]="options" />
        <button class="btn btn-lg btn-block btn-primary" type="submit" [disabled]="formDisabled || submitting">
          <ng-container *ngIf="submitting">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true" class="pr-3" />
          </ng-container>
          {{
            (basket.recurrence ? 'checkout.order_review.recurring.send.button' : 'checkout.order_review.send.button')
              | translate
          }}
        </button>
      </form>
    </div>
  </div>
</div>
