@if (visible$ | async) {
  @let hasQuantityError = hasQuantityError$ | async;
  <div class="quantity-input" [ngClass]="{ 'has-error': hasQuantityError }">
    @switch (type) {
      @case ('select') {
        <select
          class="form-control"
          data-testing-id="quantity"
          [attr.aria-label]="'product.quantity.aria_label' | translate"
          [id]="elementId"
          (change)="change($event.target)"
        >
          @for (opt of selectValues$ | async; track opt) {
            <option [selected]="opt === (quantity$ | async)" [value]="opt">
              {{ opt }}
            </option>
          }
        </select>
      }
      @case ('input') {
        <input
          class="form-control"
          data-testing-id="quantity"
          pattern="[0-9]*"
          type="number"
          [attr.aria-describedby]="ariaDescribedByIds$ | async"
          [attr.aria-invalid]="hasQuantityError ? 'true' : undefined"
          [attr.aria-label]="'product.quantity.aria_label' | translate"
          [id]="elementId"
          [max]="max$ | async"
          [min]="min$ | async"
          [step]="step$ | async"
          [value]="quantity$ | async"
          (change)="change($event.target)"
          (keyup)="change($event.target)"
        />
      }
      @default {
        <div class="counter-input">
          <button
            class="btn btn-link decrease-button"
            tabindex="-1"
            type="button"
            [attr.data-testing-id]="'decrease-quantity-' + elementId"
            [disabled]="cannotDecrease$ | async"
            (click)="decrease()"
          >
            {{ 'product.quantity.decrease.text' | translate }}
          </button>
          <button
            class="btn btn-link increase-button"
            tabindex="-1"
            type="button"
            [attr.data-testing-id]="'increase-quantity-' + elementId"
            [disabled]="cannotIncrease$ | async"
            (click)="increase()"
          >
            {{ 'product.quantity.increase.text' | translate }}
          </button>
          <input
            class="form-control text-center"
            data-testing-id="quantity"
            pattern="[0-9]*"
            type="number"
            [attr.aria-describedby]="ariaDescribedByIds$ | async"
            [attr.aria-invalid]="hasQuantityError ? 'true' : undefined"
            [attr.aria-label]="'product.quantity.aria_label' | translate"
            [id]="elementId"
            [max]="max$ | async"
            [min]="min$ | async"
            [step]="step$ | async"
            [value]="quantity$ | async"
            (change)="change($event.target)"
            (keyup)="change($event.target)"
          />
        </div>
      }
    }
    @if (hasQuantityError) {
      <small class="validation-message" [id]="elementId + '-validation-error'">{{ quantityError$ | async }}</small>
    }
  </div>
}
