<div *ngIf="product.available" [formGroup]="parentForm" class="product-quantity">
  <ng-container *ngIf="!readOnly">
    <ng-container [ngSwitch]="type">
      <ish-select
        *ngSwitchCase="'select'"
        [options]="quantityOptions"
        [form]="parentForm"
        [controlName]="controlName"
        [label]="quantityLabel"
        [labelClass]="labelClass"
        [inputClass]="inputClass"
      ></ish-select>
      <ish-counter
        *ngSwitchCase="'counter'"
        [form]="parentForm"
        [controlName]="controlName"
        [label]="quantityLabel"
        [labelClass]="labelClass"
        [inputClass]="inputClass"
        [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
        [max]="product.maxOrderQuantity"
      ></ish-counter>
      <ish-input
        *ngSwitchDefault
        [type]="'number'"
        [form]="parentForm"
        [controlName]="controlName"
        [label]="quantityLabel"
        [labelClass]="labelClass"
        [inputClass]="inputClass"
        [markRequiredLabel]="'off'"
        [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
        [max]="product.maxOrderQuantity"
        [errorMessages]="{
          required: 'product.quantity.notempty.text',
          integer: 'product.quantity.integer.text',
          min: 'product.quantity.greaterthan.text' | translate: { '0': product.minOrderQuantity },
          max: 'product.quantity.lessthan.text' | translate: { '0': product.maxOrderQuantity }
        }"
      ></ish-input>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="readOnly">
    <span>{{ quantityLabel | translate }}: {{ quantity }}</span>
  </ng-container>
</div>
