<div *ngIf="visible$ | async" [ngClass]="{ 'has-error': hasQuantityError$ | async }" class="quantity-input">
  <ng-container [ngSwitch]="type">
    <ng-template ngSwitchCase="select">
      <select (change)="change($event.target)" class="form-control" [id]="id" data-testing-id="quantity">
        <option *ngFor="let opt of selectValues$ | async" [value]="opt" [selected]="opt === (quantity$ | async)">
          {{ opt }}
        </option>
      </select>
    </ng-template>
    <ng-template ngSwitchCase="input">
      <input
        class="form-control"
        [id]="id"
        data-testing-id="quantity"
        type="number"
        [value]="quantity$ | async"
        [min]="min$ | async"
        [max]="max$ | async"
        [step]="step$ | async"
        (change)="change($event.target)"
        (keyup)="change($event.target)"
      />
    </ng-template>
    <ng-template ngSwitchDefault>
      <div class="counter-input">
        <button
          class="btn btn-link decrease-button"
          (click)="decrease()"
          [disabled]="cannotDecrease$ | async"
          [attr.data-testing-id]="'decrease-quantity-' + id"
          translate
        >
          product.quantity.decrease.text
        </button>
        <button
          class="btn btn-link increase-button"
          (click)="increase()"
          [disabled]="cannotIncrease$ | async"
          [attr.data-testing-id]="'increase-quantity-' + id"
          translate
        >
          product.quantity.increase.text
        </button>
        <input
          class="form-control text-center"
          [id]="id"
          data-testing-id="quantity"
          type="number"
          [value]="quantity$ | async"
          [min]="min$ | async"
          [max]="max$ | async"
          [step]="step$ | async"
          (change)="change($event.target)"
          (keyup)="change($event.target)"
        />
      </div>
    </ng-template>
  </ng-container>

  <small *ngIf="hasQuantityError$ | async" class="form-text">{{ quantityError$ | async }}</small>
</div>
