<ng-container *ngIf="parameter.properties?.hidden === 'no'">
  <h4>{{ parameter.description }}</h4>
  <div class="row">
    <div class="col-4">
      {{ parameter.properties.tc_info_text }}
    </div>
    <div class="col-8" class="d-flex align-items-end">
      <div *ngFor="let opt of parameter.domain?.elements" class="m-3">
        <div class="border" [ngClass]="{ 'border-primary': opt.selected, 'border-info': !opt.selected }">
          <img [src]="getImageUrl(opt.properties.tc_component_picture) | async" />
        </div>
        <label>
          <input
            type="radio"
            [name]="parameter.name"
            [value]="opt.name"
            [checked]="opt.selected"
            (change)="change($event.target.value)"
          />
          {{ opt.description }}
        </label>
      </div>
    </div>
  </div>
</ng-container>
