<div *ngIf="basket" class="row checkout-address-book">
  <!-- Error Message -->
  <div *ngIf="error" class="col-md-12">
    <ish-error-message [error]="error" [toast]="false" />
    <ish-basket-error-message [error]="error" />
  </div>

  <div *ngIf="nextDisabled && !error" class="col-md-12">
    <div class="alert alert-danger">{{ 'checkout.addresses.no_Selection.error' | translate }}</div>
  </div>

  <!-- Validation messages-->
  <div class="col-md-12">
    <ish-basket-validation-results (continueCheckout)="goToNextStep()" />
  </div>

  <!-- ------------------------------- invoice address ---------------------------------- -->
  <div class="col-md-6 col-lg-4" data-testing-id="invoiceToAddress">
    <ish-basket-invoice-address-widget
      [eligibleAddresses$]="eligibleAddresses$"
      [showErrors]="nextDisabled"
      [collapse]="active === 'shipping'"
      (collapseChange)="invoiceCollapsed($event)"
    />
  </div>

  <!-- ------------------------------ shipping address ----------------------------------------- -->
  <div class="col-md-6 col-lg-4" data-testing-id="shipToAddress">
    <ish-basket-shipping-address-widget
      [eligibleAddresses$]="eligibleAddresses$"
      [showErrors]="nextDisabled"
      [collapse]="active === 'invoice'"
      (collapseChange)="shippingCollapsed($event)"
    />
  </div>

  <!-- Cart Summary -->
  <div class="col-md-12 col-lg-4">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

    <ish-basket-recurrence-summary [recurrence]="basket.recurrence" />

    <ish-basket-items-summary [basket]="basket" />

    <div class="cost-summary">
      <ish-basket-cost-summary [totals]="basket.totals" />

      <button class="btn btn-lg btn-block btn-primary" type="button" [disabled]="nextDisabled" (click)="goToNextStep()">
        {{ 'checkout.button.label' | translate }}
      </button>
    </div>
    <!-- Privacy policy link -->
    <span
      [ishServerHtml]="
        'checkout.widget.security_privacy_policy.link' | translate : { '0': 'page://page.privacyPolicy.pagelet2-Page' }
      "
    ></span>
  </div>
</div>
