<div class="container line-item-edit-dialog">
  <ish-loading *ngIf="loading$ | async"></ish-loading>

  <div *ngIf="variation$ | async as variation" class="row">
    <!-- right box -->
    <div class="col-12 col-md">
      <div class="text-center"><ish-product-image imageType="M"></ish-product-image></div>
    </div>

    <!-- left box -->
    <div class="col-12 col-md product-info">
      <!-- sku -->
      <ish-product-id></ish-product-id>

      <!-- price -->
      <div class="current-price">{{ variation.salePrice | ishPrice }}</div>

      <!-- Availability -->
      <ish-product-inventory></ish-product-inventory>

      <!-- select (variation) -->
      <div class="product-variation-container">
        <ish-product-variation-select></ish-product-variation-select>
      </div>

      <!-- input (quantity) -->
      <div class="form-group">
        <div class="row">
          <label class="col-form-label col" translate>product.quantity.label</label>
          <div class="col">
            <ish-product-quantity></ish-product-quantity>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
