fieldset {
  margin-bottom: ($space-default);
}

.form-control:focus {
  border-color: $color-special-tertiary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($color-special-tertiary, 20%);
}

.quantity-input {
  min-width: 80px;
  max-width: 165px;
  margin-bottom: $space-default;
}

input[type='radio'] ~ input[type='text'] {
  margin-left: $space-default / 2;

  @media (max-width: $screen-xs-max) {
    display: inline-block;
    width: 90%;
  }
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 4px;
  vertical-align: middle;
}

// ERROR
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 25px; // TODO: dynamic field
  height: $input-line-height + ($input-padding-y * 2);
  line-height: $input-line-height + ($input-padding-y * 2);
}

.has-feedback select + * .form-control-feedback {
  right: 35px; // TODO: dynamic field
}

.has-feedback .form-control {
  padding-right: 42.5px; // TODO: dynamic field
}

// 	REQUIRED FIELDS

.indicates-required {
  color: $text-color-quarternary;

  .required {
    margin-right: 4px;
    color: $text-color-special;
  }
}

label {
  .required {
    margin-left: 4px;
    color: $text-color-special;
  }
}
