.form-check {
  height: auto;
  padding-bottom: 0;
  padding-left: 0;
}

.has-feedback {
  .form-control[type='number'] {
    padding: $grid-gutter-width / 5 $grid-gutter-width / 2.5;
  }

  .form-control[type='number'] + * .form-control-feedback {
    display: none !important;
  }

  .form-control {
    + a.form-control-feedback {
      pointer-events: all;
    }
  }
}

input[type='file'] {
  padding: 0;
  border: none;
  box-shadow: none;
}

input.form-check-input {
  margin-top: 0.25rem;
  margin-left: 0;
}

.form-check-label {
  margin-left: 18px;
}

.form-control-checkbox {
  margin-bottom: 0;
  font-size: $font-size-base;
  border: none;

  &:invalid {
    .form-control {
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .form-control {
    padding-right: 0;
    padding-left: 0;
    background-color: inherit;
    border: none;

    @include box-shadow(none);
  }

  .form-control-feedback {
    display: none !important;
  }
}

.has-success {
  .ng-fa-icon {
    color: $success-color;
  }
}

.has-error {
  .col-form-label,
  .form-text,
  .ng-fa-icon,
  .form-check {
    color: $error-color;
  }

  .form-check a {
    color: $error-color;
    text-decoration: underline;
  }

  input,
  select,
  textarea {
    border-color: $error-color;

    &:focus {
      border-color: $error-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($error-color, 20%);
    }
  }

  .captcha > div {
    border: solid 1px $error-color;
  }
}

/* purgecss ignore */
.grecaptcha-badge {
  visibility: hidden;
}

.filter-dropdown {
  position: relative;
  padding-bottom: 15px;

  .dropdown-menu {
    width: 100%;
    padding: 0;

    a.dropdown-item {
      color: $input-color;

      &.selected {
        color: $text-color-corporate;
        background-color: $color-inverse;

        .icon-checked {
          position: absolute;
          right: 15px;
          padding-top: $space-default/6;
        }
      }
    }
  }

  .dropdown,
  .dropup {
    &.show {
      color: $input-focus-color;
      background-color: $input-focus-bg;
      border-color: $input-focus-border-color;
      outline: 0;
    }

    .dropdown-toggle {
      color: $text-color-primary;

      &:hover {
        color: $text-color-primary;
      }

      &::after {
        position: absolute;
        top: calc(#{$input-height} / 2);
        right: $space-default/2;
      }
    }
  }
}
