.form-inline {
  label {
    padding-right: ($space-default * 0.25);
  }
}

label {
  font-weight: normal;

  &.disabled {
    opacity: 0.5;
  }

  > * {
    vertical-align: baseline;
  }
}

.input-help {
  color: $text-color-quarternary;
}

.form-check {
  label {
    label {
      padding-left: 0;
    }
  }
}
