server {
    server_name ~^$SUBDOMAIN\..+$;
    include /etc/nginx/conf.d/listen.conf;

    location / {
        proxy_cache my_cache;
        proxy_cache_use_stale error timeout http_404 http_500 http_502 http_503 http_504;

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header X-Cache-Status $upstream_cache_status;

        proxy_ignore_headers Cache-Control;
        proxy_cache_valid 200 302 10m;
        proxy_cache_valid 404      1m;

        add_header X-icm-subdomain $SUBDOMAIN always;
        add_header X-icm-channel $CHANNEL always;
        add_header X-icm-application $APPLICATION always;
        add_header X-icm-features $FEATURES always;
        add_header X-icm-default-lang $LANG always;

        rewrite ^/$ /home;
        if ($request_uri !~* ";lang=") {
            rewrite ^(?!/INTERSHOP.*$)(?!/assets.*$)(?!.*\.js$)(?!.*\.css$)(?!.*\.ico$)(?!.*\.json$)(?!.*\.txt$)(?!.*\.webmanifest$)(.*)$ "$1;lang=$LANG";
        }
        if (-f /etc/nginx/conf.d/icm.conf) {
            rewrite ^(?!/INTERSHOP.*$)(?!/assets.*$)(?!.*\.js$)(?!.*\.css$)(?!.*\.ico$)(?!.*\.json$)(?!.*\.txt$)(?!.*\.webmanifest$)(.*)$ "$1;icmScheme=$scheme;icmHost=$http_host";
        }
        rewrite ^(?!/INTERSHOP.*$)(?!/assets.*$)(?!.*\.js$)(?!.*\.css$)(?!.*\.ico$)(?!.*\.json$)(?!.*\.txt$)(?!.*\.webmanifest$)(.*)$ "$1;channel=$CHANNEL;application=$APPLICATION;features=$FEATURES;theme=$THEME" break;

        proxy_pass $UPSTREAM_PWA;
    }

    $ICM_INCLUDE
}
