server {
    server_name ~^$DOMAIN$;
    include /etc/nginx/conf.d/listen.conf;

    # uncomment the following lines to debug rewrite rules
    # error_log /dev/stdout notice;
    # rewrite_log on;

    # let ICM handle everything ICM related
    location ~* ^/INTERSHOP.*$ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header X-Cache-Status IGNORE;

        proxy_pass $UPSTREAM_PWA;
    }

    # respect cache entries of static assets
    location ~* ^/(assets|.*\.(js|css|ico|json|txt|webmanifest|woff|woff2))(.*)$ {
        proxy_cache my_cache;
        proxy_cache_use_stale error timeout http_404 http_500 http_502 http_503 http_504;

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header X-Cache-Status $upstream_cache_status;

        proxy_pass $UPSTREAM_PWA;
    }

    # cache and rewriting for rendered pages
    location / {
        proxy_cache my_cache;
        proxy_cache_use_stale error timeout http_404 http_500 http_502 http_503 http_504;

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header X-Cache-Status $upstream_cache_status;

        proxy_ignore_headers Cache-Control;
        proxy_cache_valid 200 302 10m;
        proxy_cache_valid 404      1m;

        add_header X-icm-domain $DOMAIN always;
        add_header X-icm-channel $CHANNEL always;
        add_header X-icm-application $APPLICATION always;
        add_header X-icm-features $FEATURES always;
        add_header X-icm-default-lang $LANG always;

        rewrite ^/$ /home;
        if ($request_uri !~* ";lang=") {
            rewrite ^(.*)$ "$1;lang=$LANG";
        }
        if ($request_uri !~* ";channel=") {
            rewrite ^(.*)$ "$1;channel=$CHANNEL;application=$APPLICATION";
        }
        rewrite ^(.*)$ "$1;features=$FEATURES;theme=$THEME" break;

        proxy_pass $UPSTREAM_PWA;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}
