<!-- NEEDS_WORK: review and adapt -->
<form role="search" class="search clearfix" name="SearchBox_Header" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
  <input [placeholder]="'search.searchbox.instructional_text' | translate"
         formControlName="search"
         autocomplete="off"
         name="SearchTerm"
         type="text"
         class="form-control searchTerm"
         (focus)="hidePopup()"
         (blur)="hidePopup()"
         (keydown.esc)="hidePopup()">

  <button class="btn-search btn btn-primary"
          type="submit"
          name="search"
          [title]="'search.searchbox.button.title' | translate">

  <!-- search button with icon -->
    <ng-template [ngIf]="!searchButtonText" [ngIfElse]="textBlock">
      <span class="glyphicon glyphicon-search"></span>
    </ng-template>
    <!-- search button with text -->
    <ng-template #textBlock>
      <!-- TODO: To find the value of searchButtonText
      {{searchButtonText}} -->
    </ng-template>
  </button>

  <ul *ngIf="results && !isHide" class="search-suggest-results">
    <li *ngFor="let result of results | slice:0:9">
      <button type="button" class="search-result">
        <span class="searchTerm">{{ result.term }}</span>
      </button>
    </li>
  </ul>
</form>
