<ish-product-compare-paging
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  [totalItems]="totalItems"
  (pageChanged)="onPageChanged($event)"
></ish-product-compare-paging>

<div class="product-list table-responsive table-compare">
  <table class="table">
    <tbody>

      <tr>
        <th class="col-xs-6 col-sm-3">&nbsp;</th>
        <td *ngFor="let product of compareProducts" class="col-xs-6 col-sm-3">
          <div class="product-image">
            <a [routerLink]="generateProductRoute(product)">
              <ish-product-image [product]="product" imageType="M"></ish-product-image>
            </a>
            <a class="btn-tool" [title]="'product.compare.remove.link' | translate" (click)="removeFromCompare(product.sku)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </div>

          <div>
            <a class="product-title" [routerLink]="generateProductRoute(product)">
              {{product.name}}
            </a>
          </div>

          <div class="product-number">
            <label>{{'product.itemNumber.label' | translate}}</label>
            <span itemprop="sku">{{product.sku}}</span>
          </div>

          <ish-product-add-to-cart
            [product]="product"
            (productToCart)="addToCart(product.sku, product.minOrderQuantity)"
          ></ish-product-add-to-cart>
        </td>
      </tr>

      <tr>
        <th>{{'product.compare.price.label'|translate}}</th>
        <td *ngFor="let product of compareProducts">
          <ish-product-price
            [product]="product"
            [showInformationalPrice]="true"
          ></ish-product-price>
        </td>
      </tr>

      <tr>
        <th></th>
        <td *ngFor="let product of compareProducts">
          <ish-product-inventory [product]="product"></ish-product-inventory>
        </td>
      </tr>

      <!-- TODO: Ratings
      <tr>
        <th>{{'product.compare.ratings.label' | translate}}</th>
        <td *ngFor="let product of compareProducts">
        </td>
      </tr>
      -->

      <tr>
        <th>{{'product.short_description.label' | translate}}</th>
        <td *ngFor="let product of compareProducts">
          {{product.shortDescription}}
        </td>
      </tr>

      <tr>
        <th>{{'product.manufacturer_name.label' | translate}}</th>
        <td *ngFor="let product of compareProducts">
          {{product.manufacturer}}
        </td>
      </tr>

      <!-- TODO: Manufacturer SKU
      <tr>
        <th>{{'product.manufacturer_sku.label' | translate}}
        </th>
        <td *ngFor="let product of compareProducts">
        </td>
      </tr>
      -->

      <tr *ngFor="let commonAttribute of getCommonAttributeNames()">
        <th>{{commonAttribute}}</th>
        <td *ngFor="let product of compareProducts">
          {{getAttributeByAttributeName(product, commonAttribute) | attributeToString}}
        </td>
      </tr>

      <tr>
        <th>{{'product.specific_attributes.label' | translate}}</th>
        <td *ngFor="let product of compareProducts">
          <ish-product-attributes [product]="getProductWithSpecificAttribute(product)"></ish-product-attributes>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<ish-product-compare-paging
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  [totalItems]="totalItems"
  (pageChanged)="onPageChanged($event)"
></ish-product-compare-paging>
