<!-- NEEDS_WORK: product listing components rework -->
<div class="product-list row">

  <!--List View-->
  <ng-template [ngIf]="viewMode == 'list'">
    <div *ngFor="let product of products" class="product-list-item col-md-12 list-view">
      <ng-template #loading>
        <h2>LADEN...</h2>
      </ng-template>
      <ish-product-row [product]="product" *ngIf="product else loading"></ish-product-row>
    </div>
  </ng-template>

  <!--Grid View -->
  <ng-template [ngIf]="viewMode == 'grid'">
    <div *ngFor="let product of products" class="product-list-item col-md-4 col-xs-6 grid-view">
      <ng-template #loading>
        <div style="text-align: center"><h2>LADEN...</h2></div>
      </ng-template>
      <ish-product-tile
        [product]="product"
        *ngIf="product else loading"
        (compareToggle)="toggleCompare($event)"></ish-product-tile>
    </div>
  </ng-template>

</div>
