<div class="product-list row">

  <!--Grid View -->
  <ng-template [ngIf]="viewType === 'grid'">
    <div *ngFor="let product of products" class="product-list-item col-md-4 col-xs-6 grid-view" style="position: relative; min-height: 100px;">
      <ish-product-tile [product]="product" *ngIf="product else loading"></ish-product-tile>
      <ng-template #loading>
        <ish-loading></ish-loading>
      </ng-template>
    </div>
  </ng-template>

  <!--List View-->
  <ng-template [ngIf]="viewType === 'list'">
    <div *ngFor="let product of products" class="product-list-item col-md-12 list-view" style="position: relative; min-height: 100px;">
      <ish-product-row [product]="product" *ngIf="product else loading"></ish-product-row>
      <ng-template #loading>
        <ish-loading></ish-loading>
      </ng-template>
    </div>
  </ng-template>

</div>
