<div *ngIf="errorUser && errorUser === 'LoginAlreadyInUse'" role="alert" class="alert alert-danger">
    {{ (userRegistrationLoginType && userRegistrationLoginType === 'username') ? ('account.username.already_exist.error' | translate)
    : ('account.email.already_exist.error' | translate)}}
</div>
<form isFormValidation name="PostCheckoutRegisterForm" [formGroup]="simpleRegistrationForm" class="form-horizontal bv-form" (ngSubmit)="createAccount(simpleRegistrationForm.value)">
    <p>{{'account.create_user.message' | translate}} {{ (userRegistrationLoginType && userRegistrationLoginType === 'username')
        ? ('account.create_user.username.message' | translate) : ('account.create_user.email_password.message' | translate)}}</p>

    <is-form-group-validation [errorMessages]="userRegistrationLoginType === 'email'? {'required':'account.login.email.error.required' ,'email':'account.login.email.error.invalid'}:{'required':'account.login.username.error.required' }">
        <div class="form-group clearfix has-feedback">
            <label for="PostCheckoutRegisterForm_Login" class="col-sm-3 control-label">{{userRegistrationLoginType && userRegistrationLoginType === 'username' ?('account.create_user.login.label' | translate) : ('account.register.email.label' | translate)}}</label>
            <div class="col-sm-6">
                <input class="form-control" #dynamicError formControlName="userName" name="PostCheckoutRegisterForm_Login" type="{{userRegistrationLoginType === 'username' ? 'text' : 'email'}}"
                    id="PostCheckoutRegisterForm_Login">
            </div>
            <i class="form-control-feedback" data-bv-icon-for="Username"></i>
        </div>
    </is-form-group-validation>
    <is-form-group-validation [errorMessages]="{'required':'account.update_password.new_password.error.required','pattern':'account.update_password.new_password.error.regexp','minlength':'account.update_password.new_password.error.length'}">
        <div class="form-group clearfix has-feedback">
            <label for="PostCheckoutRegisterForm_Password" class="col-sm-3 control-label">{{'account.register.password.label' | translate}}</label>
            <div class="col-sm-6">
                <input formControlName="password" #dynamicError class="form-control" name="PostCheckoutRegisterForm_Password" type="password"
                    id="PostCheckoutRegisterForm_Password" maxlength="256">
            </div>
            <div class="col-sm-offset-3 col-sm-10">
                <small class="input-help">{{'account.register.password.extrainfo.message' | translate}}</small>
            </div>
        </div>
    </is-form-group-validation>
    <is-form-group-validation [errorMessages]="{'required':'account.register.password_confirmation.error.default','equalTo':'account.update_password.confirm_password.error.stringcompare'}">
        <div class="form-group clearfix has-feedback">
            <label class="col-sm-3 control-label" for="PostCheckoutRegisterForm_RetypedPassword">{{'account.register.password_confirmation.label' | translate}}</label>
            <div class="col-sm-6">
                <input type="password" #dynamicError autocomplete="off" class="form-control" size="18" id="PostCheckoutRegisterForm_RetypedPassword"
                    name="PostCheckoutRegisterForm_RetypedPassword" formControlName="confirmPassword">
            </div>
        </div>
    </is-form-group-validation>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="submit" name="login" [disabled]="simpleRegistrationForm.invalid && isDirty">{{'account.create.button.label' | translate}}</button>
            <a class="btn btn-default" [routerLink] = "'/home' | localize">{{'account.cancel.link' | translate}}</a>
        </div>
    </div>
</form>
