<div *ngIf="currentCategoryId$ | async as currentCategoryId" class="non-parametric-panel">
  <div class="filter-group">
    <ul class="filter-list">
      <li *ngFor="let category of navigationCategories$ | async" class="filter-item">
        <a
          class="filter-item-name link-decoration-hover"
          [ngClass]="{ 'filter-selected': category.uniqueId === currentCategoryId }"
          [routerLink]="category.url"
        >
          {{ category.name }}
        </a>
        <ish-category-navigation
          *ngIf="currentCategoryId.startsWith(category.uniqueId)"
          [uniqueId]="category.uniqueId"
        />
      </li>
    </ul>
  </div>
</div>
