<div *ngIf="currentCategoryId$ | async as currentCategoryId" class="non-parametric-panel">
  <ng-container *ngIf="navigationCategories$ | async as navigationCategories">
    <div *ngIf="navigationCategories.length" class="filter-group">
      <ul class="filter-list">
        <li *ngFor="let category of navigationCategories" class="filter-item">
          <a
            class="filter-item-name link-decoration-hover"
            [ngClass]="{ 'filter-selected': category.uniqueId === currentCategoryId }"
            [routerLink]="category.url"
            [attr.aria-current]="category.uniqueId === currentCategoryId ? 'true' : undefined"
          >
            {{ category.name }}
          </a>
          <ish-category-navigation
            *ngIf="currentCategoryId.startsWith(category.uniqueId)"
            [uniqueId]="category.uniqueId"
          />
        </li>
      </ul>
    </div>
  </ng-container>
</div>
