<ng-container *ngIf="pagelet.stringParam('Link'); else image">
  <a [routerLink]="getRouterLink(pagelet.stringParam('Link'))"
    [attr.title]="pagelet.stringParam('LinkTitle')"
    class="teaser-link"
  >
    <ng-container *ngTemplateOutlet="image"></ng-container>
  </a>
</ng-container>

<ng-template #image>
  <img [src]="getImagePath(pagelet.stringParam('Image'))"
    [attr.alt]="pagelet.stringParam('AlternateText')"
    [ngClass]="pagelet.stringParam('CSSClass')"
  >
</ng-template>

<!-- TODO: (CMS Component Configuration)
  Picture
-->
