// QUICK CART

.quick-cart-link {
  position: relative;
  padding: 0 $space-default;
  margin-left: $space-default;
  background: $color-tertiary;

  .btn-link {
    font-family: $font-family-bold;
    text-transform: uppercase;

    span {
      color: $text-color-secondary;

      &.mini-cart-price {
        font-size: $font-size-base;
        color: $text-color-corporate;
        white-space: nowrap;
      }
    }

    .ng-fa-icon {
      padding: 0 !important;
      margin-right: ($space-default * 0.5);
      font-size: 17px;
      color: $text-color-secondary;
    }
  }

  > .btn-link {
    padding: $space-default * 0.5;
    white-space: nowrap;
  }

  &.mini-cart-active {
    background: $color-corporate;

    > .btn-link {
      span {
        color: $text-color-inverse;

        &.mini-cart-price {
          color: $text-color-secondary;
        }
      }

      > .ng-fa-icon {
        color: $text-color-inverse !important;
      }
    }
  }

  .mini-cart {
    position: absolute;
    right: -1px;
    z-index: 9999;
    width: 310px;
    padding: $space-default;
    line-height: normal;
    background: $color-inverse;
    box-shadow: 0 4px 7px rgb(0 0 0 / 0.23);

    .product-rows-block {
      position: relative;
      max-height: 380px;
      overflow-y: auto;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgb(0 0 0 / 0.3);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgb(0 0 0 / 0.5);
      }
    }

    .view-cart {
      margin-top: ($space-default * 2);
      font-family: $font-family-condensedbold;
      font-size: $font-size-lg;
    }
  }
}

.product-row {
  display: block;

  @include clearfix();

  padding: $space-default 0;

  & ~ .product-row {
    border-top: $border-width-default solid $border-color-light;
  }

  .mini-product-img {
    float: left;
    width: 30%;
    text-align: center;
  }

  .mini-product-info {
    float: right;
    width: 70%;
    padding-left: $space-default;
    text-align: left;

    a {
      display: block;
      padding-top: ($space-default * 0.5);
      padding-bottom: ($space-default * 0.25);
      margin: 0;
      overflow: hidden;
      font-family: $font-family-condensedregular;
      font-size: $font-size-base;
      font-weight: normal;
      color: $text-color-tertiary;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
    }

    .product-price {
      padding-bottom: ($space-default * 0.25);
      font-family: $font-family-condensedbold;
      font-size: $font-size-lg;
      color: $text-color-primary;
    }

    .cart-pli-data {
      font-size: 85%;
      color: $text-color-tertiary;

      span {
        display: inline-block;
        width: 80px;
      }
    }
  }
}
