<div class="top-header">
  <nav class="container">
    <div class="row">
      <a rel="home" routerLink="/home" class="d-md-none mobile-logo">
        <img src="assets/img/logo_mobile.png" alt="Logo" width="41" height="41">
      </a>
      <div class="d-md-none pull-right">
        <button class="navbar-toggle" type="button" (click)="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">{{'common.button.navbarCollapsed.text' | translate}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="col-lg-12">
        <ul class="user-links">
          <li>
            <ish-login-status-container></ish-login-status-container>
          </li>
          <li *ishFeature="'compare'">
            <ish-product-compare-status-container></ish-product-compare-status-container>
          </li>
          <li class="d-md-none">
            <ish-mobile-basket-container></ish-mobile-basket-container>
          </li>
        </ul>
        <div class="header-utility">
          <ul class="customer-info d-none d-md-block">
            <li>
              <span class="glyphicon-phone-alt glyphicon glyphicon-header-icon"></span>
              {{'common.header.contact_no.text' | translate}}
            </li>
          </ul>
          <ish-language-switch-container></ish-language-switch-container>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="mid-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 logo-wrapper d-none d-md-block">
        <a rel="home" routerLink="/home">
          <img src="assets/img/logo.png" alt="Logo">
        </a>
      </div>
      <div class="col-md-5 header-info-wrapper d-none d-md-block"></div>
      <div class="col-md-4 search-container header-search-container">
        <ish-search-box-container
          [configuration]="{
            placeholderText: 'search.searchbox.instructional_text' | translate,
            autoSuggest: true,
            maxAutoSuggests: 10
          }"
        ></ish-search-box-container>
      </div>
    </div>
  </div>
</div>

<div class="bottom-header">
  <nav class="global-nav navbar-expand-md" [collapse]="navbarCollapsed">
    <div class="container">
      <div class="row">
        <div class="main-navigation col-md-8 col-lg-9" role="navigation">
          <ish-header-navigation-container></ish-header-navigation-container>
        </div>
        <div class="col-md-4 col-lg-3 pull-right main-navigation-right">
          <ish-mini-basket-container></ish-mini-basket-container>
        </div>
      </div>
    </div>
  </nav>
</div>
