<div class="product-tile-list row">
  <div class="col-3 col-md-2">
    <div class="product-image-container">
      <a [routerLink]="product | ishProductRoute: category">
        <ish-product-image [product]="product" imageType="S" class="product-image"></ish-product-image>
      </a>
      <ish-product-label [product]="product"></ish-product-label>
    </div>
  </div>
  <div class="col-9 col-md-10">
    <div class="row">
      <div class="col-8 text-left">
        <a class="product-title" [routerLink]="product | ishProductRoute: category">{{ product.name }}</a>
        <div class="product-description">{{ product.shortDescription }}</div>
        <div class="product-number">
          <span class="product-number-label">{{ 'product.itemNumber.label' | translate }}</span>
          <span itemprop="sku">{{ product.sku }}</span>
        </div>
        <!-- TODO: remove style attribute -->
        <div class="product-tile-actions btn-group" style="position: relative;">
          <ish-lazy-product-add-to-quote
            [product]="product"
            displayType="icon"
            cssClass="btn-link"
          ></ish-lazy-product-add-to-quote>
          <button
            class="btn btn-link add-to-compare"
            [ngClass]="{ 'is-selected': isInCompareList }"
            title="{{ 'product.compare.link' | translate }}"
            *ishFeature="'compare'"
            (click)="toggleCompare()"
            >
            <fa-icon [icon]="['fas', 'columns']"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-12 col-md-4 text-right text-left-xs">
        <ish-product-price [product]="product" [showInformationalPrice]="true"></ish-product-price>
        <ish-product-inventory [product]="product"></ish-product-inventory>
        <div class="product-list-actions-container">
          <div class="addtocart-container">
            <ish-product-add-to-basket
              [product]="product"
              (productToBasket)="addToBasket()"
            ></ish-product-add-to-basket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
