<div *ngIf="categoryPath[categoryLevel]?.hasOnlineSubCategories" class="non-parametric-panel">
  <div class="filter-group">
    <ul *ngFor="let subCategory of categoryPath[categoryLevel].subCategories" class="filter-list">
      <li class="filter-item">
        <a class="filter-item-name" [ngClass]="categoriesService.isCategoryEqual(subCategory, category) ? 'filter-selected' : ''"
          [routerLink]="localizeRouterService.translateRoute(categoriesService.generateCategoryRoute(subCategory))">
          {{subCategory.name}}
        </a>
        <is-subcategory-navigation *ngIf="categoriesService.isCategoryEqual(subCategory, categoryPath[categoryLevel+1])" [category]="category" [categoryPath]="categoryPath" [categoryLevel]="categoryLevel+1"></is-subcategory-navigation>
      </li>
    </ul>
  </div>
</div>
