<ish-modal-dialog
  #modal
  [options]="{
    titleText: modalTitle || modalHeader | translate,
    ariaLabelledBy: 'order-template-preferences-title',
  }"
>
  <form
    #form="ngForm"
    body
    ishFormSubmit
    novalidate
    [formGroup]="orderTemplateForm"
    (ngSubmit)="submitOrderTemplateForm()"
  >
    <div class="modal-body">
      <formly-form [fields]="fields" [form]="orderTemplateForm" [model]="model" />
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-primary"
        data-testing-id="order-template-dialog-submit"
        type="submit"
        [disabled]="orderTemplateForm.invalid && form.submitted"
      >
        {{ primaryButton | translate }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="modal.hide()">
        {{ 'account.cancel.button.label' | translate }}
      </button>
    </div>
  </form>
</ish-modal-dialog>
