<ng-template #modal let-addModal>
  <div class="modal-header">
    <h2 class="modal-title">{{ modalHeader | translate }}</h2>
    <button
      type="button"
      class="close"
      [title]="'dialog.close.text' | translate"
      [attr.aria-label]="'dialog.close.text' | translate"
      (click)="hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="orderTemplateForm" (ngSubmit)="submitOrderTemplateForm()">
      <!-- TODO: Show server error -->
      <formly-form [form]="orderTemplateForm" [fields]="fields" [model]="model"></formly-form>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formDisabled"
      (click)="submitOrderTemplateForm()"
      data-testing-id="order-template-dialog-submit"
    >
      {{ primaryButton | translate }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="hide()">
      {{ 'account.cancel.button.label' | translate }}
    </button>
  </div>
</ng-template>
