.enhanced-image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

picture.enhanced-image {
  display: block;
  width: 100%;
  height: 100%;
}

img.enhanced-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enhanced-image-text {
  position: absolute;
  top: 30%;
  width: 100%;
  font-weight: bold;
  color: $text-color-inverse;
  text-align: center;

  h1 {
    font-size: 60px;
    color: $text-color-inverse;
  }

  h2 {
    color: $text-color-inverse;
  }

  @media (max-width: $screen-xs-max) {
    .btn {
      display: inline;
      width: auto;
    }

    h1 {
      font-size: 30px;
    }
  }
}
