<div>
  @if (link) {
  <a
    data-testing-id="product-image-link"
    [routerLink]="linkTarget || (productURL$ | async)"
    [queryParamsHandling]="computedQueryParamsHandling"
    [queryParams]="{ page: null }"
    tabindex="-1"
    ><ng-container *ngTemplateOutlet="image" /> </a
  >} @else {<ng-container *ngTemplateOutlet="image" />}
</div>

<ng-template #image>
  @if (productImage$ | async; as image) { @if (image.effectiveUrl) {
  <img
    [attr.loading]="loading"
    class="product-image"
    [src]="image.effectiveUrl"
    [attr.height]="image.imageActualHeight || fallbackImageHeight"
    [attr.width]="image.imageActualWidth || fallbackImageWidth"
    [alt]="altText || (defaultAltText$ | async)"
    itemprop="image"
  />
  } @else {
  <ng-container *ngTemplateOutlet="noImage" />
  } }@else {
  <ng-container *ngTemplateOutlet="noImage" />
  }

  <ng-template #noImage>
    <img
      [attr.loading]="loading"
      class="product-image"
      src="/assets/img/not-available.svg"
      [attr.height]="fallbackImageHeight"
      [attr.width]="fallbackImageWidth"
      [alt]="'product.image.not_available.alttext' | translate"
    />
  </ng-template>
</ng-template>
