<ul
  *ngIf="navigationCategories$ | async as categories"
  class="category-level{{ subCategoriesDepth }}"
  [ngClass]="{ 'dropdown-menu': subCategoriesDepth === 1 }"
>
  <li
    *ngFor="let subcategory of categories"
    class="main-navigation-level{{ subCategoriesDepth }}-item"
    [ngClass]="{ open: isOpened(subcategory.uniqueId) }"
  >
    <a
      [routerLink]="subcategory.url"
      [ngStyle]="{
        width: !(subCategoriesDepth < mainNavigationMaxSubCategoriesDepth && subcategory.hasChildren) ? '100%' : ''
      }"
      >{{ subcategory.name }}</a
    >
    <ng-container *ngIf="subCategoriesDepth < mainNavigationMaxSubCategoriesDepth && subcategory.hasChildren">
      <a
        [routerLink]="[]"
        class="dropdown-toggle"
        [ngClass]="{ 'd-none': view === 'full' }"
        (click)="toggleOpen(subcategory.uniqueId)"
        [attr.aria-label]="
          isOpened(subcategory.uniqueId)
            ? ('header.navigation.collapse_category.aria_label' | translate : { '0': subcategory.name })
            : ('header.navigation.expand_category.aria_label' | translate : { '0': subcategory.name })
        "
      >
        <fa-icon *ngIf="isOpened(subcategory.uniqueId); else closed" [icon]="['fas', 'minus']" />
        <ng-template #closed> <fa-icon [icon]="['fas', 'plus']" /> </ng-template>
      </a>
      <ish-sub-category-navigation
        [categoryUniqueId]="subcategory.uniqueId"
        [subCategoriesDepth]="subCategoriesDepth + 1"
      />
    </ng-container>
  </li>
</ul>
