@for (field of field?.fieldGroup; track field.id; let i = $index) {
  <div
    class="row"
    ishProductContext
    [attr.data-testing-id]="'quickorder-line-' + i"
    [configuration]="{ quantity: true }"
    [(quantity)]="model[i].quantity"
  >
    <formly-field class="col-6 col-sm-8" [field]="field" />
    <ish-product-quantity class="col-3 quickorder-line-item" />
    <div class="col-3 col-sm-1 d-flex align-items-start quickorder-line-item">
      <button
        class="btn-tool btn-link m-2"
        type="button"
        title="{{ 'quickorder.page.remove.row' | translate }}"
        (click)="remove(i); updateContexts()"
      >
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
}
<div class="d-flex flex-nowrap pb-4">
  <button
    class="btn btn-link btn-link-action"
    data-testing-id="add-quickorder-line"
    type="button"
    (click)="addMultipleRows(1)"
  >
    {{ props?.addText | translate }}
  </button>
  <span class="link-separator"></span>
  <button class="btn btn-link btn-link-action" type="button" (click)="addMultipleRows(props?.numberMoreRows)">
    {{ props?.addMoreText | translate: { '0': props?.numberMoreRows } }}
  </button>
</div>
