<div
  *ngFor="let field of field?.fieldGroup; let i = index"
  class="row"
  [attr.data-testing-id]="'quickorder-line-' + i"
  ishProductContext
  [(quantity)]="model[i].quantity"
  [configuration]="{ quantity: true }"
>
  <formly-field class="col-6" [field]="field" />
  <ish-product-quantity class="col-3 col-sm-2 quickorder-line-item" />
  <div class="col-3 col-sm-2 d-flex quickorder-line-item">
    <a
      class="btn btn-tool"
      (click)="remove(i); updateContexts()"
      (keyup.enter)="remove(i); updateContexts()"
      tabindex="0"
      role="button"
      title="{{ 'quickorder.page.remove.row' | translate }}"
    >
      <fa-icon [icon]="['fas', 'trash-alt']" />
    </a>
  </div>
</div>
<div class="section d-flex flex-nowrap">
  <a
    (click)="addMultipleRows(1)"
    (keyup.enter)="addMultipleRows(1)"
    tabindex="0"
    role="button"
    data-testing-id="add-quickorder-line"
    >{{ props?.addText | translate }}</a
  >
  <span class="link-separator"></span>
  <a
    (click)="addMultipleRows(props?.numberMoreRows)"
    (keyup.enter)="addMultipleRows(props?.numberMoreRows)"
    tabindex="0"
    role="button"
    >{{ props?.addMoreText | translate : { '0': props?.numberMoreRows } }}</a
  >
</div>
