@if (shippingMethod$ | async; as shippingMethod) { <span>{{ shippingMethod.name }}:</span>&nbsp; @if
(shippingMethod.shippingCosts) {
<strong>{{ shippingMethod.shippingCosts | ishPrice }}&nbsp;</strong>
} @if (shippingMethod.shippingTimeMin && shippingMethod.shippingTimeMax) {
<span class="form-text form-text-inline">
  {{ 'checkout.shipping.delivery_time.description' | translate }}
  @if (shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax === 1) {
  <span>
    {{ 'checkout.shipping.delivery_time.within24' | translate }}
  </span>
  } @if (shippingMethod.shippingTimeMin === 0 && shippingMethod.shippingTimeMax > 1) {
  <span>
    {{ 'checkout.shipping.delivery_time.within' | translate : { '0': shippingMethod?.shippingTimeMax } }}
  </span>
  } @if (shippingMethod.shippingTimeMin > 0) {
  <span>
    {{
      'checkout.shipping.delivery_time'
        | translate : { '0': shippingMethod.shippingTimeMin, '1': shippingMethod.shippingTimeMax }
    }}
  </span>
  }
</span>
} }
