<!-- TODO: only show if quoting feature is available -->
<button type="submit"
  class="btn"
  [ngClass]="class"
  [class.btn-default]="displayType !== 'glyphicon'"
  [disabled]="disabled"
  [attr.title]="'quote.add_product_to_quote.button.add_to_quote.label' | translate"
  data-testing-id="addToQuoteButton"
  (click)="addToQuote()"
>

  <ng-container *ngIf="displayType === 'glyphicon'; else defaultButton">
    <span class="glyphicon glyphicon-inbox"></span>
  </ng-container>

  <ng-template #defaultButton>
    {{'quote.add_product_to_quote.button.add_to_quote.label' | translate}}
  </ng-template>

</button>

