<!-- NEEDS_WORK: review and adapt -->
<form role="search" class="search clearfix" name="SearchBox_Header">
  <input placeholder="{{'search.searchbox.instructional_text' | translate}}"
         autocomplete="off"
         name="SearchTerm"
         type="text"
         class="form-control searchTerm"
         (keyup)="searchTerm$.next($event.target.value); "
         (click)="hidePopup()"
         (blur)="isHide=true"
  >
  <button class="btn-search btn btn-primary" type="submit" name="search" title="{{'search.searchbox.button.title' | translate}}">
  <!-- search button with icon -->
    <ng-template [ngIf]="!searchButtonText" [ngIfElse]="textBlock">
      <span class="glyphicon glyphicon-search"></span>
    </ng-template>
    <!-- search button with text -->
    <ng-template #textBlock>
      <!-- TODO: To find the value of searchButtonText
      {{searchButtonText}} -->
    </ng-template>
  </button>

  <ul *ngIf="results" class="search-suggest-results" [style.display]="isHide ? 'none' : 'block'">
    <li *ngFor="let result of results | slice:0:9">
      <button type="button" class="search-result">
      <span class="ish-searchTerm">{{ result.term }}</span>
    </button>
    </li>
  </ul>
</form>
