<div class="row checkout-address-book">

    <!-- error messages -->
    <div *ngIf="!basket.invoiceToAddress || !basket.commonShipToAddress" class="col-sm-12">
      <div class="alert alert-danger">
        <p>{{ 'checkout.addresses.no_Selection.error' | translate }}</p>
      </div>
    </div>

    <!-- invoice address -->
    <div class="col-sm-6 col-md-4" data-testing-id="invoiceToAddress">
      <h2> {{ 'checkout.address.billing.label' | translate }}</h2>
      <div *ngIf="basket.invoiceToAddress"  class="address-box">
        <ish-address [address]="basket.invoiceToAddress"></ish-address>
      </div>
      <p *ngIf="!basket.invoiceToAddress" class="text-danger">
        {{ 'checkout.addresses.no_Selection.invoice.error' | translate}}
      </p>

      <ng-container *ngIf="invoiceAddresses && invoiceAddresses.length">
        <form [formGroup]="invoiceAddressForm">
          <ish-select-address
            [form]="invoiceAddressForm"
            controlName="id"
            [addresses]="invoiceAddresses"
            [emptyOptionLabel]="emptyInvoiceAddressOptionLabel"
            inputClass=""
          ></ish-select-address>
        </form>
      </ng-container>
    </div>

    <!-- shipping address -->
    <div class="col-sm-6 col-md-4" data-testing-id="shipToAddress">
      <h2> {{ 'checkout.address.shipping.label' | translate }}</h2>
      <div *ngIf="basket.commonShipToAddress"  class="address-box">
        <ish-address *ngIf="basket.commonShipToAddress.urn !== basket.invoiceToAddress.urn" [address]="basket.commonShipToAddress"></ish-address>
        <p *ngIf="basket.commonShipToAddress.urn === basket.invoiceToAddress.urn" data-testing-id="sameAsInvoice" class="section">
          {{ 'checkout.same_as_billing_address.text' | translate}}
        <p>
      </div>
      <p *ngIf="!basket.commonShipToAddress" class="text-danger">
        {{ 'checkout.addresses.no_Selection.shipping.error' | translate}}
      </p>

      <ng-container *ngIf="shippingAddresses &&shippingAddresses.length">
        <form [formGroup]="shippingAddressForm">
          <ish-select-address
            [form]="shippingAddressForm"
            controlName="id"
            [addresses]="shippingAddresses"
            [emptyOptionLabel]="emptyShippingAddressOptionLabel"
            inputClass=""
          ></ish-select-address>
        </form>
      </ng-container>
    </div>

    <!-- Cart Summary -->
    <div class="col-sm-12 col-md-4">
      <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

      <ish-basket-items-summary [basket]="basket"></ish-basket-items-summary>

      <div class="cost-summary">
        <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

        <button
          class="btn btn-lg btn-block btn-primary"
          type="button"
          [disabled]="!basket.invoiceToAddress || !basket.commonShipToAddress"
          (click)="nextStep()"
        >
          {{'checkout.button.label' | translate}}
        </button>
      </div>

    </div>
</div>
