@if (fragmentOnRouting === 'product-list-top') {
  <a id="product-list-top" title="top"></a>
}
@if (productListingView$ | async; as listing) {
  @if (isEndlessScrolling) {
    <div
      infiniteScroll
      [alwaysCallback]="true"
      [immediateCheck]="true"
      [infiniteScrollDistance]="scrollDistance"
      (scrolled)="loadMoreProducts('down')"
      (scrolledUp)="loadMoreProducts('up')"
    >
      <ish-product-list-toolbar
        [fragmentOnRouting]="fragmentOnRouting"
        [itemCount]="listing.itemCount"
        [sortBy]="sortBy$ | async"
        [sortableAttributes]="listing.sortableAttributes"
        [viewType]="viewType$ | async"
      />
      <ish-product-list [categoryId]="categoryId" [products]="listing.products()" [viewType]="viewType$ | async" />
      <div class="row justify-content-center">
        @if (!listing.allPagesAvailable()) {
          <ish-product-list-paging
            [currentPage]="listing.lastPage"
            [fragmentOnRouting]="fragmentOnRouting"
            [pageIndices]="listing.pageIndices()"
          />
        }
      </div>
    </div>
  }
  @if (isPaging) {
    <div>
      @if (currentPage$ | async; as currentPage) {
        <ng-template #pagingToolbar>
          <ish-product-list-toolbar
            [currentPage]="currentPage"
            [fragmentOnRouting]="fragmentOnRouting"
            [isPaging]="true"
            [itemCount]="listing.itemCount"
            [pageIndices]="listing.pageIndices(currentPage)"
            [sortBy]="sortBy$ | async"
            [sortableAttributes]="listing.sortableAttributes"
            [viewType]="viewType$ | async"
          />
        </ng-template>
        <ng-container *ngTemplateOutlet="pagingToolbar" />
        <ish-product-list
          [categoryId]="categoryId"
          [products]="listing.productsOfPage(currentPage)"
          [viewType]="viewType$ | async"
        />
        @if (listingLoading$ | async) {
          <ish-loading [standalone]="true" />
        }
        <ng-container *ngTemplateOutlet="pagingToolbar" />
      }
    </div>
  }
}
