<h1>{{ 'account.forgotdata.password_retrieval.heading' | translate }}</h1>

<ng-container *ngIf="success; else forgotPasswordForm">
  <p>{{ 'account.send_password.message' | translate }}</p>
</ng-container>

<ng-template #forgotPasswordForm>
  <p
    [ishServerHtml]="
      (securityQuestionEnabled
        ? 'account.forgotdata.password_retrieval_info.text'
        : 'account.forgotdata.password_retrieval_info.text.no.security_question') | translate
    "
  ></p>

  <div *ngIf="error" role="alert" class="alert alert-danger">
    {{
      (error.status === 500 ? 'servererror.mailServer.error' : 'account.forgotdata.email.invalid_login_or_name.error')
        | translate
    }}
  </div>

  <div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <ish-forgot-password-form (submitPasswordReminder)="requestPasswordReminder($event)"></ish-forgot-password-form>
    </div>
  </div>
</ng-template>
