<h3 class="subheading">{{ 'checkout.addresses.billing_address.heading' | translate }}</h3>
<p aria-hidden="true" class="indicates-required">
  <span class="required">*</span>{{ 'account.required_field.message' | translate }}
</p>

<!-- Invoice Address -->
<ish-formly-address-form
  #invoiceAddress
  data-testing-id="invoiceAddressForm"
  [businessCustomer]="isBusinessCustomer"
  [parentForm]="invoiceAddressForm"
/>

<!-- Taxation ID and Email address input field-->
<ish-formly-address-extension-form [businessCustomer]="isBusinessCustomer" [form]="attributesForm" />

<!-- Shipping Address Selection Radio boxes-->
<div class="section">
  <h3>{{ 'checkout.addresses.shipping_address.heading' | translate }}</h3>
  <formly-form [fields]="shipOptionFields" [form]="shipOptionForm" />
</div>

<!-- Shipping Address -->
<div data-testing-id="shipping-address-form" [ngbCollapse]="!isShippingAddressFormExpanded">
  <ish-formly-address-form
    #shippingAddress
    [businessCustomer]="isBusinessCustomer"
    [parentForm]="shippingAddressForm"
  />
</div>
