<div class="col-sm-4 col-md-3 pull-right main-navigation-right" data-ajax-content="http://localhost:480/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewMiniCart-Status">
    <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCartStatus -->
    <div class="quick-cart-link hidden-xs">
        <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCartLink -->
        <a data-toggle="collapse" href="#miniCart"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="js-cart-count">4</span>
                                <span>{{cartLength}} items</span>
                                <span> / </span>
                                <span class="mini-cart-price">{{cartPrice | currency : 'USD' : true}}</span>
                            </a>
        <!-- END TEMPLATE app_sf_responsive/default/inc/header/MiniCartLink -->
        <!-- BEGIN TEMPLATE app_sf_responsive/default/inc/header/MiniCart -->
        <div class="mini-cart collapse" id="miniCart">

        </div>
    </div>
    <!-- END TEMPLATE app_sf_responsive/default/inc/header/MiniCartStatus -->
</div>