<!-- Print Button -->
@let recurringOrder = recurringOrder$ | async;
@if (recurringOrder) {
  <div class="float-end">
    <ul class="share-tools">
      <li>
        <a
          class="link-print"
          href="javascript:window.print();"
          rel="nofollow"
          [title]="'account.recurring_order.details.print_link.text' | translate"
        >
          <i class="bi bi-printer-fill"></i>
        </a>
      </li>
    </ul>
  </div>
}

<h1>{{ 'account.recurring_order.heading' | translate }}</h1>

@if (recurringOrder) {
  <div class="section">
    <!-- Message for Inactive Orders -->
    @if (!recurringOrder.active) {
      @if (recurringOrder.error) {
        <div
          class="alert alert-warning"
          tabindex="0"
          (click)="toggleShowErrorCode()"
          (keydown.enter)="toggleShowErrorCode()"
        >
          <p>{{ 'account.recurring_order.details.inactive-by-system.message' | translate }}</p>
          @if (recurringOrder.errorCode && showErrorCode) {
            <p>{{ recurringOrder.errorCode }}</p>
          }
        </div>
      } @else {
        <p
          class="alert alert-warning"
          tabindex="0"
          [callbacks]="{ activate: activateRecurringOrder }"
          [ishServerHtml]="'account.recurring_order.details.inactive.message' | translate"
        ></p>
      }
    }
    <p>{{ 'account.recurring_order.subtitle' | translate }}</p>
    <!-- Order Summary Info -->
    <div class="row pb-3" data-testing-id="order-summary-info">
      <div class="col-12 col-sm-6">
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">
            <span aria-hidden="true">{{ 'account.recurring_order.details.order_number.label' | translate }}</span>
            <span class="visually-hidden">{{ 'account.recurring_order.details.order_number.title' | translate }}</span>
          </dt>
          <dd class="col-6" data-testing-id="rec-order-number">{{ recurringOrder.documentNo }}</dd>
        </dl>
        @if (recurringOrder.approvalStatuses) {
          <dl class="row dl-horizontal dl-separator">
            <dt class="col-6">{{ 'account.recurring_order.details.requisition_number.label' | translate }}</dt>
            <!-- prettier-ignore -->
            <dd class="col-6">
              <a
                data-testing-id="requisiton-link"
                [routerLink]="['/account/requisitions/buyer', recurringOrder.id, { status: 'APPROVED' }]"
                >{{ recurringOrder.documentNo }}</a
              ><br />
              (@for (approval of recurringOrder.approvalStatuses; track approval.approver.email; let last = $last) {{{
                  'account.recurring_order.details.approved.text'
                    | translate
                      : {
                          name: approval.approver.firstName + ' ' + approval.approver.lastName,
                          date: approval.approvalDate | ishDate: 'shortDate',
                        }
                }}@if (!last) {, }
              })
            </dd>
          </dl>
        }
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">{{ 'account.recurring_order.details.creation_date.label' | translate }}</dt>
          <dd class="col-6">{{ recurringOrder.creationDate | ishDate }}</dd>
        </dl>
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">{{ 'account.recurring_order.details.last_order_date.label' | translate }}</dt>
          <dd class="col-6">
            {{ recurringOrder.lastOrderDate ? (recurringOrder.lastOrderDate | ishDate) : '-' }}
          </dd>
        </dl>
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">{{ 'account.recurring_order.details.next_order_date.label' | translate }}</dt>
          <dd class="col-6">
            {{ recurringOrder.nextOrderDate ? (recurringOrder.nextOrderDate | ishDate) : '-' }}
          </dd>
        </dl>
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">{{ 'account.recurring_order.details.status.label' | translate }}</dt>
          <dd class="col-6">
            @if (recurringOrder.expired) {
              <span>{{ 'account.recurring_order.details.expired.text' | translate }}</span>
            } @else {
              <ish-switch
                ariaLabel="{{ 'account.recurring_order.details.switch.aria_label' | translate }}"
                [active]="recurringOrder.active"
                [labelActive]="'account.recurring_order.details.active.text' | translate"
                [labelInactive]="'account.recurring_order.details.inactive.text' | translate"
                (toggleSwitch)="switchActiveStatus($event)"
              />
            }
          </dd>
        </dl>
      </div>
      <div class="col-12 col-sm-6">
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6">{{ 'account.recurring_order.details.order_count.label' | translate }}</dt>
          <dd class="col-6">{{ recurringOrder.orderCount }}</dd>
        </dl>
        @if (recurringOrder.lastPlacedOrders?.length) {
          <dl class="row dl-horizontal dl-separator">
            <dt class="col-6">{{ 'account.recurring_order.details.last_placed_orders.label' | translate }}</dt>
            <dd class="col-6">
              @for (order of recurringOrder.lastPlacedOrders; track order.id) {
                <div>
                  <a [routerLink]="['/account/orders', order.id]">{{ order.documentNumber }}</a>
                </div>
              }
            </dd>
          </dl>
        }
      </div>
    </div>
    <div class="row d-flex">
      <!-- Buyer -->
      <ish-info-box
        *ishFeature="'businessCustomerRegistration'"
        class="infobox-wrapper col-md-6"
        cssClass="pb-3"
        heading="account.recurring_order.details.buyer_info.heading"
      >
        @if (recurringOrder.user.companyName) {
          <span>{{ recurringOrder.user.companyName }}<br /></span>
        }
        @if (taxationID) {
          <span> {{ 'account.recurring_order.details.taxationId.label' | translate }} {{ taxationID }}<br /> </span>
        }
        @if (recurringOrder.user.firstName || recurringOrder.user.lastName || recurringOrder.user.email) {
          <span>
            {{ recurringOrder.user.firstName }} {{ recurringOrder.user.lastName }}<br />
            {{ recurringOrder.user.email }}<br />
          </span>
        } @else {
          {{ 'account.recurring_order.details.buyer_info.no_buyer' | translate }}
        }
      </ish-info-box>
      <!-- Additional Information -->
      <ish-info-box
        class="infobox-wrapper col-md-6"
        cssClass="pb-3"
        heading="account.recurring_order.details.additional_info.heading"
      >
        <ish-basket-cost-center-view [data]="recurringOrder" />
        <ish-basket-custom-fields-view [data]="recurringOrder" />
        <ish-order-recurrence labelCssClass="col-5" valueCssClass="col-7" [recurrence]="recurringOrder.recurrence" />
      </ish-info-box>
    </div>
    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box class="infobox-wrapper col-md-6" heading="account.recurring_order.details.billing_address.heading">
        <ish-address [address]="recurringOrder.invoiceToAddress" />
      </ish-info-box>
      <!-- Shipping Address -->
      <ish-info-box class="infobox-wrapper col-md-6" heading="account.recurring_order.details.shipping_address.heading">
        <ish-address [address]="recurringOrder.commonShipToAddress" />
      </ish-info-box>
    </div>
    <div class="row d-flex">
      <!-- Shipping Method -->
      <ish-info-box class="infobox-wrapper col-md-6" heading="account.recurring_order.details.shipping_method.heading">
        <ish-basket-shipping-method [data]="recurringOrder" />
      </ish-info-box>
      <!-- Payment -->
      <ish-info-box class="infobox-wrapper col-md-6" heading="account.recurring_order.details.payment_method.heading">
        @if (recurringOrder.payment) {
          <p>{{ recurringOrder.payment.displayName }}</p>
        }
      </ish-info-box>
    </div>
    <p class="alert alert-info" [ishServerHtml]="'account.recurring_order.details.info_message' | translate"></p>
    <!-- Line Items -->
    @if (recurringOrder.lineItems?.length) {
      <ish-line-item-list lineItemViewType="simple" [editable]="false" [lineItems]="recurringOrder.lineItems" />
    }
    <div class="section row">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="cost-summary">
          <h2 class="h3">{{ 'checkout.order_summary.heading' | translate }}</h2>
          <ish-basket-cost-summary [totals]="recurringOrder.totals" />
        </div>
      </div>
    </div>
  </div>
} @else {
  <p data-testing-id="delete-message">{{ 'account.recurring_order.details.delete_message' | translate }}</p>
}

<!-- Links -->
<div class="section d-flex justify-content-between">
  <a class="no-print" data-testing-id="recurring-orders-link" routerLink="/account/recurring-orders">{{
    'account.recurring_order.details.links.return_to_orders' | translate
  }}</a>
  <a class="no-print" data-testing-id="home-link" routerLink="/home">{{
    'account.orderdetails.links.continue_shopping' | translate
  }}</a>
</div>
