<div class="row mt-4">
  <div class="col-md-12">
    <h2 class="h3">{{ 'user.csv.import.title' | translate }}</h2>
    <p>{{ 'user.csv.import.subtitle' | translate }}</p>
    <form [formGroup]="csvForm" (ngSubmit)="submitUsers()" [attr.aria-label]="'user.csv.import.form.label' | translate">
      <div class="form-group section">
        <input
          #fileInput
          type="file"
          name="csvFile"
          size="35"
          accept=".csv"
          (change)="onFileChange($event)"
          [attr.aria-label]="'user.csv.import.file.upload.aria_label' | translate"
        />
        <div>
          @switch (status) { @case ('InvalidHeader') {
          <small class="has-error">
            <span class="validation-message">{{ 'user.csv.import.file.invalid.input' | translate }}</span>
          </small>
          } @case ('InvalidFormat') {
          <small class="has-error">
            <span class="validation-message">{{ 'user.csv.import.file.invalid.format' | translate }}</span>
          </small>
          } @case ('Valid') {
          <small class="has-success">
            <span class="validation-message">{{ 'user.csv.import.file.uploaded' | translate }}</span>
          </small>
          } @default {
          <small></small>
          } }
        </div>
        <small
          class="form-text"
          [innerHTML]="'user.csv.import.file.sample' | translate : { '0': 'assets/sample-data/users.csv' }"
        ></small>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" name="importUsers" [disabled]="isCsvDisabled">
          {{ 'user.csv.import.create.button.label' | translate }}
        </button>
        <button type="reset" class="btn btn-link" name="reset" (click)="resetInput()">
          {{ 'user.csv.import.reset.button.label' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
