<div
  class="family-page product-search-result"
  id="family-page-top"
  [attr.data-testing-id]="'family-page-' + category.uniqueId"
>
  <!-- DISABLED VIEW CONTEXT --
  <div class="marketing-area">
    @if (category.categoryRef) {
    <ish-content-viewcontext
      viewContextId="viewcontext.include.family.base.top"
      [callParameters]="{ Category: category.categoryRef }"
    />
    }
  </div>
  -- DISABLED VIEW CONTEXT -->

  <div class="row">
    <div class="col-md-3">
      <ish-skip-content-link linkText="common.skip_content.link.text.filter" skipToElementId="nav-breadcrumbs" />
      <div class="navigation-panel" [ngbCollapse]="isCollapsed">
        <nav [attr.aria-label]="'category.navigation.aria_label' | translate">
          <ish-category-navigation [uniqueId]="category.categoryPath[0]" />
        </nav>
        <br />
        <ish-filter-navigation [showCategoryFilter]="false" />
      </div>

      <button
        class="d-md-none mobile-filter-toggle btn btn-link btn-link-action link-decoration-hover"
        type="button"
        (click)="toggle()"
      >
        {{ 'search.mobile.filter.trigger' | translate }}
        <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
      </button>

      <!-- DISABLED VIEW CONTEXT --
      <div class="marketing-area">
        @if (category.categoryRef) {
        <ish-content-viewcontext
          viewContextId="viewcontext.include.family.navigation"
          [callParameters]="{ Category: category.categoryRef }"
        />
        }
      </div>
      -- DISABLED VIEW CONTEXT -->
    </div>
    <div class="col-md-9">
      <ish-breadcrumb />
      <h1>{{ category.name }}</h1>

      <!-- DISABLED VIEW CONTEXT --
      <div class="marketing-area">
        @if (category.categoryRef) {
        <ish-content-viewcontext
          viewContextId="viewcontext.include.family.content.top"
          [callParameters]="{ Category: category.categoryRef }"
        />
        }
      </div>
      -- DISABLED VIEW CONTEXT -->

      <ish-product-listing
        fragmentOnRouting="family-page-top"
        [categoryId]="category.uniqueId"
        [productListingId]="{ type: 'category', value: category.uniqueId }"
      />

      <!-- DISABLED VIEW CONTEXT --
      <div class="marketing-area">
        @if (category.categoryRef) {
        <ish-content-viewcontext
          viewContextId="viewcontext.include.family.content.bottom"
          [callParameters]="{ Category: category.categoryRef }"
        />
        }
      </div>
      -- DISABLED VIEW CONTEXT -->
    </div>
  </div>

  <!-- DISABLED VIEW CONTEXT --
  <div class="marketing-area">
    @if (category.categoryRef) {
    <ish-content-viewcontext
      viewContextId="viewcontext.include.family.base.bottom"
      [callParameters]="{ Category: category.categoryRef }"
    />
    }
  </div>
  -- DISABLED VIEW CONTEXT -->
</div>
