<div *ngIf="selected" class="row">
  <div class="col-md-10">
    <div *ngFor="let select of selected" class="filter-navigation-badges">
      <a (click)="apply(select.searchParameter)">
        {{ select.filterName }}: {{ select.displayName }}
        <fa-icon [icon]="['fas', 'times']" class="form-control-feedback"></fa-icon>
      </a>
    </div>
  </div>
  <div *ngIf="selected.length" class="col-md-2 text-right">
    <a (click)="clear()">{{ 'product.remove_all_product_filters.text' | translate }}</a>
  </div>
</div>
