

<div class="modal-header">
  <button type="button" class="close" [attr.aria-label]="'dialog.close.text' | translate" (click)="hide()"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" *ngIf="!!quote">
    <!-- Titel and Description -->
    <ng-container *ngIf="quote.displayName; else noDisplayName">
      {{ 'quote.edit.unsubmitted.quote_request_details.text' | translate}} - {{ quote.displayName }}
    </ng-container>
    <ng-template #noDisplayName>
      {{ 'quote.edit.unsubmitted.quote_request_details.text' | translate }} - {{ quote.number }}
    </ng-template>
  </h2>
</div>

<form [formGroup]="form" class="form-horizontal form-horizontal-inline">
  <div class="modal-body">
    <ng-container *ngIf="!!quote">

      <div class="row">
        <label class="col-4 col-md-3 col-xl-2 col-form-label">{{ 'quote.edit.unsubmitted.quote_no.label' | translate }}</label>
        <div class="col-8 col-md-9 col-xl-10">
          <p class="form-control-plaintext">{{ quote.number }}</p>
        </div>
      </div>

      <div class="row">
        <label class="col-4 col-md-3 col-xl-2 col-form-label ">{{ 'quote.edit.unsubmitted.status.label' | translate }}</label>
        <div class="col-8 col-md-9 col-xl-10">
          <p class="form-control-plaintext"><ish-quote-state [quote]="quote"></ish-quote-state></p>
        </div>
      </div>

      <div class="section">
        <!-- displayName -->
        <ish-input
          [form]="form"
          controlName="displayName"
          label="quote.edit.unsubmitted.name.label"
          labelClass="col-4 col-md-3 col-xl-2"
          inputClass="col-8 col-md-9 col-xl-10"
          maxLength="256"
          [placeholderText]="'quote.edit.unsubmitted.enter_an_optional_name.text'"
          [errorMessages]="{
            'required':'shopping_cart.quote.name.required.validation.message'
          }"
        ></ish-input>

        <div class="row form-group">
          <label for="#SHOUD_EQUAL_TEXTAREA_ID#" class="col-form-label col-4 col-md-3 col-xl-2">{{ 'quote.edit.unsubmitted.comment.label' | translate }}</label>
          <div class="col-8 col-md-9 col-xl-10">
            <textarea
              formControlName="description"
              class="form-control"
              [placeholder]="'quote.edit.unsubmitted.provide_comment.text' | translate"
            >
            </textarea>
            <!-- ><isif condition="#QuoteEditForm:Invalid#"><isprint value="#QuoteEditForm:Description:Value#"><iselse><isprint value="#Quote:Description#"></isif></textarea> -->
          </div>
        </div>

      </div>

      <!--- Quote Item List -->
      <div class="section">
        <h3>{{ 'quote.items.table.heading' | translate }}</h3>
        <ish-line-item-list
          *ngIf="quote.items"
          [lineItems]="quote.items"
          [editable]="quote.state === 'New'"
          [total]="quote.total"
          (formChange)="onFormChange($event)"
          (deleteItem)="onDeleteItem($event)"
        ></ish-line-item-list>
      </div>
    </ng-container>

    <ish-loading *ngIf="quoteLoading"></ish-loading>

  </div>

  <div class="modal-footer">

    <div class="d-none d-md-block clearfix pull-left">
        <a routerLink="/account/quote-list" (click)="hide()">{{ 'quote.edit.back_to_quotes.link' | translate }}</a>
    </div>

    <div class="d-md-none row form-group pull-left">
      <div class="col-6">
        <a routerLink="/account/quote-list" (click)="hide()">{{ 'quote.edit.back_to_quotes.link' | translate }}</a>
      </div>
    </div>

    <button
      *ngIf="quote"
      [routerLink]="'/account/quote-request/' + quote.id"
      type="submit"
      class="btn btn-default"
      [disabled]="!quote"
      (click)="update()"
    >
      {{ 'quote.edit.button.save.label' | translate }}
    </button>
    <button
      *ngIf="quote"
      [routerLink]="'/account/quote-request/' + quote.id"
      type="submit"
      class="btn btn-primary"
      [disabled]="quote.items.length === 0"
      (click)="submit()"
    >
      {{ 'quote.edit.button.submit.label' | translate }}
    </button>
  </div>
</form>
