<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal bv-form" novalidate="novalidate">

  <!--ish-email-password component-->
  <h2>Email & Password</h2>
  <p>You will use your email address and password to access your account on future visits.</p>
  <div class="section">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <p class="indicates-required"><span class="required">*</span>Required field</p>
        <ish-registration-credentials-form
          [parentForm]="form"
          controlName="credentials"
          [emailOptIn]="emailOptIn"></ish-registration-credentials-form>
      </div>
    </div>
  </div>


  <h2>Address</h2>
  <div>
    <p>
        To save time when placing an order, please provide your primary invoice or shipping address below. We will maintain this
        information so you won't have to enter it again.
    </p>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <ish-address-form
          [parentForm]="form"
          controlName="address"
          [countryCode]="countryCode"
          [regions]="regions"
          [countries]="countries"></ish-address-form>

        <!-- phone number -->
        <ish-input
          controlName="phoneHome"
          [form]="form"
          label="Phone"></ish-input>

        <ish-registration-personal-form
          [parentForm]="form"
          [languages]="languages"></ish-registration-personal-form>
      </div>
    </div>
  </div>


  <ish-captcha [parentForm]="form" controlName="captcha"></ish-captcha>


  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <div class="form-group">
        <button type="submit" [disabled]="formDisabled" class="btn btn-primary">Create Account</button>
        <button type="button" class="btn btn-default" (click)="cancelForm()">Cancel</button>
      </div>
    </div>
  </div>

</form>

