<p>{{ 'helpdesk.contactus.prolog' | translate }}</p>

<p class="indicates-required"><span class="required">*</span>{{ 'helpdesk.contactus.indicates' | translate }}</p>

<form
  class="form-horizontal"
  [formGroup]="notificationEditForm"
  name="ProductNotificationEditForm"
  (ngSubmit)="submitForm()"
>
  <formly-form [form]="notificationEditForm" [fields]="fields"></formly-form>

  <div class="row form-group">
    <div>
      <button type="submit" value="Update" name="update" class="btn btn-primary">
        {{ 'product.notification.edit.form.update.button.label' | translate }}
      </button>
      <button type="submit" value="Cancel" name="cancel" class="btn btn-secondary">
        {{ 'product.notification.edit.form.cancel.button.label' | translate }}
      </button>
    </div>
  </div>
</form>
