<ng-container *ishBrowserLazyView>
  <ng-container *ngIf="recentlyProducts$ | async as products">
    <div *ngIf="products.length" class="product-list-container" data-testing-id="recently-viewed">
      <h2>{{ 'recentlyViewed.component.heading' | translate }}</h2>

      <ish-products-list [productSKUs]="products" listStyle="carousel" listItemStyle="tile" />

      <a
        [routerLink]="['/recently']"
        class="view-all"
        data-testing-id="view-all"
        [attr.aria-label]="'common.view_all.link.label' | translate"
        >{{ 'common.view_all.link' | translate }}</a
      >
    </div>
  </ng-container>
</ng-container>
