<!-- NEEDS_WORK: DUMMY COMPONENT -->
<div class="clearfix">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="contact col-lg-4 clearfix">
          <fa-icon [icon]="['fas', 'phone']" class="header-icon"></fa-icon>
          <h4>Contact</h4>
          <span>{{'common.header.contact_no.text' | translate}}</span>
        </div>
        <div class="col-lg-4 clearfix">
        </div>
        <div class="social-links clearfix">
          <h4><strong>CONNECT</strong> WITH US</h4>
          <ul>
            <li><a class="icon-svg icon-facebook" title="Facebook" target="_blank" href="http://www.facebook.com/"></a></li>
            <li><a class="icon-svg icon-twitter" title="twitter" target="_blank" href="http://www.twitter.com/"></a></li>
            <li><a class="icon-svg icon-youtube" title="Youtube" target="_blank" href="http://www.youtube.com/"></a></li>
            <li><a class="icon-svg icon-vimeo" title="Vimeo" target="_blank" href="http://www.vimeo.com/"></a></li>
            <li><a class="icon-svg icon-pinterest" title="Pinterest" target="_blank" href="http://www.pinterest.com/"></a></li>
            <li><a class="icon-svg icon-googleplus" title="Google plus" target="_blank" href="http://plus.google.com/"></a></li>
            <li><a class="icon-svg icon-instagram" title="Instagram" target="_blank" href="http://instagram.com//"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <p class="disclaimer"><strong>Disclaimer: </strong>We advise you that this inSPIRED demo shop is a shop for demonstration only and all
          contents are of exemplary nature for demonstration and illustration purposes solely. Intershop Communications
          AG does not guarantee and accepts no liability for correctness, completeness and up-to-dateness of the contents
          provided. The contents of the demo shop must not be adopted or copied to your shop or otherwise being used by
          you.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <h4 class="d-md-none link-group-title" (click)="collapsed[0] = !collapsed[0]">
            <span style="text-transform: none;">in</span>
            SPIRED
            <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
          </h4>
          <h4 class="d-none d-md-block"><span style="text-transform: none;">in</span>SPIRED</h4>
          <div class="link-group" [ngbCollapse]="collapsed[0]">
            <ul>
              <li><a [routerLink]="'/page/aboutUs'">About Us</a></li>
              <li><a [routerLink]="'/page/termsAndConditions'">Terms &amp; Conditions</a></li>
              <li><a [routerLink]="'/page/privacyPolicy'">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
              <li><a [routerLink]="'/page/help'">Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <h4 class="d-md-none link-group-title" (click)="collapsed[1] = !collapsed[1]">
            SERVICE
            <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
          </h4>
          <h4 class="d-none d-md-block">SERVICE</h4>
          <div class="link-group" [ngbCollapse]="collapsed[1]">
            <ul>
              <li><a href="">Frequently Asked Questions</a></li>
              <li><a href="">Ordering, Shipping and Payment</a></li>
              <li><a href="">Return Policy</a></li>
              <li><a href="">Gift Services</a></li>
              <li><a href="">Safety, Security &amp; Privacy</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <h4 class="d-md-none link-group-title" (click)="collapsed[2] = !collapsed[2]">
            MY ACCOUNT
            <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
          </h4>
          <h4 class="d-none d-md-block">MY ACCOUNT</h4>
          <div class="link-group" [ngbCollapse]="collapsed[2]">
            <ul>
              <li><a rel="nofollow" href="">Order History</a></li>
              <li><a rel="nofollow" href="">Wish Lists</a></li>
              <li><a rel="nofollow" href="">Gift Cards &amp; Certificates</a></li>
              <li><a rel="nofollow" href="">Gift Card Balance Lookup</a></li>
              <li><a rel="nofollow" href="">Saved Payment Information</a></li>
              <li><a rel="nofollow" href="">Saved Addresses</a></li>
              <li><a rel="nofollow" href="">Profile Settings</a></li>
              <li><a rel="nofollow" href="">Product Notifications</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <h4 class="d-md-none link-group-title" (click)="collapsed[3] = !collapsed[3]">
              TOP CATEGORIES
              <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
            </h4>
          <h4 class="d-none d-md-block">TOP CATEGORIES</h4>
          <div class="link-group" [ngbCollapse]="collapsed[3]">
            <ul>
              <li><a routerLink="/category/Cameras-Camcorders.832">Action Cameras</a></li>
              <li><a routerLink="/category/Home-Entertainment.220">TVs and Projectors</a></li>
              <li><a routerLink="/category/Computers.3001">Monitors</a></li>
              <li><a routerLink="/category/Home-Entertainment.1058.1082">Home Cinema Systems</a></li>
              <li><a routerLink="/category/Computers.897">Tablets</a></li>
              <li><a routerLink="/category/Computers.1835.151">Notebooks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <h4 class="d-md-none link-group-title" (click)="collapsed[4] = !collapsed[4]">
            TOP PRODUCTS
            <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
          </h4>
          <h4 class="d-none d-md-block">TOP PRODUCTS</h4>
          <div class="link-group" [ngbCollapse]="collapsed[4]">
            <ul>
              <li><a routerLink="/category/Cameras-Camcorders.832/product/8182790134362">GoPro Hero 4 Silver</a></li>
              <li><a routerLink="/category/Home-Entertainment.220.1584/product/8806086011815">Samsung Full HD 3D Smart TV</a></li>
              <li><a routerLink="/product/3953312">Canon LEGRIA HF R16</a></li>
              <li><a routerLink="/product/8806086070188">Samsung Galaxy NotePRO 4G </a></li>
              <li><a routerLink="/product/689796">Wrist Rest Fellowes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <h4 class="d-md-none link-group-title" (click)="collapsed[5] = !collapsed[5]">
            DEMO CONTENT
            <fa-icon class="link-group-icon" [icon]="['fas', 'angle-down']"></fa-icon>
          </h4>
          <h4 class="d-none d-md-block">DEMO CONTENT</h4>
          <div class="link-group" [ngbCollapse]="collapsed[5]">
            <ul>
              <li><a href="" title="Demo Content provided by Icecat" class="cms-footer-longLinks">Icecat Content</a></li>
              <li><a href="" title="Demo Content Disclaimer">Demo Disclaimer</a></li>
              <!-- <li><a (click)="addDUMMYModal.show()" title="Open Modal">Modal</a></li> -->
              <li><a routerLink="/error" title="Error Page">Error</a></li>
              <li><a routerLink="/" title="Root Route">Root</a></li>
              <li><a routerLink="/basket" title="Basket Page">Basket</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <p class="copyright">© 2018 INTERSHOP Communications AG. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>





