.flex-microform {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: 'robotoregular', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size-adjust: none;
  font-stretch: 100%;
  line-height: 20px;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px 0 inset;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
}

/* different styling for a specifc container */

/* #securityCode-container.flex-microform { */

/* background: purple; */

/* } */

/* .flex-microform-focused {} */

/* .flex-microform-valid {} */

.flex-microform-valid.flex-microform-focused {
  border-top-color: rgb(32, 181, 181);
  border-right-color: rgb(32, 181, 181);
  border-bottom-color: rgb(32, 181, 181);
  border-left-color: rgb(32, 181, 181);
  box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
}

/* .flex-microform-autocomplete {} */
