<!-- error messages -->
@if (errorMessage.general.message) {
  <p class="text-danger col-sm-offset-4">
    {{ errorMessage.general.message | translate }}
  </p>
}

<div [formGroup]="cyberSourceCreditCardForm">
  <!-- Containers in which we will load microform -->
  <div class="row form-group" [ngClass]="{ 'has-error': errorMessage?.number.message }">
    <label class="col-form-label col-md-4" for="number-container"
      >{{ 'checkout.credit_card.number.label' | translate }}<span aria-hidden="true" class="required">*</span></label
    >
    <div class="col-sm-6">
      <div class="iframe-container form-control" id="number-container"></div>
      @if (errorMessage.number?.message) {
        <small class="validation-message">{{ errorMessage.number.message | translate }}</small>
      }
    </div>
  </div>

  <!-- Expiry date mm-yyyy -->
  <div
    class="row form-group has-feedback"
    [ishShowFormFeedback]="[
      cyberSourceCreditCardForm.controls.expirationMonth,
      cyberSourceCreditCardForm.controls.expirationYear,
    ]"
  >
    <label class="col-form-label col-md-4" for="month"
      >{{ 'checkout.credit_card.expiration_date.label' | translate
      }}<span aria-hidden="true" class="required">*</span></label
    >
    <div class="col-sm-6">
      <div class="clearfix row">
        <div class="col-6">
          <select
            class="form-control"
            data-testing-id="expirationMonth"
            formControlName="expirationMonth"
            id="cybersource_creditcard_month"
            [attr.aria-label]="'checkout.credit_card.expiration_month.select.label' | translate"
          >
            <option value="">{{ 'account.date.month' | translate }}</option>
            @for (option of monthOptions; track $index) {
              <option [value]="option.value">{{ option.label | translate }}</option>
            }
          </select>
          <ish-form-control-feedback
            [control]="cyberSourceCreditCardForm.controls.expirationMonth"
            [messages]="{ required: 'account.date.month.error.required' }"
          />
        </div>
        <div class="col-6">
          <select
            class="form-control"
            data-testing-id="expirationYear"
            formControlName="expirationYear"
            id="cybersource_creditcard_year"
            [attr.aria-label]="'checkout.credit_card.expiration_year.select.label' | translate"
          >
            <option value="">{{ 'account.date.year' | translate }}</option>
            @for (option of yearOptions; track $index) {
              <option [value]="option.value">{{ option.label | translate }}</option>
            }
          </select>
          <ish-form-control-feedback
            [control]="cyberSourceCreditCardForm.controls.expirationYear"
            [messages]="{ required: 'account.date.year.error.required' }"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- security code CVC -->
  <div class="row form-group" [ngClass]="{ 'has-error': errorMessage.securityCode?.message }">
    <label class="col-form-label col-md-4" for="securityCode-container"
      >{{ 'checkout.credit_card.cvc.label' | translate }}<span aria-hidden="true" class="required">*</span></label
    >
    <div class="col-sm-6">
      <div class="iframe-container form-control" id="securityCode-container"></div>
      @if (errorMessage.securityCode?.message) {
        <small class="validation-message">{{ errorMessage.securityCode.message | translate }}</small>
      }
    </div>
    <div>
      <ng-template #CVCHelp>
        <span [innerHTML]="'checkout.credit_card.cvc.popover.content' | translate"></span>
      </ng-template>
      <button
        class="btn btn-link details-tooltip"
        placement="auto"
        type="button"
        [ngbPopover]="CVCHelp"
        [popoverTitle]="'checkout.credit_card.cvc.popover.title' | translate"
      >
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
  </div>
</div>

@if (paymentMethod) {
  <ish-payment-save-checkbox [form]="cyberSourceCreditCardForm" [paymentMethod]="paymentMethod" />
}

<div class="offset-md-4 col-md-8">
  <div class="form-group">
    <input
      class="btn btn-primary"
      type="button"
      value="{{ 'checkout.account.submit.button.label' | translate }}"
      (click)="submitNewPaymentInstrument()"
    />
    <button class="btn btn-secondary" type="button" (click)="cancelNewPaymentInstrument()">
      {{ 'checkout.cancel.button.label' | translate }}
    </button>
  </div>
</div>
