<ish-info-box
  class="infobox-wrapper h-100"
  cssClass="infobox-color-widget d-flex flex-column"
  heading="account.ordertemplates.widget.heading"
>
  <div class="loading-container">
    @if ((loading$ | async) !== true) {
      <div class="pb-2">
        @if (orderTemplates$ | async; as orderTemplates) {
          @if (orderTemplates.length) {
            @for (orderTemplate of orderTemplates; track orderTemplate.id) {
              <div class="mb-2">
                <a [routerLink]="['/account/order-templates/', orderTemplate.id]">{{ orderTemplate.title }}</a>
                @if (orderTemplate.itemsCount && orderTemplate.itemsCount > 0) {
                  <div class="float-end align-top">
                    <button
                      class="btn btn-link p-0"
                      data-testing-id="addToCartButton"
                      name="addProduct"
                      type="button"
                      [attr.aria-label]="'product.add_to_cart.link' | translate"
                      [tabindex]="0"
                      [title]="'product.add_to_cart.link' | translate"
                      (click)="openModal(modal)"
                    >
                      <i class="bi bi-cart-fill"></i>
                    </button>
                    <ish-order-template-add-to-cart-dialog #modal [orderTemplate]="orderTemplate" />
                  </div>
                }
              </div>
            }
          } @else {
            {{ 'account.order_template.list.no_templates.text' | translate }}
          }
        } @else {
          {{ 'account.order_template.list.no_templates.text' | translate }}
        }
      </div>
    } @else {
      <ish-loading />
    }
  </div>

  <div class="mt-auto">
    <a data-testing-id="order-templates-list-link" routerLink="/account/order-templates">
      {{ 'account.ordertemplates.widget.view_all.link' | translate }}
    </a>
  </div>
</ish-info-box>
