<ish-info-box
  heading="account.ordertemplates.widget.heading"
  class="infobox-wrapper h-100"
  cssClass="infobox-color-widget d-flex flex-column"
>
  <div class="loading-container">
    <div *ngIf="(loading$ | async) !== true; else loading" class="pb-2">
      <ng-container *ngIf="orderTemplates$ | async as orderTemplates; else emptyList">
        <ng-container *ngIf="orderTemplates.length; else emptyList">
          <div *ngFor="let orderTemplate of orderTemplates" class="mb-2">
            <a [routerLink]="['/account/order-templates/', orderTemplate.id]">{{ orderTemplate.title }}</a>
            <a *ngIf="orderTemplate.items?.length" class="align-top float-right">
              <ish-product-add-to-basket
                ishProductContext
                [parts]="getParts(orderTemplate)"
                displayType="icon"
                cssClass="p-0 mb-0"
              />
            </a>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #emptyList>
        {{ 'account.order_template.list.no_templates.text' | translate }}
      </ng-template>
    </div>
  </div>

  <div class="mt-auto">
    <a routerLink="/account/order-templates" data-testing-id="order-templates-list-link">
      {{ 'account.ordertemplates.widget.view_all.link' | translate }}
    </a>
  </div>
</ish-info-box>

<ng-template #loading>
  <ish-loading />
</ng-template>
