@if (orderTemplates?.length > 0) {
  <div class="section">
    <table
      cdk-table
      class="table table-lg mobile-optimized"
      data-testing-id="order-template-list"
      [dataSource]="orderTemplates"
    >
      <!-- Order template name -->
      <ng-container cdkColumnDef="title">
        <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-template-title" scope="col">
          {{ 'account.order_template.list.table.template' | translate }}
        </th>
        <td
          *cdkCellDef="let orderTemplate"
          cdk-cell
          [attr.data-label]="'account.order_template.list.table.template' | translate"
        >
          <a
            data-testing-id="order-template-list-title"
            [routerLink]="'/account/order-templates/' + orderTemplate.id"
            (click)="loadOrderTemplateDetails(orderTemplate.id)"
          >
            {{ orderTemplate.title }}
          </a>
        </td>
      </ng-container>
      <!-- Creation date -->
      <ng-container cdkColumnDef="creationDate">
        <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-template-creation-date" scope="col">
          {{ 'account.order_template.list.table.created' | translate }}
        </th>
        <td
          *cdkCellDef="let orderTemplate"
          cdk-cell
          [attr.data-label]="'account.order_template.list.table.created' | translate"
        >
          {{ orderTemplate.creationDate | ishDate: 'shortDate' }}
        </td>
      </ng-container>
      <!-- Number of line items -->
      <ng-container cdkColumnDef="lineItems">
        <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-template-line-items" scope="col">
          {{ 'account.order_template.list.table.item' | translate }}
        </th>
        <td
          *cdkCellDef="let orderTemplate"
          cdk-cell
          [attr.data-label]="'account.order_template.list.table.item' | translate"
        >
          {{ 'account.order_template.items' | translate: { '0': orderTemplate.itemsCount } }}
        </td>
      </ng-container>
      <!-- Actions -->
      <ng-container cdkColumnDef="actions">
        <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-template-actions" scope="col"></th>
        <td *cdkCellDef="let orderTemplate" cdk-cell class="column-price">
          @if (orderTemplate.itemsCount > 0) {
            <button
              class="btn-tool btn-link"
              data-testing-id="addBasketToOrderTemplateButton"
              type="button"
              (click)="openModal(modal)"
            >
              @if ((loadingOrderTemplateId$ | async) !== orderTemplate.id) {
                <!-- Add to Cart button -->
                <i class="bi bi-cart-fill"></i>
              } @else {
                <!-- button with spinning animation after Add to Cart -->
                <i class="bi bi-arrow-clockwise spin-icon"></i>
              }
            </button>

            <ish-order-template-add-to-cart-dialog #modal [orderTemplate]="orderTemplate" />
          }
          <a
            class="btn-tool"
            data-testing-id="order-template-details-edit"
            [routerLink]="'/account/order-templates/' + orderTemplate.id"
            [title]="'account.order_template.edit.heading' | translate"
            ><i class="bi bi-pencil-fill"></i
          ></a>
          <button
            class="btn-tool btn-link"
            data-testing-id="delete-order-template"
            title="{{ 'account.order_template.list.link.remove' | translate }}"
            type="button"
            (click)="openDeleteConfirmationDialog(orderTemplate, deleteDialog)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </ng-container>
      <!-- Header and Row Declarations -->
      <tr *cdkHeaderRowDef="columnsToDisplay" cdk-header-row></tr>
      <tr *cdkRowDef="let row; columns: columnsToDisplay" cdk-row data-testing-id="order-template-list-item"></tr>
    </table>
  </div>
} @else {
  <p data-testing-id="emptyList">{{ 'account.order_template.list.no_templates.text' | translate }}</p>
}

<!-- the title will be set dynamically -->
<ish-modal-dialog
  #deleteDialog
  [options]="{
    confirmText: 'account.order_template.delete.button.text' | translate,
    rejectText: 'account.cancel.button.label' | translate,
    titleText: 'undefined',
  }"
  (confirmed)="delete($event)"
>
  {{ 'account.order_template.delete.do_you_really.text' | translate }}
</ish-modal-dialog>
