<form
  [formGroup]="quickOrderForm"
  ishFormSubmit
  #quickOrderIDForm="ngForm"
  (ngSubmit)="onAddProducts()"
  [attr.aria-label]="'quickorder.page.form.label' | translate"
>
  <div class="list-header d-sm-flex">
    <div class="col-md-8 list-header-item no-seperator">{{ 'quickorder.page.product.id' | translate }}</div>
    <div class="col-md-3 list-header-item no-seperator">{{ 'quickorder.page.product.quantity' | translate }}</div>
  </div>

  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="quickOrderForm" class="pt-1" />
  @if ((quickOrderForm.pristine || quickOrderForm.invalid) && quickOrderIDForm.submitted) {
    <div id="submit-button-help" aria-live="polite" class="visually-hidden">
      {{ 'form.submit.validation.message' | translate }}
    </div>
  }
  <div class="pb-2">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.aria-describedby]="
        (quickOrderForm.pristine || quickOrderForm.invalid) && quickOrderIDForm.submitted ? 'submit-button-help' : null
      "
      data-testing-id="add-form-to-cart"
    >
      {{ 'quickorder.page.add.cart' | translate }}
    </button>

    <button type="button" class="btn btn-link" (click)="reset()">
      {{ 'quickorder.page.reset.form' | translate }}
    </button>
  </div>
</form>
