<ish-error-message [error]="error$ | async" />

<div data-testing-id="account-create-full-page">
  <form #registrationForm="ngForm" ishFormSubmit novalidate [formGroup]="form" (ngSubmit)="onCreate()">
    <formly-form [fields]="fields" [form]="form" [model]="model" [options]="options" />
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="row form-group">
          <div class="offset-md-4 col-md-8">
            @if (form.invalid && registrationForm.submitted) {
            <div aria-live="polite" class="visually-hidden" id="submit-button-help">
              {{ 'form.submit.validation.message' | translate }}
            </div>
            }
            <input
              class="btn btn-primary"
              type="submit"
              [attr.aria-describedby]="form.invalid && registrationForm.submitted ? 'submit-button-help' : null"
              value="{{ 'account.create.button.label' | translate }}"
            />
            <input
              class="btn btn-secondary"
              type="button"
              value="{{ 'account.cancel.link' | translate }}"
              (click)="cancelForm()"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

@defer {
<ish-address-doctor />
} @if (loading$ | async) {
<ish-loading />
}
