<ish-error-message [error]="error$ | async" />

<div data-testing-id="account-create-full-page">
  <form [formGroup]="form" ishFormSubmit #registrationForm="ngForm" (ngSubmit)="onCreate()" novalidate>
    <formly-form [model]="model" [form]="form" [options]="options" [fields]="fields" />
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="row form-group">
          <div class="offset-md-4 col-md-8">
            <input
              class="btn btn-primary"
              [ngClass]="{ disabled: form.invalid && registrationForm.submitted }"
              type="submit"
              [attr.aria-disabled]="form.invalid && registrationForm.submitted"
              [attr.aria-label]="
                (!form.invalid || !registrationForm.submitted
                  ? 'account.create.button.label'
                  : 'forms.required.button.label.disabled'
                ) | translate
              "
              value="{{ 'account.create.button.label' | translate }}"
            />
            <input
              type="button"
              class="btn btn-secondary"
              value="{{ 'account.cancel.link' | translate }}"
              (click)="cancelForm()"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ish-lazy-address-doctor />

<ish-loading *ngIf="loading$ | async" />
