apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pwa-main.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "pwa-main.name" . }}
    helm.sh/chart: {{ include "pwa-main.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "pwa-main.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "pwa-main.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: ICM_BASE_URL
            value: "{{ .Values.upstream.icm }}"
        {{- with .Values.environment }}
            {{- toYaml . | nindent 10 }}
        {{- end }}
          ports:
            - name: http
              containerPort: 4200
              protocol: TCP
          livenessProbe:
            {{- if empty .Values.livenessProbe }}
            {{- else }}
              {{- with .Values.livenessProbe }}
              {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
          readinessProbe:
            {{- if empty .Values.readinessProbe }}
            {{- else }}
              {{- with .Values.readinessProbe }}
              {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
