<h1>{{ 'account.requisitions.requisitions' | translate }}</h1>

<p>{{ 'account.requisitions.requisitions.text' | translate }}</p>

<nav
  class="nav-tabs"
  ngbNav
  [attr.aria-label]="'account.requisitions.requisitions.tabs.aria_label' | translate"
  [(activeId)]="status"
>
  <!-- Pending Requisitions -->
  <ng-container ngbNavItem="PENDING">
    <a data-testing-id="tab-link-pending" ngbNavLink [routerLink]="['../buyer', { status: 'PENDING' }]">{{
      'account.requisitions.requisitions.navtab.pending' | translate
    }}</a>
  </ng-container>

  <!-- Approved Requisitions -->
  <ng-container ngbNavItem="APPROVED">
    <a data-testing-id="tab-link-approved" ngbNavLink [routerLink]="['../buyer', { status: 'APPROVED' }]">{{
      'account.requisitions.requisitions.navtab.approved' | translate
    }}</a>
  </ng-container>

  <!-- Rejected Requisitions -->
  <ng-container ngbNavItem="REJECTED">
    <a data-testing-id="tab-link-rejected" ngbNavLink [routerLink]="['../buyer', { status: 'REJECTED' }]">{{
      'account.requisitions.requisitions.navtab.rejected' | translate
    }}</a>
  </ng-container>
</nav>

<div class="section loading-container">
  <ish-error-message [error]="error$ | async" />

  <ish-requisitions-list
    [columnsToDisplay]="columnsToDisplay"
    [requisitions]="requisitions$ | async"
    [status]="status$ | async"
  />

  @if (loading$ | async) {
    <ish-loading />
  }
</div>
