<h1>{{ 'account.requisitions.requisitions' | translate }}</h1>

<p>{{ 'account.requisitions.requisitions.text' | translate }}</p>

<nav
  ngbNav
  class="nav-tabs"
  [(activeId)]="status"
  [attr.aria-label]="'account.requisitions.requisitions.tabs.aria_label' | translate"
>
  <!-- Pending Requisitions -->
  <ng-container ngbNavItem="PENDING">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'PENDING' }]" data-testing-id="tab-link-pending">{{
      'account.requisitions.requisitions.navtab.pending' | translate
    }}</a>
  </ng-container>

  <!-- Approved Requisitions -->
  <ng-container ngbNavItem="APPROVED">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'APPROVED' }]" data-testing-id="tab-link-approved">{{
      'account.requisitions.requisitions.navtab.approved' | translate
    }}</a>
  </ng-container>

  <!-- Rejected Requisitions -->
  <ng-container ngbNavItem="REJECTED">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'REJECTED' }]" data-testing-id="tab-link-rejected">{{
      'account.requisitions.requisitions.navtab.rejected' | translate
    }}</a>
  </ng-container>
</nav>

<div class="section loading-container">
  <ish-error-message [error]="error$ | async" />

  <ish-requisitions-list
    [requisitions]="requisitions$ | async"
    [status]="status$ | async"
    [columnsToDisplay]="columnsToDisplay"
  />

  <ish-loading *ngIf="loading$ | async" />
</div>
