<h1>{{ 'account.requisitions.requisitions' | translate }}</h1>

<p>{{ 'account.requisitions.requisitions.text' | translate }}</p>

<ul ngbNav class="nav-tabs" [(activeId)]="status">
  <li ngbNavItem="PENDING" role="presentation">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'PENDING' }]" data-testing-id="tab-link-pending">{{
      'account.requisitions.requisitions.navtab.pending' | translate
    }}</a>
  </li>
  <li ngbNavItem="APPROVED" role="presentation">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'APPROVED' }]" data-testing-id="tab-link-approved">{{
      'account.requisitions.requisitions.navtab.approved' | translate
    }}</a>
  </li>
  <li ngbNavItem="REJECTED" role="presentation">
    <a ngbNavLink [routerLink]="['../buyer', { status: 'REJECTED' }]" data-testing-id="tab-link-rejected">{{
      'account.requisitions.requisitions.navtab.rejected' | translate
    }}</a>
  </li>
</ul>

<div class="section loading-container">
  <ish-error-message [error]="error$ | async" />

  <ish-requisitions-list
    [requisitions]="requisitions$ | async"
    [status]="status$ | async"
    [columnsToDisplay]="columnsToDisplay"
  />

  <ish-loading *ngIf="loading$ | async" />
</div>
