<!-- error messages -->
<p *ngIf="errorMessage.general.message" class="text-danger col-sm-offset-4">
  {{ errorMessage.general.message | translate }}
</p>

<div [formGroup]="parameterForm">
  <!-- Credit card number -->
  <div class="row form-group" [ngClass]="{ 'has-error': errorMessage.cardNumber?.message }">
    <label class="col-form-label col-md-4" for="cardpanInput"
      >{{ 'checkout.credit_card.number.label' | translate }}<span class="required">*</span></label
    >
    <div class="col-sm-6">
      <div id="a_credit_card_number_container" class="iframe-container"></div>
      <small *ngIf="errorMessage.cardNumber?.messageKey" class="validation-message">{{
        errorMessage.cardNumber.messageKey | translate
      }}</small>
    </div>
  </div>

  <!-- Expiration date (month/Year)  -->
  <div
    class="row form-group has-feedback"
    [ngClass]="{ 'has-error': errorMessage.expiryMonth?.message }"
    [ishShowFormFeedback]="[parameterForm.controls.expirationMonth, parameterForm.controls.expirationYear]"
  >
    <label for="month" class="col-form-label col-md-4"
      >{{ 'checkout.credit_card.expiration_date.label' | translate }}<span class="required">*</span></label
    >
    <div class="col-sm-6">
      <div class="clearfix row">
        <div class="col-6">
          <select
            class="form-control"
            id="concardis_creditcard_month"
            formControlName="expirationMonth"
            data-testing-id="expirationMonth"
          >
            <option value="">{{ 'account.date.month' | translate }}</option>
            <option *ngFor="let option of monthOptions" [value]="option.value">{{ option.label | translate }}</option>
          </select>
          <ish-form-control-feedback
            [messages]="{ required: 'account.date.month.error.required' }"
            [control]="parameterForm.controls.expirationMonth"
          />
        </div>
        <div class="col-6">
          <select
            class="form-control"
            id="concardis_creditcard_year"
            formControlName="expirationYear"
            data-testing-id="expirationYear"
          >
            <option value="">{{ 'account.date.year' | translate }}</option>
            <option *ngFor="let option of yearOptions" [value]="option.value">{{ option.label | translate }}</option>
          </select>
          <ish-form-control-feedback
            [messages]="{ required: 'account.date.year.error.required' }"
            [control]="parameterForm.controls.expirationYear"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6 offset-sm-4">
      <small *ngIf="errorMessage.expiryMonth?.messageKey" class="validation-message">{{
        errorMessage.expiryMonth.messageKey | translate
      }}</small>
    </div>
  </div>

  <!-- CVC -->
  <div class="row form-group" [ngClass]="{ 'has-error': errorMessage.cvc?.message }">
    <label class="col-form-label col-md-4" for="cvcInput"
      >{{ 'checkout.credit_card.cvc.label' | translate }}<span class="required">*</span></label
    >
    <div class="col-3 col-md-2">
      <div id="a_verification_container" class="iframe-container"></div>
      <small *ngIf="errorMessage.cvc?.message" class="validation-message">{{
        errorMessage.cvc.messageKey | translate
      }}</small>
    </div>
    <div>
      <ng-template #CVCHelp>
        <span [innerHTML]="'checkout.credit_card.cvc.popover.content' | translate"></span>
      </ng-template>
      <button
        class="btn btn-link details-tooltip text-decoration-none"
        [ngbPopover]="CVCHelp"
        [popoverTitle]="'checkout.credit_card.cvc.popover.title' | translate"
        placement="auto"
      >
        <fa-icon [icon]="['fas', 'question-circle']" />
      </button>
    </div>
  </div>
</div>

<ish-payment-save-checkbox *ngIf="paymentMethod" [paymentMethod]="paymentMethod" [form]="parameterForm" />

<div class="row">
  <div class="offset-md-4 col-md-8">
    <input
      type="button"
      (click)="submitNewPaymentInstrument()"
      class="btn btn-primary"
      value="{{ 'checkout.account.submit.button.label' | translate }}"
    />
    <button type="button" class="btn btn-secondary" (click)="cancelNewPaymentInstrument()">
      {{ 'checkout.cancel.button.label' | translate }}
    </button>
  </div>
</div>
