<div class="input-group date-picker-custom-class">
  <input
    #d="ngbDatepicker"
    class="form-control"
    data-testing-id="date-picker"
    name="dp"
    navigation="arrows"
    ngbDatepicker
    outsideDays="collapsed"
    [attr.aria-describedby]="props.ariaDescribedByIds"
    [attr.aria-invalid]="showError ? 'true' : undefined"
    [attr.aria-label]="props.ariaLabel | translate"
    [attr.aria-required]="props.required ? 'true' : undefined"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [markDisabled]="markDateDisable$ | async"
    [maxDate]="maxDate$ | async"
    [minDate]="minDate$ | async"
    [ngClass]="props.inputClass"
  />

  <button
    aria-expanded="false"
    aria-haspopup="dialog"
    class="input-group-text btn btn-secondary mb-0 me-0"
    data-testing-id="btn-date-picker"
    type="button"
    [disabled]="props.disabled"
    title="{{ 'checkout.shipping.calendar.title' | translate }}"
    (click)="d.toggle()"
  >
    <i class="bi bi-calendar-event-fill text-primary"></i>
  </button>
</div>
