import { Injectable } from '@angular/core';
import { Store, select } from '@ngrx/store';

import { get<%= classify(name) %>State } from '../store/<%= dasherize(name) %>-store';

// tslint:disable:member-ordering
@Injectable({ providedIn: 'root' })
export class <%= classify(name) %>Facade {
  constructor(private store: Store<{}>) {}

  /**
   * example for debugging
   */
  <%= camelize(name) %>State$ = this.store.pipe(select(get<%= classify(name) %>State));
}
