<div *ngIf="product.inStock && product.availability" class="add-to-cart">

  <button type="submit" name="addProduct" class="btn"
    [ngClass]="class"
    [class.btn-primary]="!(displayType === 'glyphicon')"
    [disabled]="disabled"
    [attr.title]="'product.add_to_cart.link' | translate"
    data-testing-id="addToCartButton"
    (click)="addToBasket()"
  >

    <ng-container *ngIf="displayType === 'glyphicon'; else defaultButton">
      <span class="glyphicon glyphicon-shopping-cart"></span>
    </ng-container>

    <ng-template #defaultButton>
      {{'product.add_to_cart.link' | translate}}
    </ng-template>

  </button>

</div>
