<div class="marketing-area"></div>

<div class="category-page" data-testing-id="Cameras-Camcorders">
  <div class="row">

    <div class="col-sm-3">
      <div class="category-panel">
        <h1>{{category?.name}}</h1>
        <is-category-navigation></is-category-navigation>
      </div>
    </div>
    <div class="col-sm-9">
      <ng-container *ngIf="category">
        <ng-container *ngIf="category.hasOnlineSubCategories; then categoryPage else familyPage"></ng-container>

        <ng-template #categoryPage>
          <is-category-list [categories]="category.subCategories"></is-category-list>
        </ng-template>

        <ng-template #familyPage>
          <h2>do family page stuff</h2>
        </ng-template>

      </ng-container>
    </div>
  </div>
</div>
