<div class="d-flex">
  <a
    *ngIf="showPrevious"
    class="btn btn-link control-previous"
    (click)="changeToPage(currentPage - 1)"
    (keyup.enter)="changeToPage(currentPage - 1)"
    tabindex="0"
    role="button"
  >
    {{ 'product.compare.previous.button.label' | translate }}
  </a>
  <a
    *ngIf="showNext"
    class="btn btn-link control-next ml-auto"
    (click)="changeToPage(currentPage + 1)"
    (keyup.enter)="changeToPage(currentPage + 1)"
    tabindex="0"
    role="button"
  >
    {{ 'product.compare.next.button.label' | translate }}
  </a>
</div>
