<!-- NEEDS_WORK: error handling -->
<div *ngIf="errorUser === 'LoginAlreadyInUse'" role="alert" class="alert alert-danger">
  {{errorMessage() | translate}}
</div>
<form isFormValidation [formGroup]="simpleRegistrationForm" class="form-horizontal bv-form" (ngSubmit)="createAccount()">
  <p>{{'account.create_user.message' | translate}} {{ isUsername ? ('account.create_user.username.message' | translate) : ''}} {{('account.create_user.email_password.message' | translate)}}</p>

  <is-input *ngIf="isUsername"
    [form]="simpleRegistrationForm"
    [formName]="'simpleRegistrationForm'"
    [controlName]="'userName'"
    [label]="'account.create_user.login.label'"
    [labelClass]="'col-sm-3'"
    [inputClass]="'col-sm-6'"
    [markRequiredLabel]="'off'"
    [errorMessages]="{'required':'account.login.username.error.required'}"
  ></is-input>

  <is-input
    [form]="simpleRegistrationForm"
    [formName]="'simpleRegistrationForm'"
    [controlName]="'email'"
    [type]="'email'"
    [label]="'account.register.email.label'"
    [labelClass]="'col-sm-3'"
    [inputClass]="'col-sm-6'"
    [markRequiredLabel]="'off'"
    [errorMessages]="{'required':'account.login.email.error.required' ,'email':'account.login.email.error.invalid'}"
  ></is-input>

  <is-input
    [form]="simpleRegistrationForm"
    [formName]="'simpleRegistrationForm'"
    [controlName]="'password'"
    [type]="'password'"
    [label]="'account.register.password.label'"
    [labelClass]="'col-sm-3'"
    [inputClass]="'col-sm-6'"
    [markRequiredLabel]="'off'"
    [errorMessages]="{'required':'account.update_password.new_password.error.required','pattern':'account.update_password.new_password.error.regexp','minlength':'account.update_password.new_password.error.length'}"
  >
    <small class="input-help">{{'account.register.password.extrainfo.message' | translate}}</small>
  </is-input>

  <is-input
    [form]="simpleRegistrationForm"
    [formName]="'simpleRegistrationForm'"
    [controlName]="'confirmPassword'"
    [type]="'password'"
    [label]="'account.register.password_confirmation.label'"
    [labelClass]="'col-sm-3'"
    [inputClass]="'col-sm-6'"
    [markRequiredLabel]="'off'"
    [errorMessages]="{'required':'account.register.password_confirmation.error.default','equalTo':'account.update_password.confirm_password.error.stringcompare'}"
  ></is-input>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary" type="submit" name="login" [disabled]="simpleRegistrationForm.invalid && isDirty">{{'account.create.button.label' | translate}}</button>
    </div>
  </div>
</form>
