<div class="product-tile-list row">
  <div class="col-3 col-md-2">
    <div class="product-image-container">
      <a [routerLink]="generateProductRoute(product, category)">
        <ish-product-image [product]="product" imageType="S" class="product-image"></ish-product-image>
      </a>
    </div>
  </div>
  <div class="col-9 col-md-10">
    <div class="row">
      <div class="col-8 text-left">
        <a class="product-title" [routerLink]="generateProductRoute(product, category)">{{product.name}}</a>
        <div class="product-description">
          {{product.shortDescription}}
        </div>
        <div class="product-number">
          <span class="product-number-label">{{ 'product.itemNumber.label' | translate }}</span>
          <span itemprop="sku">{{product.sku}}</span>
        </div>
        <!-- TODO: remove style attribute -->
        <div class="product-tile-actions btn-group" style="position: relative">
          <ish-product-add-to-quote
            *ishFeature="'quoting'"
            displayType="glyphicon"
            class="btn-link"
            (productToQuote)="addToQuote()"
          ></ish-product-add-to-quote>
        </div>
      </div>
      <div class="col-12 col-md-4 text-right text-left-xs">
        <ish-product-price [product]="product" [showInformationalPrice]="true"></ish-product-price>
        <ish-product-inventory [product]="product"></ish-product-inventory>
        <div class="product-list-actions-container">
          <div class="addtocart-container">
            <ish-product-add-to-basket
              [product]="product"
              (productToBasket)="addToBasket()"
            ></ish-product-add-to-basket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
