<div [formGroup]="addressForm">
  <fieldset>
    <ish-input
      [controlName]="'firstName'"
      [form]="addressForm"
      [label]="'First Name'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>

    <ish-input
      [controlName]="'lastName'"
      [form]="addressForm"
      [label]="'Last Name'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [controlName]="'addressLine1'"
      [form]="addressForm"
      [label]="'Address Line 1'"
      [errorMessages]="{'required':'account.login.username.error.required'}"
    ></ish-input>

    <ish-input
      [controlName]="'addressLine2'"
      [form]="addressForm"
      [label]="'Address Line 2'"
    ></ish-input>
  </fieldset>

  <fieldset>
    <ish-input
      [controlName]="'postalCode'"
      [form]="addressForm"
      [label]="'ZIP/Postal Code'"
    ></ish-input>

    <ish-input
      [controlName]="'city'"
      [form]="addressForm"
      [label]="'City'"
    ></ish-input>

    <ng-container *ngIf="countryCode?.length > 0">
      <ish-select-region
        [form]="addressForm"
        [countryCode]="countryCode"
      ></ish-select-region>
    </ng-container>
  </fieldset>
</div>
