  <div class="my-account-savedAddresses myAccount-addressBox">
    <h1>{{ 'account.addresses.saved_address.heading' | translate }}</h1>
  </div>

  <div class="my-account-address-list shift-content">

    <div class="myAccount-addressBook">
      <!-- display saved addresses -->
      <ng-container *ngIf="addresses && addresses.length > 0; else emptyList">

        <!-- preferred invoice address == preferred shipping address -->
        <ng-container *ngIf="hasPreferredAddresses && preferredAddressesEqual">
          <div class="section" data-testing-id="preferred-invoice-and-shipping-address">
            <h3>{{ 'account.addresses.preferredinvoiceandshipping.heading' | translate }}</h3>
            <ish-address [address]="user.preferredInvoiceToAddress"></ish-address>
          </div>
        </ng-container>

        <!-- preferred invoice address != preferred shipping address -->
        <ng-container *ngIf="!hasPreferredAddresses || !preferredAddressesEqual">

          <!-- preferred invoice address -->
          <div class="section" data-testing-id="preferred-invoice-address">
            <h3>{{ 'account.addresses.preferredinvoice.heading' | translate }}</h3>
            <ng-container *ngIf="user.preferredInvoiceToAddress; else noInvoiceToAddress">
              <ish-address [address]="user.preferredInvoiceToAddress"></ish-address>
            </ng-container>
            <ng-template #noInvoiceToAddress>
              <p class="no-address-info">{{ 'account.addresses.no_preferred_invoice_address.text' | translate }}</p>
            </ng-template>
          </div>

          <!--preferred shipping address -->
          <div class="section" data-testing-id="preferred-shipping-address">
            <h3>{{ 'account.addresses.preferredshipping.heading' | translate }}</h3>
            <ng-container *ngIf="user.preferredShipToAddress; else noShipToAddress">
              <ish-address [address]="user.preferredShipToAddress"></ish-address>
            </ng-container>
            <ng-template #noShipToAddress>
              <p class="no-address-info">{{ 'account.addresses.no_preferred_shipping_address.text' | translate }}</p>
            </ng-template>
          </div>
        </ng-container>

        <!-- further addresses -->
        <ng-container *ngIf="furtherAddresses && furtherAddresses.length > 0">
          <div class="section" data-testing-id="further-addresses">
            <h3>{{ 'account.addresses.heading' | translate }}</h3>
            <div *ngFor="let currentAddress of furtherAddresses" class="list-item-row">
              <ish-address [address]="currentAddress"></ish-address>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <!-- no saved addresses  -->
      <ng-template #emptyList>
        <p class="empty-list">{{ 'account.addresses.have_no_saved_address.text' | translate }}</p>
      </ng-template>

    </div>
  </div>



