<!-- for debugging purposes -->
<!-- <p>Form value: {{ addressForm.value | json }}</p>
<p>Form status: {{ addressForm.status | json }}</p> -->

<div [formGroup]="addressForm" data-address-form="data-address-form">
  <p class="indicates-required"><span class="required">*</span>Required field</p>

  <!-- country select -->
  <fieldset>
    <ish-select-country
      [form]="addressForm"
      [label]="'Country'"
    ></ish-select-country>
  </fieldset>

  <!-- country dependent address forms -->
  <ng-container [ngSwitch]="countryCode?.value">
    <ish-address-de [addressForm]="addressForm" *ngSwitchCase="'DE'"></ish-address-de>
    <ish-address-fr [addressForm]="addressForm" *ngSwitchCase="'FR'"></ish-address-fr>
    <ish-address-gb [addressForm]="addressForm" *ngSwitchCase="'GB'"></ish-address-gb>
    <ish-address-us [addressForm]="addressForm" *ngSwitchCase="'US'"></ish-address-us>
    <ish-address-default [addressForm]="addressForm" *ngSwitchDefault></ish-address-default>
  </ng-container>

  <!-- phone number -->
  <ish-input
    [controlName]="'phoneHome'"
    [form]="addressForm"
    [label]="'Phone'"
  ></ish-input>
</div>
