@font-face {
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto_condensedregular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto/robotocondensed-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'roboto_condensedbold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto/robotocondensed-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'robotobold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto/roboto-bold-webfont.woff') format('woff');
}
