<div *ngIf="stepConfig$ | async as config" class="d-flex flex-nowrap justify-content-between">
  <button class="btn btn-secondary no-wrap" (click)="reset()" data-testing-id="reset-configuration-button">
    Reset Configuration
  </button>
  <div>
    <div *ngIf="config.previousStep" class="d-inline-block">
      <button class="btn btn-secondary" (click)="changeStep(config.previousStep)" data-testing-id="previous-button">
        Previous
      </button>
    </div>
    <div *ngIf="config.nextStep" class="d-inline-block ml-2">
      <button class="btn btn-primary" (click)="changeStep(config.nextStep)" data-testing-id="next-button">Next</button>
    </div>
    <div *ngIf="!config.nextStep" class="d-inline-block ml-2">
      <button class="btn btn-primary" (click)="submit()" data-testing-id="submit-button">Submit</button>
    </div>
  </div>
</div>
