@if (pagelet?.hasParam('Link')) {
  @if (isRouterLink(pagelet, 'Link')) {
    <a class="teaser-link" [attr.title]="pagelet.stringParam('LinkTitle')" [routerLink]="routerLink(pagelet, 'Link')">
      <ng-container *ngTemplateOutlet="image" />
    </a>
  } @else {
    <a class="teaser-link" [attr.title]="pagelet.stringParam('LinkTitle')" [href]="pagelet.stringParam('Link')">
      <ng-container *ngTemplateOutlet="image" />
    </a>
  }
} @else {
  <ng-container *ngTemplateOutlet="image" />
}

<ng-template #image>
  <div [ngClass]="pagelet.stringParam('CSSClass')">
    <img
      loading="lazy"
      [alt]="pagelet.stringParam('AlternateText') || ('image.alt_text.default' | translate)"
      [src]="pagelet.stringParam('Image')"
    />
  </div>
</ng-template>
