@if (productSKUs$ | async; as products) { @if (products.length) { @if (listStyle === 'carousel') { @defer (on immediate)
{
<ish-products-list-carousel
  [products]="products"
  [slideItems]="slideItems"
  [listItemStyle]="listItemStyle"
  [listItemCSSClass]="listItemCSSClass"
  [listItemConfiguration]="listItemConfiguration"
/>
} } @else {
<div class="product-list row">
  @for (sku of products; track sku) {
  <div class="product-list-item" [ngClass]="listItemCSSClass">
    <ish-product-item
      ishProductContext
      [sku]="sku"
      [configuration]="listItemConfiguration"
      [displayType]="listItemStyle"
    />
  </div>
  }
</div>
} } }
