<ng-template #searchBoxTemplate let-icon="icon">
  <ish-search-box
    data-testing-id="search-box-desktop"
    [configuration]="{
      placeholder: 'search.searchbox.instructional_text' | translate,
      autoSuggest: true,
      maxAutoSuggests: 5,
      icon: icon,
    }"
    [deviceType]="deviceType"
  />
</ng-template>

<div class="header container" [ngClass]="deviceType">
  @if (!isSticky) {
  <ul class="user-links">
    @if (!isSticky && deviceType !== 'mobile') {
    <li>
      <ish-login-status data-testing-id="user-status-desktop" />
    </li>
    }
    <li *ishFeature="'compare'" class="d-none d-md-block">
      @defer {
      <ish-product-compare-status data-testing-id="compare-status-desktop" />
      }
    </li>
    <li *ishFeature="'quickorder'" class="d-none d-md-block">
      @defer {
      <ish-quickorder-link />
      }
    </li>
    <li *ishFeature="'wishlists'" class="d-none d-md-block">@defer { <ish-wishlists-link /> }</li>
  </ul>
  }

  <div class="header-utility">
    <!-- Sticky Header Search Button -->
    @if (isSticky && deviceType !== 'mobile') {
    <a
      class="btn btn-link search-toggler sticky-header-icon"
      role="button"
      tabindex="0"
      [attr.aria-label]="'search.searchbox.button.sticky_header.aria_label' | translate"
      (click)="scrollTopAndFocusSearch()"
      (keydown.enter)="scrollTopAndFocusSearch()"
    >
      <i class="bi bi-search header-icon"></i>
    </a>
    } @else {
    <a
      class="btn btn-link search-toggler sticky-header-icon"
      role="button"
      [attr.aria-label]="'search.searchbox.button.sticky_header.aria_label' | translate"
      [ngClass]="{ 'active-search': showSearch }"
      [tabindex]="isSticky ? 0 : -1"
      (click)="scrollTopAndFocusSearch()"
      (keydown.enter)="scrollTopAndFocusSearch()"
    >
      @if (isSticky) {
      <i class="bi bi-search header-icon"></i>
      }
    </a>
    @if (isSticky || showSearch) {
    <div class="search-container header-search-container" [ngClass]="{ show: !isSticky }" [ngbCollapse]="!showSearch">
      <ng-container *ngTemplateOutlet="searchBoxTemplate" />
    </div>
    } }

    <!-- Sticky Header Mobile Search -->

    <div class="language-switch-container">
      @if (!isSticky) {
      <ish-language-switch data-testing-id="language-switch-desktop" [deviceType]="deviceType" />
      }
    </div>
    @if (isSticky || deviceType === 'mobile') {
    <ish-login-status view="small" />
    }

    <ish-mini-basket
      class="d-none"
      data-testing-id="mini-basket-desktop"
      view="full"
      [ngClass]="isSticky ? 'd-lg-block' : 'd-md-block'"
    />
    <ish-mini-basket
      data-testing-id="mini-basket-mobile"
      view="small"
      [ngClass]="isSticky ? 'd-lg-none' : 'd-md-none'"
    />
  </div>
  <div class="mid-header row align-items-center justify-content-between">
    <div class="col-md-3 logo-col">
      <div class="logo-wrapper">
        @if (showDesktopLogoLink) {
        <a
          class="logo"
          data-testing-id="header-home-link-desktop"
          rel="home"
          routerLink="/home"
          [attr.aria-label]="'common.home.link' | translate"
        ></a>
        } @if (showMobileLogoLink) {
        <a
          class="mobile-logo"
          data-testing-id="header-home-link-mobile"
          rel="home"
          routerLink="/home"
          [attr.aria-label]="'common.home.link' | translate"
        ></a>
        }
      </div>
    </div>
    <div class="col-md-4">
      @if (deviceType !== 'mobile') {
      <div class="search-container header-search-container">
        <ng-container *ngTemplateOutlet="searchBoxTemplate" />
      </div>
      }
    </div>
  </div>

  <button class="navbar-toggler" type="button" (click)="toggle('navbar')">
    <span class="visually-hidden">{{ 'common.button.navbarCollapsed.text' | translate }}</span>
    <div class="hamburger-menu" [ngClass]="{ open: showNavBar }">
      <!--- strokes of the hamburger menu -->
      <span></span> <span></span> <span></span>
    </div>
  </button>

  <div class="global-nav-container">
    <nav
      class="global-nav navbar-expand-md"
      [attr.aria-label]="'navigation.main.aria_label' | translate"
      [ngbCollapse]="!showNavBar"
    >
      <div class="main-navigation">
        <ish-header-navigation />
        <ish-user-information-mobile />
      </div>
    </nav>
  </div>
</div>
