<div [formGroup]="parentForm" data-address-form="data-address-form">
  <p class="indicates-required"><span class="required">*</span>Required field</p>

  <!-- country select -->
  <fieldset>
    <ish-select-country
      [countries]="countries"
      [form]="parentForm"
      controlName="countryCodeSwitch"
      label="Country"
    ></ish-select-country>
  </fieldset>

  <!-- country dependent address forms -->
  <ng-container [ngSwitch]="countryCode">
    <ish-address-form-de *ngSwitchCase="'DE'" [addressForm]="addressForm" [countryCode]="countryCode"></ish-address-form-de>
    <ish-address-form-fr *ngSwitchCase="'FR'" [addressForm]="addressForm" [countryCode]="countryCode"></ish-address-form-fr>
    <ish-address-form-gb *ngSwitchCase="'GB'" [addressForm]="addressForm" [countryCode]="countryCode"></ish-address-form-gb>
    <ish-address-form-us *ngSwitchCase="'US'" [addressForm]="addressForm" [countryCode]="countryCode" [regions]="regions"></ish-address-form-us>
    <ish-address-form-default *ngSwitchDefault [addressForm]="addressForm" [countryCode]="countryCode" [regions]="regions"></ish-address-form-default>
  </ng-container>

  <ish-input
    controlName="phoneHome"
    [form]="addressForm"
    label="Phone"
  ></ish-input>

</div>
