<div class="row">
  <!-- Error message -->
  <div class="col-md-12">
    <ish-error-message [error]="error" [toast]="false" />
  </div>

  <!-- login -->
  <div class="col-lg-6">
    <h2>{{ 'checkout.account.login.returning_customer.heading' | translate }}</h2>
    <ish-identity-provider-login />
  </div>

  <div class="col-lg-6">
    <!-- registration -->
    <div class="section">
      <h2>{{ 'account.new_user.heading' | translate }}</h2>
      <p>{{ 'account.create.benefit.text' | translate }}</p>
      <ul>
        <li>{{ 'account.create.benefit1.text' | translate }}</li>
        <li>{{ 'account.create.benefit2.text' | translate }}</li>
        <li>{{ 'account.create.benefit3.text' | translate }}</li>
        <li>{{ 'account.create.benefit4.text' | translate }}</li>
        <li>{{ 'account.create.benefit5.text' | translate }}</li>
      </ul>
      <a
        class="btn btn-secondary"
        data-testing-id="registration-link"
        routerLink="/register"
        [queryParams]="{ returnUrl: '/checkout', cancelUrl: '/checkout' }"
        >{{ 'account.create.button.label' | translate }}
      </a>
    </div>

    <!-- checkout as guest -->
    <ng-container *ishFeature="'guestCheckout'">
      @if (!isRecurringOrder()) {
        <div data-testing-id="guest-checkout">
          <h2>{{ 'checkout.addresses.checkout_as_guest.heading' | translate }}</h2>
          <p>{{ 'checkout.address.anonymous.guestcheckout.text' | translate }}</p>
          @if (isAddressFormCollapsed) {
            <button
              aria-controls="collapseBasic"
              class="btn btn-secondary"
              data-testing-id="guest-checkout-button"
              type="button"
              [attr.aria-expanded]="!isAddressFormCollapsed"
              (click)="showAddressForm()"
            >
              {{ 'checkout.addresses.checkout_as_guest.heading' | translate }}
            </button>
          }
          <!-- create address form -->
          <div
            class="section"
            data-testing-id="create-address-form"
            id="collapseBasic"
            [ngbCollapse]="isAddressFormCollapsed"
          >
            <form
              #addressForm="ngForm"
              class="form-horizontal"
              ishFormSubmit
              novalidate
              [formGroup]="form"
              (ngSubmit)="submitAddressForm()"
            >
              <ish-checkout-address-anonymous-form [parentForm]="form" />
              <div [ngClass]="{ 'row form-group': isShippingAddressFormExpanded }">
                <div [ngClass]="{ 'offset-md-4 col-md-8': isShippingAddressFormExpanded }">
                  @if (form.invalid && addressForm.submitted) {
                    <div aria-live="polite" class="visually-hidden" id="checkout-button-help">
                      {{ 'checkout.continue.validation.message' | translate }}
                    </div>
                  }
                  <button
                    class="btn btn-primary"
                    type="submit"
                    [attr.aria-describedby]="form.invalid && addressForm.submitted ? 'checkout-button-help' : null"
                  >
                    {{ 'checkout.button.label' | translate }}
                  </button>
                  <button class="btn btn-secondary" type="button" (click)="cancelAddressForm()">
                    {{ 'checkout.address.cancel.button.label' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      }
    </ng-container>
  </div>
</div>
