<div class="row">
  <!-- Error message -->
  <div class="col-md-12">
    <ish-error-message [error]="error" [toast]="false" />
  </div>

  <!-- login -->
  <div class="col-lg-6">
    <h2>{{ 'checkout.account.login.returning_customer.heading' | translate }}</h2>
    <ish-identity-provider-login />
  </div>

  <div class="col-lg-6">
    <!-- registration -->
    <div class="section">
      <h2>{{ 'account.new_user.heading' | translate }}</h2>
      <p>{{ 'account.create.benefit.text' | translate }}</p>
      <ul>
        <li>{{ 'account.create.benefit1.text' | translate }}</li>
        <li>{{ 'account.create.benefit2.text' | translate }}</li>
        <li>{{ 'account.create.benefit3.text' | translate }}</li>
        <li>{{ 'account.create.benefit4.text' | translate }}</li>
        <li>{{ 'account.create.benefit5.text' | translate }}</li>
      </ul>
      <a
        class="btn btn-secondary"
        routerLink="/register"
        [queryParams]="{ returnUrl: '/checkout', cancelUrl: '/checkout' }"
        data-testing-id="registration-link"
        >{{ 'account.create.button.label' | translate }}
      </a>
    </div>

    <!-- checkout as guest -->
    <div *ishFeature="'guestCheckout'">
      <h2>{{ 'checkout.addresses.checkout_as_guest.heading' | translate }}</h2>
      <p>{{ 'checkout.address.anonymous.guestcheckout.text' | translate }}</p>
      <button
        *ngIf="isAddressFormCollapsed"
        class="btn btn-secondary"
        type="button"
        (click)="showAddressForm()"
        [attr.aria-expanded]="!isAddressFormCollapsed"
        aria-controls="collapseBasic"
        data-testing-id="guest-checkout-button"
      >
        {{ 'checkout.addresses.checkout_as_guest.heading' | translate }}
      </button>

      <!-- create address form -->
      <div
        id="collapseBasic"
        class="section"
        [ngbCollapse]="isAddressFormCollapsed"
        data-testing-id="create-address-form"
      >
        <form
          #addressForm="ngForm"
          [formGroup]="form"
          (ngSubmit)="submitAddressForm()"
          class="form-horizontal"
          novalidate="novalidate"
        >
          <ish-checkout-address-anonymous-form
            [parentForm]="form"
            [invoiceFormId]="invoiceFormId"
            [shippingFormId]="shippingFormId"
          />
          <div [ngClass]="{ 'row form-group': isShippingAddressFormExpanded }">
            <div [ngClass]="{ 'offset-md-4 col-md-8': isShippingAddressFormExpanded }">
              <button class="btn btn-primary" type="submit" [disabled]="nextDisabled">
                {{ 'checkout.button.label' | translate }}
              </button>
              <button (click)="cancelAddressForm()" type="button" class="btn btn-secondary">
                {{ 'checkout.address.cancel.button.label' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
