<div *ngIf="budget">
  <dl class="row dl-horizontal dl-separator">
    <dt class="col-7">{{ 'account.user.new.order_spend_limit.label' | translate }}</dt>
    <dd *ngIf="budget.orderSpentLimit; else noLimit" class="col-5 font-weight-bold text-right">
      {{ budget.orderSpentLimit | ishPrice }}
    </dd>
    <ng-template #noLimit>
      <dd class="col-5 font-weight-bold text-right">{{ 'account.budget.unlimited' | translate }}</dd>
    </ng-template>
  </dl>

  <ng-container *ngIf="budget.budget; else noBudget">
    <dl class="row dl-horizontal dl-separator">
      <dt class="col-7">{{ 'account.budget.label' | translate : { '0': budget.budgetPeriod } }}</dt>
      <dd class="col-5 font-weight-bold text-right">{{ budget.budget | ishPrice }}</dd>
    </dl>
    <dl class="row dl-horizontal dl-separator">
      <dt class="col-7">{{ 'account.budget.already_spent.label' | translate }}</dt>
      <dd class="col-5 font-weight-bold text-right">{{ usedBudget | ishPrice }}</dd>
    </dl>
    <div [ngbPopover]="BudgetPopover" placement="top" data-testing-id="user-budget-popover" triggers="hover">
      <div class="progress" [ngClass]="progressBarClass">
        <div
          class="progress-bar"
          [ngClass]="{ 'bg-danger': usedBudgetPercentage * 100 > 90 }"
          [ngStyle]="{ width: usedBudgetPercentage | percent }"
          role="progressbar"
          [attr.aria-label]="'account.budget.already_spent.label' | translate"
          [attr.aria-valuetext]="usedBudgetPercentage | percent"
        >
          <span class="progress-display">{{ usedBudgetPercentage | percent }}</span>
          <ng-template #BudgetPopover>
            <div class="row">
              <div class="col-md-6 mb-2">{{ 'account.budget.label' | translate : { '0': budget.budgetPeriod } }}:</div>
              <div class="col-md-6 text-right">{{ budget.budget | ishPrice }}</div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">{{ 'account.budget.already_spent.label' | translate }}:</div>
              <div class="col-md-6 text-right">{{ usedBudget | ishPrice }} ({{ usedBudgetPercentage | percent }})</div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">{{ 'account.budget.left.label' | translate }}:</div>
              <div class="col-md-6 text-right">
                {{ budget.remainingBudget | ishPrice }} ({{ remainingBudgetPercentage | percent }})
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noBudget>
  <dl class="row dl-horizontal dl-separator">
    <dt class="col-7">{{ 'account.user.budget.label' | translate }}</dt>
    <dd class="col-5 font-weight-bold text-right">{{ 'account.budget.unlimited' | translate }}</dd>
  </dl>
</ng-template>
