@if (product$ | async; as product) {
  <div class="section">
    <nav
      #nav="ngbNav"
      class="nav-tabs w-100"
      ngbNav
      [attr.aria-label]="'product.detail.information.tabs.aria_label' | translate"
      [(activeId)]="active"
    >
      <!-- Description -->
      <ng-container [ngbNavItem]="'DESCRIPTION'">
        <a data-testing-id="product-description-tab" ngbNavLink>{{ 'product.description.heading' | translate }}</a>
        <ng-template ngbNavContent>
          <div [ishServerHtml]="product.longDescription"></div>
        </ng-template>
      </ng-container>
      <!-- Details -->
      @if (product.attributes?.length) {
        <ng-container [ngbNavItem]="'DETAILS'">
          <a ngbNavLink>{{ 'product.details.heading' | translate }}</a>
          <ng-template ngbNavContent>
            <ish-product-attributes [product]="product" />
          </ng-template>
        </ng-container>
      }
      <!-- Documents -->
      @if (product.attachments?.length) {
        <ng-container [ngbNavItem]="'ATTACHMENTS'">
          <a ngbNavLink>{{ 'product.attachments.heading' | translate }}</a>
          <ng-template ngbNavContent>
            <ish-product-attachments />
          </ng-template>
        </ng-container>
      }
      <!-- Reviews -->
      @if ((isVariationMaster$ | async) === false) {
        <ng-container *ishFeature="'rating'" [ngbNavItem]="'REVIEWS'">
          <a data-testing-id="product-reviews-tab" ngbNavLink
            >{{ 'product.reviews.heading' | translate }} ({{ product.numberOfReviews }})</a
          >
          <ng-template ngbNavContent>
            <ish-lazy-product-reviews />
          </ng-template>
        </ng-container>
      }
      <!-- FAQs -->
      @if (faqs$ | async; as faqs) {
        @if (faqs.length) {
          <ng-container [ngbNavItem]="'FAQS'">
            <a ngbNavLink>{{ 'product.faqs.heading' | translate }}</a>
            <ng-template ngbNavContent>
              <dl class="product-faqs">
                @for (faq of faqs; track faq.question) {
                  <dt>{{ faq.question }}</dt>
                  <dd [innerHTML]="faq.answer"></dd>
                  @if (faq.authorName) {
                    <dd class="product-faqs__author">
                      <span class="product-faqs__author-name">{{ faq.authorName }}</span>
                      @if (faq.authorDescription) {
                        <span class="product-faqs__author-description">{{ faq.authorDescription }}</span>
                      }
                      @if (faq.authorOrganization) {
                        <span class="product-faqs__author-organization">{{ faq.authorOrganization }}</span>
                      }
                    </dd>
                  }
                }
              </dl>
            </ng-template>
          </ng-container>
        }
      }
      <!-- HowTo -->
      @if (howToSteps$ | async; as steps) {
        <!-- How To -->
        @if (steps.length) {
          <ng-container [ngbNavItem]="'HOW_TO'">
            <a ngbNavLink>{{ 'product.how_to.heading' | translate }}</a>
            <ng-template ngbNavContent>
              <ol class="product-how-to">
                @for (step of steps; track step.position) {
                  <li class="product-how-to__step">
                    <strong class="product-how-to__step-name">{{ step.name }}</strong>
                    <p class="product-how-to__step-text">{{ step.text }}</p>
                  </li>
                }
              </ol>
            </ng-template>
          </ng-container>
        }
      }
    </nav>
    <div [ngbNavOutlet]="nav"></div>
  </div>
}
