<div *ngIf="product$ | async as product" class="section">
  <ul ngbNav #nav="ngbNav" class="nav-tabs w-100" [(activeId)]="active">
    <li [ngbNavItem]="'DESCRIPTION'" data-testing-id="product-description-tab">
      <a ngbNavLink>{{ 'product.description.heading' | translate }}</a>
      <ng-template ngbNavContent>
        <div [ishServerHtml]="product.longDescription"></div>
      </ng-template>
    </li>

    <li *ngIf="product.attributes?.length" [ngbNavItem]="'DETAILS'">
      <a ngbNavLink>{{ 'product.details.heading' | translate }}</a>
      <ng-template ngbNavContent>
        <ish-product-attributes [product]="product"></ish-product-attributes>
      </ng-template>
    </li>

    <li *ngIf="product.attachments?.length" [ngbNavItem]="'ATTACHMENTS'">
      <a ngbNavLink>{{ 'product.attachments.heading' | translate }}</a>
      <ng-template ngbNavContent>
        <ish-product-attachments></ish-product-attachments>
      </ng-template>
    </li>

    <ng-container *ngIf="(isVariationMaster$ | async) === false">
      <li *ishFeature="'rating'" [ngbNavItem]="'REVIEWS'">
        <a ngbNavLink>{{ 'product.reviews.heading' | translate }} ({{ product.numberOfReviews }})</a>
        <ng-template ngbNavContent>
          <ish-lazy-product-reviews></ish-lazy-product-reviews>
        </ng-template>
      </li>
    </ng-container>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>
