<ng-container *ngIf="isMasterProduct$ | async">
  <span class="product-variation read-only">
    {{ 'product.variations.text' | translate : { '0': variationCount$ | async } }}
  </span>
</ng-container>
<ng-container *ngIf="isVariationProduct$ | async">
  <ng-container *ngIf="visible$ | async">
    <div class="product-variation-container">
      <ng-container *ngIf="readOnly$ | async; else variationSelect">
        <ish-product-variation-display />
      </ng-container>
      <ng-template #variationSelect>
        <ish-product-variation-select />
      </ng-template>
    </div>
  </ng-container>
</ng-container>
