<ng-container *ngIf="currentPage">
  <div class="product-list-paging row justify-content-center">
    <ng-container *ngIf="currentPage > 1; else inactiveFirstLink">
      <a class="col-1" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{ page: currentPage - 1 }"
        >&laquo;</a
      >
    </ng-container>
    <ng-template #inactiveFirstLink>
      <a class=" col-1 inactive">&laquo;</a>
    </ng-template>

    <div class="col-auto">
      <a
        *ngFor="let p of pageIndices"
        [ngClass]="{ active: p.value === currentPage }"
        [routerLink]="[]"
        queryParamsHandling="merge"
        [queryParams]="{ page: p.value }"
        >{{ p.display }}</a
      >
    </div>

    <ng-container *ngIf="pageIndices[pageIndices.length - 1].value !== currentPage; else inactiveLastLink">
      <a class="col-1" [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{ page: currentPage + 1 }"
        >&raquo;</a
      >
    </ng-container>
    <ng-template #inactiveLastLink>
      <a class="col-1 inactive">&raquo;</a>
    </ng-template>
  </div>
</ng-container>
