<div *ngIf="selectedUser$ | async as user">
  <h1>{{ 'account.user.update_roles.heading' | translate }} - {{ user.firstName }} {{ user.lastName }}</h1>

  <ish-error-message [error]="error$ | async"></ish-error-message>

  <form *ngIf="form$ | async as form" [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal">
    <ish-user-roles-selection formControlName="roleIDs" [staticRoles]="staticRoles$ | async"></ish-user-roles-selection>

    <div class="row">
      <div class="offset-md-4 col-md-8">
        <button type="submit" class="btn btn-primary" data-testing-id="edit-roles-submit">
          {{ 'account.update.button.label' | translate }}
        </button>
        <a routerLink="../" class="btn btn-secondary" data-testing-id="edit-roles-cancel">{{
          'account.cancel.link' | translate
        }}</a>
      </div>
    </div>
  </form>

  <ish-loading *ngIf="loading$ | async"></ish-loading>
</div>
