<div class="loading-container">
  <ng-container *ngIf="orders?.length > 0; else emptyList">
    <table cdk-table [dataSource]="orders" class="table table-lg mobile-optimized">
      <!-- Order creation date -->
      <ng-container cdkColumnDef="creationDate">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-creation-date">
          {{ 'account.orderlist.table.date_of_order' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.date_of_order' | translate">
          {{ order.creationDate | ishDate }}
          <fa-icon
            *ngIf="order.recurringOrderID"
            [icon]="['fas', 'repeat']"
            [title]="'account.orderlist.table.recurring.icon.title' | translate"
            class="ml-1"
          />
        </td>
      </ng-container>

      <!-- Order number -->
      <ng-container cdkColumnDef="orderNo">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-number">
          {{ 'account.orderlist.table.order_number' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.order_number' | translate">
          {{ order.documentNo }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="orderNoWithLink">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-number">
          {{ 'account.orderlist.table.order_number' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.order_number' | translate">
          <a [routerLink]="'/account/orders/' + order.id">{{ order.documentNo }}</a>
        </td>
      </ng-container>

      <!-- Buyer -->
      <ng-container cdkColumnDef="buyer">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-buyer">
          {{ 'account.orderlist.table.buyer' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.buyer' | translate">
          {{ order.user.firstName }} {{ order.user.lastName }}
        </td>
      </ng-container>

      <!-- Number of Items  -->
      <ng-container cdkColumnDef="lineItems">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-items">
          {{ 'account.orderlist.table.items' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.items' | translate">
          {{ order.totalProductQuantity }}
        </td>
      </ng-container>

      <!-- Status  -->
      <ng-container cdkColumnDef="status">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-status">
          {{ 'account.orderlist.table.order_status' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.order_status' | translate">
          <span class="badge badge-info">{{ order.status }}</span>
        </td>
      </ng-container>

      <!-- Destination  -->
      <ng-container cdkColumnDef="destination">
        <th cdk-header-cell *cdkHeaderCellDef data-testing-id="th-order-destination">
          {{ 'account.orderlist.table.destination' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let order" [attr.data-label]="'account.orderlist.table.destination' | translate">
          <ish-address [address]="order.commonShipToAddress" />
        </td>
      </ng-container>

      <!-- Order total  -->
      <ng-container cdkColumnDef="orderTotal">
        <th cdk-header-cell *cdkHeaderCellDef class="text-right" data-testing-id="th-order-total">
          {{ 'account.orderlist.table.order_total' | translate }}
        </th>
        <td
          cdk-cell
          *cdkCellDef="let order"
          [attr.data-label]="'account.orderlist.table.order_total' | translate"
          class="column-price"
        >
          {{ order.totals.total | ishPrice : 'gross' }}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </ng-container>

  <ng-template #emptyList>
    <p data-testing-id="emptyList">{{ noOrdersMessageKey | translate }}</p>
  </ng-template>

  <ish-loading *ngIf="loading" />
</div>
