<div data-testing-id="cart-page">
  <div class="cart-header">
    <h1 class="d-flex flex-wrap align-items-baseline">
      <span class="cart-header-title">{{ 'shopping_cart.heading' | translate }}</span>
      <span class="header-note">
        <span>{{ 'shopping_cart.transaction.text' | translate }}</span>
        <ish-modal-dialog-link
          linkText="shopping_cart.read_more.link"
          [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, size: 'lg' }"
          class="details-link"
        >
          <ish-content-include includeId="include.dialog.safeAndSecure.pagelet2-Include" *ishLazyLoadingContent />
        </ish-modal-dialog-link>
      </span>
    </h1>
  </div>

  <div>
    <!-- Error message -->
    <ish-error-message *ngIf="error?.message" [error]="error" />

    <ish-basket-error-message [error]="error" />

    <!-- Basket Info messages -->
    <ish-basket-info />

    <!-- Validation messages-->
    <ish-basket-validation-results />

    <!-- Dynamic Promotion Message -->
    <div *ngIf="basket?.dynamicMessages?.length" class="alert alert-info">
      <ul class="list-unstyled">
        <li *ngFor="let msg of basket.dynamicMessages">
          <span *ngIf="msg" [ishServerHtml]="msg"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-horizontal">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="marketing-area">
          <ish-content-include includeId="include.basket.content.top.pagelet2-Include" />
        </div>

        <ish-basket-cost-center-selection />

        <ish-basket-custom-fields />

        <div class="section">
          <ng-container *ishFeature="'quoting'; else elseTemplate">
            <ish-lazy-quoting-basket-line-items />
          </ng-container>
          <ng-template #elseTemplate>
            <ish-line-item-list *ngIf="basket" [lineItems]="basket.lineItems" />
          </ng-template>

          <ish-loading *ngIf="loading" />

          <div class="button-group clearfix">
            <div class="float-md-left">
              <ish-lazy-basket-add-to-quote />
              <ish-lazy-basket-create-order-template
                *ngIf="basket"
                [cssClass]="'btn btn-secondary'"
                [products]="basket.lineItems"
              />
            </div>
            <ish-clear-basket cssClass="float-md-right" />
          </div>
        </div>
        <ish-lazy-direct-order />

        <p>
          <a routerLink="/home" class="text-nowrap no-print">{{
            'shopping_cart.detailed.continue_shopping.link' | translate
          }}</a>
        </p>

        <div class="marketing-area">
          <ish-content-include includeId="include.basket.content.bottom.pagelet2-Include" />
        </div>
      </div>

      <div class="col-md-12 col-lg-4 order-summary">
        <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

        <ish-basket-promotion-code />

        <div class="cost-summary">
          <!-- Cost Summary Component -->
          <ish-basket-cost-summary [totals]="basket.totals" />

          <button
            *ishHasNotRole="['APP_B2B_CXML_USER', 'APP_B2B_OCI_USER']"
            type="submit"
            class="btn btn-lg btn-block btn-primary"
            (click)="checkout()"
          >
            {{ 'shopping_cart.proceed_to_checkout.button.label' | translate }}
          </button>
          <ish-lazy-punchout-transfer-basket *ishIsAuthorizedTo="'APP_B2B_SEND_PUNCHOUT_BASKET'" />
        </div>

        <div class="marketing-area">
          <ish-content-include includeId="include.basket.ordersummary.pagelet2-Include" />
        </div>
      </div>
    </div>
  </div>
</div>
