@if ((isVariationMaster$ | async) === false) {
  @if (rating$ | async; as rating) {
    <ngb-rating
      [attr.aria-label]="'product.review.rating.score' | translate: { '0': rating.value }"
      [disabled]="true"
      [max]="5"
      [rate]="rating.value"
      [starTemplate]="starTemplate"
    />
    @if (!hideNumberOfReviews) {
      <span class="product-info">({{ numberOfReviews$ | async }})</span>
    }
  }
}

<ng-template #starTemplate let-fill="fill">
  @if (fill === 100) {
    <i aria-hidden="true" class="bi bi-star-fill"></i>
  } @else if (fill > 0) {
    <i aria-hidden="true" class="bi bi-star-half"></i>
  } @else {
    <i aria-hidden="true" class="bi bi-star"></i>
  }
</ng-template>
