<ish-breadcrumb account="true" trailText="{{'account.overview.link' | translate}}"></ish-breadcrumb>

<div class="marketing-area"></div>

<div class="account-wrapper" data-testing-id="account-page">
  <div class="row account-main">

    <div class="col-md-3 account-nav-box">
      <!-- TODO: isAccountNavigation selecteditem="OVERVIEW" -->
    </div>

    <div class="col-md-9">

      <div class="marketing-area"></div>

      <h1 [innerHTML]="'account.overview.personal_message.text' | translate:{ '0':customer.getDisplayName() }"></h1>
      <p>{{'account.overview.message.text' | translate }}</p>

      <div class="row account-dashboard">
        <div class="col-sm-3 col-xs-6 dashboard-item">
          <a routerLink="./orders">
            <div class="circle-icon">
              <span class="glyphicon glyphicon-list-alt"></span>
            </div>
            {{'account.order_history.link' | translate }}
          </a>
        </div>
        <div class="col-sm-3 col-xs-6 dashboard-item">
          <a routerLink="./profile">
            <div class="circle-icon">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
            {{'account.profile.link' | translate }}
          </a>
        </div>
      </div>

      <p class="help-block">{{'account.overview.note.heading' | translate }}: {{'account.overview.note.text' | translate }}</p>
      <!-- TODO: istext key="account.overview.note.text" parameter0="#URL(Action('ViewContent-Start'),Parameter('PageletEntryPointID','systempage.privacyPolicy.pagelet2-Page'))#" encoding="off" / -->

    </div>
  </div>
</div>
