<div class="product-list row">
  <ng-container *ngFor="let sku of products">
    <div *ngIf="isGrid" class="col-6 col-lg-4 product-list-item grid-view">
      <ish-product-item [configuration]="{ displayType: 'tile' }" [productSku]="sku" [category]="category">
      </ish-product-item>
    </div>

    <div *ngIf="isList" class="col-lg-12 product-list-item list-view">
      <ish-product-item [configuration]="{ displayType: 'row' }" [productSku]="sku" [category]="category">
      </ish-product-item>
    </div>
  </ng-container>
</div>
