<div class="product-list row">
  @let listingLoading = listingLoading$ | async;
  @if (!products.length) {
    <div class="gx-0">
      @if (listingLoading !== true) {
        {{ 'search.noresult.filtered_products.message' | translate }}
      }
    </div>
  }
  @if (listingLoading) {
    <div class="product-list-loading">
      <ish-loading [standalone]="true" />
    </div>
  }
  @for (sku of products; track sku; let i = $index) {
    <ng-container ishProductContext [categoryId]="categoryId" [configuration]="{ shipment: false }" [sku]="sku">
      @if (isGrid) {
        <div class="col-6 col-lg-4 product-list-item grid-view">
          <ish-product-item displayType="tile" [loading]="i < 4 ? 'eager' : 'lazy'" />
        </div>
      }
      @if (isList) {
        <div class="col-lg-12 product-list-item list-view">
          <ish-product-item displayType="row" [loading]="i < 2 ? 'eager' : 'lazy'" />
        </div>
      }
    </ng-container>
  }
  @if (listingLoading) {
    <div class="col-12">
      <ish-loading [standalone]="true" />
    </div>
  }
</div>
