<div class="language-switch">
    <a (click)="isCollapsed = !isCollapsed; false;" class="language-switch-link" href>
      <span class="glyphicon glyphicon-globe glyphicon-header-icon"></span>
      <span class="hidden-xs">en<span class="switch_arrow hidden-xs"></span></span>
    </a>
    <div [collapse]="isCollapsed" class="language-switch-container">
        <div class="language-switch-menu-container">
            <ul>
                <li><a href="">German</a></li>
                <li><a href="">French</a></li>
            </ul>
        </div>
    </div>
</div>
