<div class="language-switch">
    <a class="language-switch-link" href="#languageSwitch" data-toggle="collapse" aria-expanded="true">
                                <span class="glyphicon glyphicon-globe glyphicon-header-icon"></span>
                                <span class="hidden-xs">en<span class="switch_arrow hidden-xs"></span></span>
                            </a>
    <div id="languageSwitch" class="language-switch-container collapse" aria-expanded="true">
        <div class="language-switch-menu-container">
            <ul>
                <li><a href="">German</a></li>
                <li><a href="">French</a></li>
            </ul>
        </div>
    </div>
</div>