<h1>{{ 'account.update_password.heading' | translate }}</h1>
<div *ngIf="error && error.status && error.status !== 401" role="alert" class="alert alert-danger">
  {{ error.status }}: {{ error.error }}
</div>
<p>{{ 'account.update_password.change.message' | translate }}</p>

<div class="row">
  <div class="col-md-10 col-xl-8">
    <div class="section">
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal" novalidate="novalidate">
        <ish-input
          [form]="form"
          controlName="currentPassword"
          type="password"
          label="account.password.label"
          markRequiredLabel="off"
          [errorMessages]="{
            required: 'account.update_password.old_password.error.required',
            incorrect: 'account.update_password.old_password.error.incorrect'
          }"
        >
        </ish-input>

        <ish-input
          [form]="form"
          controlName="password"
          type="password"
          label="account.update_password.newpassword.label"
          markRequiredLabel="off"
          [errorMessages]="{
            required: 'account.update_password.new_password.error.required',
            minLength: 'account.update_password.new_password.error.length',
            password: 'account.update_password.new_password.error.regexp'
          }"
          ><small class="input-help">{{
            'account.register.password.extrainfo.message' | translate: { '0': '7' }
          }}</small>
        </ish-input>

        <ish-input
          [form]="form"
          controlName="passwordConfirmation"
          type="password"
          markRequiredLabel="on"
          label="account.update_password.newpassword_confirmation.label"
          markRequiredLabel="off"
          [errorMessages]="{
            required: 'account.register.password_confirmation.error.default',
            password: 'account.update_password.new_password.error.regexp',
            equalTo: 'account.update_password.confirm_password.error.stringcompare'
          }"
        ></ish-input>

        <div class="row">
          <div class="offset-md-4 col-md-8">
            <button type="submit" class="btn btn-primary" [disabled]="buttonDisabled">
              {{ 'account.update.button.label' | translate }}
            </button>
            <a routerLink="/account/profile" class="btn btn-secondary">{{ 'account.cancel.link' | translate }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h4 class="form-text">{{ 'account.help.heading' | translate }}</h4>
<p class="form-text">
  {{ 'account.update_password.question.text' | translate }}<br />{{ 'account.update_password.answer.text' | translate }}
</p>
