<ng-container *ngIf="parameter.properties?.hidden === 'no'">
  <div *ngIf="parameter.committed" class="float-right">
    <a class="btn-tool" (click)="uncommit()" title="Undo"> <fa-icon [icon]="['fas', 'undo']"></fa-icon></a>
  </div>
  <h4 class="font-weight-bold">{{ parameter.description }}</h4>
  <div *ngIf="parameter.properties.tc_info_text">{{ parameter.properties.tc_info_text }}</div>
  <div class="form-group pl-2">
    <div *ngFor="let opt of parameter.domain.elements">
      <label>
        <input
          type="radio"
          [name]="parameter.name"
          [checked]="opt.selected"
          (change)="change($event.target.value)"
          [value]="opt.name"
        />
        {{ opt.description }}
      </label>
    </div>
  </div>
</ng-container>
