<ng-container *ngIf="parameter.properties?.hidden === 'no'">
  <div *ngIf="parameter.committed" class="float-right">
    <a class="btn-tool" (click)="uncommit()" title="Undo"> <fa-icon [icon]="['fas', 'undo']"></fa-icon></a>
  </div>
  <h4>{{ parameter.description }}</h4>
  <div class="row">
    <div class="col-4">
      {{ parameter.properties.tc_info_text }}
    </div>
    <div class="col-8">
      <div *ngFor="let opt of parameter.domain.elements">
        <input
          type="radio"
          [name]="parameter.name"
          [checked]="opt.selected"
          (change)="change($event.target.value)"
          [value]="opt.name"
        />
        <label>{{ opt.description }}</label>
      </div>
    </div>
  </div>
</ng-container>
