<ng-container *ngIf="activeQuoteRequest$ | async as quote">
  <ng-container *ngIf="state$ | async as state">
    <div class="modal-header">
      <h2 class="modal-title">
        <ng-container *ngIf="state === 'Submitted'; else quoteTitle">
          {{ 'quote.edit.submitted.heading' | translate }}
        </ng-container>
        <ng-template #quoteTitle>
          {{ 'quote.edit.unsubmitted.quote_request_details.text' | translate }} -
          {{ quote.displayName || quote.number }}
        </ng-template>
      </h2>
      <button
        type="button"
        class="close"
        [title]="'dialog.close.text' | translate"
        [attr.aria-label]="'dialog.close.text' | translate"
        (click)="hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <ish-error-message [error]="error$ | async"></ish-error-message>

      <ng-container *ngIf="state === 'New'; else elseTemplate">
        <ish-quote-edit></ish-quote-edit>
      </ng-container>
      <ng-template #elseTemplate>
        <ish-quote-view></ish-quote-view>
      </ng-template>
    </div>

    <div class="modal-footer">
      <a class="btn btn-link mr-auto" [routerLink]="['/account/quotes']">{{
        'account.quotes.widget.view_all_quotes.link' | translate
      }}</a>
      <ish-quote-interactions></ish-quote-interactions>
    </div>
  </ng-container>
</ng-container>

<ish-loading *ngIf="loading$ | async"></ish-loading>
