<ng-container *ngIf="baseData$ && treeControl">
  <cdk-tree [dataSource]="baseData$" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-tree-node
      *cdkTreeNodeDef="let node"
      class="tree-node leaf"
      [style.display]="shouldRender(node) ? 'block' : 'none'"
      cdkTreeNodePadding
      cdkTreeNodePaddingIndent="30"
      >{{ node.displayName }}
    </cdk-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <cdk-tree-node
      *cdkTreeNodeDef="let node; when: hasChild"
      class="tree-node"
      cdkTreeNodePadding
      cdkTreeNodePaddingIndent="30"
      [style.display]="shouldRender(node) ? 'block' : 'none'"
      [class.active]="isExpanded(node)"
    >
      <button
        [attr.aria-label]="'Toggle ' + node.id"
        (click)="toogleNode(node)"
        [style.visibility]="node.expandable ? 'visible' : 'hidden'"
        [class.closed]="!isExpanded(node)"
      ></button>
      {{ node.displayName }}
      <div [class.tree-invisible]="!isExpanded(node)">
        <ng-container cdkTreeNodeOutlet />
      </div>
    </cdk-tree-node>
  </cdk-tree>
</ng-container>
