<ng-container *ngIf="dataSource && treeControl">
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-tree-node
      *cdkTreeNodeDef="let node"
      class="tree-node leaf"
      [class.active]="activeNode?.id === node.id"
      cdkTreeNodePadding
      cdkTreeNodePaddingIndent="30"
      ><input type="radio" name="contentPage" [id]="node.id" [value]="node.id" (click)="setActiveNode(node)" />
      <label [for]="node.id">{{ node.displayName }}</label>
    </cdk-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <cdk-tree-node
      *cdkTreeNodeDef="let node; when: hasChild"
      class="tree-node"
      cdkTreeNodePadding
      cdkTreeNodePaddingIndent="30"
      [class.active]="activeNode?.id === node.id"
    >
      <button
        [attr.aria-label]="'Toggle ' + node.id"
        [class.closed]="!treeControl.isExpanded(node)"
        cdkTreeNodeToggle
      ></button>
      <input type="radio" name="contentPage" [id]="node.id" [value]="node.id" (click)="setActiveNode(node)" />
      <label [for]="node.id">{{ node.displayName }}</label>
      <div [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet />
      </div>
    </cdk-tree-node>
  </cdk-tree>
</ng-container>
