<div class="row mt-4">
  <div class="col-md-12">
    <h2 class="h3">{{ 'costcenter.csv.import.title' | translate }}</h2>
    <p>{{ 'costcenter.csv.import.subtitle' | translate }}</p>
    <form
      [attr.aria-label]="'costcenter.csv.import.form.label' | translate"
      [formGroup]="csvForm"
      (ngSubmit)="submitCostCenters()"
    >
      <div class="form-group section">
        <input
          #fileInput
          accept=".csv"
          name="csvFile"
          size="35"
          type="file"
          [attr.aria-label]="'costcenter.csv.import.file.upload.aria_label' | translate"
          (change)="onFileChange($event)"
        />
        <div>
          @switch (status) {
            @case ('InvalidHeader') {
              <small class="has-error">
                <span class="validation-message">{{ 'costcenter.csv.import.file.invalid.input' | translate }}</span>
              </small>
            }
            @case ('InvalidFormat') {
              <small class="has-error">
                <span class="validation-message">{{ 'costcenter.csv.import.file.invalid.format' | translate }}</span>
              </small>
            }
            @case ('Valid') {
              <small class="has-success">
                <span class="validation-message">{{ 'costcenter.csv.import.file.uploaded' | translate }}</span>
              </small>
            }
            @default {
              <small></small>
            }
          }
        </div>
        <small
          class="form-text"
          [innerHTML]="'costcenter.csv.import.file.sample' | translate: { '0': 'assets/sample-data/costcenters.csv' }"
        ></small>
      </div>
      <div>
        <button class="btn btn-primary" name="importCostCenters" type="submit" [disabled]="isCsvDisabled">
          {{ 'costcenter.csv.import.create.button.label' | translate }}
        </button>
        <button class="btn btn-link" name="reset" type="reset" (click)="resetInput()">
          {{ 'costcenter.csv.import.reset.button.label' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
