<ish-error-message [error]="error$ | async" />

<div class="container">
  @if (configItems$ | async) {
    <div class="row list-header d-sm-flex">
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.attribute' | translate }}
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.transformed-attribute' | translate }}
        <ng-template #OciConfigurationPlaceholder>
          @if (availablePlaceholders$ | async; as placeholders) {
            @for (placeholder of placeholders; track placeholder) {
              <div>{{ '{' + placeholder + '}' }}</div>
            }
          }
        </ng-template>
        <button
          class="btn btn-link header-note details-tooltip"
          placement="bottom"
          popoverTitle="{{ 'account.punchout.configuration.form.tooltip.placeholder.headline' | translate }}"
          type="button"
          [ngbPopover]="OciConfigurationPlaceholder"
          [title]="'account.punchout.configuration.form.tooltip.placeholder.icon' | translate"
        >
          <i class="bi bi-info-circle-fill"></i>
        </button>
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.mapping' | translate }}
        <ng-template #OciConfigurationMapping>
          <div
            class="list-position-outside"
            innerHTML="{{ 'account.punchout.configuration.form.tooltip.mapping.content' | translate }}"
          ></div>
        </ng-template>
        <button
          class="btn btn-link header-note details-tooltip"
          placement="bottom"
          popoverTitle="{{ 'account.punchout.configuration.form.tooltip.mapping.headline' | translate }}"
          type="button"
          [ngbPopover]="OciConfigurationMapping"
          [title]="'account.punchout.configuration.form.tooltip.mapping.icon' | translate"
        >
          <i class="bi bi-info-circle-fill"></i>
        </button>
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.format' | translate }}
      </div>
    </div>
    <form #configForm="ngForm" class="pt-1" ishFormSubmit novalidate [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="list-body">
        <formly-form class="pt-1" [fields]="fields$ | async" [form]="form" [model]="model$ | async" />
      </div>
      <div class="row">
        <div class="button-group w-100 gx-0 clearfix">
          <div class="float-md-end">
            @if (form.invalid && configForm.submitted) {
              <div aria-live="polite" class="visually-hidden" id="submit-button-help">
                {{ 'form.submit.validation.message' | translate }}
              </div>
            }
            <button
              class="btn btn-primary"
              data-testing-id="update-oci-configuration"
              type="submit"
              [attr.aria-describedby]="form.invalid && configForm.submitted ? 'submit-button-help' : null"
            >
              {{ 'account.update.button.label' | translate }}
            </button>
            <a class="btn btn-secondary" [queryParams]="{ format: 'oci' }" [routerLink]="['/account/punchout']">{{
              'account.cancel.link' | translate
            }}</a>
          </div>
          <div class="float-md-start">
            <a class="btn btn-link ps-md-0" [queryParams]="{ format: 'oci' }" [routerLink]="['/account/punchout']">{{
              'account.punchout.configuration.back_to_list' | translate
            }}</a>
          </div>
        </div>
      </div>
    </form>
  }
</div>
@if (loading$ | async) {
  <ish-loading />
}
