<ish-error-message [error]="error$ | async" />

<div class="container">
  <ng-container *ngIf="configItems$ | async">
    <div class="row list-header d-sm-flex">
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.attribute' | translate }}
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.transformed-attribute' | translate }}
        <ng-template #OciConfigurationPlaceholder>
          <ng-container *ngIf="availablePlaceholders$ | async as placeholders">
            <div *ngFor="let placeholder of placeholders">{{ '{' + placeholder + '}' }}</div>
          </ng-container>
        </ng-template>
        <button
          class="btn btn-link header-note details-tooltip pl-1"
          [ngbPopover]="OciConfigurationPlaceholder"
          placement="bottom"
          popoverTitle="{{ 'account.punchout.configuration.form.tooltip.placeholder.headline' | translate }}"
        >
          <fa-icon [icon]="['fas', 'info-circle']" />
        </button>
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.mapping' | translate }}
        <ng-template #OciConfigurationMapping>
          <div
            innerHTML="{{ 'account.punchout.configuration.form.tooltip.mapping.content' | translate }}"
            class="list-position-outside"
          ></div>
        </ng-template>
        <button
          class="btn btn-link header-note details-tooltip pl-1"
          [ngbPopover]="OciConfigurationMapping"
          placement="bottom"
          popoverTitle="{{ 'account.punchout.configuration.form.tooltip.mapping.headline' | translate }}"
        >
          <fa-icon [icon]="['fas', 'info-circle']" />
        </button>
      </div>
      <div class="col-md-3 list-header-item no-seperator">
        {{ 'account.punchout.configuration.form.heading.format' | translate }}
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="pt-1">
      <div class="list-body">
        <formly-form [model]="model$ | async" [fields]="fields$ | async" [form]="form" class="pt-1" />
      </div>
      <div class="row">
        <div class="button-group w-100 clearfix">
          <div class="float-md-right">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="formDisabled"
              data-testing-id="update-oci-configuration"
            >
              {{ 'account.update.button.label' | translate }}
            </button>
            <a [routerLink]="['/account/punchout']" [queryParams]="{ format: 'oci' }" class="btn btn-secondary">{{
              'account.cancel.link' | translate
            }}</a>
          </div>
          <div class="float-md-left">
            <a class="btn btn-link pl-md-0" [routerLink]="['/account/punchout']" [queryParams]="{ format: 'oci' }">{{
              'account.punchout.configuration.back_to_list' | translate
            }}</a>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>
<ish-loading *ngIf="loading$ | async" />
