@if (product$ | async) {
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="product-img-thumbs">
        @for (imageView of getImageViewIDs$('S') | async; track imageView; let i = $index) {
          <div
            class="product-thumb-set"
            tabindex="0"
            [ngClass]="{ active: isActiveSlide(i) }"
            (click)="setActiveSlide(i)"
            (keydown.enter)="setActiveSlide(i)"
          >
            <ish-product-image imageType="S" [imageView]="imageView" />
          </div>
        }
      </div>
    </div>
    @if (getImageViewIDs$('L') | async; as largeImages) {
      <div class="col-12 col-lg-9 product-detail-img clearfix">
        <div class="product-image-container">
          <div #swiper class="swiper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
              @for (imageView of largeImages; track imageView; let i = $index) {
                <div class="swiper-slide">
                  <div
                    [tabindex]="isActiveSlide(i) ? 0 : -1"
                    (click)="openZoomModal(i)"
                    (keydown.enter)="openZoomModal(i)"
                  >
                    <ish-product-image
                      imageType="L"
                      [imageView]="imageView"
                      [loading]="i === 0 ? 'eager' : 'lazy'"
                      [ngClass]="{ 'product-image-zoom': zoomImageIds$ | async }"
                    />
                  </div>
                </div>
              }
            </div>
            <div class="swiper-button-next"></div>
          </div>
          <ish-product-label />
        </div>
      </div>
    }
  </div>
}
@if (zoomImageIds$ | async; as zoomImages) {
  <ish-modal-dialog
    #zoomDialog
    [options]="{
      scrollable: true,
      fullscreen: true,
    }"
  >
    <div class="text-center">
      @for (imageView of zoomImages; track imageView; let i = $index) {
        <ish-product-image imageType="ZOOM" [id]="getZoomImageAnchorId(i)" [imageView]="imageView" />
      }
    </div>
  </ish-modal-dialog>
}
