<div *ngIf="product$ | async" class="row">
  <div class="col-lg-3 d-none d-lg-block">
    <div class="product-img-thumbs">
      <div
        *ngFor="let imageView of getImageViewIDs$('S') | async; let i = index"
        class="product-thumb-set"
        [ngClass]="{ active: isActiveSlide(i) }"
        (click)="setActiveSlide(i)"
        (keydown.enter)="setActiveSlide(i)"
        tabindex="0"
      >
        <ish-product-image imageType="S" [imageView]="imageView"></ish-product-image>
      </div>
    </div>
  </div>
  <div *ngIf="getImageViewIDs$('L') | async as largeImages" class="col-12 col-lg-9 product-detail-img clearfix">
    <div class="product-image-container">
      <swiper #carousel [navigation]="true">
        <ng-container *ngFor="let imageView of largeImages; let i = index">
          <ng-template swiperSlide>
            <div (click)="openZoomModal(i)" (keydown.enter)="openZoomModal(i)" tabindex="0">
              <ish-product-image
                [ngClass]="{ 'product-image-zoom': zoomImageIds$ | async }"
                imageType="L"
                [imageView]="imageView"
              ></ish-product-image>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
      <ish-product-label></ish-product-label>
    </div>
  </div>
</div>

<ish-modal-dialog
  *ngIf="zoomImageIds$ | async as zoomImages"
  #zoomDialog
  [options]="{
    scrollable: true,
    modalDialogClass: 'modal-fullscreen'
  }"
>
  <ish-product-image
    *ngFor="let imageView of zoomImages; let i = index"
    [id]="getZoomImageAnchorId(i)"
    imageType="ZOOM"
    [imageView]="imageView"
  ></ish-product-image>
</ish-modal-dialog>
