.sp-checkout {
    width: 100%;
    margin-top: 35px;
    &__tabs {
      padding-left: 15px;
      background-color: #8b8b8b;
      border: 1px solid #8b8b8b;
      margin-bottom: 15px;
  
      > span {
        font-size: 24px;
        line-height: 60px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
  
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
  
      &.disabled {
        cursor: not-allowed;
      }
      &.done {
        position: relative;
        cursor: pointer;
        background: #e97200;
        border-color: #e97200;
  
        a {
          margin-right: 20px;
          line-height: 64px;
          color: #fff;
  
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: '';
          }
  
          @media (max-width: 767px) {
            margin-right: 10px;
  
            .btn-tool .ng-fa-icon {
              font-size: 18px;
            }
          }
        }
      }
      &.active {
        margin-bottom: 0;
        background: #555;
        border-color: #555;
      }
    }
  
    &__content {
      border: 1px solid #ccc;
      border-top: none;
      margin-bottom: 15px;
      background-color: #fff;
  
      & h2 {
        padding: 15px;
        margin-top: 0;
        font-size: 20px;
        background-color: #eee;
        text-transform: capitalize;
      }
  
      .checkout-address-book {
        padding: 0 15px 30px;
  
        h2 {
          background-color: #fff;
          padding: 0;
          font-size: 18px;
          text-transform: capitalize;
        }
  
        .address-options {
          label > span {
            font-family: 'roboto_condensedregular', 'Helvetica Neue', helvetica, 'Arial', sans-serif;
            color: #555;
            font-weight: bold;
            margin-left: 5px;
            margin-top: 2px;
          }
        }
      }
  
      #checkout__shipping {
        padding: 15px 25px 20px;
  
        @media (max-width: 767px) {
          padding: 0 15px;
        }
  
        h3 {
          text-transform: capitalize;
        }
  
        .shipping-methods {
          label > span:not(.form-text) {
            font-family: 'roboto_condensedregular', 'Helvetica Neue', helvetica, 'Arial', sans-serif;
            font-weight: bold;
            margin-left: 5px;
          }
        }
      }
      #checkout__payment {
        padding: 15px 25px 0;
  
        @media (max-width: 767px) {
          padding: 0 15px;
        }
  
        h3 {
          text-transform: capitalize;
        }
      }
  
      .address-container-box {
        padding: 30px 25px;
  
        &.d-flex,
        &.d-sm-flex {
          padding: 30px 25px 0;
        }
  
        @media (max-width: 767px) {
          padding: 20px 15px;
  
          &.d-sm-flex {
            padding: 0;
          }
        }
        .infobox {
          background-color: #eee;
          border: 1px solid darken($color: #eee, $amount: 10%);
          margin: 0;
  
          @media (max-width: 767px) {
            margin-bottom: 15px;
          }
        }
  
        .user-info {
          margin-bottom: 1rem;
        }
      }
  
      .footer-button {
        text-align: center;
        margin: 0 auto 25px;
  
        @media (max-width: 767px) {
          padding: 0 30px;
        }
      }
      .grid-items.readonly {
        padding: 25px 25px 0;
  
        h2 {
          background-color: transparent;
          padding: 0;
          font-size: 24px;
          text-transform: uppercase;
          cursor: pointer;
  
          span {
            font-weight: normal;
          }
  
          .selected-shiiping {
            font-size: 14px;
            color: #555;
            margin-top: 10px;
            margin-right: 30px;
          }
  
          .ng-fa-icon {
            color: #e97200;
            font-size: 18px;
            margin-top: 7px;
          }
        }
        @media (max-width: 767px) {
          padding: 15px 0 0;
  
          .list-body .list-item-row .list-item {
            padding-bottom: 0;
  
            &.column-price {
              text-align: left;
            }
          }
        }
        .regular-order-parameters,
        .prebook-order-parameters {
          .has-feedback .form-control-feedback {
            right: -10px;
          }
        }
        .list-header {
          margin: 0;
  
          .list-header-item {
            font-size: 14px;
          }
        }
  
        .white-border {
          padding: 0 15px;
          background-color: transparent;
          border: 0;
  
          .product-title {
            font-family: 'roboto_condensedregular', 'Helvetica Neue', helvetica, 'Arial', sans-serif;
            font-size: 14px;
            color: #e97200;
          }
  
          .grid-ready-only {
            padding-right: 10px;
            font-weight: normal;
          }
        }
      }
      .order-summary {
        padding: 0 25px;
  
        @media (max-width: 767px) {
          padding: 0 15px;
          margin: 0;
        }
  
        .cost-summary {
          border: 0;
          background-color: transparent;
          font-size: 16px;
          border-top: 1px solid #ccc;
  
          dl {
            padding: 0 15px;
  
            @media (max-width: 767px) {
              padding: 0 5px;
            }
            dt {
              padding-left: 0;
            }
            dd {
              padding-right: 0;
            }
            .total-price {
              border-top: 1px solid #aaa;
              margin-top: 15px;
              padding-top: 15px;
              font-size: 18px;
            }
          }
        }
        &.review-page {
          .cost-summary {
            padding-top: 0;
            border-top: 0;
          }
        }
  
        h5 {
          font-size: 18px;
        }
      }
    }
  }