<!--- TODO: implement Show All-->
<ul class="filter-list">
  <ng-container *ngFor="let facet of filterElement.facets">
    <li class="filter-item filter-layer{{ facet.level }}" [ngClass]="{ 'filter-selected': facet.selected }">
      <div>
        <label class="filter-item-checkbox-label-native">
          <input type="checkbox" [checked]="facet.selected" (change)="filter(facet)" />
          <span class="filter-item-name"> {{ facet.displayName }} </span>
          <span class="count"> ({{ facet.count }}) </span>
        </label>
      </div>
    </li>
  </ng-container>
</ul>
