<div class="container user-info-box">

    <div class="row col col-12">
      Welcome to inSPIRED
    </div>
    <div class="row col col-12">
      <ish-login-status-container view="full"></ish-login-status-container>
    </div>
    <div class="row col col-12">
      <ish-product-compare-status-container view="full"></ish-product-compare-status-container>
    </div>
    <div class="row col col-12">
     <ish-language-switch-container view="accordion"></ish-language-switch-container>
    </div>
</div>
