<ng-container *ngIf="contentPageTreeView$ | async as contentPageTreeView">
  <ng-container *ngIf="currentContentPageId$ | async as currentContentPageId">
    <ng-container *ngIf="rootDisplayName$ | async as rootDisplayName">
      <h3>{{rootDisplayName}}</h3>
      <ul class="page-navigation-0">
        <ng-container
          [ngTemplateOutlet]="recursivePageTree"
          [ngTemplateOutletContext]="{ tree: contentPageTreeView, d: 1 }"
        ></ng-container>
      </ul>

      <ng-template #recursivePageTree let-tree="tree" let-d="d">
        <li *ngFor="let item of tree" [ngClass]="{'page-navigation-active': item.contentPageId === currentContentPageId}">
          <a
            [routerLink]="'/page/' + item.contentPageId"
            title=""
          >
            {{ item.name }}
          </a>
          <ul *ngIf="item.children.length > 0 && ( (!depth && depth !== 0) || depth >= d )" class="page-navigation-{{d}}">
            <ng-container
              [ngTemplateOutlet]="recursivePageTree"
              [ngTemplateOutletContext]="{ tree: item.children, d: d + 1 }"
            ></ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
