<ng-container *ngIf="contentPageTreeView$ | async as contentPageTreeView">
  <ng-container *ngIf="currentContentPageId$ | async as currentContentPageId">
    <div class="non-parametric-panel">
      <div class="filter-group">
        <ul class="filter-list">
          <a
            class="filter-item-name"
            [ngClass]="{ 'filter-selected': contentPageTreeView.contentPageId === currentContentPageId }"
            [routerLink]="'/page/' + contentPageTreeView.contentPageId"
          >
            {{ contentPageTreeView.name }}
          </a>
          <ng-container *ngIf="actualDepth <= maxDepth">
            <li *ngFor="let element of contentPageTreeView.children" class="filter-item">
              <ish-cms-navigation
                [contentPageId]="element"
                [root]="root"
                [maxDepth]="maxDepth"
                [actualDepth]="actualDepth + 1"
              ></ish-cms-navigation>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-container>
