<ul *ngIf="promotions.length" class="promotion-list">
  <ng-container *ngFor="let promotion of promotions">
    <li *ngIf="!promotion.disableMessages" class="promotion-list-item">
      <ng-container *ngIf="displayType === 'simple' || displayType === 'simpleWithDetail'; else default">
        <span class="promotion-short-title" [innerHTML]="promotion.title | safeHtml"></span>
        <ng-container *ngIf="displayType === 'simpleWithDetail'">
          <ish-promotion-details [promotion]="promotion"></ish-promotion-details>
        </ng-container>
      </ng-container>

      <ng-template #default>
        <div *ngIf="promotion.icon" class="promotion-icon" [innerHTML]="promotion.icon | safeHtml"></div>
        <div *ngIf="promotion.title" class="promotion-short-title" [innerHTML]="promotion.title | safeHtml"></div>
        <br />
        <div class="promotion-long-title">
          <span *ngIf="promotion.longTitle" [innerHTML]="promotion.longTitle | safeHtml"></span>
          <ish-promotion-details [promotion]="promotion"></ish-promotion-details>
        </div>
      </ng-template>
    </li>
  </ng-container>
</ul>
