<div
  class="row form-group has-feedback"
  [formGroup]="form"
  [ishShowFormFeedback]="formControlArray"
  [ngClass]="cssClass"
>
  <label [attr.for]="'month-' + uuid" class="col-form-label" [ngClass]="labelClass"
    >{{ label | translate }}<span *ngIf="required" class="required">*</span></label
  >
  <div [ngClass]="inputClass">
    <div class="clearfix row">
      <div class="col-6">
        <select
          class="form-control"
          [id]="'month-' + uuid"
          [formControlName]="controlName[0]"
          [attr.data-testing-id]="controlName[0]"
        >
          <option value="">{{ 'account.date.month' | translate }}</option>
          <option *ngFor="let option of monthOptions" [value]="option.value"> {{ option.label | translate }} </option>
        </select>
        <ish-form-control-feedback
          [messages]="errorMessages[0]"
          [control]="formControlArray[0]"
        ></ish-form-control-feedback>
      </div>
      <div class="col-6">
        <select
          class="form-control"
          [id]="'year-' + uuid"
          [formControlName]="controlName[1]"
          [attr.data-testing-id]="controlName[1]"
        >
          <option value="">{{ 'account.date.year' | translate }}</option>
          <option *ngFor="let option of yearOptions" [value]="option.value"> {{ option.label | translate }} </option>
        </select>
        <ish-form-control-feedback
          [messages]="errorMessages[1]"
          [control]="formControlArray[1]"
        ></ish-form-control-feedback>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
