// CATEGORY PAGE

.category-page {
  padding: $space-default 0 ($space-default);

  @media (max-width: $screen-xs-max) {
    padding: 0;
    margin-bottom: 0;
  }

  .filter-panel {
    h1 {
      margin: 0 0 $space-default 0;
      font-size: 24px;
    }
  }
}

ul {
  &.category-list {
    padding: 0;
    clear: both;
    list-style: none;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 1px;

      > li {
        padding: 0 1px 0 0;
        margin: 0;
      }
    }

    > li {
      &:nth-child(2n + 1) {
        clear: both;
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(2n + 1) {
          clear: none;
        }

        &:nth-child(3n + 1) {
          clear: both;
        }
      }
    }

    li {
      margin-bottom: ($space-default);
    }

    ul.category-list {
      padding-left: 10px;

      ul.category-list {
        padding-left: 10px;
      }
    }
  }
}

.category-name {
  text-align: center;

  a {
    position: relative;
    display: block;

    &:hover {
      color: $text-color-primary;
    }

    img {
      width: 270px;
      height: auto;
      // fix layout shift at the image
      aspect-ratio: 1/1;
    }
  }

  h2 {
    width: 100%;
    padding: 0;
  }
}
