// CATEGORY

.current-price {
  font-family: $font-family-condensedbold;
  font-size: $font-size-lg;
  color: $text-color-primary;
}

.sale-price {
  color: $text-color-special;
}

.old-price {
  margin-bottom: $space-default * 0.5;
  font-family: $font-family-condensedregular;
  color: $text-color-quaternary;

  .price-value {
    text-decoration: line-through;
  }

  .price-savings {
    display: block;
  }
}
