/**************** CATEGORY FILTER ROW ******************/

.filters-row {
  z-index: 99999;
  padding: divide($space-default * 2, 3) 0;
  margin: $space-default 0;
  background-color: $color-tertiary;

  .sort-by {
    float: right;

    @include media-breakpoint-down(xs) {
      float: none;
    }

    a {
      float: left;

      @include media-breakpoint-down(xs) {
        float: none;
      }

      &.grid-view-link,
      &.grid-view-link:hover,
      &.grid-view-link:focus,
      &.list-view-link,
      &.list-view-link:hover,
      &.list-view-link:focus {
        color: $text-color-tertiary;
      }

      &.grid-view-link {
        margin-right: $space-default;

        @include media-breakpoint-down(xs) {
          margin-right: 0;
          margin-left: $space-default;
        }
      }

      &.list-view-link {
        @include media-breakpoint-down(xs) {
          margin-left: $space-default;
        }
      }

      &.grid-active,
      &.grid-active:hover,
      &.grid-active:focus,
      &.list-active,
      &.list-active:hover,
      &.list-active:focus {
        color: $text-color-corporate;
      }

      .ng-fa-icon {
        font-size: 24px;
      }
    }

    label {
      float: right;
      margin-right: divide($space-default * 2, 3);
      margin-bottom: 0;
      font-weight: normal;
      line-height: $input-height;
    }

    select {
      float: right;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
    }
  }

  .switch-layout {
    padding-left: 0;
  }
}

.product-list-paging {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    float: left;
    margin-right: ($space-default);

    .active {
      color: $text-color-primary;
      cursor: unset;
    }

    .pagination-hide {
      display: none;
    }
  }
}

.filter-navigation-badges {
  display: inline-block;
  padding-right: $space-default;

  a,
  a:not([href]):not([tabindex]) {
    color: $text-color-primary;
    white-space: nowrap;

    .form-control-feedback {
      padding-left: divide($space-default, 6);
      font-size: $font-size-base * 0.8;
      color: $text-color-corporate;
    }
  }
}
