/**************** SEARCH RESULT ******************/

.search-term {
  font-family: $font-family-bold;
}

.product-search-result {
  padding: $space-default 0 $space-default 0;
}

.no-search-result {
  clear: both;
  padding: $space-default 0 $space-default 0;
}

.no-search-result-title {
  span {
    font-family: $font-family-bold;
  }
}

.main-search-container {
  padding: 0 0 $space-default;

  @media (min-width: $screen-md) {
    display: flex;
    padding-top: $space-default;
  }

  .search-box-container {
    position: relative;
    display: inline-block;
    padding-bottom: $space-default;

    @media (min-width: $screen-md) {
      flex-shrink: 0;
    }

    h2 {
      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }

  .search-guidelines {
    @media (min-width: $screen-md) {
      flex: 1;
      padding-left: $space-default * 2;
    }
  }

  .search-input {
    float: left;
    width: 280px;
  }
}
