/**************** SEARCH RESULT ******************/

.search-term {
  font-family: $font-family-bold;
}

.product-search-result {
  padding: $space-default 0 $space-default 0;
}

.no-search-result {
  padding: $space-default 0 $space-default 0;
  clear: both;
}

.no-search-result-title {
  span {
    font-family: $font-family-bold;
  }
}

.search-guidelines {
  clear: both;
}

.main-search-container {
  position: relative;
  display: inline-block;
  padding: 0 0 ($space-default * 2) 0;

  .search-input {
    float: left;
    width: 320px;
  }
}
