<form *ngIf="fields$ | async as fields" [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <formly-form [form]="form" [fields]="[fields[0]]" [model]="model$ | async" />
  </div>
  <div [ngbCollapse]="formIsCollapsed">
    <formly-form [form]="form" [fields]="fields.slice(1)" [model]="model$ | async" />
  </div>
  <div class="row mb-4">
    <div class="col-md-4 d-flex align-items-center">
      <button type="button" class="btn btn-link pl-0" (click)="expandForm()">
        {{
          formIsCollapsed
            ? ('account.order_history.filter.show' | translate)
            : ('account.order_history.filter.hide' | translate)
        }}
      </button>
    </div>
    <div class="col-md-8 text-right">
      <button type="reset" class="btn btn-link" [hidden]="!showResetButton()" (click)="resetForm()">
        {{ 'account.order_history.filter.clear' | translate }}
      </button>
      <button type="submit" class="btn btn-primary mr-0">
        {{ 'account.order_history.filter.apply' | translate }}
      </button>
    </div>
  </div>
</form>
