@if (fields$ | async; as fields) {
  @let model = model$ | async;
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div>
      <formly-form [fields]="[fields[0]]" [form]="form" [model]="model" />
    </div>
    <div [ngbCollapse]="formIsCollapsed">
      <formly-form [fields]="fields.slice(1)" [form]="form" [model]="model" />
    </div>
    <div class="row mb-4">
      <div class="col-md-4 d-flex align-items-center">
        <button
          class="btn btn-link btn-link-with-icon"
          type="button"
          [attr.aria-expanded]="!formIsCollapsed"
          (click)="expandForm()"
        >
          @if (formIsCollapsed) {
            {{ 'account.order_history.filter.show' | translate }}<i class="bi bi-chevron-down"></i>
          } @else {
            {{ 'account.order_history.filter.hide' | translate }}<i class="bi bi-chevron-up"></i>
          }
        </button>
      </div>
      <div class="col-md-8 text-end">
        <button class="btn btn-link" type="reset" [hidden]="!showResetButton()" (click)="resetForm()">
          {{ 'account.order_history.filter.clear' | translate }}
        </button>
        <button class="btn btn-primary me-0" type="submit">
          {{ 'account.order_history.filter.apply' | translate }}
        </button>
      </div>
    </div>
  </form>
}
