@import 'variables';

// DesignView colors
$designview-color-pagelet: #00b8d9;
$designview-color-slot: #399;
$designview-color-include: #ce5399;

::ng-deep body:not(.tmp-designview-highlight-last) {
  .designview-wrapper {
    position: relative;

    > .designview-wrapper-actions {
      position: absolute;
      top: -43px;
      left: -2px;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $color-inverse;
      background-color: $designview-color-pagelet;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      .name {
        padding: 0 $space-default;
        white-space: nowrap;
      }

      .btn {
        margin-bottom: 0;
        font-size: 20px;
        color: $color-inverse;
      }
    }

    &:hover {
      outline: 3px solid $designview-color-pagelet;
      outline-offset: -1px;

      > .designview-wrapper-actions {
        opacity: 1;
      }
    }

    &.slot,
    &.include {
      min-width: 100px;
      min-height: 30px;
    }

    &.slot {
      > .designview-wrapper-actions {
        background-color: $designview-color-slot;
      }

      &:hover {
        outline: 3px solid $designview-color-slot;
      }
    }

    &.include {
      > .designview-wrapper-actions {
        background-color: $designview-color-include;
      }

      &:hover {
        outline: 3px solid $designview-color-include;
      }
    }
  }
}

// temporary solution to highlight only the last one
::ng-deep .tmp-designview-highlight-last {
  .designview-wrapper {
    position: relative;

    > .designview-wrapper-actions {
      position: absolute;
      top: -43px;
      left: -2px;
      z-index: 1000;
      display: none;
      align-items: center;
      justify-content: flex-end;
      color: $color-inverse;

      .name {
        padding: 0 $space-default;
        white-space: nowrap;
      }

      .btn {
        margin-bottom: 0;
        font-size: 20px;
        color: $color-inverse;
      }
    }

    &:not(:has(.designview-wrapper)) {
      // show designview-wrapper-actions only if there are no further nested .designview-wrapper elements

      &:hover {
        outline-offset: -1px;

        > .designview-wrapper-actions {
          display: flex;
        }
      }

      &.slot,
      &.include {
        min-width: 100px;
        min-height: 30px;
      }

      &.pagelet {
        > .designview-wrapper-actions {
          background-color: $designview-color-pagelet;
        }

        &:hover {
          outline: 3px solid $designview-color-pagelet;
        }
      }

      &.slot {
        > .designview-wrapper-actions {
          background-color: $designview-color-slot;
        }

        &:hover {
          outline: 3px solid $designview-color-slot;
        }
      }

      &.include {
        > .designview-wrapper-actions {
          background-color: $designview-color-include;
        }

        &:hover {
          outline: 3px solid $designview-color-include;
        }
      }
    }
  }
}

::ng-deep .tmp-designview-show-cms-hierarchy {
  .designview-wrapper {
    padding: calc(($space-default * 2) / 3) $space-default;
    outline-offset: -3px;

    &::before {
      display: block;
      margin-bottom: calc($space-default / 3);
      content: attr(ng-reflect-ng-class);
    }

    &.pagelet {
      background-color: transparent;
      outline: 3px solid $designview-color-pagelet;
    }

    &.slot {
      background-color: transparent;
      outline: 3px dashed $designview-color-slot;
    }

    &.include {
      background-color: transparent;
      outline: 3px dashed $designview-color-include;
    }
  }
}
