<div class="breadcrumbs row">
  <ol class="breadcrumbs-list">

    <li *ngIf="showHome" class="breadcrumbs-list breadcrumbs-list-home">
      <a class="breadcrumbs-list-link breadcrumbs-list-link-home" rel="home" routerLink="/home">{{'common.home.link' | translate}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
    </li>

    <ng-container *ngIf="categoryPath">
      <li *ngFor="let pathCategory of categoryPath; let last = last" class="breadcrumbs-list" [ngClass]="{'breadcrumbs-list-active' : last}">
        <ng-template [ngIf]="!last || product" [ngIfElse]="lastEntry">
          <a class="breadcrumbs-list-link" [routerLink]="['/category', pathCategory.uniqueId]">{{pathCategory.name}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
        </ng-template>
        <ng-template #lastEntry>
          {{pathCategory.name}}
        </ng-template>
      </li>
    </ng-container>

    <!-- TODO: this is temporary code that needs to go once the categoryPath handling works again -->
    <li *ngIf="category && categoryPath.length === 0" class="breadcrumbs-list" [ngClass]="{'breadcrumbs-list-active' : !product}">
      <ng-template [ngIf]="product" [ngIfElse]="categoryOnly">
        <a class="breadcrumbs-list-link" [routerLink]="['/category', category.uniqueId]">{{category.name}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
      </ng-template>
      <ng-template #categoryOnly>
        {{category.name}}
      </ng-template>
    </li>

    <li *ngIf="product" class="breadcrumbs-list breadcrumbs-list-active">
      {{product.name}}
    </li>

    <li *ngIf="account" class="breadcrumbs-list">
      <a class="breadcrumbs-list-link" routerLink="/account">{{'account.my_account.link' | translate}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
    </li>

    <li *ngIf="trailText" class="breadcrumbs-list breadcrumbs-list-active">
        {{trailText}}
    </li>

  </ol>
</div>
