<div class="breadcrumbs row">
  <ol class="breadcrumbs-list">

    <li *ngIf="showHome" class="breadcrumbs-list breadcrumbs-list-home">
      <a class="breadcrumbs-list-link breadcrumbs-list-link-home" rel="home" routerLink="/home">{{'common.home.link' | translate}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
    </li>

    <ng-container *ngIf="category">
      <li *ngFor="let pathCategory of categoryPath; let last = last" class="breadcrumbs-list" [ngClass]="{'breadcrumbs-list-active' : last}">
        <ng-template [ngIf]="!last || product" [ngIfElse]="lastEntry">
            <a class="breadcrumbs-list-link" [routerLink]="[categoriesService.generateCategoryRoute(pathCategory, categoryPath)]">{{pathCategory.name}}</a><span class="breadcrumb-list-separator">{{separator}}</span>
        </ng-template>
        <ng-template #lastEntry>
            {{pathCategory.name}}
        </ng-template>
      </li>
    </ng-container>

    <li *ngIf="product" class="breadcrumbs-list breadcrumbs-list-active">
      {{product}}
    </li>

  </ol>
</div>
