<div class="cart-header">
  <h1 class="d-flex flex-wrap align-items-baseline">
    <span class="cart-header-title">{{ 'checkout.receipt.tankyou.message' | translate }}</span>
    <span class="cart-header-note">
      <span>{{ 'shopping_cart.transaction.text' | translate }}</span>
      <ish-modal-dialog-link
        linkText="shopping_cart.read_more.link"
        [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, size: 'lg' }"
        class="details-link"
      >
        <ish-content-include includeId="systeminclude.dialog.safeAndSecure.pagelet2-Include"></ish-content-include>
      </ish-modal-dialog-link>
    </span>
  </h1>
</div>

<div *ngIf="order" class="row">
  <div class="col-md-12">
    <p *ngIf="order.statusCode === 'PENDING'" class="alert alert-info">
      {{ 'checkout.receipt.order_pending.message' | translate }}
    </p>
  </div>

  <div class="col-md-12 col-lg-8">
    <!-- Receipt message -->
    <div class="section">
      <p>
        <span>{{ 'checkout.order.number.label' | translate }}</span>
        <strong data-testing-id="order-document-number">
          <a *ngIf="user; else plainOrderNo" [routerLink]="'/account/orders/' + order.id"> {{ order.documentNo }}</a>
          <ng-template #plainOrderNo> {{ order.documentNo }}</ng-template>
        </strong>
      </p>
      <p [innerHTML]="'checkout.receipt.notification.mail.text' | translate: { '0': order.invoiceToAddress.email }"></p>
    </div>

    <div class="row d-flex">
      <!-- Invoice Address -->
      <ish-info-box heading="checkout.widget.billing-address.heading" class="infobox-wrapper col-md-6">
        <ish-address [address]="order.invoiceToAddress"></ish-address>
      </ish-info-box>

      <!-- Shipping Address -->
      <ish-info-box heading="checkout.widget.shipping-address.heading" class="infobox-wrapper col-md-6">
        <ish-address [address]="order.commonShipToAddress"></ish-address>
      </ish-info-box>
    </div>

    <div class="row d-flex">
      <!-- Shipping Method -->
      <ish-info-box heading="checkout.widget.shipping_method.heading" class="infobox-wrapper col-md-6">
        <p>{{ order.commonShippingMethod.name }}</p>
      </ish-info-box>

      <!-- Payment Method -->
      <ish-info-box heading="checkout.widget.payment_method.heading" class="infobox-wrapper col-md-6">
        <p>
          {{ order.payment.displayName }}<br />{{ order.payment.paymentInstrument.accountIdentifier }}
          <ng-container *ngIf="!order.payment.displayName && !order.payment.paymentInstrument.accountIdentifier">
            {{ order.payment.paymentInstrument }}
          </ng-container>
        </p>
      </ish-info-box>
    </div>

    <!-- Line Items -->
    <ish-line-item-list
      *ngIf="order.lineItems?.length > 0"
      [lineItems]="order.lineItems"
      [editable]="false"
      lineItemViewType="simple"
    ></ish-line-item-list>
  </div>

  <!-- order summary -->
  <div class="col-md-12 col-lg-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

    <div class="cost-summary"><ish-basket-cost-summary [totals]="order.totals"></ish-basket-cost-summary></div>
    <div *ngIf="user" class="cart-summary">
      <h3>{{ 'checkout.account.email.registered.heading' | translate }}</h3>
      {{ 'checkout.account.email.registered.text' | translate }}&nbsp;
      <a routerLink="/account" data-testing-id="myaccount-link" class="text-nowrap">{{
        'checkout.account.email.registered.link' | translate
      }}</a
      >.
    </div>
    <a routerLink="/home" data-testing-id="home-link">{{ 'checkout.receipt.continue.shopping' | translate }}</a>
  </div>
</div>
