<ish-info-box class="infobox-wrapper" cssClass="infobox-widget" heading="account.costcenter.widget.title">
  <div class="loading-container">
    @if ((loading$ | async) !== true) {
      <div>
        @if (costCenters$ | async; as costCenters) {
          @if (costCenters.length) {
            @for (cc of costCenters$ | async; track cc.id) {
              <div class="row mt-0 mb-3">
                <div class="col-12 col-md-5">
                  <a [routerLink]="['/account/organization/cost-centers/', cc.id]">
                    {{ cc.costCenterId }} {{ cc.name }}
                  </a>
                </div>
                <div class="col-12 col-md-7">
                  <ish-cost-center-budget progressBarClass="background-inverse" [costCenter]="cc" />
                </div>
              </div>
            }
          } @else {
            <div class="pb-3">{{ 'account.costcenter.widget.noitems' | translate }}</div>
          }
        } @else {
          <div class="pb-3">{{ 'account.costcenter.widget.noitems' | translate }}</div>
        }
      </div>
    } @else {
      <ish-loading />
    }
    <div class="row">
      <div class="col-12">
        <a routerLink="/account/organization/cost-centers">
          {{ 'account.costcenter.widget.manage.link' | translate }}
        </a>
      </div>
    </div>
  </div>
</ish-info-box>
