<div data-testing-id="cart-page">
  <div class="row">
    <div class="cart-header col-12">
      <h1 class="pull-left">
        <span class="cart-header-title">{{'shopping_cart.heading' | translate}}</span>
        <span class="cart-header-note">
          <span>{{'shopping_cart.transaction.text' |translate }}</span>
          <a class="details-link" (click)="modalDialog.show()" rel="nofollow">{{'shopping_cart.read_more.link' | translate}}</a>
        </span>
      </h1>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-md-12 col-lg-8">

        <ish-line-item-list
          *ngIf="basket"
          [lineItems]="basket.lineItems"
          (formChange)="onFormChange($event)"
          (deleteItem)="onDeleteItem($event)"
        ></ish-line-item-list>

        <ish-basket-add-to-quote
          *ishFeature="'quoting'"
          (basketToQuote)="onAddToQuote()"
        ></ish-basket-add-to-quote>

        <button
          type="submit"
          data-testing-id="button-update-cart"
          [disabled]="form.invalid"
          class="btn btn-default pull-right"
         >
          {{'shopping_cart.update.quantity.button.label' | translate }}
        </button>
      </div>

      <div class="col-md-12 col-lg-4 order-summary">
        <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

        <div class="cost-summary">
          <!-- Cost Summary Component -->
          <ish-basket-cost-summary [totals]="basket.totals"></ish-basket-cost-summary>

          <!-- ToDo: ISREST-275: disable button if basket max value is exceeded -->
          <button type="submit" class="btn btn-lg btn-block btn-primary" (click)="checkout()">
              {{ 'shopping_cart.proceed_to_checkout.button.label' | translate }}
            </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ish-modal-dialog #modalDialog
  [options]="{ titleText: 'checkout.safeandsecure.details.title' | translate, modalClass: 'modal-lg' }"
>
  <div [innerHTML]="'checkout.safeandsecure.details.text' | translate"></div>
</ish-modal-dialog>
