<ng-container *ngIf="compareProducts$ | async as compareProducts">
  <ish-product-compare-paging
    [totalItems]="compareProducts.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (changePage)="changeCurrentPage($event)"
  ></ish-product-compare-paging>

  <div class="product-list table-compare">
    <div class="table-responsive">
      <table class="table" *ngIf="compareProducts | slice: start:end as visibleProducts">
        <tbody>
          <tr>
            <th class="legacy-col-6 legacy-col-md-3 no-border">&nbsp;</th>
            <td
              *ngFor="let product of visibleProducts"
              ishProductContext
              [sku]="product?.sku"
              class="legacy-col-6 legacy-col-md-3 no-border"
            >
              <div class="product-image">
                <ish-product-image imageType="M" [link]="true"></ish-product-image>
                <a
                  class="btn-tool"
                  [title]="'product.compare.remove.link' | translate"
                  (click)="removeFromCompare(product.sku)"
                >
                  <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                </a>
              </div>

              <div>
                <ish-product-name></ish-product-name>
              </div>
            </td>
          </tr>
          <tr>
            <th class="legacy-col-6 legacy-col-md-3 no-border">&nbsp;</th>
            <td *ngFor="let product of visibleProducts" class="legacy-col-6 legacy-col-md-3 no-border">
              <ish-product-id ishProductContext [sku]="product?.sku"></ish-product-id>
            </td>
          </tr>
          <tr>
            <th class="legacy-col-6 legacy-col-md-3">&nbsp;</th>
            <td *ngFor="let product of visibleProducts" class="legacy-col-6 legacy-col-md-3">
              <ish-product-add-to-basket ishProductContext [sku]="product?.sku"></ish-product-add-to-basket>
            </td>
          </tr>

          <tr>
            <th>{{ 'product.compare.price.label' | translate }}</th>
            <td *ngFor="let product of visibleProducts">
              <ish-product-price
                ishProductContext
                [sku]="product?.sku"
                [showInformationalPrice]="true"
              ></ish-product-price>
            </td>
          </tr>

          <tr>
            <th></th>
            <td *ngFor="let product of visibleProducts">
              <ish-product-inventory ishProductContext [sku]="product?.sku"></ish-product-inventory>
            </td>
          </tr>

          <tr *ishFeature="'rating'">
            <th>{{ 'product.compare.ratings.label' | translate }}</th>
            <td *ngFor="let product of visibleProducts">
              <ish-product-rating ishProductContext [sku]="product?.sku"></ish-product-rating>
            </td>
          </tr>

          <tr>
            <th>{{ 'product.short_description.label' | translate }}</th>
            <td *ngFor="let product of visibleProducts">{{ product.shortDescription }}</td>
          </tr>

          <tr>
            <th>{{ 'product.manufacturer_name.label' | translate }}</th>
            <td *ngFor="let product of visibleProducts">{{ product.manufacturer }}</td>
          </tr>

          <!-- TODO: Manufacturer SKU
        <tr>
          <th>{{'product.manufacturer_sku.label' | translate}}
          </th>
          <td *ngFor="let product of visibleProducts">
          </td>
        </tr>
        -->

          <tr *ngFor="let commonAttributeName of commonAttributeNames$ | async">
            <th>{{ commonAttributeName }}</th>
            <td *ngFor="let product of visibleProducts">
              {{ getAttributeByAttributeName(product?.attributes, commonAttributeName) | ishAttribute: '|' }}
            </td>
          </tr>

          <tr>
            <th>{{ 'product.specific_attributes.label' | translate }}</th>
            <td *ngFor="let product of visibleProducts">
              <ish-product-attributes
                [product]="getProductWithoutCommonAttributes(product, visibleProducts)"
              ></ish-product-attributes>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ish-product-compare-paging
    [totalItems]="compareProducts.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (changePage)="changeCurrentPage($event)"
  ></ish-product-compare-paging>
</ng-container>
