//
// ERROR PAGE

.errorpage {
  header {
    margin-bottom: 0px;
  }
  .wrapper {
    background: url('/assets/img/background/error_bg.jpg') no-repeat;
    padding: 0;
    .main-container {
      background: none;
    }
  }

  .errorpage-content {
    color: $text-color-primary;
    padding: ($space-default * 5) 0px ($space-default * 8);
    h1 {
      font-size: 70px;
      opacity: 0.85;
    }
    .error-text {
      background: rgba(238, 238, 238, 0.8);
      padding: $space-default;
    }
    input {
      &.form-control {
        border: $border-width-default solid $border-color-default;
        background: $color-primary;
        color: lighten($text-color, 100%);
        height: 38px;

        &:focus {
          border: $border-width-default solid $border-color-light;
          background: $color-inverse;
          color: $text-color-primary;
          box-shadow: none;

          + button {
            &.btn-search {
              span:before {
                color: $text-color-primary;
              }
            }
          }
        }
      }
    }
    .btn-primary {
      color: $text-color-corporate;
      font-weight: normal;
      bottom: 1px;
      right: 0px;
      margin-bottom: 0px;
    }
  }
}
