<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
      <div class="wishlist">
        <ng-template #wishListsPopover>
          Every list has its own settings:<br><br><b>Make Public</b> allows other consumers to search and view the wishlist.
          However it is possible to set individual items to "do not share". These items are only visible for you even if
          the list is public or shared with a friend.<br /><br /><b>Set as Preferred</b> makes a wish list your preferred
          wish list and sets all other lists (if any) back to normal. All added products will be added by default to this
          wish list.<br /><br /><b>Quantity Information</b> allows you to enter quantity information for the items on your
          list. <br /><br />You can share wish lists with friends by sending them a mail. This works with non-public lists,
          too. If you don't want to share you can stop the sharing by disabling the sharing-link for this wish list.<br /><br
          />On your wish list you can see if (and how many) items have already been purchased by yourself and by your friends.
          Your friends can see this information on shared and public lists, too. This prevents double purchases of items.
        </ng-template>
        <a href="javascript:void(0)" [popover]="wishListsPopover" popoverTitle="WISH LISTS" placement="bottom">How do Wish Lists work?
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
      </div>
      <h1>Wish Lists
        <a class="btn btn-default pull-right" data-dialog="" href="javascript:void(0)">Add Wish List</a>
      </h1>
      <div class="section">
        <p class="flush"> Currently you don't have any wish lists.</p>
      </div>
      <h2>Find a Wish List</h2>
      <div class="wishlist-form">
        <p>
          To search for a friend's wish list, enter an email or name below. Please note that only public wish lists are searchable.
        </p>
        <form name="SearchWishList" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="WishlistSearchForm_FirstName">First Name</label>
            <div class="col-sm-6 col-md-5">
              <input type="text" name="WishlistSearchForm_FirstName" class="form-control" id="WishlistSearchForm_FirstName" maxlength="35"
                value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="WishlistSearchForm_LastName">Last Name</label>
            <div class="col-sm-6 col-md-5">
              <input type="text" name="WishlistSearchForm_LastName" class="form-control" id="WishlistSearchForm_LastName" maxlength="35"
                value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="WishlistSearchForm_Email">Email Address</label>
            <div class="col-sm-6 col-md-5">
              <input type="text" id="WishlistSearchForm_Email" class="form-control" name="WishlistSearchForm_Email" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
              <button class="btn btn-primary" type="submit" value="Search" name="Search">Search</button>
            </div>
          </div>
        </form>
      </div>
      <a href="http://vm-es:8081/INTERSHOP/web/WFS/inSPIRED-inTRONICS-Site/en_US/-/USD/ViewHomepage-Start">Continue
        Shopping</a>
    </div>
  </div>
</div>