<ul *ngIf="basket.user" class="list-unstyled">
  <!-- error message in case after cancelled/faulty redirect -->
  <div *ngIf="redirectStatus" role="alert" class="alert alert-danger">
    {{ 'checkout.payment.sorry_message.text' | translate }}
    <ng-container *ngIf="redirectStatus === 'cancel'">{{ 'checkout.payment.canceled.text' | translate }}</ng-container>
    <ng-container *ngIf="redirectStatus === 'failure'">{{ 'checkout.payment.failed.text' | translate }}</ng-container>
  </div>
  <!-- container for displaying of fast checkout payment methods -->
  <ng-container *ngFor="let paymentMethod of paymentMethods$ | async">
    <li class="d-none d-md-block">
      <button
        (click)="fastCheckout(paymentMethod.id)"
        class="btn btn-lg btn-block btn-secondary"
        [disabled]="paymentMethod.isRestricted"
      >
        {{ paymentMethod.displayName }}
      </button>
      <!-- payment cost information -->
      <ish-payment-cost-info [basket]="basket" [paymentMethod]="paymentMethod" [priceType]="priceType | async" />
    </li>
  </ng-container>
</ul>
