@switch (type) {
  @case ('faqs') {
    @if (faqs$ | async; as faqs) {
      @if (faqs.length) {
        <dl class="product-faqs">
          @for (faq of faqs; track faq.question) {
            <dt>{{ faq.question }}</dt>
            <dd [innerHTML]="faq.answer"></dd>
            @if (faq.authorName) {
              <dd class="product-faqs__author">
                <span class="product-faqs__author-name">{{ faq.authorName }}</span>
                @if (faq.authorDescription) {
                  <span class="product-faqs__author-description">{{ faq.authorDescription }}</span>
                }
                @if (faq.authorOrganization) {
                  <span class="product-faqs__author-organization">{{ faq.authorOrganization }}</span>
                }
              </dd>
            }
          }
        </dl>
      }
    }
  }
  @case ('howTo') {
    @if (howToSteps$ | async; as steps) {
      @if (steps.length) {
        <ol class="product-how-to">
          @for (step of steps; track step.position) {
            <li class="product-how-to__step">
              <strong class="product-how-to__step-name">{{ step.name }}</strong>
              <p class="product-how-to__step-text">{{ step.text }}</p>
            </li>
          }
        </ol>
      }
    }
  }
}
