<ng-container *ngIf="links$ | async as links">
  <ng-container *ngIf="links.upselling?.productSKUs?.length">
    <ish-product-links-list
      [links]="links.upselling"
      [productLinkTitle]="'product.product_links.upselling.title' | translate"
    ></ish-product-links-list>
  </ng-container>
  <ng-container *ngIf="links.spareparts?.productSKUs?.length">
    <ish-product-links-list
      [links]="links.spareparts"
      [productLinkTitle]="'product.product_links.spareparts.title' | translate"
    ></ish-product-links-list>
  </ng-container>
  <ng-container *ngIf="links.crossselling?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.crossselling"
      [productLinkTitle]="'product.product_links.crossselling.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
  <ng-container *ngIf="links.accessory?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.accessory"
      [productLinkTitle]="'product.product_links.accessory.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
  <ng-container *ngIf="links.differentorderunit?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.differentorderunit"
      [productLinkTitle]="'product.product_links.differentorderunit.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
  <ng-container *ngIf="links.followup?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.followup"
      [productLinkTitle]="'product.product_links.followup.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
  <ng-container *ngIf="links.other?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.other"
      [productLinkTitle]="'product.product_links.other.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
  <ng-container *ngIf="links.replacement?.productSKUs?.length">
    <ish-product-links-carousel
      [links]="links.replacement"
      [productLinkTitle]="'product.product_links.replacement.title' | translate"
      [swiperConfig]="swiperConfig"
    ></ish-product-links-carousel>
  </ng-container>
</ng-container>
