<formly-form [form]="parameterForm" [options]="options" [model]="model" [fields]="fieldConfig">
  <div class="offset-md-4 col-md-8">
    <ish-checkbox
      *ngIf="paymentMethod && paymentMethod.saveAllowed"
      [form]="parameterForm"
      controlName="saveForLater"
      label="checkout.save_edit.checkbox.label"
      data-testing-id="save-for-later-input"
    ></ish-checkbox>
    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="formSubmitted && parameterForm.invalid"
        (click)="submitNewPaymentInstrument()"
      >
        {{ 'checkout.account.submit.button.label' | translate }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelNewPaymentInstrument()">
        {{ 'checkout.cancel.button.label' | translate }}
      </button>
    </div>
  </div>
</formly-form>
