<div
  *ngIf="(count$ | async) > 1"
  class="hierarchy-switch"
  ngbDropdown
  placement="{{ placement === 'up' ? 'top-left' : 'bottom-left' }}"
>
  <a ngbDropdownToggle class="hierarchy-switch-link">
    <span class="separator">&#124;</span>
    <span *ngIf="selectedElement$ | async as selectedElement" class="hierarchy-switch-current-selection"
      >{{ selectedElement.name }}<span class="switch_arrow"></span
    ></span>
  </a>

  <div ngbDropdownMenu class="hierarchy-switch-container dropdown-menu">
    <div class="hierarchy-switch-menu-container">
      <ng-container *ngIf="groups$ | async as groups">
        <ul *ngIf="groups.length">
          <li *ngFor="let g of groups">
            <a *ngIf="(selectedElement$ | async).id !== g.id" class="d-block" (click)="groupSelected(g)">{{
              g.name
            }}</a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
