<!-- display addToCart Icon/animated Icon or link-->
<button
  *ngIf="visible$ | async"
  type="button"
  name="addProduct"
  class="btn add-to-wishlist"
  [ngClass]="cssClass"
  (click)="openModal(modal)"
  data-testing-id="addToWishlistButton"
  [attr.title]="displayType === 'icon' ? ('product.add_to_wishlist.link' | translate) : undefined"
  [attr.tabindex]="tabIndex"
>
  <ng-container [ngSwitch]="displayType">
    <ng-template [ngSwitchCase]="'link'">{{ 'product.add_to_wishlist.link' | translate }}</ng-template>
    <ng-template [ngSwitchCase]="'animated'">
      <fa-icon [icon]="['fas', 'heart']" />
      <span class="share-label">{{ 'product.add_to_wishlist.link' | translate }}</span>
    </ng-template>
    <ng-template ngSwitchDefault>
      <fa-icon [icon]="['fas', 'heart']" />
    </ng-template>
  </ng-container>
</button>

<ish-select-wishlist-modal #modal (submitEmitter)="addProductToWishlist($event)" />
