<div class="row form-group form-group-tc">
  <div class="offset-md-4 col-md-8">
    <ish-checkbox
      [form]="form"
      controlName="termsAndConditions"
      [errorMessages]="{ pattern: 'registration.tac.error.tip' }"
    >
      <span
        [ishServerHtml]="
          'registration.tac_privacy_policy.text'
            | translate
              : {
                  '0': 'page://page.termsAndConditions.pagelet2-Page',
                  '1': 'page://page.privacyPolicy.pagelet2-Page'
                }
        "
      ></span>
    </ish-checkbox>
  </div>
</div>
