<div class="section">
  <h2 class="h3">
    @if (preferredWishlist$ | async; as preferredWishlist) {
      {{ 'account.wishlists.widget.single.heading' | translate: { '0': preferredWishlist.title } }}
    } @else {
      {{ 'account.wishlists.widget.all.heading' | translate }}
    }
  </h2>
  @let wishlistsItemsSkus = wishlistItemsSkus$ | async;
  @if (wishlistsItemsSkus?.length > 0) {
    <ng-container class="section">
      <div class="product-list" data-testing-id="wishlistProductsList">
        <ish-products-list
          listItemStyle="tile"
          listStyle="carousel"
          [listItemConfiguration]="tileConfiguration"
          [productSKUs]="wishlistsItemsSkus"
        />
      </div>
    </ng-container>
  } @else {
    <p>{{ 'account.wishlists.no_items' | translate }}</p>
  }
  <a data-testing-id="emptyWishlistProductsList" routerLink="/account/wishlists">{{
    'account.overview.wishlist.view_all' | translate
  }}</a>
</div>
