<div class="section">
  @if (getWishlistSelectionStrategy() === 'all' || wishlistName === undefined) {
    <h2 class="h3">{{ 'account.wishlists.widget.all.heading' | translate }}</h2>
  } @else {
    <h2 class="h3">
      {{ 'account.wishlists.widget.single.heading' | translate: { '0': wishlistName } }}
    </h2>
  }
  @if (allWishlistsItemsSkus$ | async; as wishlistsItemsSkus) {
    @if (wishlistsItemsSkus.length > 0) {
      <ng-container class="section">
        <div class="product-list" data-testing-id="wishlistProductsList">
          <ish-products-list
            listItemStyle="tile"
            listStyle="carousel"
            [listItemConfiguration]="tileConfiguration"
            [productSKUs]="wishlistsItemsSkus"
          />
        </div>
      </ng-container>
    } @else {
      <p>{{ 'account.wishlists.no_items' | translate }}</p>
    }
  }
  <a data-testing-id="emptyWishlistProductsList" routerLink="/account/wishlists">{{
    'account.overview.wishlist.view_all' | translate
  }}</a>
</div>
