<div class="section">
  <h3>{{ 'account.wishlists.widget.heading' | translate }}</h3>
  <ng-container *ngIf="allWishlistsItemsSkus$ | async as itemSku">
    <ng-container *ngIf="itemSku.length > 0; else noItems" class="section">
      <div class="product-list">
        <swiper [config]="swiperConfig">
          <div *ngFor="let sku of itemSku" class="swiper-slide">
            <ng-template swiperSlide>
              <ish-product-item
                displayType="tile"
                ishProductContext
                [sku]="sku"
                [configuration]="tileConfiguration"
              ></ish-product-item>
            </ng-template>
          </div>
        </swiper>
        <div class="swiper-pagination"></div>
      </div>
    </ng-container>
    <ng-template #noItems>
      <p>{{ 'account.wishlists.no_items' | translate }}</p>
    </ng-template>
  </ng-container>
  <a routerLink="/account/wishlists">{{ 'account.overview.wishlist.view_all' | translate }}</a>
</div>
