<ng-container *ngIf="props.options && props.options | formlySelectOptions : field | async as opts">
  <div class="row">
    <div class="col-md-4">
      <label [attr.for]="id">{{ props.label | translate }}</label>
    </div>
    <div class="col-md-8">
      <ng-container *ngFor="let opt of opts">
        <input
          type="radio"
          [formControl]="formControl"
          [value]="opt.value"
          [id]="opt.value"
          [attr.name]="radioName"
          [ngClass]="props.inputClass"
          [attr.data-testing-id]="'radio-' + opt.label"
          [attr.aria-label]="props.ariaLabel"
        />
        <label class="pl-1 mr-2" [attr.for]="id">{{ opt.label }}</label>
      </ng-container>
    </div>
    <div class="offset-md-4 col-md-8">
      <p class="form-text">
        {{ 'account.organization.org_settings.preferences.budget_price_type.info' | translate }}
      </p>
    </div>
  </div>
</ng-container>
