@if (recurringOrders?.length) {
  <table
    cdk-table
    class="table table-lg mobile-optimized"
    data-testing-id="recurringOrder-list"
    [dataSource]="recurringOrders"
  >
    <!-- Recurring Order Number -->
    <ng-container cdkColumnDef="recurringOrderNo">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-recurringOrder-no">
        {{ 'account.recurring_orders.table.id_of_order' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.id_of_order' | translate"
      >
        <a
          [attr.aria-label]="'account.recurring_orders.table.id_of_order.aria_label' | translate"
          [queryParams]="{ context: context !== 'MY' ? context : undefined }"
          [routerLink]="['/account/recurring-orders/', recurringOrder.id]"
        >
          {{ recurringOrder.documentNo }}
        </a>
      </td>
    </ng-container>
    <!-- Creation Date -->
    <ng-container cdkColumnDef="creationDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-creation-date">
        {{ 'account.recurring_orders.table.date_of_order' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.date_of_order' | translate"
      >
        {{ recurringOrder.creationDate | ishDate }}
      </td>
    </ng-container>
    <!-- Frequency -->
    <ng-container cdkColumnDef="frequency">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-frequency">
        {{ 'account.recurring_orders.table.order_frequency' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.order_frequency' | translate"
      >
        {{
          recurringOrder.expired
            ? ('account.recurring_orders.expired.text' | translate)
            : (recurringOrder.recurrence.interval | ishFrequency)
        }}
      </td>
    </ng-container>
    <!-- Last Order Date -->
    <ng-container cdkColumnDef="lastOrderDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-last-order-date">
        {{ 'account.recurring_orders.table.last_order_date' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.last_order_date' | translate"
      >
        {{ recurringOrder.lastOrderDate ? (recurringOrder.lastOrderDate | ishDate) : '-' }}
      </td>
    </ng-container>
    <!-- Next Order Date -->
    <ng-container cdkColumnDef="nextOrderDate">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-next-order-date">
        {{ 'account.recurring_orders.table.next_order_date' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.next_order_date' | translate"
      >
        {{ recurringOrder.nextOrderDate ? (recurringOrder.nextOrderDate | ishDate) : '-' }}
      </td>
    </ng-container>
    <!-- Buyer -->
    <ng-container cdkColumnDef="buyer">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-buyer">
        {{ 'account.recurring_orders.table.buyer' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        [attr.data-label]="'account.recurring_orders.table.buyer' | translate"
      >
        @if (recurringOrder.user.firstName || recurringOrder.user.lastName) {
          {{ recurringOrder.user.firstName }} {{ recurringOrder.user.lastName }}
        } @else {
          {{ 'account.recurring_orders.table.no_buyer' | translate }}
        }
      </td>
    </ng-container>
    <!-- Order Total -->
    <ng-container cdkColumnDef="orderTotal">
      <th *cdkHeaderCellDef cdk-header-cell class="text-end" data-testing-id="th-order-total">
        {{ 'account.recurring_orders.table.order_total' | translate }}
      </th>
      <td
        *cdkCellDef="let recurringOrder"
        cdk-cell
        class="column-price"
        [attr.data-label]="'account.recurring_orders.table.order_total' | translate"
      >
        {{ recurringOrder.totals.total | ishPrice: 'gross' }}
      </td>
    </ng-container>
    <!-- Actions -->
    <ng-container cdkColumnDef="actions">
      <th *cdkHeaderCellDef cdk-header-cell data-testing-id="th-order-actions"></th>
      <td *cdkCellDef="let recurringOrder" cdk-cell class="column-price text-nowrap">
        @if (!recurringOrder.expired) {
          <ish-switch
            ariaLabel="{{
              'account.recurring_orders.table.switch.aria_label' | translate: { '0': recurringOrder.documentNo }
            }}"
            [active]="recurringOrder.active"
            [id]="recurringOrder.id"
            (toggleSwitch)="switchActiveStatus($event)"
          />
        }
        <button
          class="btn-tool btn-link"
          title="{{ 'account.recurring_orders.link.title.remove' | translate: { '0': recurringOrder.documentNo } }}"
          type="button"
          (click)="openDeleteConfirmationDialog(recurringOrder, deleteDialog)"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </ng-container>
    <!-- Header and Row Declarations -->
    <tr *cdkHeaderRowDef="columnsToDisplay" cdk-header-row></tr>
    <tr *cdkRowDef="let row; columns: columnsToDisplay" cdk-row></tr>
  </table>
} @else {
  <p data-testing-id="emptyList">{{ 'account.recurring_orders.no_placed_orders_message' | translate }}</p>
}

<ish-modal-dialog
  #deleteDialog
  [options]="{
    confirmText: 'account.recurring_orders.delete.button.text' | translate,
    rejectText: 'account.cancel.button.label' | translate,
    titleText: 'undefined',
  }"
  (confirmed)="delete($event)"
>
  {{ 'account.recurring_orders.delete.do_you_really.text' | translate }}
</ish-modal-dialog>
