<div class="row pb-2">
  <div class="col-6">{{ 'account.quotes.widget.new.label' | translate }}</div>
  <div class="col-6 text-right" data-testing-id="new-counter">{{ getCount('New') }}</div>
  <div class="col-6">{{ 'account.quotes.widget.submitted.label' | translate }}</div>
  <div class="col-6 text-right" data-testing-id="submitted-counter">{{ getCount('Submitted') }}</div>
  <div class="col-6">{{ 'account.quotes.widget.accepted.label' | translate }}</div>
  <div class="col-6 text-right" data-testing-id="accepted-counter">{{ getAcceptedCount() }}</div>
  <div class="col-6">{{ 'account.quotes.widget.rejected.label' | translate }}</div>
  <div class="col-6 text-right" data-testing-id="rejected-counter">{{ getCount('Rejected') }}</div>
</div>
