<button
  class="panel-heading btn btn-link btn-content-toggle"
  type="button"
  [attr.aria-controls]="'panel-' + accordionId"
  [attr.aria-expanded]="!isCollapsed"
  [attr.data-testing-id]="dataTestingId"
  [id]="'toggle-' + accordionId"
  (click)="toggleCollapse()"
>
  {{ heading }}
  <i class="fs-2" [class]="isCollapsed ? 'bi bi-plus' : 'bi bi-dash'"></i>
</button>

<div
  class="panel-collapse collapse"
  role="region"
  [attr.aria-labelledby]="'toggle-' + accordionId"
  [ngbCollapse]="isCollapsed"
>
  <div class="panel-body" [id]="'panel-' + accordionId">
    <ng-content />
  </div>
</div>
