@if (initialized()) {
  @if (withdrawal()?.status === 'CREATED') {
    <h1>{{ 'account.withdrawal.received.heading' | translate }}</h1>
    <div
      [ishServerHtml]="'account.withdrawal.received.text' | translate: { '0': withdrawal()?.orderDocumentNumber }"
    ></div>
    <div class="mt-3">
      <p [ishServerHtml]="'account.withdrawal.received.note' | translate"></p>
    </div>
    <div class="mt-3">
      <p [ishServerHtml]="'account.withdrawal.received.customer_service' | translate"></p>
    </div>
  } @else {
    <h1>{{ 'account.withdrawal.heading' | translate }}</h1>
    <p [ishServerHtml]="'account.withdrawal.text' | translate"></p>
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6">
        @if (withdrawal(); as withdrawal) {
          <h2>{{ 'account.withdrawal.form.request.heading' | translate }}</h2>
          <ish-withdrawal-request-form [withdrawal]="withdrawal" (submitWithdrawal)="submitWithdrawal($event)" />
        } @else {
          <h2>{{ 'account.withdrawal.form.search.heading' | translate }}</h2>
          <ish-withdrawal-request-form [orderData]="params()" (createWithdrawal)="createWithdrawal($event)" />
        }
      </div>
    </div>
  }
}
@if (loading()) {
  <ish-loading />
}
@if (error()) {
  <ish-error-message [error]="error()" />
}
