<div data-testing-id="checkout-address-page">
  <ng-container *ngIf="basket$ | async as basket">
    <ng-container
      *ngIf="
        (currentUser$ | async) || (validBasketAddresses$ | async) || nextStepRequested;
        else anonymousCheckoutStart
      "
    >
      <h1>{{ 'checkout.addresses.heading' | translate }}</h1>
      <ish-checkout-address
        [basket]="basket"
        [error]="(basketError$ | async) || (addressesError$ | async)"
        (nextStep)="nextStep()"
      />
    </ng-container>
    <ng-template #anonymousCheckoutStart>
      <h1>{{ 'checkout.addresses.heading.anonymous' | translate }}</h1>
      <!-- empty h1 to provide space -->
      <ish-checkout-address-anonymous
        [basket]="basket"
        [error]="(basketError$ | async) || (addressesError$ | async)"
        (nextStep)="nextStep()"
      />
    </ng-template>
  </ng-container>

  <ish-loading *ngIf="(basketLoading$ | async) || (addressesLoading$ | async)" />
</div>
