<div data-testing-id="checkout-address-page">
  <ng-container *ngIf="basket$ | async as basket">
    <ng-container *ngIf="(currentUser$ | async) || (validBasketAddresses$ | async); else anonymousCheckoutStart">
      <h1>{{ 'checkout.addresses.heading' | translate }}</h1>
      <ish-checkout-address
        [currentUser]="currentUser$ | async"
        [basket]="basket"
        [addresses]="addresses$ | async"
        [error]="(basketError$ | async) || (addressesError$ | async)"
        (assignAddressToBasket)="assignAddressToBasket($event)"
        (updateAddress)="updateAddress($event)"
        (createAddress)="createAddress($event)"
        (deleteShippingAddress)="deleteCustomerAddress($event)"
        (nextStep)="nextStep()"
      ></ish-checkout-address>
    </ng-container>
    <ng-template #anonymousCheckoutStart>
      <h1>&nbsp;</h1>
      <!-- empty h1 to provide space -->
      <ish-checkout-address-anonymous
        [basket]="basket"
        [error]="(basketError$ | async) || (addressesError$ | async)"
        (createBasketAddress)="createAddress($event)"
      ></ish-checkout-address-anonymous>
    </ng-template>
  </ng-container>

  <ish-loading *ngIf="(basketLoading$ | async) || (addressesLoading$ | async)"></ish-loading>
</div>
