<div data-testing-id="checkout-payment-page">
  <h1>
    <span id="page-main-content" tabindex="-1">{{ 'checkout.payment.pagetitle' | translate }}</span>
  </h1>

  <ish-checkout-payment
    [basket]="basket$ | async"
    [error]="basketError$ | async"
    [paymentMethods]="paymentMethods$ | async"
    [priceType]="priceType$ | async"
    (createPaymentInstrument)="createPaymentInstrument($event)"
    (deletePaymentInstrument)="deletePaymentInstrument($event)"
    (nextStep)="nextStep()"
    (updatePaymentMethod)="updateBasketPaymentMethod($event)"
  />

  @if (loading$ | async) {
    <ish-loading />
  }
</div>
