<ng-container *ngIf="basketError$ | async as error">
  <p *ngIf="error" role="alert" class="text-danger">
    <span>{{ error.message }}</span>
  </p>
</ng-container>

<ng-container *ngIf="lineItems$ | async as lineItems; else emptyBlock">
  <div class="product-rows-block">
    <div *ngFor="let lineItem of lineItems" class="product-row">
      <ng-container ishProductContext [sku]="lineItem.productSKU">
        <div class="mini-product-img">
          <ish-product-image imageType="S" [link]="true"></ish-product-image>
        </div>
        <div class="mini-product-info">
          <ish-product-name></ish-product-name>
          <div class="product-price">{{ lineItem.price | ishPrice }}</div>
          <div class="cart-pli-data">
            <span>{{ 'shopping_cart.pli.qty.label' | translate }}</span> {{ lineItem.quantity.value }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <a class="view-cart btn btn-primary btn-lg btn-block" routerLink="/basket">
    {{ 'shopping_cart.ministatus.view_cart.link' | translate }}
  </a>
</ng-container>

<ng-template #emptyBlock> {{ 'shopping_cart.ministatus.empty_cart.text' | translate }} </ng-template>
