name: Docs

on:
  push:
    branches:
      - develop
  pull_request:
    types: [opened, synchronize]
    paths:
      - '**.md'
      - 'docs/**'

jobs:
  Docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - name: Install root dependencies
        run: npm ci

      - name: Check KB Labels
        run: node docs/check-kb-labels

      - name: Check Documentation Overview
        run: node docs/check-documentation-overview

      - name: Synchronize Automated Formly Documentation
        run: npx ts-node docs/sync-formly-docs.ts --ci

      - name: Run Formatting
        run: npm exec npm-run-all format check-no-changes

      - name: Check Dead Links For Changed Files
        if: github.ref != 'refs/heads/develop'
        run: node docs/check-dead-links origin/develop
