name: Integration

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**.md'
      - 'docs/**'

env:
  ICM_BASE_URL: http://pwa-review.northeurope.cloudapp.azure.com:8081

jobs:
  CancelPrevious:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Old Pipeline
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop'"
        uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Build:
    needs: [CancelPrevious]
    runs-on: ubuntu-latest
    env:
      TESTING: true

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install root dependencies
        run: npm ci

      - name: Disable ServiceWorker
        run: node schematics/customization/service-worker false

      - name: Build SSR
        run: |
          node scripts/init-local-environment -f
          npm run build

      - name: Upload Build Output
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  Universal:
    needs: [Build]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test: ['b2c', 'b2b']

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Download Build Output
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Set Environment
        run: |
          echo "LOGGING=true" >> $GITHUB_ENV

      - name: Set B2B Environment
        if: matrix.test == 'b2b'
        run: |
          echo "THEME=blue" >> $GITHUB_ENV
          echo "ICM_CHANNEL=inSPIRED-inTRONICS_Business-Site" >> $GITHUB_ENV
          echo "FEATURES=quoting,quickorder,orderTemplates,compare,recently,businessCustomerRegistration,punchout,advancedVariationHandling" >> $GITHUB_ENV

      - name: Start SSR
        run: npm run serve &

      - name: Test Universal
        run: sh e2e/test-universal.sh

  Cypress:
    needs: [Build, Universal]
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        test: ['b2c', 'b2b']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install e2e dependencies
        run: |
          cd e2e
          npm i

      - name: Download Build Output
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Set Environment
        run: |
          echo "PWA_BASE_URL=http://localhost:4200" >> $GITHUB_ENV
          echo "LOGGING=true" >> $GITHUB_ENV
          echo "BROWSER=chrome" >> $GITHUB_ENV

      - name: Set B2B Environment
        if: matrix.test == 'b2b'
        run: |
          echo "THEME=blue" >> $GITHUB_ENV
          echo "ICM_CHANNEL=inSPIRED-inTRONICS_Business-Site" >> $GITHUB_ENV
          echo "FEATURES=quoting,quickorder,orderTemplates,compare,recently,businessCustomerRegistration,punchout,advancedVariationHandling" >> $GITHUB_ENV

      - name: Start SSR
        run: npm run serve &

      - name: Cypress
        uses: cypress-io/github-action@v2
        with:
          install: false
          wait-on: 'http://localhost:4200'
          wait-on-timeout: 180
          working-directory: e2e
          command: node cypress-ci-e2e **/*${{ matrix.test }}*.e2e-spec.ts

      - name: Upload Screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: e2e/cypress/screenshots

      - name: Upload Videos
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: videos
          path: e2e/cypress/videos
