name: Integration

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**.md'
      - 'docs/**'

env:
  NODE_VERSION: 16.16.0
  NODE_OPTIONS: --max_old_space_size=8192
  ICM_BASE_URL: http://pwa-review.northeurope.cloudapp.azure.com:8081

jobs:
  CancelPrevious:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Old Pipeline
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop'"
        uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  E2E:
    needs: [CancelPrevious]
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        test: ['b2c', 'b2b']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Cypress image
        run: |
          docker build \
            --build-arg cypressVersion=$(node -p -e 'require("./e2e/package.json").dependencies.cypress') \
            --build-arg user=$UID \
            -f e2e/Dockerfile_test_cypress \
            -t cypress \
            e2e

      - name: Build Universal image
        run: |
          docker build \
            -f e2e/Dockerfile_test_universal \
            -t universal \
            e2e

      - name: Build PWA in TESTING mode
        run: |
          docker build \
            --build-arg testing=true \
            --build-arg activeThemes=${{ matrix.test }} \
            -t pwa \
            .

      - name: Start PWA
        run: |
          docker run \
            -d \
            --rm \
            -e ICM_BASE_URL=${{ env.ICM_BASE_URL }} \
            -e CACHE_ICM_CALLS="{\".*\": \"30m\"}" \
            --name pwa \
            pwa

      - name: Universal
        run: |
          docker run \
            --rm \
            -e PWA_BASE_URL=http://pwa:4200 \
            --link pwa \
            universal

      - name: Cypress
        run: |
          docker run \
            --rm \
            --user $UID \
            -w /e2e \
            -v $PWD/e2e/cypress:/e2e/cypress \
            -e PWA_BASE_URL=http://pwa:4200 \
            --link pwa \
            -e ICM_BASE_URL=${{ env.ICM_BASE_URL }} \
            cypress '**/*${{ matrix.test }}*.e2e-spec.ts'

      - name: Upload Screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: e2e/cypress/screenshots

      - name: Upload Videos
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: videos
          path: e2e/cypress/videos

  Shellspec:
    needs: [CancelPrevious]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Execute shellspec tests
        run: |
          docker run --rm -v "${{ github.workspace }}/nginx/docker-entrypoint.d:/src" shellspec/shellspec
