name: Windows

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - 'docs/**'

env:
  NODE_OPTIONS: --max_old_space_size=8192

jobs:
  CancelPrevious:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Old Pipeline
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master' && github.ref != 'refs/heads/develop'"
        uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Check:
    needs: [CancelPrevious]
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm

      - name: Install root dependencies
        run: npm ci

      - run: npm run check

      - name: Check No Changes
        run: git diff --exit-code --raw -p --stat

  Local:
    needs: [CancelPrevious]
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm

      - name: Install Clean Repository
        run: npm run clean

      - name: Build with development environment
        run: npm run build --configuration=b2b,development
