<div class="row form-group has-feedback" [formGroup]="dateForm" [ishShowFormFeedback]="formControl">
  <label [attr.for]="'month-' + uuid" class="col-form-label" [ngClass]="labelClass"
    >{{ label }}<span *ngIf="required" class="required">*</span></label
  >
  <div [ngClass]="inputClass">
    <div class="clearfix row">
      <div class="col-4">
        <input
          [type]="'number'"
          class="form-control"
          [id]="'month-' + uuid"
          [formControlName]="'month'"
          [maxlength]="2"
          [attr.min]="minMonth"
          [attr.max]="maxMonth"
        />
        <div class="input-help text-center">mm</div>
      </div>
      <div class="col-4">
        <input
          [type]="'number'"
          class="form-control"
          [id]="'day-' + uuid"
          [formControlName]="'day'"
          [maxlength]="2"
          [attr.min]="minDay"
          [attr.max]="maxDay"
        />
        <div class="input-help text-center">dd</div>
      </div>
      <div class="col-4">
        <input
          [type]="'number'"
          class="form-control"
          [id]="'year-' + uuid"
          [formControlName]="'year'"
          [maxlength]="4"
          [attr.min]="minYear"
          [attr.max]="maxYear"
        />
        <div class="input-help text-center">yyyy</div>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
  <ish-form-control-feedback [messages]="errorMessages" [control]="formControl"></ish-form-control-feedback>
</div>
