<div class="row">
  <div class="col-sm-12 col-md-8">

  </div>

  <!-- basket summary -->
  <div class="col-sm-12 col-md-4 order-summary">
    <h2>{{ 'checkout.order_details.heading' | translate }}</h2>

    <div class="cost-summary">
      <ish-basket-cost-summary [basket]="basket"></ish-basket-cost-summary>

      <button class="btn btn-lg btn-block btn-primary" type="button" (click)="nextStep()">
        {{'checkout.order_review.send.button' | translate}}
      </button>
    </div>
    <!-- ToDo: Privacy policy link - ISREST-341 -->
  </div>
</div>
