<ng-template #modal let-addModal>
  <div class="modal-header">
    <h2 class="modal-title" id="order-template-preferences-title">{{ orderTemplate()?.title }}</h2>
    <button class="btn-close" type="button" [title]="'dialog.close.text' | translate" (click)="hide()"></button>
  </div>

  <div class="modal-body">
    <div class="list-header d-md-flex">
      <div class="col-6 list-header-item">{{ 'account.order_template.table.header.item' | translate }}</div>
      <div class="col-2 list-header-item text-end">
        {{ 'shopping_cart.qty.heading' | translate }}
      </div>
      <div class="col-2 list-header-item text-end">
        {{ 'account.order_template.table.header.date_added' | translate }}
      </div>
      <div class="col-2 list-header-item column-price text-end">
        {{ 'account.order_template.table.header.price' | translate }}
      </div>
    </div>
    <div class="list-body">
      @for (item of orderTemplateItems$ | async; track item.sku; let i = $index) {
        <div class="list-item-row list-item-row-big">
          <ish-account-order-template-detail-line-item
            ishProductContext
            [currentOrderTemplate]="orderTemplate()"
            [orderTemplateItemData]="item"
            [propagateIndex]="i"
            [quantity]="item.desiredQuantity.value"
            [sku]="item.sku"
          />
        </div>
      }
    </div>
  </div>

  <div class="modal-footer">
    <ish-product-add-to-basket ishProductContext [cssClass]="'mt-1'" [parts]="items$ | async" (click)="hide()" />
    <button class="btn btn-secondary" type="button" (click)="hide()">
      {{ 'account.cancel.button.label' | translate }}
    </button>
  </div>
</ng-template>
