<ng-template #modal let-editModal>
  <div class="modal-header">
    <h2 class="modal-title">{{ modalHeader | translate }}</h2>
    <button
      type="button"
      class="close"
      [title]="'dialog.close.text' | translate"
      [attr.aria-label]="'dialog.close.text' | translate"
      (click)="hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="costCenterBuyerForm" (ngSubmit)="submitCostCenterBuyerForm()">
    <div class="modal-body">
      <formly-form [form]="costCenterBuyerForm" [fields]="fields" [model]="model"></formly-form>
    </div>

    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formDisabled"
        data-testing-id="cost-center-buyer-edit-dialog-submit"
      >
        {{ 'account.costcenter.details.buyers.action.save' | translate }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="hide()">
        {{ 'account.cancel.button.label' | translate }}
      </button>
    </div>
  </form>
</ng-template>
