<ish-modal-dialog
  #modal
  [options]="{ titleText: modalHeader | translate, size: 'lg', ariaLabelledBy: 'cc-buyer-edit-modal-title' }"
>
  <form #form="ngForm" body ishFormSubmit [formGroup]="costCenterBuyerForm" (ngSubmit)="submitCostCenterBuyerForm()">
    <div class="modal-body">
      <formly-form [fields]="fields" [form]="costCenterBuyerForm" [model]="model" />
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-primary"
        data-testing-id="cost-center-buyer-edit-dialog-submit"
        type="submit"
        [disabled]="costCenterBuyerForm.invalid && form.submitted"
      >
        {{ 'account.costcenter.details.buyers.action.save' | translate }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="modal.hide()">
        {{ 'account.cancel.button.label' | translate }}
      </button>
    </div>
  </form>
</ish-modal-dialog>
