<div *ngIf="selectedUser$ | async as user">
  <h1>{{ 'account.user.update_profile.heading' | translate }} - {{ user.firstName }} {{ user.lastName }}</h1>
  <form [formGroup]="profileForm" (ngSubmit)="submitForm(user)" class="form-horizontal" novalidate="novalidate">
    <ish-user-profile-form [form]="profileForm" [user]="user" [error]="userError$ | async"></ish-user-profile-form>
    <div class="row">
      <div class="offset-md-4 col-md-8">
        <button type="submit" class="btn btn-primary" [disabled]="formDisabled" data-testing-id="edit-user-submit">
          {{ 'account.update.button.label' | translate }}
        </button>
        <a routerLink="../" class="btn btn-secondary" data-testing-id="edit-user-cancel">{{
          'account.cancel.link' | translate
        }}</a>
      </div>
    </div>
  </form>
  <ish-loading *ngIf="loading$ | async"></ish-loading>
</div>
