<div *ngIf="locale" class="language-switch" ngbDropdown placement="bottom-right">
  <a ngbDropdownToggle class="language-switch-link">
    <fa-icon [icon]="['fas', 'globe-americas']" class="header-icon"></fa-icon>
    <span class="language-switch-current-selection d-none d-md-inline">{{ locale.value }}<span class="switch_arrow"></span></span>
  </a>
  <div ngbDropdownMenu class="language-switch-container dropdown-menu">
    <div class="language-switch-menu-container">
      <ul *ngIf="availableLocales && availableLocales.length">
        <li *ngFor="let l of availableLocales">
          <a *ngIf="l.lang !== locale.lang" (click)="switch(l)">
            {{ l.displayName }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
