<div class="language-switch" dropdown placement="bottom right" *ngIf="lang$ | async as lang">
  <a dropdownToggle (click)="false" class="language-switch-link">
    <span class="glyphicon glyphicon-globe glyphicon-header-icon"></span>
    <span class="language-switch-current-selection hidden-xs">{{lang.value}}<span class="switch_arrow"></span></span>
  </a>
  <div *dropdownMenu class="language-switch-container dropdown-menu dropdown-menu-right">
    <div class="language-switch-menu-container">
      <ul *ngIf="availableLocales$ | async as availableLocales">
        <li *ngFor="let locale of availableLocales">
          <a *ngIf="locale.lang !== lang.lang" (click)="languageChange(locale)">
            {{locale.displayName}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
