<div class="filter-panel" *ngIf="(filter$|async) as filterNavigation">
  <div *ngFor="let element of filterNavigation.filter" [ngSwitch]="element.displayType">
    <ish-filter-checkbox
      *ngSwitchDefault [filterElement]="element"
      (applyFilter)="applyFilter($event)"
      >
    </ish-filter-checkbox>
    <ish-filter-swatch-images
      *ngSwitchCase="'swatch'" [filterElement]="element"
      (applyFilter)="applyFilter($event)"
      >
    </ish-filter-swatch-images>
    <ish-filter-dropdown
      *ngSwitchCase="'dropdown'" [filterElement]="element"
      (applyFilter)="applyFilter($event)"
      >
    </ish-filter-dropdown>
  </div>
</div>
