<!-- The `href` just provides context for screen readers. The focus functionality is handled by a custom click listener in the ts file. -->
<!-- only visible on desktop -->
<a
  #skipContentLink
  class="d-none d-lg-block skip-content-link"
  data-nosnippet
  [href]="'#' + (skipToElementId || generatedElementAfterListingId)"
  >{{ linkText | translate }}</a
>

<ng-content />

<!-- only visible on desktop -->
@if (generatedElementAfterListingId) {
  <span class="visually-hidden d-none d-lg-block" tabindex="-1" [id]="generatedElementAfterListingId">{{
    'common.skip_listing.announcement.default' | translate
  }}</span>
}
