<ish-info-box
  heading="account.requisitions.widget.requisitions_title"
  class="infobox-wrapper h-100"
  cssClass="infobox-color-widget d-flex flex-column"
>
  <div class="loading-container mt-auto">
    @if ((requisitionsLoading$ | async) !== true) {
    <div>
      <div class="row align-items-end">
        <div class="col">
          <div class="infobox-count-large" data-testing-id="pending-counter">
            {{ numPendingRequisitions$ | async }}
          </div>
          {{ 'account.requisitions.widget.pending' | translate }}
        </div>
        @if (totalAmountRequisitions$ | async; as amount) {
        <div class="col text-end">
          @if (amount.value > 0) {
          <div>
            <div>
              {{ 'account.requisitions.widget.order_total' | translate }}
            </div>
            <div class="fw-bold" data-testing-id="pending-amount-sum">
              {{ amount | ishPrice : 'gross' }}
            </div>
          </div>
          }
        </div>
        }
      </div>

      <div class="row">
        <div class="col">
          <a routerLink="/account/requisitions/buyer">
            {{ 'account.requisitions.widget.view_all_requisitions' | translate }}
          </a>
        </div>
      </div>
    </div>
    } @else {

    <ish-loading />

    }
  </div>
</ish-info-box>
